html,
body {
    margin: 0;
}

h1,
h2,
a {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

p {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
}


/* Main */

.main {
    height: 600px;
    text-align: center;
    background-size: cover;
    background: url("https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg") no-repeat center center;
}

.main .container {
    position: relative;
    top: 100px;
}

.main .button {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
}

.main h1 {
    color: #fff;
    margin: 0;
    font-size: 150px;
}

.main p {
    color: #fff;
    margin: 0 0 20px 0;
    font-size: 18px;
}


/* Feature */

.feature {
    background: url(https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    text-align: center;
}

.feature .container {
    position: relative;
    top: 200px;
}

.feature h2 {
    color: #fff;
    font-size: 40px;
    margin: 0;
    padding: 50px 0 0;
}


/* Footer */

.footer {
    background: url(https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    text-align: center;
}

.footer .container {
    position: relative;
    top: 200px;
}

.footer h2 {
    color: #fff;
    font-size: 40px;
    margin: 0 0 20px 0;
    padding: 50px 0 0;
}

.footer p {
    color: #fff;
    margin: 0 0 20px 0;
    font-size: 18px;
}

.footer .button {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
}


/* Supporting */

.supporting {
    text-align: center;
    padding: 50px 0 80px;
    background-color: #1c1c1c;
}

.supporting .col {
    float: left;
    width: 28%;
    padding: 10px;
}

.supporting h2 {
    color: #ffa800;
    font-size: 20px;
    margin-bottom: 10px;
}

.supporting p {
    color: #efefef;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 12px;
}

.supporting .button {
    background-color: #eee;
    color: #1c1c1c;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
}


/* Miscellaneous */

a.button:hover {
    background: #ffa800;
    color: #000;
}

.clearfix {
    clear: both;
}

@media (min-width:600px) {
    .main h1 {
        font-size: 200px;
    }
    .supporting .col {
        width: 30%;
    }
    .supporting h2 {
        font-size: 40px;
    }
    .supporting p {
        font-size: 14px;
    }
}
