<navbar></navbar>
<div class="row top-buffer">
  <!-- uncomment code for absolute positioning tweek see top comment in css -->
  <!-- <div class="absolute-wrapper"> </div> -->
  <!-- Menu -->
  <div class="side-menu">

    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="brand-wrapper">
          <!-- Hamburger -->
          <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Brand -->
          <div class="brand-name-wrapper">
            <a class="navbar-brand clickable">
                    Brand
                </a>
          </div>

          <!-- Search -->
          <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
            <span class="glyphicon glyphicon-search"></span>
          </a>

          <!-- Search body -->
          <div id="search" class="panel-collapse collapse">
            <div class="panel-body">
              <form class="navbar-form" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-ok"></span></button>
              </form>
            </div>
          </div>
        </div>

      </div>

      <!-- Main Menu -->
      <div class="side-menu-container">
        <ul class="nav navbar-nav">

          <li><a class="clickable"><span class="glyphicon glyphicon-send"></span> Link</a></li>
          <li class="active"><a class="clickable"><span class="glyphicon glyphicon-plane"></span> Active Link</a></li>
          <li><a class="clickable"><span class="glyphicon glyphicon-cloud"></span> Link</a></li>

          <!-- Dropdown-->
          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl1">
              <span class="glyphicon glyphicon-user"></span> Sub Level <span class="caret"></span>
            </a>

            <!-- Dropdown level 1 -->
            <div id="dropdown-lvl1" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><a class="clickable">Link</a></li>
                  <li><a class="clickable">Link</a></li>
                  <li><a class="clickable">Link</a></li>

                  <!-- Dropdown level 2 -->
                  <li class="panel panel-default" id="dropdown">
                    <a data-toggle="collapse" href="#dropdown-lvl2">
                      <span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
                    </a>
                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul class="nav navbar-nav">
                          <li><a class="clickable">Link</a></li>
                          <li><a class="clickable">Link</a></li>
                          <li><a class="clickable">Link</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li><a class="clickable"><span class="glyphicon glyphicon-signal"></span> Link</a></li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>

  </div>

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <h1> Main Content here </h1>
      <pre> Resize the screen to view the left slide menu </pre>
      <button type="button" (click)="getData()" class="btn btn-primary">Get data from backend</button>
      <button type="button" (click)="clear()" class="btn btn-danger">Clear</button>
      <div class="panel">
        <ul>
          <li *ngFor="let hero of heroes; let i=index">
            <p>{{hero}}</p>
          </li>
           <li *ngFor="let villian of villians; let i=index">
            <p>{{villian}}</p>
          </li>
        </ul>

      </div>

    </div>
  </div>
</div>
