<!--
  NAME
    SmecknSpinner.vue

  DESCRIPTION
    Used to display a Smeckn Loading Spinner

  USAGE
    <SmecknSpinner>
    </SmecknSpinner>
-->
<template>
  <div class="mx-auto text-center">
    <b-spinner data-cy="smecknSpinner" class="d-inline-block text-info smg-img-5 mr-2"></b-spinner>
    <h2 v-if="loading" data-cy="smecknSpinnerText" class="d-inline-block text-info smg-text-logo">
      Loading...
    </h2>
  </div>
</template>
<script>
export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // If True, show loading text
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
  },
};

</script>
