<!--
  NAME
    SmecknSpinnerTest.vue

  DESCRIPTION
    Test Smeckn Spinner
 -->
<template>
  <b-container fluid>
    <b-button class="btn-info my-2" data-cy="toggleLoadingButton" v-on:click="onToggleLoading()">Toggle
      Loading</b-button>
    <SmecknSpinner v-bind:loading="loading"></SmecknSpinner>
  </b-container>
</template>
<script>
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      loading: true,
    };
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onToggleLoading() {
      this.loading = !this.loading;
    }
  }
};

</script>
