<!--
  NAME
    SmecknTextAnalysisTest.vue

  DESCRIPTION
    Test Smeckn Text Analysis
 -->
<template>
  <b-container fluid class="m-2 text-left" data-cy="smecknTextAnalysisTest">
    <b-form-group label="Individual radios" data-cy="smecknTextAnalysisTestRadioButtons">
      <b-form-radio class="d-inline-block mx-2" v-for="waTextMeta in waTextMetaList"
        v-model="waSelectedText" v-bind:key="waTextMeta.title" v-bind:value="waTextMeta.waText"
        v-bind="waTextMeta.attrObj">
        {{ waTextMeta.title }}
      </b-form-radio>
    </b-form-group>
    <SmecknTextAnalysis v-if="waSelectedText !== null" v-model="waSelectedText"></SmecknTextAnalysis>
  </b-container>
</template>
<script>
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      waSelectedText: null,
      waTextMetaList: [

        /* ---------------- NOT ANALYZED ----------------------------------- */
        {
          title: 'Not Analyzed',
          attrObj: { 'data-cy': 'textNotAnalyzedButton' },
          waText: {
            smID: 398,
            createDate: '2019-08-06T15:11:10.465Z',
            text: 'The other day the the dog jumped over the moon!',
            origLength: 200,
            compLangAnalysisModel: null,
            compSentAnalysisModel: null,
          }
        },

        /* ---------------- UNSUPPORTED LANGUAGE --------------------------- */
        {
          title: 'Unsupported Language',
          attrObj: { 'data-cy': 'textUnsupportedLanguageButton' },
          waText: {
            smID: 398,
            createDate: '2019-08-06T15:11:10.465Z',
            text: '中國哲學書電子化計劃',
            origLength: 200,
            compLangAnalysisModel: {
              smID: 398,
              status: 'SUCCESS',
              compLangModelList: [{
                smID: 398,
                bLanguageType: 'Chinese',
                score: 0.2133
              }],
              dominantBLanguageType: 'Chinese'
            },
            compSentAnalysisModel: {
              smID: 398,
              status: 'UNSUPPORTED_LANGUAGE',
            }
          }
        },
      ]
    };
  },
};

</script>
