<!--
  NAME
    SmecknTextAnalysis.vue

  DESCRIPTION
    Display Analysis Button
      --OR--
    Display Analysis Results
 -->
<template>
  <div class="shadow rounded my-md-3 p-2 w-100" data-cy="smecknTextAnalysis">
    <!-- Language ------------------------------------------------------------>
    <div v-if="showLanguage">
      <p class="mb-0">Dominant Language: <span data-cy="dominantBLanguageSpan">{{ dominantBLanguageType }}</span></p>
      <p>Confidence: <span data-cy="dominantBLanguageScoreSpan">{{ dominantBLanguageScorePercent }}%</span></p>
    </div>

    <!-- Sentiment ----------------------------------------------------------->
    <!-- Results -->
    <div v-if="showSentimentResults">
      <p>Sentiment:</p>
      <div class="d-flex ml-2" v-for="sentimentData in sentimentDataList" v-bind:key="sentimentData.label"
        data-cy="sentimentDataRow">
        <p class="smg-mw-3">{{ sentimentData.label }}</p>
        <b-progress show-progress v-bind:variant="sentimentData.variant" v-bind:value="sentimentData.value"
          v-bind:max="100" class="w-100 text-dark" v-bind="sentimentData.attrObj">
        </b-progress>
      </div>
    </div>
    <!-- Language Not Supported -->
    <div v-else-if="showSentimentLanguageNotSupported">
      <p data-cy="languageNotSupportedForSentimentPara">
        Sentiment: Language not currently supported for sentiment analysis.
      </p>
    </div>
    <!-- Analyze Button -->
    <div v-else class="h-100 my-auto d-flex justify-content-center">
      <b-button class="btn-sm btn-info" v-on:click="onAnalyzeSentiment" data-cy="analyzeSentimentButton">Analyze
        Sentiment</b-button>
    </div>

    <!-- Loading ------------------------------------------------------------->
    <SmecknSpinner v-if="loading" class="my-2"></SmecknSpinner>

    <!-- Error --------------------------------------------------------------->
    <p v-if="errorMessage" class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
  </div>
</template>
<script>
import _ from 'lodash';
import Vuex from 'vuex';

export default {

  /* ---------------------- EVENTS ----------------------------------------- */
  /*
    Event
      Name
        'update'
      Description
        Emitted whenever the waText is updated
      Usage
        v-on:update="onTextUpdated"
        onTextUpdated(waText) {}
  */

  /* ---------------------- MODEL ------------------------------------------ */
  model: {
    prop: 'waText',
    event: 'update'
  },

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Input Text Object
    waText: {
      type: Object,
      required: true
    },
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Error Message
      errorMessage: '',

      // If true, then loading
      loading: false,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('constant', ['waConstants']),
    ...Vuex.mapState('message', ['messages']),
    ...Vuex.mapGetters('unit', ['getWAUnitBalanceByType']),

    /* -------------------- LANGUAGE --------------------------------------- */
    /**
     * @return {String|null} Dominant language
     */
    dominantBLanguageType() {
      let languageAnalyzed = this.waText.compLangAnalysisModel;
      let successfulAnalysis = languageAnalyzed && this.waText.compLangAnalysisModel.status === 'SUCCESS';
      return successfulAnalysis ? this.waText.compLangAnalysisModel.dominantBLanguageType : null;
    },
    dominantBLanguageScorePercent() {
      try {
        return _.round(this.waText.compLangAnalysisModel.dominantBLanguageScore, 2) * 100;
      } catch (__) {
        return 0;
      }
    },
    showLanguage() {
      return this.dominantBLanguageType !== null;
    },

    /* -------------------- SENTIMENT -------------------------------------- */
    /**
     * @return {Boolean} True if sentiment results should be shown
     */
    showSentimentResults() {
      return this.waText.compSentAnalysisModel && this.waText.compSentAnalysisModel.status === 'SUCCESS';
    },

    /**
     * @return {Boolean} True if language is unsupported
     */
    showSentimentLanguageNotSupported() {
      return this.waText.compSentAnalysisModel &&
        this.waText.compSentAnalysisModel.status === 'UNSUPPORTED_LANGUAGE' &&
        this.dominantBLanguageType !== null &&
        this.waConstants.COMPREHEND_SENTIMENT_SUPPORTED_BLANGUAGE_LIST.indexOf(
          this.dominantBLanguageType) === -1;
    },
    sentimentDataList() {
      let rval = [];
      if (this.showSentimentResults) {
        rval = [{
            label: 'Positive',
            variant: 'success',
            value: _.round(100 * this.waText.compSentAnalysisModel.positiveScore),
            attrObj: { 'data-cy': 'positiveSentimentScore' }
          },
          {
            label: 'Negative',
            variant: 'danger',
            value: _.round(100 * this.waText.compSentAnalysisModel.negativeScore),
            attrObj: { 'data-cy': 'negativeSentimentScore' }
          }, {
            label: 'Neutral',
            variant: 'info',
            value: _.round(100 * this.waText.compSentAnalysisModel.neutralScore),
            attrObj: { 'data-cy': 'neutralSentimentScore' }
          }, {
            label: 'Mixed',
            variant: 'secondary',
            value: _.round(100 * this.waText.compSentAnalysisModel.mixedScore),
            attrObj: { 'data-cy': 'mixedSentimentScore' }
          }
        ];
      }
      return rval;
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Analyze Message Sentiment
     */
    async onAnalyzeSentiment() {
      try {
        this.loading = true;
        this.errorMessage = '';
        await this.$g.store.dispatch('unit/getBalances');
        let textAnalysisBalance = this.getWAUnitBalanceByType('TEXT_ANALYSIS');
        if (textAnalysisBalance.nAvailable < 1) {
          this.errorMessage = this.messages.NOT_ENOUGH_TEXT_ANALYSIS_UNITS_ARE_AVAILABLE;
        } else {
          let newWAText = await this.$g.store.dispatch('text/analyze', {
            waText: this.waText,
            analysisType: 'COMPREHEND_SENTIMENT'
          });
          this.$emit('update', newWAText);
        }
      } catch (err) {
        this.errorMessage = err.message;
      } finally {
        this.loading = false;
      }
    }
  }

};

</script>
<style lang="scss">
// Progress bar text color
.progress-bar {
  color: $dark !important;
  font-weight: bold !important;
}

</style>
