<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <p>Vuex Counter Example</p>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="increment">Increment</b-button>
    <p> {{ count }}</p>
  </div>
  <script>
  Vue.use(Vuex)
  const store = new Vuex.Store({
    state: {
      count: 0,
    },
    mutations: {
      increment(state) {
        state.count++;
      },
    }
  })
  var app = new Vue({
    el: '#app',
    data: {},
    store,
    computed: {
      count: function () {
        return this.$store.state.count;
      }
    },
    methods: {
      increment: function () {
        store.commit('increment')
      },
    }
  })

  </script>
</body>

</html>
