<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js"></script>
  <script src="https://unpkg.com/vue-chartkick@0.3.1"></script>
</head>

<body>
  <div id="app">
    <p>Dynamic Vuex! Demo use of Vue Store and conditional rendering of pie-chart</p>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="stmLogIn">Login</b-button>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="stmLogOut">Logout</b-button>
    <p> User is logged in: {{ stsLoggedIn }}</p>
    <MyComponent v-if="stsLoggedIn"></MyComponent>
  </div>
  <script>

  Vue.component('mycomponent', {
    template: '<div>(Graph component rendered only if logged in) <pie-chart :data="pieData" :donut="true"></pie-chart> </div>',
    data() {
      return {
        pieData: [
          ['Blueberry', 44],
          ['Strawberry', 23],
          ['Raspberry', 23],
          ['Bosenberry', 23]
        ]
      }
    }
  })

  Vue.use(Vuex);
  const store = new Vuex.Store({
    state: {
      stsLoggedIn: false
    },
    mutations: {
      stmLogIn(state) {
        state.stsLoggedIn = true
      },
      stmLogOut(state) {
        state.stsLoggedIn = false
      }
    }
  })

  var app = new Vue({
    el: '#app',
    data: {},
    store,
    computed: {
      ...Vuex.mapState([
        'stsLoggedIn'
      ])
    },
    methods: {
      ...Vuex.mapMutations([
        'stmLogIn',
        'stmLogOut'
      ])
    }
  })

  </script>
</body>

</html>
