<!DOCTYPE html>
<html>

<head>
  <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js'></script>
  <script src='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js'></script>
  <link type='text/css' rel='stylesheet' href='https://unpkg.com/bootstrap/dist/css/bootstrap.min.css' />
  <link type='text/css' rel='stylesheet' href='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css' />
</head>

<body>
  <div id='app'>
    <p>Vuex Form Handling Example</p>
    <input v-model='message'>
    <p> Message: {{ message }} </p>
  </div>
  <script>
  Vue.use(Vuex)
  const store = new Vuex.Store({
    state: {
      stsMessage: 'Hello World!',
    },
    mutations: {
      updateMessage: (state, value) => { state.stsMessage = value; }
    },
  })
  var app = new Vue({
    el: '#app',
    data: {},
    store,
    computed: {
      message: {
        get () {
          return this.$store.state.stsMessage;
        },
        set (value) {
          this.$store.commit('updateMessage', value)
        }
      }
    }
  })

  </script>
</body>

</html>
