<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <p>Vuex Getters Example</p>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="addTodo">Add Todo</b-button>
    <p> notDoneTodos: {{ numNotDoneTodos }} </p>
    <p> doneTodos: {{ numDoneTodos }} </p>
  </div>
  <script>
  Vue.use(Vuex)
  const store = new Vuex.Store({
    state: {
      todos: [
        { id: 1, text: '...', done: true },
        { id: 2, text: '...', done: false }
      ]
    },
    mutations: {
      addTodo: state => {
        state.todos.push({ id: 3, text: '...', done: Math.random() >= 0.5 });
      }
    },
    getters: {
      numNotDoneTodos: state => {
        return state.todos.filter(todo => !todo.done).length;
      },
      numDoneTodos: state => {
        return state.todos.filter(todo => todo.done).length;
      }
    }
  })
  var app = new Vue({
    el: '#app',
    data: {},
    store,
    computed: {
      ...Vuex.mapGetters([
        'numNotDoneTodos',
        'numDoneTodos'
      ])
    },
    methods: {
      addTodo: function () {
        this.$store.commit('addTodo')
      }
    }
  })

  </script>
</body>

</html>
