<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <p>Vuex Login Example</p>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="login">Login</b-button>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="logout">Logout</b-button>
    <p> User is logged in: {{ isLoggedIn }}</p>
  </div>
  <script>
  Vue.use(Vuex)
  const store = new Vuex.Store({
    state: {
      isLoggedIn: false,
    },
    mutations: {
      userLogsIn(state) {
        state.isLoggedIn = true;
      },
      userLogsOut(state) {
        state.isLoggedIn = false;
      }
    }
  })
  var app = new Vue({
    el: '#app',
    data: {},
    store,
    computed: {
      isLoggedIn: function () { // Return store state in computed property
        return this.$store.state.isLoggedIn;
      }
    },
    methods: {
      login: function () {
        this.$store.commit('userLogsIn')
      },
      logout: function () {
        this.$store.commit('userLogsOut')
      }
    }
  })

  </script>
</body>

</html>
