<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <p>Vuex Map State Example</p>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="increment">Increment</b-button>
    <p> localComputed: {{ localComputed }} </p>
    <p> stFoo: {{ stFoo }} </p>
    <p> stBar: {{ stBar }} </p>
  </div>
  <script>

  Vue.use(Vuex)
  const store = new Vuex.Store({
    state: {
      stFoo: 0,
      stBar: 1,
    },
    mutations: {
      increment(state) {
        state.stFoo++;
        state.stBar++;
      },
    }
  })
  var app = new Vue({
    el: '#app',
    data: {},
    store,
    computed: {
      localComputed: function () {
          return 2 + 2;
        },
        ...Vuex.mapState([
          'stFoo',
          'stBar'
        ])
    },
    methods: {
      increment: function () {
        this.$store.commit('increment')
      },
    }
  })

  </script>
</body>

</html>
