<!DOCTYPE html>
<html>

<head>
  <title>Vuex Modules Example</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <h1>Module A</h1>
    <b-button v-on:click="moduleAIncrement">Increment</b-button>
    <p> {{ moduleACount }}</p>
    <p> {{ moduleACountSquared }}</p>

    <h1>Module B</h1>
    <b-button v-on:click="moduleBIncrement">Increment</b-button>
    <p> {{ moduleBCount }}</p>
    <p> {{ moduleBCountSquared }}</p>
  </div>
  <script>
  Vue.use(Vuex)

  /* ------------------- MODULE A ------------------------------------------ */
  const moduleA = {
    namespaced: true,
    state: {
      count: 0
    },
    mutations: {
      increment(state) {
        state.count++;
        console.log(`Module A: ${this.g}`);
      },
    },
    getters: {
      countSquared(state) {
        return state.count * state.count;
      }
    }
  };

  /* ------------------- MODULE B ------------------------------------------ */
  const moduleB = {
    namespaced: true,
    state: {
      count: 0
    },
    mutations: {
      increment(state) {
        state.count++;
        console.log(`Module B: ${this.g}`);
      },
    },
    getters: {
      countSquared(state) {
        return state.count * state.count;
      }
    }
  };

  /* ------------------- STORE --------------------------------------------- */
  const store = new Vuex.Store({
    modules: {
      moduleA,
      moduleB
    }
  })
  store.g = 'Global Variable!';

  /* ------------------- APPLICATION --------------------------------------- */
  var app = new Vue({
    el: '#app',
    data: {},
    store,
    computed: {
      ...Vuex.mapState({
        moduleACount: state => state.moduleA.count,
        moduleBCount: state => state.moduleB.count
      }),
      ...Vuex.mapGetters({
        moduleACountSquared: 'moduleA/countSquared',
        moduleBCountSquared: 'moduleB/countSquared'
      }),
    },
    methods: {
      ...Vuex.mapMutations({
        moduleAIncrement: 'moduleA/increment',
        moduleBIncrement: 'moduleB/increment'
      }),
    }
  })

  </script>
</body>

</html>
