<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <p>Vuex Mutations Example</p>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="stmIncrement">Increment</b-button>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="stmIncrementBy(2)">Increment By 2</b-button>
    <p> counter: {{ stsCounter }} </p>
  </div>
  <script>
  Vue.use(Vuex)
  const store = new Vuex.Store({
    state: {
      stsCounter: 0,
    },
    mutations: {
      stmIncrement: state => {
        state.stsCounter++
      },
      stmIncrementBy: (state, x) => {
        state.stsCounter += x;
      }
    },
  })
  var app = new Vue({
    el: '#app',
    data: {},
    store,
    computed: {
      ...Vuex.mapState([
        'stsCounter',
      ])
    },
    methods: {
      ...Vuex.mapMutations([
        'stmIncrement',
        'stmIncrementBy'
      ]),
    }
  })

  </script>
</body>

</html>
