<!--
  NAME
    SmecknFadeTransitionTest.vue

  DESCRIPTION
    Test Smeckn Fade Transition
 -->
<template>
  <b-container fluid>
    <b-button class="btn-info my-2" data-cy="toggleFade" v-on:click="onToggleFade()">
      Toggle Fade
    </b-button>
    <SmecknFadeTransition>
      <div v-if="show">
        <p class="text-left border border-info" data-cy="fadeParagraph">
          Heeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeellllllllllllllllllllloooooooooooooooooooooo!
        </p>
      </div>
    </SmecknFadeTransition>
  </b-container>
</template>
<script>
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      show: true,
    };
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onToggleFade() {
      this.show = !this.show;
    }
  }
};

</script>
