<!--
  NAME
    SmecknFadeTransition.vue

  DESCRIPTION
    Smeckn Fade Transition Component

  USAGE
    See SmecknFadeTransitionTest.vue
-->

<template>
  <transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:after-enter="afterEnter"
    v-on:before-leave="beforeLeave" v-on:leave="leave" v-on:after-leave="afterLeave"
    v-bind:css="false">
    <slot></slot>
  </transition>
</template>

<script>
import anime from 'animejs/lib/anime.es.js';

export default {

  /* -------------------- PROPS -------------------------------------------- */
  props: {
    // Transition duration in milliseconds
    duration: {
      type: Number,
      default: 300
    },
    // animejs easing to use for the transition
    easing: {
      type: String,
      default: 'easeInSine'
    }
  },

  /* -------------------- DATA --------------------------------------------- */
  data() {
    return {
      // Opacity before transition
      opacity: 1
    };
  },

  /* -------------------- METHODS ------------------------------------------ */
  methods: {

    /**
     * Entering transitions
     * @param {Object} el Object entering
     */
    beforeEnter(el) {
      this.opacity = el.style.opacity ? el.style.opacity : 1;
    },
    enter(el, done) {
      anime({
        targets: el,
        opacity: [0, this.opacity],
        duration: this.duration,
        easing: this.easing,
        complete: done,
      });
    },
    afterEnter(el) {
      el.style.opacity = this.opacity;
    },

    /**
     * Leaving Transitions
     * @param {Object} el Object entering
     */
    beforeLeave(el) {
      this.opacity = el.style.opacity ? el.style.opacity : 1;
    },
    leave(el, done) {
      anime({
        targets: el,
        opacity: [this.opacity, 0],
        duration: this.duration,
        easing: this.easing,
        complete: done
      });
    },
    afterLeave(el) {
      el.style.opacity = this.opacity;
    }
  }
};

</script>
<style>
</style>
