<!--
  NAME
    SmecknSortByDropDownTest.vue

  DESCRIPTION
    Test Smeckn Sort By Drop Down
 -->
<template>
  <b-container fluid class="py-2">
    <SmecknSortByDropDown v-model="sortOption" v-bind:sort-option-list="sortOptionList"
      v-bind:short-sort-type-strings="shortSortTypeStrings">
    </SmecknSortByDropDown>
    <div class="text-left">
      <h4 class="mt-3">Selected Sort Option (Required by Cypress):</h4>
      <p class="my-2" v-if="sortOption" data-cy="selectedSortOptionParagraph">
        <span data-cy="selectedWASortType">{{ sortOption.waSortType }}</span>:
        <span data-cy="selectedWASortOrder">{{ sortOption.waSortOrder }}</span>
      </p>
      <h4>All Sort Options (Required by Cypress)</h4>
      <p v-for="(sortOption, index) in sortOptionList" v-bind:key="index" data-cy="availableSortOption">
        <span data-cy="availableWASortType"> {{ sortOption.waSortType }} </span>:
        <span data-cy="availableWASortOrder"> {{ sortOption.waSortOrder }} </span>
      </p>
    </div>

  </b-container>
</template>
<script>

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Current Sort
      sortOption: null,

      // Available Sort Options Array
      // No other sort options are allowed
      sortOptionList: [
        { waSortType: 'FACEBOOK_POST_FBCREATEDATE', waSortOrder: 'ASCENDING' },
        { waSortType: 'FACEBOOK_POST_FBCREATEDATE', waSortOrder: 'DESCENDING' },
        { waSortType: 'FACEBOOK_POST_NLIKES', waSortOrder: 'ASCENDING' },
        { waSortType: 'FACEBOOK_POST_NLIKES', waSortOrder: 'DESCENDING' },
        { waSortType: 'FACEBOOK_POST_NCOMMENTS', waSortOrder: 'ASCENDING' },
        { waSortType: 'FACEBOOK_POST_NCOMMENTS', waSortOrder: 'DESCENDING' },
        { waSortType: 'COMP_SENT_ANALYSIS_POSITIVE_SCORE', waSortOrder: 'DESCENDING' },
        { waSortType: 'COMP_SENT_ANALYSIS_NEGATIVE_SCORE', waSortOrder: 'DESCENDING' },
        { waSortType: 'COMP_SENT_ANALYSIS_NEUTRAL_SCORE', waSortOrder: 'DESCENDING' },
        { waSortType: 'COMP_SENT_ANALYSIS_MIXED_SCORE', waSortOrder: 'DESCENDING' },
      ],

      // Short Type Strings
      shortSortTypeStrings: true,
    };
  },

  /* ---------------------- WATCH ------------------------------------------ */
  watch: {
    sortOption() {
      console.log(this.sortOption);
    },
  },
};

</script>
