<!--
  NAME
    SmecknSortByDropDown.vue

  DESCRIPTION
    Dropdown component allowing user to pick a specific sort

  USAGE
    See SmecknSortByDropDownTest.vue


-->
<template>
  <div class="d-inline-block rounded border" data-cy="smecknSortByDropDown">
    <!-- Sorting Dropdown -->
    <b-dropdown v-bind:text="sortDropDownTitle" variant="info">

      <!-- For Loop Over Options -->
      <b-dropdown-item v-for="sortDropDownItem in sortDropDownItemList" v-bind:key="sortDropDownItem.key"
        v-on:click="onSortClicked(sortDropDownItem.waSortType, sortDropDownItem.waSortOrder)">
        <span data-cy="smecknSortByDropDownOption">
          <span v-bind:data-cy="`${sortDropDownItem.waSortType}-${sortDropDownItem.waSortOrder}`">
            {{ sortDropDownItem.sortTypeString }}: {{ sortDropDownItem.sortOrderString }}
          </span>
        </span>
      </b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
import _ from 'lodash';
import Vuex from 'vuex';

export default {

  /* ---------------------- EVENTS ----------------------------------------- */
  /*
    Event
      Name
        'update'
      Description
        Emitted whenever the current sort is updated
      Usage
        v-on:update="onsortOptionUpdated"
        onsortOptionUpdated(sortOption) {}
   */

  /* ---------------------- MODEL ------------------------------------------ */
  model: {
    prop: 'sortOption',
    event: 'update'
  },

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Sort Option
    // {
    //   waSortType
    //     type: String
    //     description: entity being sorted. Ex. 'FACEBOOK_POST_FBCREATEDATE'
    //
    //   waSortOrder
    //     type: String
    //     description: sort direction: ascending or descending
    // }
    sortOption: {
      type: Object,
      default: null
    },
    // Sort Options Array: Available sorts to show in dropdown
    // Array<SortOption>
    sortOptionList: {
      type: Array,
      required: true
    },
    // If True, display waSortTypes with their 'short' strings
    shortSortTypeStrings: {
      type: Boolean,
      default: true
    }
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('sort', ['sortTypeToString', 'sortOrderToString']),

    /**
     * @return {String} Sort DropDown Title
     */
    sortDropDownTitle() {
      let rval = '';
      if (this.sortOption) {
        let sortTypeStr = this.sortTypeToString(this.sortOption.waSortType, this.shortSortTypeStrings);
        let sortOrderStr = this.sortOrderToString(this.sortOption.waSortOrder);
        rval = `${sortTypeStr}: ${sortOrderStr}`;
      } else {
        rval = 'Sort By';
      }
      return rval;
    },

    /**
     * @return {Array<Object>} Array of objects to go in dropdown
     * [{
     *   key: '...',
     *   waSortType: '...',
     *   sortTypeString: '...',
     *   waSortOrder: '...',
     *   sortOrderString: '...',
     * }]
     */
    sortDropDownItemList() {
      return _.map(this.sortOptionList, (sortOption) => {
        return {
          key: `${sortOption.waSortType}-${sortOption.waSortOrder}`,
          waSortType: sortOption.waSortType,
          sortTypeString: this.sortTypeToString(sortOption.waSortType, this.shortSortTypeStrings),
          waSortOrder: sortOption.waSortOrder,
          sortOrderString: this.sortOrderToString(sortOption.waSortOrder)
        };
      });
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Handle a sort being clicked
     * Update the sort and emit update
     */
    onSortClicked(waSortType, waSortOrder) {
      this.$emit('update', { waSortType, waSortOrder });
    }
  }
};

</script>
