html,
body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    background: #f2f2f2;
    font-family: 'Lato', sans-serif;
}


/* Header */

.header {
    background-color: #000;
    min-height: 80px;
    padding: 10px 0 10px 0;
}

.header img {
    width: 210px;
    height: 50px;
    margin: 15px 0 15px 0;
}

.header .search {
    margin: 20px 0 0 0;
    float: right;
}

.search-form input {
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: #000;
    width: 200px;
    margin-right: 15px;
}

.search-form button {
    border: none;
    border-bottom: 1px solid #1a77ff;
    color: #fff;
    background: #000;
}

.search-form input:hover,
.search-form button:hover {
    border-bottom: 1px solid #1a77ff;
}


/* Menu */

.menu {
    background: #152230;
    min-height: 40px;
}

.menu ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul.nav li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
}

.menu ul.nav li:hover,
.menu ul.nav li.active {
    background: #1a77ff;
}

.menu ul.nav li a {
    color: #fff;
    margin: 0;
    padding: 0;
}

.menu ul.nav li a:hover {
    background: transparent;
}


/* Main */

.main {
    background-image: url("https://s3.amazonaws.com/codecademy-content/projects/newsroom/bass-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    padding: 70px 20px 50px 20px;
    color: #fff;
}

.main p {
    font-size: 25px;
}

.main .date p {
    font-size: 15px;
}

.main h1 {
    font-size: 50px;
    font-weight: bold;
    border-bottom: 3px solid #1a77ff;
    margin-bottom: 30px;
}


/* Supporting */

.supporting .row {
    margin: 50px 0;
}

.supporting .row .col-md-8 {
    background: #fff;
    padding: 20px 40px 40px 40px;
}

.supporting .row .col-md-4 {
    background: #152230;
    padding: 20px 40px 40px 40px;
}

.supporting .row .sidebar h3 {
    color: #fff;
}

.supporting .row ul {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
}

.supporting .row ul li {
    margin: 0 0 20px 0;
}

.supporting .row .sidebar ul li {
    color: #fff;
}

.supporting .row ul li h4 span {
    border-bottom: 3px solid #1a77ff;
}

.supporting .row .col-md-12 {
    margin: 0;
    padding: 0;
}


/* Footer */

.footer {
    background: #000;
    min-height: 100px;
    color: #e2e2e2;
    padding: 30px 0 30px 0;
}

.footer ul {
    list-style: none;
    float: left;
    margin: 0;
}

.footer li {
    display: inline;
    margin-right: 40px;
}

.footer p {
    float: right;
}
