/* About.vue - About Component accessed via text button at bottom of home page */
<template>
  <div class="b-container text-center">
    <div class="b-row">
      <h1>About Beblsoft</h1>
      <div class="beblsoft-AboutText">
        <p>We are interested in what you think about our site. Please contact us at <span class="beblsoft-text">beblsoftmanager@gmail.com</span> to email us ideas to help improve the site. We will be adding to the site based on feedback. Thanks for your help and we hope that you have a very joyful life!</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'About'
}

</script>
<style scoped>
.beblsoft-AboutText {
  text-align: left;
  color: black;
  margin: 10px;
}

.beblsoft-text {
  color: indianred;
}

</style>
