/* Guards.vue - Demo of Use of Routing Guards */
<template>
  <div class="container">
    <h2 class="text-center"><strong>Hello Routing Guards!</strong></h2>
    <router-link :to="{ name: 'vvcBar' }">
      <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal">Named Route: VVCBar</b-button>
    </router-link>
    <router-link :to="{ name: 'About' }">
      <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal">Named Route: Go to About Component if logged in, else go to Bar Graph</b-button>
    </router-link>
    <router-link to="/vuegoodtable" v-if="loginState">Link to VueGoodTable as logged in</router-link>
    <p> User is logged in: {{ loginState }}</p>
    </p>
  </div>
</template>
<script>
import store from '../store'
export default {
  data() {
    return {
      loginState: store.state.loggedInState
    }
  }
}

</script>
