/* Header.vue - Navigation Panel at top of application */
<template>
  <b-navbar toggleable="md" type="dark" variant="info">
    <b-navbar-brand href="#">SMeckn</b-navbar-brand>
    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto sm-custom">
      <b-nav-item>
        <router-link to="/">Home</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="vuex">Vuex</router-link>
      </b-nav-item>
       <b-nav-item>
        <router-link to="guards">Guards</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="vvcDoughnutTabs">Doughnut Tabs</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="vvcMultiple">Multiple</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="/vuegoodtable">VueGoodTable</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="/form">Form</router-link>
      </b-nav-item>
    </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
export default {
  name: 'Header'
}

</script>
<style scoped>
a {
  color: white;
}

</style>
