/* Home.vue - Home View for Application */
<template>
  <div class="container">
    <h2>{{ msg }}</h2>
    <br>
    <br>
    <b-card-group deck class="mb-3">
      <b-card bg-variant="info" text-variant="white" header="Analysis for:" class="text-center">
        <b-button href="#" variant="info">
          <router-link :to="{ name: 'horzTabs', params: { profileName: 'James' }}">James</router-link>
        </b-button>
      </b-card>
      <b-card bg-variant="secondary" text-variant="white" header="Analysis for:" class="text-center">
        <b-button href="#" variant="secondary">
          <router-link :to="{ name: 'horzTabs', params: { profileName: 'Darryl' }}">Darryl</router-link>
        </b-button>
      </b-card>
      <b-card bg-variant="success" text-variant="white" header="Analysis for:" class="text-center">
        <b-button href="#" variant="success">
          <router-link :to="{ name: 'horzTabs', params: { profileName: 'Betsy' }}">Betsy</router-link>
        </b-button>
      </b-card>
      <b-card bg-variant="info" text-variant="white" header="Analysis for:" class="text-center">
        <b-button href="#" variant="info">
          <router-link :to="{ name: 'horzTabs', params: { profileName: 'Sunny' }}">Sunny</router-link>
        </b-button>
      </b-card>
    </b-card-group>
  </div>
</template>
<script>
export default {
  name: 'Home',
  data() {
    return {
      msg: 'Welcome to SMeckn'
    }
  }
}

</script>
<style scoped>
a {
  color: white;
}

</style>
