/* HorzTabs.vue - Horizontal Tabs Demo for Application, called from Home */
<template>
  <div class="b-container mytabs">
    <h2>Smeckn Dashboard for {{profileName}}</h2>
    <br>
    <b-card no-body>
      <b-tabs class="mytabs">
        <b-tab title="Overview" active>
          <vertTabsDrilldown :account="overviewAccount"></vertTabsDrilldown>
        </b-tab>
        <b-tab title="Facebook">
          <vertTabsDrilldown :account="facebookAccount"></vertTabsDrilldown>
        </b-tab>
        <b-tab title="Twitter">
          <vertTabsDrilldown :account="twitterAccount"></vertTabsDrilldown>
        </b-tab>
      </b-tabs>
    </b-card no-body>
  </div>
</template>
<script>
import VertTabsDrilldown from './VertTabsDrilldown.vue'
export default {
  name: 'HorzTabs',
  components: {
    vertTabsDrilldown: VertTabsDrilldown
  },
   props: [
    'profileName'
  ],
  data() {
    return {
      overviewAccount: 'OverviewAccount',
      facebookAccount: 'FacebookAccount',
      twitterAccount: 'TwitterAccount'
    }
  }
}

</script>
<style scoped>
.mytabs {
  background-color: lightgray !important;
}

</style>
