/* VertTabsDrilldown.vue - Drilldown showing vertical tabs, called from HorzTabs.vue. */
<template>
  <b-card no-body>
    <b-tabs pills card vertical class="mytabs">
      <b-tab title="Statistical Analysis" active>
        <h2>Statistical Analysis for: {{account}}</h2>
        <pie-chart :data="getPieData()"></pie-chart>
      </b-tab>
      <b-tab title="Textual Analysis">
        <h2>Textual Analysis for: {{account}}</h2>
        <line-chart :data="getLineData()"></line-chart>
      </b-tab>
      <b-tab title="Image Analysis">
        <h2>Image Analysis for: {{account}}</h2>
      </b-tab>
    </b-tabs>
  </b-card>
</template>
<script>
export default {
  name: 'VertTabsDrilldown',
  props: [
    'account'
  ],
  data() {
    return {
      pieData: [
        ['Blueberry', 44],
        ['Strawberry', 23],
        ['Banana', 21]
      ],
      pieData2: [
        ['Blueberry', 24],
        ['Strawberry', 53],
        ['Banana', 11]
      ],
      pieData3: [
        ['Blueberry', 14],
        ['Strawberry', 73],
        ['Banana', 5]
      ],
      lineData: [
        ['2017-05-13', 2],
        ['2017-05-14', 5],
        ['2017-05-15', 3]
      ],
      lineData2: [
        ['2017-05-13', 7],
        ['2017-05-14', 1],
        ['2017-05-15', 1]
      ],
      lineData3: [
        ['2017-05-13', 21],
        ['2017-05-14', 0],
        ['2017-05-15', 21]
      ]
    }
  },
  methods: {
    getPieData: function() {
      if (this.account === 'TwitterAccount') return this.pieData
      else if (this.account === 'FacebookAccount') return this.pieData2
      else return this.pieData3
    },
    getLineData: function() {
      if (this.account === 'TwitterAccount') return this.lineData
      else if (this.account === 'FacebookAccount') return this.lineData2
      else return this.lineData3
    }
  }
}

</script>
