/* VueGoodTable.vue - Demo of simple table */
<template>
  <div class="container">
    <br>
    <h2>The Demo Table</h2>
    <br>
    <vue-good-table title="Demo Table" :columns="columns" :rows="rows" :paginate="true" :lineNumbers="true" styleClass="table condensed table-bordered table-hover sampleCustomization" />
  </div>
</template>
<script>
export default {
  name: 'Search',
  data() {
    return {
      columns: [{
          label: 'Author',
          field: 'name',
          filterable: true
        },
        {
          label: 'Age',
          field: 'age',
          type: 'number',
          html: false
        },
        {
          label: 'Created On',
          field: 'createdAt',
          type: 'date',
          dateInputFormat: 'YYYYMMDD',
          dateOutputFormat: 'MMM Do YY'
        },
        {
          label: 'Percent',
          field: 'score',
          type: 'percentage',
          html: false
        }
      ],
      rows: [
        { id: 1, name: 'John', age: 20, createdAt: '20181031', score: 0.03343 },
        { id: 2, name: 'Jane', age: 24, createdAt: '20181031', score: 0.03343 },
        { id: 3, name: 'Susan', age: 16, createdAt: '20181030', score: 0.03343 }
      ]
    }
  }
}

</script>
<style scoped>
/* this does not work */
.sampleCustomization {
  overflow-x: hidden;
  overflow-y:  auto;
}

</style>
