/* Vuex.vue - Demo of use of Vuex for central storage of state. */
<template>
  <div class="container">
    <h2 class="text-center"><strong>Hello Vuex!</strong></h2>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="login">Login</b-button>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="logout">Logout</b-button>
    <p> User is logged in: {{ loginState }}</p>
  </div>
</template>
<script>
import store from '../store'
export default {
  data() {
    return {
      loginState: store.state.loggedInState
    }
  },
  methods: {
    login: function() {
      store.commit('userLogsIn')
      this.loginState = store.state.loggedInState
    },
    logout: function() {
      store.commit('userLogsOut')
      this.loginState = store.state.loggedInState
    }
  }
}

</script>
