/* VVCMultiple.vue - Demo of multiple embedded components. */
<template>
  <div class="container">
    <h1>Demo Multiple Components</h1>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <theBar></theBar>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <thePies></thePies>
      </div>
    </div>
  </div>
</template>
<script>
import Bar from './VVCBar.vue'
import Pies from './VVCPies.vue'

export default {
  components: {
    theBar: Bar,
    thePies: Pies
  }
}

</script>
