/* App.vue - Main Application layout */
<template>
  <div id="app">

    <body>
      <div class="beblsoft-nav-menu-panel">
        <theHeader></theHeader>
      </div>
      <div class="beblsoft-content-panel">
        <router-view></router-view>
      </div>
      <div class="beblsoft-footer-panel">
        <theFooter></theFooter>
      </div>
    </body>
  </div>
</template>
<script>
import Header from './components/baseApp/Header.vue'
import Footer from './components/baseApp/Footer.vue'
export default {
  name: 'app',
  components: {
    theHeader: Header,
    theFooter: Footer
  },
  methods: {
    setUser: function() {
      this.$store.dispatch('setUser')
    }
  },
  created() {
    // when the app is created run the set user method
    // this uses Vuex to check if a user is signed in
    // check out mutations in the store.js file
    this.setUser()
  }
}

</script>
<style>
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  height: 100vh;
  min-height: 100vh;
  background-color: lightgray;
}

.beblsoft-nav-menu-panel {
  height: 6%;
  min-height: 55px;
  position: relative;
  z-index: 1000000;
}

.beblsoft-content-panel {
  height: 87%;
  min-height: 90px;
  overflow-y: auto;
}

.beblsoft-footer-panel {
  height: 5%;
  min-height: 25px;
}

</style>
