/*global variables for colors */
:root {
  /* bootstrap button, nice blue */
  --main-border-color: #17a2b8;
}

.splash-picture {
  background-image: url(adult-communication-connecting-1080846Cropped.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlayRectangle {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 2px solid var(--main-border-color);
}
