<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Basic Overlay</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link rel="stylesheet" href="basicOverlay.css">
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body class="splash-picture">
  <!-- Our application root element -->
  <div id="app">
    <div v-for="face in faces" class="overlayRectangle" v-bind:style="{top: face.top, left: face.left, height: face.height + 'px', width: face.width + 'px'}">
    </div>
    <b-btn @click="hideOverlays" variant="info">
      Hide Overlays
    </b-btn>
    <b-btn @click="showOverlays" variant="info">
      Show Overlays
    </b-btn>
  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      showOverlaysState: false,
      faces: [{
          top: '25%',
          left: '18%',
          height: 300,
          width: 250,
        },
        {
          top: '15%',
          left: '38%',
          height: 200,
          width: 150
        },
        {
          top: '15%',
          left: '56%',
          height: 200,
          width: 150
        },
        {
          top: '15%',
          left: '70%',
          height: 200,
          width: 150
        },
        {
          top: '18%',
          left: '83%',
          height: 150,
          width: 125
        }
      ]
    },
    methods: {
      showOverlays() {
        this.showOverlaysState = true;
        var elements = document.getElementsByClassName("overlayRectangle");

        for (var i = 0, length = elements.length; i < length; i++) {
          elements[i].style.display = 'block';
        }
      },
      hideOverlays() {
        this.showOverlaysState = false;
        var elements = document.getElementsByClassName("overlayRectangle");

        for (var i = 0, length = elements.length; i < length; i++) {
          elements[i].style.display = 'none';
        }
      }
    }
  })

  </script>
</body>

</html>
