<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Structured Overlay</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link rel="stylesheet" href="structuredOverlay.css">
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <b-container fluid>

      <b-row>
        <b-col></b-col>
        <b-col class="buttons">
          <b-button-group>
            <b-btn @click="hideOverlays" id="hideButton" variant="info">
              Hide Overlays
            </b-btn>
            <b-btn @click="showOverlays" id="showButton" variant="info">
              Show Overlays
          </b-button-group>
        </b-col>
        <b-col></b-col>
      </b-row>
      <b-row>
        <b-col></b-col>
        <b-col>
          <div class="image-container">
            <img src="adult-communication-connecting-1080846Cropped.png" class="image">
            <div v-for="face in faces" class="overlayRectangle" v-bind:style="{top: face.top, left: face.left, height: face.height + 'px', width: face.width + 'px'}">
            </div>
          </div>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>

  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      showOverlaysState: false,
      faces: [{
          top: '9%',
          left: '9%',
          height: 150,
          width: 110
        },
        {
          top: '0%',
          left: '30%',
          height: 150,
          width: 100
        },
        {
          top: '0%',
          left: '51%',
          height: 120,
          width: 80,
        },
        {
          top: '0%',
          left: '64%',
          height: 120,
          width: 80
        },
        {
          top: '10%',
          left: '78%',
          height: 120,
          width: 80
        }
      ]
    },
    methods: {
      showOverlays() {
        this.showOverlaysState = true;
        document.getElementById("showButton").classList.add("active");
        document.getElementById("hideButton").classList.remove("active");
        var elements = document.getElementsByClassName("overlayRectangle");

        for (var i = 0, length = elements.length; i < length; i++) {
          elements[i].style.display = 'block';
        }
      },
      hideOverlays() {
        this.showOverlaysState = false;
        document.getElementById("showButton").classList.remove("active");
        document.getElementById("hideButton").classList.add("active");
        var elements = document.getElementsByClassName("overlayRectangle");

        for (var i = 0, length = elements.length; i < length; i++) {
          elements[i].style.display = 'none';
        }
      }
    },
    /* ---------------------- LIFECYCLE -------------------------------------- */
    mounted: function () {
      document.getElementById("showButton").classList.add("active");
    }
  })

  </script>
</body>

</html>
