/*global variables for colors */
:root {
  /* bootstrap button, nice blue */
  --main-border-color: #17a2b8;
}

.overlayRectangle {
  position: absolute;
  border: 2px solid var(--main-border-color);
}

.buttons {
  margin: 20px;
  text-align: center;
}

.image-container {
  position: relative;
  width: 700px;
  height: 350px;
  border: 2px solid red;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}
