<!--
  NAME
    SmecknSidebarMenu.vue

  DESCRIPTION
    Smeckn Sidebar Menu

    The menu is broken up into two cases: expanded and collapsed, shown below.

  REFERENCE
    https://github.com/yaminncco/vue-sidebar-menu
-->
<template>
  <div class="sm-sidebar-menu">

    <!-- Case: Expanded ------------------------------------------------------>
    <!--
        -------------------------------
        |           x |               |
        |-------------|               |
        | Item        |   Content     |
        |  Item       |               |
        |  Item       |               |
        | Item        |               |
        |  Item       |               |
        |             |               |
        |             |               |
        -------------------------------

        Where:
           Item = SidebarItem.vue
     -->
    <SmecknDropRightTransition>
      <b-list-group v-if="!isCollapsed">

        <!-- Close Button => Collapse -->
        <div v-on:click="onToggleCollapse" class="d-flex justify-content-end bg-light"
          data-cy="collapseSidebarButton">
          <b-button-close class="mt-1 mr-2"></b-button-close>
        </div>

        <!-- List all items -->
        <SmecknSidebarItem v-for="(item, index) in itemList" v-bind:key="index"
          v-bind:item="item" v-bind:width="width" v-on:click="onItemClicked(index)"
          v-bind:show-children="index === openItemIndex"></SmecknSidebarItem>
      </b-list-group>
    </SmecknDropRightTransition>


    <!-- Case: Collapsed ----------------------------------------------------->
    <!--
        -------------------------------
        |>>|                          |
        |CI|                          |
        |CI|           Content        |
        |CI|                          |
        |CI|Item---|                  |
        |CI| Item--|                  |
        |  | Item--|                  |
        |  |                          |
        |  |                          |
        -------------------------------

        Where:
           CI   = SidebarCollapsedItem.vue
           Item = SidebarItem.vue
     -->
    <SmecknFadeTransition>
      <b-list-group v-if="isCollapsed">

        <!-- Expand Button => Expand -->
        <div v-on:click="onToggleCollapse" class="d-flex justify-content-center py-3 w-100"
          data-cy="expandSidebarButton">
          <img v-bind:src="doubleRightArrowImgSrc" class="sm-sidebar-menu-expand-icon" />
        </div>

        <!-- List all items -->
        <SmecknSidebarCollapsedItem v-for="(item, index) in itemList" v-bind:key="index"
          v-bind:item="item" v-bind:width="widthCollapsed" v-bind:width-expanded="width">
        </SmecknSidebarCollapsedItem>
      </b-list-group>
    </SmecknFadeTransition>
  </div>
</template>

<script>
import doubleRightArrowImgSrc from '../../img/flaticon/double-right-arrow.png';

export default {

  /* -------------------- EMITS -------------------------------------------- */
  /*
    Event
      Name
        'collapse-toggled'
      Description
        Emitted whenever the collapse is toggled with the new toggle value
      Usage
        v-on:collapse-toggled="onCollapseToggled"
        onCollapseToggled(collapsed) {
          this.collapsed = collapsed
        }
   */

  /* -------------------- PROPS -------------------------------------------- */
  props: {
    // Array of item objects
    // See definition in SidebarContainer.vue
    itemList: {
      type: Array,
      required: true
    },
    // If True, sidebar will be collapsed
    collapsed: {
      type: Boolean,
      default: false
    },
    // Width (px) of uncollapsed
    width: {
      type: Number,
      default: 250
    },
    // Width (px) of collapsed
    widthCollapsed: {
      type: Number,
      default: 50,
    },
  },

  /* -------------------- DATA --------------------------------------------- */
  data() {
    return {
      // Tracks collapsed state
      // Is updated by:
      //   - prop: collapsed
      //   - onToggleCollapse event listener
      isCollapsed: this.collapsed,

      // Tracks SidebarItem with open chilren, giving accordion affect
      openItemIndex: -1,

      // Image
      doubleRightArrowImgSrc
    };
  },

  /* -------------------- WATCH -------------------------------------------- */
  watch: {
    collapsed(val) {
      this.isCollapsed = val;
    },
    isCollapsed(val) {
      this.$emit('collapse-toggled', val);
    }
  },

  /* -------------------- METHODS ------------------------------------------ */
  methods: {

    /**
     * Toggle the collapsed state
     */
    onToggleCollapse() {
      this.isCollapsed = !this.isCollapsed;
    },

    /**
     * Change the open item
     * @param {Number} index item index that was clicked
     */
    onItemClicked(index) {
      if (this.openItemIndex === index) {
        this.openItemIndex = -1;
      } else {
        this.openItemIndex = index;
      }
    }
  },
};

</script>

<style scoped lang="scss">
@import './SmecknSidebar.scss';

</style>
