<!--
  NAME
    SmecknSidebarContainer.vue

  DESCRIPTION
    Smeckn Sidebar Container

    This component contains a sidebar and associated content slot.
    The sidebar is dynamic: it can be expanded or collapsed.

  USAGE
    See SmecknSidebarContainerTest.vue
-->
<template>
  <!--
      ---------------------------------------
      |         |                           |
      |         |                           |
      |         |                           |
      |         |                           |
      | Sidebar |        Content            |
      |         |          Slot             |
      |         |                           |
      |         |                           |
      |         |                           |
      |         |                           |
      ---------------------------------------
     -->
  <b-container fluid class="position-relative p-0" v-bind:data-cy="containerDataCY">

    <!-- Sidebar Menu -->
    <SmecknSidebarMenu ref="sidebarMenu" v-bind:item-list="itemList" v-bind:collapsed="shouldCollapse"
      v-bind:width="sidebarWidth" v-bind:width-collapsed="sidebarCollapsedWidth"
      v-on:collapse-toggled="onCollapseToggled"></SmecknSidebarMenu>

    <!-- Content -->
    <div v-bind:style="contentContainerStyle">
      <slot></slot>
    </div>
  </b-container>
</template>
<script>

/**
 * SidebarContainer State
 * @type {Object}
 */
const State = {
  COLLAPSED: 0, // Sidebar is collapsed next to the content
  EXPANDED_ONTOP: 1, // Sidebar is expanded and on top of content
  EXPANDED_ONSIDE: 2 // Sidebar is expanded but beside content
};

export default {

  /* -------------------- PROPS -------------------------------------------- */
  props: {

    // Array of items that populates the sidebar
    // Each item object has the following structure
    // {
    //   title:
    //     type: String
    //     description: Title to display
    //     required: true
    //
    //   onClick:
    //     type: Function
    //     description: Function to execute when item is clicked, usually pushes a new route
    //     required: false
    //
    //   activeRouteName:
    //     type: String
    //     description: Name of route corresponding to item
    //     required: false
    //
    //   disabled:
    //     type: Boolean
    //     description: If true, disallow clicking, opening
    //     required: false
    //
    //   class:
    //     type: String
    //     description: Class to apply to item
    //     required: false
    //
    //   attributeObj:
    //     type: Object
    //     description: Attributes to apply to item
    //     required: false
    //
    //   icon:
    //     type: Object
    //     required: false
    //     {
    //       src:
    //         type: Object
    //         description: Icon source object
    //       class:
    //         type: String
    //         description: Class to apply to icon
    //       attributeObj:
    //         type: Object
    //         description: Attributes to apply to icon
    //     }
    //
    //   badges:
    //     type: Array<Object>
    //     required: false
    //     [{
    //       text:
    //         type: String
    //         Description: Badge text
    //       class:
    //         type: String
    //         description: Class to apply to badge
    //       attributeObj:
    //         type: Object
    //         description: Attributes to apply to badge
    //     }]
    //
    //   children:
    //     type: Array<Item>
    //     required: false
    // }
    itemList: {
      type: Array,
      required: true
    },
    // Expanded width (px) of sidebar
    sidebarWidth: {
      type: Number,
      default: 300
    },
    // Collapsed width (px) of sidebar
    sidebarCollapsedWidth: {
      type: Number,
      default: 35,
    },
    // Width (px) below which sidebar will start collapsed
    //            above which sidebar will start expanded
    expandBreakpointWidth: {
      type: Number,
      default: 800,
    },
    // Content opacity when it is covered by the sidebar
    contentCoveredOpacity: {
      type: Number,
      default: 0.4
    }
  },

  /* -------------------- DATA --------------------------------------------- */
  data() {
    return {
      // Tracks
      isCollapsed: true,
      // Tracks the window height and width
      window: {
        width: 0,
        height: 0
      }
    };
  },

  /* -------------------- COMPUTED ----------------------------------------- */
  computed: {

    /**
     * Returns state of component
     * @return {State} See State enumeration
     */
    state() {
      let rval = null;
      if (this.isCollapsed) {
        rval = State.COLLAPSED;
      } else if (this.window.width < this.expandBreakpointWidth) {
        rval = State.EXPANDED_ONTOP;
      } else {
        rval = State.EXPANDED_ONSIDE;
      }
      return rval;
    },

    containerDataCY() {
      return this.isCollapsed ? 'sidebarContainerCollapsed' : 'sidebarContainer';
    },

    /**
     * @return {Boolean} True if the sidebar should be collapsed
     */
    shouldCollapse() {
      return this.window.width < this.expandBreakpointWidth;
    },

    /**
     * @return {Object} Returns the style of the content container based on the
     *                  current state of the component
     */
    contentContainerStyle() {
      let marginLeft = null;
      let opacity = null;

      switch (this.state) {
      case State.COLLAPSED:
        marginLeft = this.sidebarCollapsedWidth;
        opacity = 1;
        break;
      case State.EXPANDED_ONTOP:
        marginLeft = 0;
        opacity = this.contentCoveredOpacity;
        break;
      case State.EXPANDED_ONSIDE:
        marginLeft = this.sidebarWidth;
        opacity = 1;
        break;
      default:
        throw new Error('Bad State');
      }
      return {
        'position': 'relative', // Relative over absolute as parent respects height
        'top': 0,
        'left': 0,
        'margin-left': `${marginLeft}px`,
        'opacity': opacity,
        'box-sizing': 'border-box',
        'width': `${this.window.width - marginLeft}px`,
      };
    }
  },

  /* -------------------- LIFECYCLE ---------------------------------------- */
  /**
   * Register resize listener and initialize collapsed state
   */
  created() {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
    this.isCollapsed = this.shouldCollapse;
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },

  /* -------------------- METHODS ------------------------------------------ */
  methods: {
    onCollapseToggled(val) {
      this.isCollapsed = val;
    },
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    }
  }
};

</script>
