<!--
  NAME
    SmecknSidebarContainerTest.vue

  DESCRIPTION
    Test SmecknSidebarContainer
 -->
<template>
  <SmecknSidebarContainer v-bind:item-list="itemList">
    <!-- Child Routes -->
    <router-view></router-view>
  </SmecknSidebarContainer>
</template>
<script>
import homeIcon from '../../img/flaticon/home.png';
import logoImg from '../../img/logo/info-logo.png';

export default {

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    itemList() {
      return [{
          title: 'Home',
          onClick: () => { this.$g.router.push({ /* eslint-disable-line */ name: 'rnSmecknSidebarContainerTestHome' }); },
          activeRouteName: 'rnSmecknSidebarContainerTestHome',
          icon: { src: homeIcon, attributeObj: { 'data-cy': 'homeIcon' } },
        },
        {
          title: 'Disabled',
          onClick: () => { this.$g.router.push({ /* eslint-disable-line */ name: 'rnSmecknSidebarContainerTestDisabled' }); },
          activeRouteName: 'rnSmecknSidebarContainerTestDisabled',
          icon: { src: logoImg, attributeObj: { 'data-cy': 'disabledIcon' } },
          disabled: true,
        },
        {
          title: 'Badges',
          attributeObj: { 'data-cy': 'sidebarItemBadges' },
          onClick: () => { this.$g.router.push({ /* eslint-disable-line */ name: 'rnSmecknSidebarContainerTestBadges' }); },
          activeRouteName: 'rnSmecknSidebarContainerTestBadges',
          icon: { src: logoImg, attributeObj: { 'data-cy': 'badegesIcon' } },
          badges: [
            { text: 'New', class: 'badge-secondary', attributeObj: { 'data-cy': 'NewBadge' } },
            { text: '1 Item', class: 'badge-info', attributeObj: { 'data-cy': '1ItemBadge' } },
          ]
        },
        {
          title: 'Level1',
          attributeObj: { 'data-cy': 'sidebarItemLevel1' },
          icon: { src: logoImg, attributeObj: { 'data-cy': 'level1Icon' } },
          children: [{
            title: 'Level2',
            attributeObj: { 'data-cy': 'sidebarItemLevel2' },
            children: [{
              title: 'Level3',
              attributeObj: { 'data-cy': 'sidebarItemLevel3' },
              onClick: () => { this.$g.router.push({ /* eslint-disable-line */ name: 'rnSmecknSidebarContainerTestLevel3' }); },
              activeRouteName: 'rnSmecknSidebarContainerTestLevel3',
            }]
          }]
        },
      ];
    },
  },

};

</script>
