<!--
  NAME
    SmecknSidebarCollapsedItem.vue

  DESCRIPTION
    Single Collapsed Item in the Sidebar
-->
<template>
  <div>
    <b-list-group-item v-on:click="onCollapsedItemClicked" v-on:mouseover="onCollapsedItemMouseOver"
      v-on:mouseleave="onCollapsedItemMouseLeave" class="sm-sidebar-item collapsed"
      v-bind:style="itemStyle" v-bind:route-active="isRouteActive" v-bind:item-disabled="item.disabled"
      v-bind:class="item.class ? item.class : ''" v-bind="item.attributeObj ? item.attributeObj : {}">

      <!-- Icon -->
      <div v-if="showIcon" class="d-flex justify-content-center align-items-center">
        <img v-if="item.icon && item.icon.src" class="smg-img-3 my-3" v-bind:src="item.icon.src"
          v-bind:class="item.icon.class ? item.icon.class : ''" v-bind="item.icon.attributeObj ? item.icon.attributeObj : ''"
          alt="" />
      </div>

      <!-- Display Items: Absolute Position off to right side -->
      <SmecknDropRightTransition>
        <div v-if="expand" v-bind:style="collapsedItemExpandStyle">
          <SmecknSidebarItem v-bind:item="item" v-bind:width="widthExpanded - width" v-on:click="onItemClicked()"
            v-bind:show-children="true" v-bind:show-icon="false" v-bind:collapsed="true">
          </SmecknSidebarItem>
        </div>
      </SmecknDropRightTransition>
    </b-list-group-item>
  </div>
</template>

<script>
import SmecknSidebarItemMixin from './SmecknSidebarItemMixin.js';

export default {

  /* -------------------- MIXINS ------------------------------------------- */
  mixins: [SmecknSidebarItemMixin],
};

</script>

<style scoped lang="scss">
@import './SmecknSidebar.scss';

</style>
