/*
 NAME
   SmecknSidebar.scss

 DESCRIPTION
   Smeckn Sidebar Styles
*/

/* ------------------------- SIDEBAR MENU ---------------------------------- */
.sm-sidebar-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: $zindex-dropdown; //From Boostrap
  height: 100%;
  box-shadow: -6px 6px rgba($secondary, 1);
  background-color: $light !important;
}

.sm-sidebar-menu-expand-icon {
  max-width: .75rem;
  max-height: .75rem;
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}

/* ------------------------- SIDEBAR ITEM ---------------------------------- */
.sm-sidebar-item-container {
  background-color: $light !important;

  &[collapsed][top-level] {
    border: 1px solid $secondary !important;
  }
}

.sm-sidebar-item {
  padding: 0;
  border: none;
  border-radius: 0 !important;
  overflow: auto;
  color: $info !important;
  background-color: $light !important;

  &.collapsed {
    overflow: visible;
    position: relative;
  }

  &:hover {
    background-color: $info !important;
    color: $light !important;
  }

  &[route-active] {
    background-color: rgba($info, .4) !important;
  }

  &[item-disabled] {
    opacity: .4;
  }
}

.sm-sidebar-item-title {
  &[route-active] {
    color: $light !important;
    font-weight: bold !important;
  }
}
