<!--
  NAME
    SidebarItem.vue

  DESCRIPTION
    Single Item in the Sidebar
-->
<template>
  <div>
    <!-- Display Item -->
    <b-list-group-item v-on:click="onItemClicked" class="sm-sidebar-item" v-bind:style="itemStyle"
      v-bind:route-active="isRouteActive" v-bind:item-disabled="item.disabled"
      v-bind:class="item.class ? item.class : ''" v-bind="item.attributeObj ? item.attributeObj : {}">
      <b-container fluid>
        <b-row>
          <!-- Icon -->
          <b-col cols="2" v-if="showIcon">
            <div class="d-flex h-100 align-items-center justify-content-center">
              <img v-if="item.icon && item.icon.src" class="smg-img-4" v-bind:src="item.icon.src"
                v-bind:class="item.icon.class ? item.icon.class : ''" v-bind="item.icon.attributeObj ? item.icon.attributeObj : ''"
                alt="" />
            </div>
          </b-col>

          <!-- Title, Badges -->
          <b-col v-bind:cols="showIcon ? 8 : 10" class="d-flex h-100 align-items-center">
            <p v-if="item.title" class="sm-sidebar-item-title my-1" v-bind:route-active="isRouteActive"
              v-bind:style="depthLevelPaddingStyle">
              {{ item.title }}
            </p>
            <div class="d-flex flex-row flex-wrap ml-3">
              <b-badge v-for="badge in item.badges" v-bind:key="badge.text" v-bind:class="badge.class ? badge.class : ''"
                v-bind="badge.attributeObj ? badge.attributeObj : {}" class="m-1">
                {{ badge.text }}
              </b-badge>
            </div>
          </b-col>

          <!-- Dropdown -->
          <b-col cols="2">
            <div v-if="itemHasChildren">
              <img v-if="dropDownChildren" v-bind:src="downArrowImgSrc" alt="" class="smg-img-1">
              <img v-else v-bind:src="rightArrowImgSrc" alt="" class="smg-img-1">
            </div>
          </b-col>
        </b-row>
      </b-container>

    </b-list-group-item>

    <!-- Display Children Recursively -->
    <DropdownTransition>
      <b-list-group v-if="dropDownChildren">
        <SidebarItem v-for="(childItem, index) in item.children" v-bind:key="index"
          v-bind:item="childItem" v-on:click="onSubItemClicked(index)"
          v-bind:show-children="index === openSubItemIndex" v-bind:depth-level="depthLevel + 1"
          v-bind:min-height="minHeight" v-bind:width="width" v-bind:show-icon="showIcon"></SidebarItem>
      </b-list-group>
    </DropdownTransition>
  </div>
</template>

<script>
import SidebarItemMixin from './SidebarItemMixin.js';

export default {

  /* -------------------- NAME --------------------------------------------- */
  name: 'SidebarItem',

  /* -------------------- MIXINS ------------------------------------------- */
  mixins: [SidebarItemMixin],
};

</script>

<style scoped lang="scss">
@import './Sidebar.scss';

</style>
