<!--
  NAME
    SidebarCollapsedItem.vue

  DESCRIPTION
    Single Collapsed Item in the Sidebar
-->
<template>
  <div>
    <b-list-group-item v-on:click="onCollapsedItemClicked" v-on:mouseover="onCollapsedItemMouseOver"
      v-on:mouseleave="onCollapsedItemMouseLeave" class="sm-sidebar-item collapsed"
      v-bind:style="itemStyle" v-bind:route-active="isRouteActive" v-bind:item-disabled="item.disabled"
      v-bind:class="item.class ? item.class : ''" v-bind="item.attributeObj ? item.attributeObj : {}">

      <!-- Icon -->
      <div v-if="showIcon" class="d-flex justify-content-center align-items-baseline">
        <img v-if="item.icon && item.icon.src" class="smg-img-4 my-2" v-bind:src="item.icon.src"
          v-bind:class="item.icon.class ? item.icon.class : ''" v-bind="item.icon.attributeObj ? item.icon.attributeObj : ''"
          alt="" />
      </div>

      <!-- Display Items: Absolute Position off to right side -->
      <DropRightTransition>
        <div v-if="expand" v-bind:style="collapsedItemExpandStyle">
          <SidebarItem v-bind:item="item" v-bind:width="widthExpanded - width" v-on:click="onItemClicked()"
            v-bind:show-children="true" v-bind:show-icon="false">
          </SidebarItem>
        </div>
      </DropRightTransition>
    </b-list-group-item>
  </div>
</template>

<script>
import SidebarItemMixin from './SidebarItemMixin.js';
import SidebarItem from './SidebarItem.vue';

export default {

  /* -------------------- MIXINS ------------------------------------------- */
  mixins: [SidebarItemMixin],

  /* -------------------- COMPONENTS --------------------------------------- */
  components: { SidebarItem },

};

</script>

<style scoped lang="scss">
@import './Sidebar.scss';

</style>
