<!--
  NAME
    SidebarMenu.vue

  DESCRIPTION
    Sidebar Menu

    The menu is broken up into two cases: expanded and collapsed, shown below.

  REFERENCE
    https://github.com/yaminncco/vue-sidebar-menu
-->
<template>
  <div class="sm-sidebar-menu">

    <!-- Case: Expanded ------------------------------------------------------>
    <!--
        -------------------------------
        |           x |               |
        |-------------|               |
        | Item        |   Content     |
        |  Item       |               |
        |  Item       |               |
        | Item        |               |
        |  Item       |               |
        |             |               |
        |             |               |
        -------------------------------

        Where:
           Item = SidebarItem.vue
     -->
    <DropRightTransition>
      <b-list-group v-if="!isCollapsed">

        <!-- Close Button => Collapse -->
        <div v-on:click="onToggleCollapse" class="d-flex justify-content-end">
          <b-button-close class="mt-1 mr-2"></b-button-close>
        </div>

        <!-- List all items -->
        <SidebarItem v-for="(item, index) in itemList" v-bind:key="index" v-bind:item="item"
          v-bind:width="width" v-on:click="onItemClicked(index)" v-bind:show-children="index === openItemIndex"></SidebarItem>
      </b-list-group>
    </DropRightTransition>


    <!-- Case: Collapsed ----------------------------------------------------->
    <!--
        -------------------------------
        |>>|                          |
        |CI|                          |
        |CI|           Content        |
        |CI|                          |
        |CI|Item---|                  |
        |CI| Item--|                  |
        |  | Item--|                  |
        |  |                          |
        |  |                          |
        -------------------------------

        Where:
           CI   = SidebarCollapsedItem.vue
           Item = SidebarItem.vue
     -->
    <FadeTransition>
      <b-list-group v-if="isCollapsed">

        <!-- Expand Buttong => Expand -->
        <div v-on:click="onToggleCollapse" class="d-flex justify-content-center py-3 w-100">
          <img v-bind:src="doubleRightArrowImgSrc" class="sm-sidebar-menu-expand-icon" />
        </div>

        <!-- List all items -->
        <SidebarCollapsedItem v-for="(item, index) in itemList" v-bind:key="index"
          v-bind:item="item" v-bind:width="widthCollapsed" v-bind:width-expanded="width"></SidebarCollapsedItem>
      </b-list-group>
    </FadeTransition>
  </div>
</template>

<script>
import SidebarItem from './SidebarItem';
import SidebarCollapsedItem from './SidebarCollapsedItem';
import DropRightTransition from '../transitions/DropRightTransition.vue';
import FadeTransition from '../transitions/FadeTransition.vue';
import doubleLeftArrowImgSrc from '../../img/double-left-arrow.png';
import doubleRightArrowImgSrc from '../../img/double-right-arrow.png';

export default {

  /* -------------------- EMITS -------------------------------------------- */
  /*
    Event
      Name
        'collapse-toggled'
      Description
        Emitted whenever the collapse is toggled with the new toggle value
      Usage
        v-on:collapse-toggled="onCollapseToggled"
        onCollapseToggled(collapsed) {
          this.collapsed = collapsed
        }
   */

  /* -------------------- PROPS -------------------------------------------- */
  props: {
    itemList: {
      // Array of item objects
      // See definition in SidebarContainer.vue
      type: Array,
      required: true
    },
    collapsed: {
      // If True, sidebar will be collapsed
      type: Boolean,
      default: false
    },
    width: {
      // Width (px) of uncollapsed
      type: Number,
      default: 250
    },
    widthCollapsed: {
      // Width (px) of collapsed
      type: Number,
      default: 50,
    },
  },

  /* -------------------- DATA --------------------------------------------- */
  data() {
    return {
      // Tracks collapsed state
      // Is updated by:
      //   - prop: collapsed
      //   - onToggleCollapse event listener
      isCollapsed: this.collapsed,

      // Tracks SidebarItem with open chilren, giving accordion affect
      openItemIndex: -1,

      // Images
      doubleLeftArrowImgSrc,
      doubleRightArrowImgSrc
    };
  },

  /* -------------------- WATCH -------------------------------------------- */
  watch: {
    collapsed(val) {
      this.isCollapsed = val;
    },
    isCollapsed(val) {
      this.$emit('collapse-toggled', val);
    }
  },

  /* -------------------- COMPONENTS --------------------------------------- */
  components: { SidebarItem, SidebarCollapsedItem, DropRightTransition, FadeTransition },

  /* -------------------- METHODS ------------------------------------------ */
  methods: {

    /**
     * Toggle the collapsed state
     */
    onToggleCollapse() {
      this.isCollapsed = !this.isCollapsed;
    },

    /**
     * Change the open item
     * @param {Number} index item index that was clicked
     */
    onItemClicked(index) {
      if (this.openItemIndex === index) {
        this.openItemIndex = -1;
      } else {
        this.openItemIndex = index;
      }
    }
  },
};

</script>

<style scoped lang="scss">
@import './Sidebar.scss';

</style>
