/*
 NAME
   Sidebar.scss

 DESCRIPTION
   Sidebar Styles
*/

/* ------------------------- SIDEBAR MENU ---------------------------------- */
.sm-sidebar-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: $zindex-dropdown; //From Boostrap
  height: 100%;
  @extend .shadow;
  @extend .bg-light;
}

.sm-sidebar-menu-expand-icon {
  @extend .smg-img-2;
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}

/* ------------------------- SIDEBAR ITEM ---------------------------------- */
.sm-sidebar-item {
  padding: 0;
  border: none;
  border-radius: 0 !important;
  overflow: auto;
  @extend .text-info;
  @extend .bg-light;

  &.collapsed {
    overflow: visible;
    position: relative;
  }
  &:hover {
    @extend .bg-info;
    @extend .text-light;
  }
  &[route-active] {
    background-color: rgba($info, .5) !important;
  }
  &[item-disabled] {
    opacity: .4;
  }
}

.sm-sidebar-item-title {
  &[route-active] {
    @extend .text-light;
    @extend .font-weight-bold;
  }
}

