body {
  font-family: Menlo, Consolas, monospace;
  color: #444;
}

.item {
  cursor: pointer;
}

.bold {
  font-weight: bold;
  color: #5cb85c;
}

ul {
  padding-left: 2em;
  line-height: 1.5em;
  list-style-type: none;
  color: #428bca;
}
