<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Smeckn Tree</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link type="text/css" rel="stylesheet" href="smTree.css" />
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">

    <!-- the demo root element -->
    <ul id="demo">
      <item class="item" :model="treeData">
      </item>
      <br>
      <br>
      View in parent: {{ view }}
    </ul>

  </div>
  <!-- Start running your app -->
  <script>
  // demo data
  let data = {
    name: 'SMeckn Navigation',
    icon: 'examination-blue.png',
    children: [
      { name: 'Add Profile', route: 'addProfileRoute' },
      { name: 'Twitter', icon: 'twitter.png', route: 'twitterRoute' },
      { name: 'Gmail', route: 'gmailRoute' },
      {
        name: 'Facebook',
        icon: 'facebook.png',
        children: [
          { name: 'Overview', route: 'facebookOverviewRoute' },
          { name: 'Manage', route: 'manageFacebookRoute' },
          {
            name: 'Posts',
            children: [
              { name: 'Analyze', route: 'analyzeFacebookPostRoute' },
              { name: 'Likes', route: 'likesFacebookPostRoute' },
              { name: 'Comments', route: 'commentsFacebookPostRoute' },
              { name: 'Sentiment', route: 'sentimentFacebookPostRoute' }
            ]
          }
        ]
      }
    ]
  }

  //** declare global event bus!
  const EventBus = new Vue();

  // define the item component
  Vue.component('item', {
    template:

      `<li>
      <div
        :class="{bold: isFolder}"
        @click="toggle">
        <span><img v-if="model.icon" style="height: 20px; width: 20px" :src="model.icon" />  {{ model.name }} </span>
        <span v-if="isFolder">[{{ open ? '-' : '+' }}]</span>
      </div>
      <ul v-show="open" v-if="isFolder">
        <item class="item" v-for="(model, index) in model.children" :key="index" :model="model"> </item>
      </ul>
    </li>`,

    props: {
      model: Object
    },
    data: function () {
      return {
        open: false

      }
    },
    computed: {
      isFolder: function () {
        return this.model.children &&
          this.model.children.length
      }
    },
    methods: {
      toggle: function () {
        if (this.isFolder) {
          this.open = !this.open
        }

        if (this.model.route) {
          EventBus.$emit('CHANGE_VIEW', this.model.route);
        }
      },
      // dpb disabled access to this function from template, by taking away double click action.  Could call programtically
      changeType: function () {
        if (!this.isFolder) {
          Vue.set(this.model, 'children', [])
          this.addChild()
          this.open = true
        }
      },
      // dpb disabled access to this function from template, though could call programtically
      addChild: function () {
        this.model.children.push({
          name: 'new stuff'
        })
      }
    },
    mounted: function () {
      if(this.model.name ==='SMeckn Navigation') {
        console.log("open initial tree")
        this.toggle()
      }

    }
  })

  // boot up the demo
  var demo = new Vue({
    el: '#demo',
    data: {
      treeData: data,
      view: 'initialValue'
    },
    mounted: function () {
      EventBus.$on('CHANGE_VIEW', view => {
        this.view = view
      })
    }
  })

  </script>
</body>

</html>
