<!--
  NAME
    SmecknModalTest.vue

  DESCRIPTION
    Test Smeckn Modal
 -->
<template>
  <b-container fluid>

    <!-- Show/Hide Buttons -->
    <div class="d-flex my-2 justify-content-center">
      <b-button class="btn-info mx-1" data-cy="showModalButton" v-on:click="onShowModal()">
        Open Modal
      </b-button>
      <b-button class="btn-info mx-1" data-cy="hideModalButton" v-on:click="onHideModal()">
        Hide Modal
      </b-button>
    </div>

    <!-- Sample Modal -->
    <SmecknModal ref="sm-modal" title="Modal Title">
      <template v-slot:default>
        <p data-cy="modalText">Hello, I'm a modal!</p>
      </template>
      <template v-slot:footer>
        <p data-cy="modalFooterText">Footer Text!</p>
      </template>
    </SmecknModal>
  </b-container>
</template>
<script>
export default {
  methods: {
    onShowModal: function () {
      this.$refs['sm-modal'].show();
    },
    onHideModal: function () {
      this.$refs['sm-modal'].hide();
    }
  }
};

</script>
