<!--
  NAME
    SmecknModal.vue

  DESCRIPTION
    Smeckn Themed Modal

  USAGE
    See SmecknModalTest.vue
-->
<template>
  <b-modal v-model="showModal" header-bg-variant="info" data-cy="smecknModal">
    <!-- Header -->
    <template v-slot:modal-header>
      <div class="d-flex align-items-baseline">
        <img v-bind:src="logoImage" class="d-inline-block smg-img-4 mr-1" alt="">
        <h4 class="d-inline-block text-light smg-text-logo">{{ title }}</h4>
      </div>
    </template>

    <!-- Body -->
    <template v-slot:default>
      <slot name="default"></slot>
    </template>

    <!-- Footer -->
    <template v-slot:modal-footer>
      <slot name="footer"></slot>
    </template>
  </b-modal>
</template>
<script>
import logoImage from '../../img/flaticon/examination-white.png';

export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Modal Title
    title: {
      type: String,
      required: true
    }
  },

  /* ---------------------- DATA ------------------------------------------- */
  data: function () {
    return {
      // If true, show modal
      showModal: false,

      // Images
      logoImage
    };
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    show: function () {
      this.showModal = true;
    },
    hide: function () {
      this.showModal = false;
    }
  }
};

</script>
