.qjslick-button {
  margin-top: 8px;
  margin-right: 8px;
  border-color: black;
  border-width: 1px;
  background: linear-gradient(maroon, indianred);
  color: white;
}

.qjslick-button:active {
  box-shadow: none;
  background-image: none;
  border-color: darkslategray;
}

.qjslick-button:active:focus {
  color: black;
  background-color: darkred;
}

.qjbigHeader {
  color: black;
  font-size: 500%;
}
