<!DOCTYPE html>
<html>

<head>
  <title>Vue Event Bussing</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <component-a></component-a>
    <component-b></component-b>
  </div>
  <script>
  // Event Bus
  const EventBus = new Vue();

  // Component A - Emitter
  Vue.component('component-a', {
    template: '<button v-on:click="emitMethod">Component A: Emit Inc Event</button>',
    methods: {
      emitMethod() {
        console.log('Emitting INC_EVENT');
        EventBus.$emit('INC_EVENT');
      }
    }
  });

  // Component B - Receiver
  Vue.component('component-b', {
    template: '<div>Component B Count: {{ count }}</div>',
    data: function() {
        return {
            count: 0
        }
    },
    mounted() {
      EventBus.$on('INC_EVENT', () => {
        console.log('Receiving INC_EVENT');
        this.count += 1;
        console.log(this.count);
      });
    }
  });

  let app = new Vue({
    el: '#app',
  })

  </script>
</body>

</html>
