<!--
  NAME
    SmecknDropDownTransitionTest.vue

  DESCRIPTION
    Test Smeckn Drop Down Transition
 -->
<template>
  <b-container fluid>
    <b-button class="btn-info my-2" data-cy="toggleDropDown" v-on:click="onToggleDropDown()">
      Toggle Drop Down
    </b-button>
    <SmecknDropDownTransition>
      <div v-if="show" class="border border-info">
        <p data-cy="dropDownParagraphs" v-for="i in dataList" v-bind:key="i">{{ i }}</p>
      </div>
    </SmecknDropDownTransition>
  </b-container>
</template>
<script>
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      show: true,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    dataList() {
      return [...Array(100).keys()];
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onToggleDropDown() {
      this.show = !this.show;
    }
  }
};

</script>
