html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
	background-image: url("https://s3.amazonaws.com/codecademy-content/projects/pocketbook/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: #e5e5e5;
}

.container {
  max-width: 940px;
}

.header {
	text-align: center;
	margin-bottom: 50px;
}

.header .container {
	padding: 30px;
	border-bottom: 1px solid #e5e5e5;
}

.header img {
	width: 60px;
}

.main {
	margin: 80px;
}

.main h1 {
	font-size: 30px;
	margin-bottom: 30px;
}

.main form .btn {
	background: rgba(0,240,190,0.25);
	border: none;
	color: #e5e5e5;
	margin-top: 20px;
}

.footer .container {
	padding: 20px;
	border-top: 1px solid #e5e5e5;
}

.footer li {
	display: inline-block;
	margin-right: 10px;
	font-size: 15px;
}