.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #17a2b8
;
  /*dpb */
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
  color: #17a2b8
;
  /* dpb */
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #17a2b8;
  /* dpb */
}

.smeckn-body {
  font-family: 'Questrial', arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  background-color: gainsboro;
  /* magic for fixed screen for header, content, footer */
  height: 100vh;
  display: flex;
  overflow-y: hidden;
  /* Direction of the items, can be row or column */
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.smeckn-nav-menu-panel {
  /* menu panel is 57px so go just beyond 2 px for the bottom border */
  background-color: white;
  height: 59px;
  border-bottom-style: solid;
  border-bottom-color: #17a2b8
;
  border-bottom-width: 2px;
  position: relative;
  z-index: 1000000;
}

.smeckn-content-panel {
  flex: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: azure;
}

.smeckn-footer-panel {
  /* match the border of the menu panel */
  border-top-style: solid;
  border-top-color: #17a2b8
;
  border-top-width: 2px;
  background-color: white;
  height: 38px;
}

.smeckn-splash-tagline {
  background-image: url(smecknBannerCropped.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 621px;
  border-bottom-style: solid;
  border-bottom-color: #17a2b8;
  border-bottom-width: 2px;
  font-size: 72px; 
  text-align: center;
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.9); /* make the text stand out with a black shadow */
}

.smeckn-123 {
  margin: 0 auto;
  background-color: #17a2b8;
  background-size: cover;
  max-height: 621px;
  font-size: 48px; 
  text-align: center;
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.9); /* make the text stand out with a black shadow */
}

.smeckn-splash-card {
  margin: 0 auto;
  margin-top: 20px;
  opacity: 0.95
}

.smeckn-splash-card-narrow {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 400px;
  opacity: 0.95
}

.smeckn-splash-brand {
  color: #17a2b8
;
  font-size: 48px !important;
  font-family: 'Shadows Into Light', cursive;
}

.smeckn-card-brand {
  color: #17a2b8
;
  font-size: 32px !important;
  font-family: 'Shadows Into Light', cursive;
}

.smeckn-navbar {
  color: #17a2b8 !important;
  font-size: 32px;
  font-family: Arial;
}

.smeckn-navbar a {
  color: #17a2b8
 !important;
}

.smeckn-smprofiles {
  width: 48px;
  height: 48px;
}

.smeckn-smemphasis {
 font-weight: bold;
 color: #17a2b8 !important;
}

.smeckn-key-features {
  margin: 10px;
  background-color: gainsboro;
}

.smeckn-card-title {
  color: black;
  font-size: 32px;
}

.smeckn-card-picture {
  width: 64px;
  height: 64px;
}

.smeckn-button {
  margin: 5px;
}

.smeckn-button-icon {
 width: 16px;
height: 16px;
}

.smeckn-profile-group-card {
  color: black !important font-size: 32px;
}
