<!DOCTYPE html>
<html>

<head>
  <title>Dynamic Component</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <button v-for="tab in tabs" v-bind:key="tab" v-bind:class="['tab-button', { active: currentTab === tab }]"
      v-on:click="currentTab = tab">{{ tab }}</button>

    <keep-alive>
      <component v-bind:is="currentTabComponent" class="tab"></component>
    </keep-alive>
  </div>
  <script>

  Vue.component('tab-posts', {
    template: '<div>Tab Posts</div>'
  })

  Vue.component('tab-archive', {
    template: '<div>Tab Archive</div>'
  })

  new Vue({
    el: '#app',
    data: {
      currentTab: 'Posts',
      tabs: ['Posts', 'Archive']
    },
    computed: {
      currentTabComponent: function () {
        return 'tab-' + this.currentTab.toLowerCase()
      }
    }
  })

  </script>
  <style>
  .tab-button {
    padding: 6px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f0f0f0;
    margin-bottom: -1px;
    margin-right: -1px;
  }

  .tab-button:hover {
    background: #e0e0e0;
  }

  .tab-button.active {
    background: #e0e0ff;
  }

  .tab {
    border: 1px solid #ccc;
    padding: 10px;
  }

  </style>
</body>

</html>
