<!DOCTYPE html>
<html>

<head>
  <title>reCAPTCHA Demo</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
</head>

<body>
  <!--
    Processing works as follows:
    Page Load
       0. Component loads, onMounted is called
          onMounted loops waiting for the recaptcha api to load
          When it loads renderRecaptcha is called
       1. renderRecaptcha renders the recaptcha componenet
    User Click
       0. User clicks submit button
       1. validateRecaptcha is called
          validateRecaptcha grecaptcha.execute
       2. grepcatcha.executes challenges the user
          When the challenge completes grepcatcha invokes submitToServer passing the token to submit
       3. submitToServer submits the token to the server
          The server checks the token validity and returns the result
          submitToServer updates the valid UI field
     -->
  <div id="app">
    <input v-model="email" />
    <br><br>
    <button v-on:click="validateRecaptcha">Submit</button>
    <div id="recaptcha" class="g-recaptcha"></div>
    <p>Valid: {{ valid }}</p>
  </div>

  <script>
  let app = new Vue({
    el: '#app',
    data: {
      // siteKey: '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI', // Always passes
      siteKey: '6Lc3f3IUAAAAAECDcuzo0_tkC75BylTThlIo8D_f',
      email: "bensson.james@gmail.com",
      valid: 'Unknown',
    },
    mounted: function () {
      this.initRecaptcha();
    },
    methods: {
      /**
       * Initialize recaptcha
       * Loop waiting for recpatcha to load
       */
      initRecaptcha: function () {
        setTimeout(() => {
          if (typeof grecaptcha === 'undefined') {
            this.initRecaptcha();
          } else {
            this.renderRecaptcha()
          }
        }, 100);
      },
      /**
       * Render recaptcha
       * Documentation here: https://developers.google.com/recaptcha/docs/invisible#js_api
       *  container          : id of container
       *  parameters
       *    siteKey          : your sitekey
       *    badge            : badge location bommonright, bottomleft, inline
       *    size             : (optional) invisible
       *    tabindex         : (optional) tabindex of page in site
       *    callback         : (optional) name of callback to invoke after challenge
       *    expired-callback : (optional)
       *    error-callback   : (optional)
       *    isolated         : (optional)
       */
      renderRecaptcha: function () {
        grecaptcha.render('recaptcha', {
          sitekey: this.siteKey,
          size: 'invisible',
          badge: 'bottomright',
          callback: this.submitToServer // Callback executed
        });
      },

      /**
       * Validate the recaptcha
       * Upon validation, submitToServer will be called
       */
      validateRecaptcha: function () {
        grecaptcha.execute();
      },

      /**
       * Submit our request to the server
       */
      submitToServer: function (token) {
        console.log(`Token:${token}`);
        let postData = {
          "recaptchaToken": token,
          "email": this.email
        }
        axios.post("http://localhost:5000/validate", postData)
          .then((resp) => {
            console.log(resp);
            this.valid = resp.data.valid;
          })
          .catch((err) => {
            console.log(err);
            this.valid = "Error!"
          });
      },
    }
  })

  </script>
</body>

</html>
