<!--
  NAME
    AddCreditCard2.vue

  DESCRIPTION
    Add a credit card

  STRIPE REFERENCE
    Stripe.js     : https://stripe.com/docs/stripe-js/reference
    Token Object  : https://stripe.com/docs/api/tokens/object

  USAGE
    <AddCreditCard
      v-if="showAddCreditCard"
      v-on:card-added="onCardAdded">
    </AddCreditCard>
 -->
<template>
  <SmecknContentSection title="Add New Card" data-cy="addNewCardSection">
    <div class="clearfix">
      <div ref="card"></div>
      <p class="text-left text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
      <b-button class="float-right mt-2" variant="info" v-on:click="addCard" data-cy="addCardButton">Add
        Card</b-button>
    </div>
    <SmecknSpinner v-if="loading"></SmecknSpinner>
  </SmecknContentSection>
</template>
<script>
import Vuex from 'vuex';

export default {

  /* ---------------------- EVENTS ----------------------------------------- */
  /*
    card-added
      Emits when another card is added
      Handle with callback onCardAdded()
   */

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Stripe Instance
      stripe: null,

      // Stripe elements instance
      elements: null,

      // Stripe Card Instance
      card: null,

      // Error message
      errorMessage: '',

      // If true, loading
      loading: false,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('account', ['waAccount'])
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    this.stripe = window.Stripe(process.env.VUE_APP_STRIPE_PUBLISHABLE_KEY); /* eslint-disable-line */
    this.elements = this.stripe.elements();
    let classes = {
      focus: 'focus',
      empty: 'empty',
      invalid: 'invalid',
    };
    let style = {
      base: {
        'color': this.$g.ui.colors.secondary,
        'fontWeight': 600,
        'fontSmoothing': 'antialiased',
        'fontSize': '1.125rem',
        ':focus': { color: this.$g.ui.colors.dark },
        '::placeholder': { color: this.$g.ui.colors.dark },
        ':focus::placeholder': { color: this.$g.ui.colors.dark },
      },
      complete: {
        color: this.$g.ui.colors.success,
        fontSmoothing: 'antialiased',
      },
      invalid: {
        'color': this.$g.ui.colors.danger,
        ':focus': { color: this.$g.ui.colors.danger },
        '::placeholder': { color: this.$g.ui.colors.danger },
      }
    };
    this.card = this.elements.create('card', {
      style,
      classes,
      hidePostalCode: false,
      iconStyle: 'solid',
      hideIcon: false
    });
    this.card.mount(this.$refs.card);
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    async addCard() {
      try {
        this.loading = true;
        this.errorMessage = '';
        let token = await this.getStripeToken();
        await this.$g.store.dispatch('creditCard/create', { token: token.id });
        this.$emit('card-added');
        this.card.clear();
      } catch (error) {
        this.errorMessage = error.message;
      } finally {
        this.loading = false;
      }
    },
    async getStripeToken() {
      let { token, error } = await this.stripe.createToken(this.card);
      if (error) {
        throw new Error(error.message);
      }
      return token;
    }
  },
};

</script>
