<!--
  NAME
    CheckoutReviewOrderTab.vue

  DESCRIPTION
    Review order
 -->
<template>
  <b-container v-if="waCart" fluid>
    <!-- Charges -->
    <SmecknContentSection title="Charges" data-cy="chargesSection">
      <b-table striped hover outlined stacked="sm" v-bind:items="waCart.cartModel.cartCostModelList"
        v-bind:fields="fields" data-cy="costTable">
      </b-table>
    </SmecknContentSection>

    <!-- Total Cost -->
    <SmecknContentSection title="Total Cost" data-cy="totalCostSection">
      <h5 class="text-right font-weight-bold mr-3">{{ totalCost }}</h5>
    </SmecknContentSection>

    <!-- Credit Card -->
    <SmecknContentSection v-if="showCreditCard" title="Credit Card" data-cy="creditCardSection">
      <div class="clearfix mr-2">
        <div class="float-right">
          <img v-bind:src="getCreditCardImage(waCartCreditCard.brand)" class="smg-img-5 d-inline-block mr-2"
            alt="">
          {{ waCartCreditCard.brand }} ending in {{ waCartCreditCard.last4 }}
        </div>
      </div>
    </SmecknContentSection>

    <!-- Refund Policy -->
    <SmecknContentSection title="Refund Policy" data-cy="refundPolicySection">
      <div class="clearfix mr-2">
        <b-form-checkbox class="float-right text-left" v-model="refundPolicyChecked"
          data-cy="refundPolicyCheckbox">
          By checking this box I agree to Smeckn's <b-link v-on:click="onRefundPolicy"
            class="badge badge-info mx-1" data-cy="refundPolicyLink">Refund Policy
          </b-link>
        </b-form-checkbox>
      </div>
    </SmecknContentSection>

    <!-- Error Message -->
    <p class="text-right text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
  </b-container>

</template>
<script>
import _ from 'lodash';
import Vuex from 'vuex';
import CheckTabMixin from './CheckoutTabMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [CheckTabMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      refundPolicyChecked: false,
      errorMessage: '',
      fields: [{
          key: 'unitType',
          label: 'Unit Type',
          formatter: (value) => {
            // 'TEXT_ANALYSIS' => 'Text Analysis'
            let rval = value.replace(/_/g, ' ');
            rval = _.toLower(rval);
            return _.startCase(rval);
          },
        },
        {
          key: 'count',
          label: 'Quantity',
        },
        {
          key: 'costAmount',
          label: 'Cost',
          formatter: (value) => {
            return this.getFormattedCurrency(value, this.waCart.cartModel.bCurrencyCode);
          },
        },
      ],
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages']),
    ...Vuex.mapState('cart', ['waCart', 'waCartCreditCard']),
    ...Vuex.mapGetters('creditCard', ['getCreditCardImage' ]),
    ...Vuex.mapGetters('charge', ['getFormattedCurrency' ]),
    totalCost() {
      return this.getFormattedCurrency(this.waCart.cartModel.totalCost, this.waCart.cartModel.bCurrencyCode);
    },
    showCreditCard() {
      return this.waCartCreditCard !== null;
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    onRefundPolicy() {
      window.open(this.$g.userGuide.getRefundPolicyURL());
    },

    async onBeforeTabSwitch() {
      let rval = false;
      this.errorMessage = '';
      if (!this.refundPolicyChecked) {
        this.errorMessage = this.messages.CLICK_REFUND_POLICY;
      } else {
        try {
          await this.$g.store.dispatch('charge/create', {
            cartJWT: this.waCart.cartJWT,
            waCreditCard: this.waCartCreditCard
          });
          rval = true;
        } catch (error) {
          this.errorMessage = error.message;
        }
      }
      return rval;
    }
  }

};

</script>
