<!--
  NAME
    CheckoutSelectUnitsTab.vue

  DESCRIPTION
    Checkout Component to Select Units to Purchase
 -->
<template>
  <SmecknContentSection title="Select Units">
    <!-- Table -->
    <b-table striped hover outlined responsive="lg" stacked="sm" v-bind:items="waUnitPriceList"
      v-bind:fields="fields" v-bind:busy="loading" data-cy="selectUnitsTable">

      <!-- Purchase Counter -->
      <template v-slot:cell(nPurchaseUnits)="data">
        <div class="d-flex justify-content-center w-100">
          <SmecknNumberIncrementer v-bind:start="0" v-bind:minAboveStart="data.item.minPurchaseCount"
            v-bind:increment="data.item.purchaseIncrement" v-on:update="onUpdateWACartUnitCountList(data.item.unitType, $event)">
          </SmecknNumberIncrementer>
        </div>
      </template>

      <!-- Loading -->
      <div slot="table-busy" class="text-center my-2">
        <SmecknSpinner></SmecknSpinner>
      </div>
    </b-table>

    <p class="text-left text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>

  </SmecknContentSection>
</template>
<script>
import _ from 'lodash';
import Vuex from 'vuex';
import CheckTabMixin from './CheckoutTabMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [CheckTabMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      loading: false,
      waCartUnitCountList: [],
      errorMessage: '',
      fields: [{
          key: 'unitType',
          label: 'Unit Type',
          tdAttr: { 'data-cy': 'unitTypeColumn' },
          formatter: (value) => {
            // 'TEXT_ANALYSIS' => 'Text Analysis'
            let rval = value.replace(/_/g, ' ');
            rval = _.toLower(rval);
            return _.startCase(rval);
          },
        },
        {
          key: 'unitCost',
          label: 'Price Per Unit',
          tdAttr: { 'data-cy': 'unitCostColumn' },
          formatter: (value, key, item) => {
            return this.getFormattedCurrency(value, item.bCurrencyCode);
          },
        },
        {
          key: 'nPurchaseUnits',
          label: 'Quantity',
          class: ['smg-mw-5'],
          tdAttr: { 'data-cy': 'nPurchaseUnitsColumn' }
        }
      ],
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages', ]),
    ...Vuex.mapState('unit', ['waUnitPriceList']),
    ...Vuex.mapGetters('unit', ['getWAUnitBalanceByType']),
    ...Vuex.mapGetters('charge', ['getFormattedCurrency']),
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted: function () {
    this.loadData();
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Load all data needed to render the screen
     */
    async loadData() {
      this.loading = true;
      try {
        await this.$g.store.dispatch('unit/getPrices');
      } finally {
        this.loading = false;
      }
    },

    /**
     * Update the cart based on user preferences
     * First remove any existing unitType, then add it back in
     * @param {String} unitType
     * @param  {Number} value
     */
    onUpdateWACartUnitCountList(unitType, value) {
      this.errorMessage = '';
      _.remove(this.waCartUnitCountList, (o) => { return o.unitType === unitType; });
      if (value > 0) {
        this.waCartUnitCountList.push({
          unitType,
          count: value
        });
      }
    },

    /**
     * Verify current state before moving on
     * @return {Promise|Boolean}
     */
    async onBeforeTabSwitch() {
      let rval = false;
      if (this.waCartUnitCountList.length === 0) {
        this.errorMessage = this.messages.SPECIFY_UNITS_TO_PURCHASE;
        rval = false;
      } else {
        rval = new Promise(async (resolve, reject) => {
          try {
            await this.$g.store.dispatch('cart/create', { cartUnitCountList: this.waCartUnitCountList });
            resolve(true);
          } catch (err) {
            this.errorMessage = err.message;
            reject(false);
          }
        });
      }
      return rval;
    }

  } /* End methods */
};

</script>
