<!--
  NAME
    CheckoutSelectPaymentMethodTab.vue

  DESCRIPTION
    Select Payment method for order
 -->
<template>
  <b-container fluid>
    <!-- Select Card -->
    <SmecknContentSection v-if="showSelectCard" title="Select Card" data-cy="selectCardSection">
      <!-- List all available cards -->
      <b-list-group class="text-left" data-cy="creditCardList">
        <b-list-group-item button v-for="(waCreditCard, index) in waCreditCardList"
          v-bind:key="waCreditCard.id" v-on:click="onCreditCardClicked(waCreditCard)"
          data-cy="creditCardListItem">

          <div class="clearfix">
            <div class="float-left">
              <img v-bind:src="getCreditCardImage(waCreditCard.brand)" class="smg-img-5 d-inline-block mr-2"
                alt="">
              {{ waCreditCard.brand }} ending in {{ waCreditCard.last4 }}
            </div>
            <div class="float-right">
              <b-badge v-if="index === defaultCreditCardIndex" class="bg-secondary text-light m-1"
                data-cy="defaultCreditCardBadge">Default</b-badge>
              <b-badge v-if="index === activeCreditCardIndex" class="bg-info text-light m-1"
                data-cy="selectedCreditCardBadge">Selected</b-badge>
            </div>
          </div>
        </b-list-group-item>
      </b-list-group>

      <!-- Loading -->
      <SmecknSpinner v-if="loading" class="my-2"></SmecknSpinner>
    </SmecknContentSection>

    <!-- Add Card -->
    <AddCreditCard v-if="showAddCreditCard" v-on:card-added="onCardAdded"></AddCreditCard>
    <p class="text-left text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
  </b-container>
</template>
<script>
import Vuex from 'vuex';
import _ from 'lodash';
import CheckTabMixin from './CheckoutTabMixin.js';
import AddCreditCard from './AddCreditCard.vue';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [CheckTabMixin],

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { AddCreditCard },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      loading: false,
      activeWACreditCard: null,
      errorMessage: ''
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages']),
    ...Vuex.mapState('creditCard', ['waCreditCardList', 'waDefaultCreditCard']),
    ...Vuex.mapGetters('creditCard', ['getCreditCardImage', 'defaultCreditCardIndex']),
    ...Vuex.mapState('constant', ['waConstants']),
    showSelectCard() {
      return this.waCreditCardList.length > 0;
    },
    showAddCreditCard() {
      return this.waCreditCardList.length < this.waConstants.MAX_ACCOUNT_CREDIT_CARDS;
    },
    activeCreditCardIndex() {
      let rval = _.findIndex(this.waCreditCardList, (waCreditCard) => {
        try {
          return waCreditCard.id === this.activeWACreditCard.id;
        } catch (error) {
          return false;
        }
      });
      return rval;
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    this.loadData();
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Load data for component
     */
    async loadData() {
      try {
        this.loading = true;
        await this.$g.store.dispatch('creditCard/list');
        await this.$g.store.dispatch('creditCard/getDefault');
        this.activeWACreditCard = this.waDefaultCreditCard;
      } finally {
        this.loading = false;
      }
    },

    async onCardAdded() {
      await this.loadData();
    },

    /**
     * Handle card being clicked
     * @param {Object} waCreditCard Credit card that was just clicked
     */
    onCreditCardClicked(waCreditCard) {
      this.errorMessage = '';
      this.activeWACreditCard = waCreditCard;
      this.$g.store.commit('cart/setWACartCreditCard', this.activeWACreditCard);
    },

    /**
     * Verify current state before moving on
     * @return {Promise|Boolean}
     */
    onBeforeTabSwitch() {
      let rval = false;
      if (this.waCreditCardList.length === 0 || this.activeWACreditCard === null) {
        this.errorMessage = this.messages.SPECIFY_A_CREDIT_CARD;
      } else {
        this.$g.store.commit('cart/setWACartCreditCard', this.activeWACreditCard);
        rval = true;
      }
      return rval;
    }
  }

};

</script>
