<!--
  NAME
    Checkout.vue

  DESCRIPTION
    Checkout Home Component

    Checkout is composed of a wizard with 4 stages:

      1. Select Units
         Here the user selects the analysis unit quantities that they desire.
         When the user clicks "next", the application creates a server waCart object
         which holds the purchase metadata.

      2. Verify Cost
         Component displays the waCart object for the user. This shows the user
         each charge and the total cost.

      3. Select Payment Method
         Here the user selects a payment method, optionally adding new cards.

      4. Review Order
         Here the user reviews the order (waCart and payment method)
         When ready to buy, the user clicks the "Complete Purchase" button which
         executes the purchase.

  TABS
    Each ComponentTab uses the CheckoutTabMixin.

  FORM-WIZARD
    This component leverages vue-form-wizard
    https://binarcode.github.io/vue-form-wizard/#/
 -->
<template>
  <SmecknLogoCard title="Purchase Analysis Units" class="px-0 px-sm-2">
    <!-- Form wizard -->
    <form-wizard title="" subtitle="" shape="circle" v-bind:color="infoColor"
      nextButtonText="Next" backButtonText="Back" finishButtonText="Complete Purchase"
      stepSize="sm" v-bind:start-index="currentTabIndex" v-on:on-change="onTabChange"
      v-on:on-loading="onLoadingChange" v-on:on-complete="onComplete" data-cy="purchaseFormWizard">

      <!-- Tabs. Note: when ref is used with v-for, refs are placed in an array -->
      <tab-content v-for="(tab) in tabs" v-bind:key="tab.title" v-bind:title="tab.title"
        v-bind:before-change="onBeforeTabSwitch" class="p-0">
        <component ref="tab" v-bind:is="tab.component" v-bind:title="tab.title"
          v-bind:data-cy="tab.dataCY"></component>
      </tab-content>

      <!-- Loading -->
      <SmecknSpinner v-if="loading"></SmecknSpinner>

    </form-wizard>
  </SmecknLogoCard>
</template>
<script>
import _ from 'lodash';
import CheckoutSelectUnitsTab from './CheckoutSelectUnitsTab';
import CheckoutVerifyCostTab from './CheckoutVerifyCostTab';
import CheckoutSelectPaymentMethodTab from './CheckoutSelectPaymentMethodTab';
import CheckoutReviewOrderTab from './CheckoutReviewOrderTab';

export default {

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: {
    CheckoutSelectUnitsTab,
    CheckoutVerifyCostTab,
    CheckoutSelectPaymentMethodTab,
    CheckoutReviewOrderTab,
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      currentTabIndex: 0,
      loading: false,
      tabs: [{
        title: 'Select Units',
        component: CheckoutSelectUnitsTab,
        dataCY: 'selectUnitsTab',
      }, {
        title: 'Verify Cost',
        component: CheckoutVerifyCostTab,
        dataCY: 'verifyCostTab',
      }, {
        title: 'Select Payment Method',
        component: CheckoutSelectPaymentMethodTab,
        dataCY: 'selectPaymentMethodTab',
      }, {
        title: 'Review Order',
        component: CheckoutReviewOrderTab,
        dataCY: 'reviewOrderTab',
      }]
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    infoColor() {
      return this.$g.ui.colors.info;
    },
  },


  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    onTabChange(prevIndex, nextIndex) {
      this.currentTabIndex = nextIndex;
    },

    onLoadingChange(loading) {
      this.loading = loading;
    },

    /**
     * Check with the current tab to verify if the it is OK to switch
     * @return {Boolean|Promise}
     */
    async onBeforeTabSwitch() {
      // Using v-for with ref="tab" creates a this.$refs.tab array.
      // However, the order of this.$refs.tab does not always match this.tabs
      // Therefore, we need to explicitly search for our matching component
      // based on matching title.
      let component = _.find(this.$refs.tab, (comp) => {
        return comp.title === this.tabs[this.currentTabIndex].title;
      });
      return await component.onBeforeTabSwitch();
    },

    onComplete() {
      this.$g.router.push({ name: 'rnPaymentThankYou' });
    }
  }
};

</script>
