<!--
  NAME
    CheckoutVerifyCostTab.vue

  DESCRIPTION
    Verify cost before making purchase
 -->
<template>
  <b-container v-if="waCart" fluid>
    <!-- Charges -->
    <SmecknContentSection title="Charges" data-cy="chargeContentSection">
      <b-table striped hover outlined stacked="sm" v-bind:items="waCart.cartModel.cartCostModelList"
        v-bind:fields="fields" data-cy="costTable">
      </b-table>
    </SmecknContentSection>

    <!-- Total Cost -->
    <SmecknContentSection title="Total Cost" data-cy="totalCostContentSection">
      <h5 class="text-right font-weight-bold mr-3">{{ totalCost }}</h5>
    </SmecknContentSection>
  </b-container>
</template>
<script>
import _ from 'lodash';
import Vuex from 'vuex';
import CheckTabMixin from './CheckoutTabMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [CheckTabMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      fields: [{
          key: 'unitType',
          label: 'Unit Type',
          formatter: (value) => {
            // 'TEXT_ANALYSIS' => 'Text Analysis'
            let rval = value.replace(/_/g, ' ');
            rval = _.toLower(rval);
            return _.startCase(rval);
          },
          tdAttr: { 'data-cy': 'unitTypeColumn' }
        },
        {
          key: 'count',
          label: 'Quantity',
          tdAttr: { 'data-cy': 'countColumn' }
        },
        {
          key: 'costAmount',
          label: 'Cost',
          tdAttr: { 'data-cy': 'costColumn' },
          formatter: (value, key, item) => {
            return this.getFormattedCurrency(value, this.waCart.cartModel.bCurrencyCode);
          },
        }
      ],
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('cart', ['waCart']),
    ...Vuex.mapGetters('charge', ['getFormattedCurrency']),
    totalCost() {
      return this.getFormattedCurrency(this.waCart.cartModel.totalCost, this.waCart.cartModel.bCurrencyCode);
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    async onBeforeTabSwitch() {
      return true;
    }
  }

};

</script>
