<!--
  NAME
    CreditCards.vue

  DESCRIPTION
    Manage credit cards
 -->
<template>
  <SmecknLogoCard title="Credit Cards">

    <template>
      <!-- List all available cards -->
      <SmecknContentSection title="Available Cards" data-cy="availableCardsSection">
        <b-list-group class="text-left">
          <b-list-group-item button v-for="(waCreditCard, index) in waCreditCardList"
            v-bind:key="waCreditCard.id" v-on:click="onCreditCardClicked(waCreditCard)"
            data-cy="creditCardListItem">

            <div class="clearfix">
              <div class="float-left">
                <img v-bind:src="getCreditCardImage(waCreditCard.brand)" class="smg-img-5 d-inline-block mr-2"
                  alt="">
                {{ waCreditCard.brand }} ending in {{ waCreditCard.last4 }}
              </div>
              <div class="float-right">
                <b-badge v-if="index === defaultCreditCardIndex" class="bg-secondary text-light m-1" data-cy="defaultBadge">Default</b-badge>
                <b-button v-if="index !== defaultCreditCardIndex" class="btn-info btn-sm mx-1"
                  v-on:click="onSetDefaultCard(waCreditCard)" data-cy="setDefaultButton">Set
                  as Default</b-button>
                <b-button class="btn-danger btn-sm mx-1" v-on:click="onDeleteCard(waCreditCard)"
                  data-cy="deleteButton">Delete</b-button>
              </div>
            </div>
          </b-list-group-item>
          <p v-if="noCards" data-cy="noCardsAdded">No cards have been added.</p>
        </b-list-group>
      </SmecknContentSection>

      <!-- Loading -->
      <SmecknSpinner v-if="loading"></SmecknSpinner>

      <!-- Add Card -->
      <AddCreditCard v-if="showAddCreditCard" v-on:card-added="onCardAdded"></AddCreditCard>
    </template>
  </SmecknLogoCard>
</template>
<script>
import Vuex from 'vuex';
import _ from 'lodash';
import AddCreditCard from './AddCreditCard.vue';

export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {},

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      loading: false,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('creditCard', [
      'waCreditCardList',
      'waDefaultCreditCard'
    ]),
    ...Vuex.mapGetters('creditCard', [
      'getCreditCardImage',
      'defaultCreditCardIndex'
    ]),
    ...Vuex.mapState('constant', [
      'waConstants',
    ]),
    noCards() {
      return this.waCreditCardList.length === 0;
    },
    showAddCreditCard() {
      return this.waCreditCardList.length < this.waConstants.MAX_ACCOUNT_CREDIT_CARDS;
    }
  },

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: {
    AddCreditCard
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    this.loadData();
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Load data for component
     */
    async loadData() {
      try {
        this.loading = true;
        await this.$g.store.dispatch('creditCard/list');
        await this.$g.store.dispatch('creditCard/getDefault');
      } finally {
        this.loading = false;
      }
    },

    async onCardAdded() {
      await this.loadData();
    },

    async onDeleteCard(waCreditCard) {
      try {
        this.loading = true;
        await this.$g.store.dispatch('creditCard/delete', { waCreditCard });
      } finally {
        await this.loadData();
      }
    },

    async onSetDefaultCard(waCreditCard) {
      try {
        this.loading = true;
        await this.$g.store.dispatch('creditCard/setDefault', { waCreditCard });
      } finally {
        await this.loadData();
      }
    },

    /**
     * Handle card being clicked
     * @param {Object} waCreditCard Credit card that was just clicked
     */
    onCreditCardClicked(waCreditCard) {
      this.errorMessage = '';
      this.activeWACreditCard = waCreditCard;
      this.$g.store.commit('cart/setWACartCreditCard', this.activeWACreditCard);
    },
  }

};

</script>
