<!--
  NAME
    PaymentHistory.vue

  DESCRIPTION
    View history of all payments

  NOTE
    This screen assumes that the GET charge limit=100 will cause a scrollbar to appear
 -->
<template>
  <SmecknLogoCard title="Payment History">
    <SmecknContentSection title="Payments">

      <!-- Scrolling Container -->
      <SmecknScrollContainer class="sm-scroll-container" v-on:near-end="getMoreCharges">

        <!-- Table of charges -->
        <b-table v-if="showChargeTable" striped hover outlined responsive="lg"
          v-bind:items="waChargeList" v-bind:fields="fields" class="text-left" data-cy="chargeTable">
        </b-table>

        <!-- No charges -->
        <p v-else-if="showNoCharges" data-cy="noChargesPara" class="text-left">No
          payments have been made.</p>

        <!-- Error message -->
        <p class="text-danger text-left my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>

        <!--Loading -->
        <SmecknSpinner v-if="loading"></SmecknSpinner>

      </SmecknScrollContainer>

    </SmecknContentSection>
  </SmecknLogoCard>
</template>
<script>
import Vuex from 'vuex';
import _ from 'lodash';
import moment from 'moment';
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // True if loading data
      loading: false,

      // Error message
      errorMessage: '',

      // Charge data
      waChargeList: [],
      waChargeNextCursor: '',

      // Table Fields
      fields: [{
          key: 'createdDate',
          label: 'Date',
          class: ['smg-mw-5'],
          tdAttr: { 'data-cy': 'createDateColumn' },
          formatter: (value) => {
            let m = moment.utc(value);
            return m.local().format('LLLL');
          },
        },
        {
          key: 'description',
          label: 'Description',
          class: ['smg-mw-5'],
          tdAttr: { 'data-cy': 'descriptionColumn' }
        },
        {
          key: 'amount',
          label: 'Cost',
          class: ['smg-mw-4'],
          tdAttr: { 'data-cy': 'costColumn' },
          formatter: (value, key, item) => {
            return this.getFormattedCurrency(value, item.bCurrencyCode);
          },
        },
      ],
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('charge', ['getFormattedCurrency']),
    showChargeTable() {
      return this.waChargeList.length > 0;
    },
    showNoCharges() {
      return !this.loading && this.waChargeList.length === 0;
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted: function () {
    this.loadData();
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Load all data needed to render the screen
     */
    async loadData() {
      try {
        this.loading = true;
        this.errorMessage = '';
        let waChargeData = await this.$g.store.dispatch('charge/list');
        this.waChargeList = waChargeData.data;
        this.waChargeNextCursor = waChargeData.nextCursor;
      } catch (err) {
        this.errorMessage = err.message;
      } finally {
        this.loading = false;
      }
    },

    /**
     * Retrieve more charges from the server
     * Uniqueness Note:
     *   Need to use lodash _.uniqBy function to remove duplicates from the waChargeList.
     *   onScrollNearEnd can fire multiple times before waChargeNextCursor is updated
     *   which would cause duplicates to be added to the waChargeList
     */
    getMoreCharges: _.debounce(async function () {
      if (this.waChargeNextCursor !== '') {
        try {
          this.loading = true;
          this.errorMessage = '';
          let waChargeData = await this.$g.store.dispatch('charge/list', { cursor: this.waChargeNextCursor });
          this.waChargeList = this.waChargeList.concat(waChargeData.data);
          this.waChargeList = _.uniqBy(this.waChargeList, 'id');
          this.waChargeNextCursor = waChargeData.nextCursor;
        } catch (err) {
          this.errorMessage = err.message;
        } finally {
          this.loading = false;
        }
      }
    }, 500 /* debounce ms */) /* eslint-disable-line */
  }
};

</script>

<style scoped lang="scss">
.sm-scroll-container {
  display: block;
  max-height: 80vh;
  overflow: auto;
}

</style>
