<!--
  NAME
    PaymentThankYou.vue

  DESCRIPTION
    Say thank you for making an order
 -->
<template>
  <SmecknLogoCard title="Thank You!">
    <SmecknContentSection>
      <p>Thank you for your order!</p>
      <p>Click
        <b-link v-on:click="onAnalysisBalance" data-cy="analysisBalanceLink">
          here
        </b-link>
        to view your new analysis balance.
      </p>
      <p>Happy Analyzing!</p>
    </SmecknContentSection>
  </SmecknLogoCard>
</template>
<script>
export default {

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onAnalysisBalance() {
      this.$g.router.push({ name: 'rnUnitBalance' });
    },
  }
};

</script>
