<!--
  NAME
    UnitBalance.vue

  DESCRIPTION
    Display analysis unit balance
 -->
<template>
  <SmecknLogoCard title="Analysis Unit Balance">

    <!-- Table -->
    <SmecknContentSection>
      <b-table striped hover v-bind:items="waUnitBalanceList" v-bind:fields="fields"
        v-bind:busy="loading" data-cy="balanceTable">

        <!-- Loading -->
        <div slot="table-busy" class="text-center my-2">
          <SmecknSpinner></SmecknSpinner>
        </div>
      </b-table>
    </SmecknContentSection>

  </SmecknLogoCard>
</template>
<script>
import Vuex from 'vuex';
import _ from 'lodash';

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      loading: false,
      fields: [{
          key: 'unitType',
          label: 'Unit Type',
          sortable: false,
          formatter: (value) => {
            // 'TEXT_ANALYSIS' => 'Text Analysis'
            let rval = value.replace(/_/g, ' ');
            rval = _.toLower(rval);
            return _.startCase(rval);
          },
          tdAttr: { 'data-cy': 'unitTypeColumn' }
        },
        {
          key: 'nAvailable',
          label: 'Quantity Available',
          sortable: false,
          tdAttr: { 'data-cy': 'nAvailableColumn' }
        }
      ],
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('unit', ['waUnitBalanceList'])
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted: function () {
    this.loadData();
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    async loadData() {
      try {
        this.loading = true;
        await this.$g.store.dispatch('unit/getBalances');
      } finally {
        this.loading = false;
      }
    },
  }
};

</script>
