<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Basic Scroll Table</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link rel="stylesheet" href="basicScrollTable.css">
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <!-- Notes:  responsive key word makes table horizonally scrollable if necessary, :items defines function to get data from -->
  <div id="app">
    <b-container>
      <br>
      <div @scroll="handleScroll" class="scrollWindow" v-bind:style="{height: scrollWindowHeight + 'px'}">
        <b-table ref="mytable" striped bordered caption-top hover responsive :items="getDataFromServer"
          :fields="fields" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc"
          @sort-changed="sortingChanged">
          <template slot="table-caption">
            {{tableCaption}}
          </template>
        </b-table>
      </div>
      <p>
        Sorting By: <b>{{ sortBy }}</b>,
        Sort Direction: <b>{{ sortDesc ? 'Descending' : 'Ascending' }}</b>
      </p>
    </b-container>

  </div>
  <!-- Start running your app -->
  <script>
  // Simulation data for simulating getting more data from the server
  const staticItems = [
    { isActive: true, age: 10, first_name: 'Dickerson', last_name: 'Macdonald' },
    { isActive: false, age: 20, first_name: 'Larsen', last_name: 'Shaw' },
    { isActive: false, age: 30, first_name: 'Geneva', last_name: 'Wilson' },
    { isActive: true, age: 40, first_name: 'Jami', last_name: 'Carney' }
  ]
  const staticItems2 = [
    { isActive: true, age: 81, first_name: 'Ralph', last_name: 'Whatever' },
    { isActive: false, age: 71, first_name: 'Mary', last_name: 'Banana' },
    { isActive: false, age: 61, first_name: 'Bob', last_name: 'Demo' },
    { isActive: true, age: 51, first_name: 'James', last_name: 'William' }
  ]
  var getStaticItems = true // alternate between staticItems and staticItems2

  const staticFields = [
    { key: 'last_name', sortable: true },
    { key: 'first_name', sortable: false },
    { key: 'age', sortable: true },
    { key: 'isActive', sortable: false }
  ]

  // Keep track of number of trips to the server
  var tripToServer = 0

  // the array of data, note this will be appended to indefinitely with no purging of contents!
  var theItems = []

  window.app = new Vue({
    el: "#app",
    data: {
      scrollWindowHeight: 100, //default pixel height, overridden on mount
      scrollPosition: 0,
      getMoreContent: false,
      tableCaption: "Smeckn Table",
      fields: [],
      sortBy: '',
      sortDesc: true
    },
    methods: {
      getDataFromServer(ctx) {
        // Simulate getting more data from server
        if (getStaticItems) {
          getStaticItems = false;
          theItems.push(...staticItems)
        } else {
          getStaticItems = true;
          theItems.push(...staticItems2)
        }
        console.log(++tripToServer + ' Trip to Server; ' + `the new ItemsLength= ${theItems.length}`)
        return theItems
      },
      handleScroll: function (e) {
        var currentScrollPosition = e.srcElement.scrollTop;
        if (currentScrollPosition > this.scrollPosition) {
          console.log("Scrolling down");
        } else console.log("Scrolling up")
        this.scrollPosition = currentScrollPosition;

        var sh = e.srcElement.scrollHeight; // always 464, regardless of height of div
        var st = e.srcElement.scrollTop; // where at from top (0 -> 465-oh)
        var oh = e.srcElement.offsetHeight; // px height of div (prop)
        var currentPosition = sh - st - oh;
        var nearBottom = (sh - oh) * .1; // at 90% of height, % to trigger getting data
        var resetFlag = (sh - oh) * .2; // at 80% of height, % to trigger resetting flag to get data
        var atResetPercent = (sh - oh) * .3; // at 70% of height, where to reset scroll cursor after getting more content
        if (currentPosition < nearBottom) {
          this.getMoreContent = true;
        }
        if (currentPosition > resetFlag) {
          this.getMoreContent = false;
        }
        if (this.getMoreContent) {
          e.srcElement.scrollTop = atResetPercent
          this.$refs.mytable.refresh()
        }
      },
      sortingChanged(ctx) {
        // call into server with context, use prop no-local-sorting to disable local sorting
        // ctx.sortBy   ==> Field key for sorting by (or null for no sorting)
        // ctx.sortDesc ==> true if sorting descending, false otherwise
        console.log("Call Server to Sort:  sortBy: " + ctx.sortBy + " sortDesc: " + ctx.sortDesc)
      }
    },
    // when function is loaded, set up local variables via props
    mounted: function (e) {

      // dynamically set height of scroll window upon initialization via prop
      this.scrollWindowHeight = 450

      // using table id prop, make call to server to get metadata for table, metadata includes tableCaption, fields in table, defaults for sortBy, sortDesc (may be first field and height of scroll window)
      console.log('Call Server to get table metadata')
      this.tableCaption = 'My Amazing Table'
      this.fields = staticFields
      this.sortBy = 'last_name'
      this.sortDesc = true
    }
  })

  </script>
</body>

</html>
