/*global variables for colors */
:root {
  /* bootstrap button, nice blue */
  --main-border-color: #17a2b8;
}

/* Default styles for every table in Smeckn */
.scrollWindow {
  height: 200px;
  overflow-y: scroll;
  position: relative;
  border: 1px solid var(--main-border-color);
}
