<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Drilldown Table</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <b-container>
      <b-table :items="analyzedItems" :fields="analyzedFields">
        <template slot="show_details" slot-scope="row">
          <!-- we use @click.stop here to prevent emitting of a 'row-clicked' event  -->
          <b-button size="sm" @click.stop="row.toggleDetails" class="mr-2">
            {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
          </b-button>
        </template>
        <template slot="row-details" slot-scope="row">
          <b-card>
            <b-row class="mb-2">
              <b-col sm="3" class="text-sm-right"><b>Number of Likes:</b></b-col>
              <b-col>15</b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col sm="3" class="text-sm-right"><b>Number of Comments:</b></b-col>
              <b-col>21</b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col sm="3" class="text-sm-right"><b>Number of Reactions:</b></b-col>
              <b-col>42</b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col sm="3" class="text-sm-right"><b>Create Date:</b></b-col>
              <b-col>{{ row.item.Date }}</b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col sm="3" class="text-sm-right"><b>Update Date:</b></b-col>
              <b-col>{{ row.item.Date }}</b-col>
            </b-row>
          </b-card>
        </template>
      </b-table>
    </b-container>
  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      analyzedFields: ['Date', 'Message', 'Language', 'Positive', 'Negative',
        'Neutral', 'Mixed', 'show_details'
      ],
      analyzedItems: [{
          Date: '02/21/19',
          Message: 'James Bensson is moving to NY State!',
          Language: 'English',
          Positive: 21,
          Negative: 0,
          Neutral: 2,
          Mixed: 1,
          _showDetails: false
        },
        {
          Date: '03/21/19',
          Message: 'James Bensson is moving to NY State!',
          Language: 'English',
          Positive: 21,
          Negative: 0,
          Neutral: 2,
          Mixed: 1,
          _showDetails: false
        },
        {
          Date: '04/21/19',
          Message: 'James Bensson is moving to NY State!',
          Language: 'English',
          Positive: 21,
          Negative: 0,
          Neutral: 2,
          Mixed: 1,
          _showDetails: false
        }
      ]
    }
  })

  </script>
</body>

</html>
