<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Table SS Provider</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <b-container>
      <!-- put table in a scrollable window -->
      <div style="position:relative; height:300px; overflow-y:scroll;">
        <b-table ref="mytable" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :items="myProvider"
          :fields="fields" @sort-changed="sortingChanged" no-local-sorting @refreshed="refreshData"
          caption-top>
          <template slot="table-caption">
            No Local Sorting!
          </template>
        </b-table>
      </div>
      <p>
        Sorting By: <b>{{ sortBy }}</b>,
        Sort Direction: <b>{{ sortDesc ? 'Descending' : 'Ascending' }}</b>
      </p>
      <p>
        <b-button variant="info" v-on:click="refreshTable">Refresh</b-button>
      </p>
    </b-container>
  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      itemSim: true,
      sortBy: 'age',
      sortDesc: false,
      fields: [
        { key: 'last_name', sortable: true },
        { key: 'first_name', sortable: true },
        { key: 'age', sortable: true },
        { key: 'isActive', sortable: false }
      ]
    },
    methods: {
      sortingChanged(ctx) {
        // call into server with context, use prop no-local-sorting to disable local sorting
        console.log("sortBy: " + ctx.sortBy + " sortDesc: " + ctx.sortDesc)
        // ctx.sortBy   ==> Field key for sorting by (or null for no sorting)
        // ctx.sortDesc ==> true if sorting descending, false otherwise
      },
      // Using callback: function myProvider (ctx, callback), see documentation
      // <b-table> provides a busy prop that will flag the table as busy, which you can set to true just before your async fetch, and then set it to false once you have your data, and just before you send it to the table for display. Example:<b-table id="my-table" :busy.sync="isBusy" :items="myProvider" :fields="fields" ...></b-table>data () {return {isBusy: false}}
      myProvider(ctx) {
        console.log("Request Data from Server")
        let items = [
          { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' },
          { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' },
          { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' },
          { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' }
        ]
        let items2 = [
          { isActive: true, age: 60, first_name: 'Ralph', last_name: 'Whatever' },
          { isActive: false, age: 85, first_name: 'Mary', last_name: 'Banana' },
          { isActive: false, age: 21, first_name: 'Bob', last_name: 'Demo' },
          { isActive: true, age: 47, first_name: 'James', last_name: 'William' },
          { isActive: true, age: 60, first_name: 'Ralph', last_name: 'Whatever' },
          { isActive: false, age: 85, first_name: 'Mary', last_name: 'Banana' },
          { isActive: false, age: 21, first_name: 'Bob', last_name: 'Demo' },
          { isActive: true, age: 47, first_name: 'James', last_name: 'William' },
          { isActive: true, age: 60, first_name: 'Ralph', last_name: 'Whatever' },
          { isActive: false, age: 85, first_name: 'Mary', last_name: 'Banana' },
          { isActive: false, age: 21, first_name: 'Bob', last_name: 'Demo' },
          { isActive: true, age: 47, first_name: 'James', last_name: 'William' },
          { isActive: true, age: 60, first_name: 'Ralph', last_name: 'Whatever' },
          { isActive: false, age: 85, first_name: 'Mary', last_name: 'Banana' },
          { isActive: false, age: 21, first_name: 'Bob', last_name: 'Demo' },
          { isActive: true, age: 47, first_name: 'James', last_name: 'William' }
        ]
        // perform any items processing needed
        if (this.itemSim) {
          this.itemSim = false;
          return items || []

        }
        this.itemSim = true;
        return items2 || []
      },
      refreshData(ctx) {
        console.log("Refresh data event")
      },
      refreshTable(ctx) {
        console.log("Trigger refresh of data event")
        this.$refs.mytable.refresh()
      },
      // not working
      onscroll() {
        console.log("Scrolling")
      }

    },
    // not working
    created() {
      window.addEventListener('scroll', this.onscroll);
    },
    // not working
    destroyed() {
      window.removeEventListener('scroll', this.onscroll);
    }
  })

  </script>
</body>

</html>
