<!--
  NAME
    DropdownTransition.vue

  DESCRIPTION
    Dropdown Transition Component
-->

<template>
  <transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:after-enter="afterEnter"
    v-on:before-leave="beforeLeave" v-on:leave="leave" v-on:after-leave="afterLeave"
    v-bind:css="false">
    <slot></slot>
  </transition>
</template>

<script>
import anime from 'animejs/lib/anime.es.js';

export default {

  /* -------------------- PROPS -------------------------------------------- */
  props: {
    duration: {
      // Transition duration in milliseconds
      type: Number,
      default: 300
    },
    easing: {
      // animejs easing to use for the transition
      type: String,
      default: 'easeInSine'
    }
  },

  /* -------------------- DATA --------------------------------------------- */
  data() {
    return {
      oldHeight: null,
      oldTransformOrigin: null,
      oldOverflow: null
    };
  },


  /* -------------------- METHODS ------------------------------------------ */
  methods: {

    /**
     * Entering transitions
     * @param {Object} el Object entering
     */
    beforeEnter: function (el) {
      this.oldTransformOrigin = el.style['transform-origin'];
      this.oldHeight = el.style.height;
      el.style['transform-origin'] = 'top';
    },
    enter: function (el, done) {
      anime({
        targets: el,
        scaleY: [0, 1],
        height: [0, el.scrollHeight],
        duration: this.duration,
        easing: this.easing,
        complete: done,
      });
    },
    afterEnter: function (el) {
      el.style.height = this.oldHeight;
      el.style['transform-origin'] = this.oldTransformOrigin;
    },

    /**
     * Leaving Transitions
     * @param {Object} el Object entering
     */
    beforeLeave: function (el) {
      this.oldTransformOrigin = el.style['transform-origin'];
      this.oldOverflow = el.style.overflow;
      el.style['transform-origin'] = 'top';
      el.style.overflow = 'hidden';
      el.style.height = `${el.scrollHeight}px`;
    },
    leave: function (el, done) {
      anime({
        targets: el,
        height: [el.scrollHeight, 0],
        scaleY: [1, 0],
        duration: this.duration,
        easing: this.easing,
        complete: done
      });
    },
    afterLeave: function (el) {
      el.style['transform-origin'] = this.oldTransformOrigin;
      el.style.overflow = this.oldOverflow;
    }
  }
};

</script>
<style>
</style>
