<!DOCTYPE html>
<html lang='en'>

<head>
  <!-- Required meta tags -->
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
  <meta http-equiv='content-type' content='text/html; charset=UTF-8' />

  <title>Sentry Vue</title>

  <!-- Required Stylesheets -->
  <link type='text/css' rel='stylesheet' href='https://unpkg.com/bootstrap/dist/css/bootstrap.min.css' />
  <link type='text/css' rel='stylesheet' href='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css' />

  <!-- Required scripts -->
  <script src='https://unpkg.com/vue'></script>
  <script src='https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js'></script>
  <script src='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js'></script>

  <!-- Sentry imports -->
  <script src='https://browser.sentry-cdn.com/5.0.6/bundle.min.js' crossorigin='anonymous'></script>
  <script src='https://browser.sentry-cdn.com/5.0.6/vue.min.js' crossorigin='anonymous'></script>

</head>

<body>
  <!-- Our application root element -->
  <div id='app'>
    <b-container>
      <b-jumbotron header='Sentry Vue'>
        <div v-for="testFunction in testFunctions">
          <b-btn variant='primary' v-on:click='callFunction(testFunction)'>{{ testFunction }}</b-btn>
          <br><br>
        </div>
      </b-jumbotron>
    </b-container>
  </div>


  <script>
  /* ------------------------ VUE APPLICATION ------------------------------ */
  window.app = new Vue({
    el: '#app',
    data: {
      name: '',
      testFunctions: [
        'errorStack1', 'captureException', 'captureExceptionWithReportDialog',
        'captureMessage', 'captureMessageWithScope', 'captureMessageWithLocalScope',
        'captureMessageWithMultipleScopes', 'captureMessageWithBreadcrumbs',
      ]
    },
    beforeMount() {
      this.configureScope()
    },
    methods: {
      /* -------------------- CALL FUNCTION BY NAME ------------------------ */
      callFunction(funcName) {
        console.log(funcName);
        this[funcName]();
      },
      /* -------------------- SCOPE ---------------------------------------- */
      configureScope() {
        Sentry.configureScope((scope) => {
          scope.setUser({ 'email': 'john.doe@example.com', 'id': 10 });
          scope.setTag("scope", "global");
          scope.setLevel('info');
          scope.setExtra('character_name', 'Mighty Fighter');
          // scope.setFingerprint(['Fingerprint1']);
        })
      },
      configureLocalScope(cb) {
        Sentry.withScope((scope) => {
          scope.setTag("scope", "local");
          cb();
        })
      },
      /* -------------------- ERROR CAPTURE -------------------------------- */
      errorStack1() {
        this.errorStack2();
      },
      errorStack2() {
        this.errorStack3();
      },
      errorStack3() {
        throw new Error('errorStack3');
      },
      captureException() {
        try {
          throw new Error('captureException');
        } catch (err) {
          Sentry.captureException(err);
        }
      },
      captureExceptionWithReportDialog() {
        throw new Error('GetUserFeedback'); // See beforeSend below
      },

      /* -------------------- MESSAGE CAPTURE ------------------------------ */
      captureMessage() {
        Sentry.captureMessage('Something went wrong!');
      },
      captureMessageWithScope() {
        this.configureScope();
        Sentry.captureMessage('captureMessageWithScope1-hasScope');
        Sentry.captureMessage('captureMessageWithScope2-hasScope');
      },
      captureMessageWithLocalScope() {
        this.configureLocalScope(() => { Sentry.captureMessage('captureMessageWithLocalScope1-has local scope'); });
        Sentry.captureMessage('captureMessageWithLocalScope2-does not have local scope');
      },
      captureMessageWithMultipleScopes() {
        this.configureScope();
        Sentry.configureScope((scope) => { scope.setTag('foo', 'bar'); })
        Sentry.captureMessage('captureMessageWithMultipleScopes');
      },
      captureMessageWithBreadcrumbs() {
        Sentry.addBreadcrumb({
          category: 'auth',
          message: 'Authenticated user',
          level: Sentry.Severity.Info
        });
        Sentry.captureMessage('captureMessageWithBreadcrumbs');
      },

    }
  });

  /* ------------------------ CONFIGURE SENTRY ----------------------------- */
  /**
   * Log each send event
   * Open up report dialog for certain exceptions
   */
  function beforeSend(event) {
    console.log(event);
    if (event.exception) {
      let error = event.exception.values[0]
      if (error.value === 'GetUserFeedback') { Sentry.showReportDialog({ eventId: event.event_id }); }
    }
    return event;
  }

  /**
   * Log each breadcrumb
   */
  function beforeBreadcrumb(breadcrumb, hint) {
    console.log([breadcrumb, hint]);
    return breadcrumb;
  }

  // Load Sentry
  Sentry.init({
    dsn: 'https://3cbcc98690934b1681e721dea4caf2cc@sentry.io/1426526',
    release: 'f21533f293edf982b33cc8103880e9e062672304',
    environment: 'Test',
    maxBreadcrumbs: 200,
    debug: true,
    sampleRate: 1.0,
    attachStacktrace: true,
    beforeSend: beforeSend,
    beforeBreadcrumb: beforeBreadcrumb,
    integrations: [new Sentry.Integrations.Vue({ Vue, attachProps: true, })],
  });

  // Log errors when they occur; otherwise, Sentry will prevent errors from being logged
  Vue.config.errorHandler = (err, vm, info) => { console.error(err); }

  </script>
</body>

</html>
