<!--
  NAME
    AccountManager.vue

  DESCRIPTION
    Component to change account attributes
-->
<template>
  <SmecknLogoCard title="Manage Account">

    <!-- Basic Information -->
    <SmecknContentSection title="Basic Information">
      <b-form class="text-left">
        <!-- Email Address -->
        <p> Email Address: {{ waAccount.email }} </p>
      </b-form>
    </SmecknContentSection>

    <!-- Update Password -->
    <SmecknContentSection title="Update Password">
      <b-form class="text-left">
        <!-- Password -->
        <b-form-group label="Password:">
          <b-form-input type="password" v-model="password" data-cy="passwordInput">
          </b-form-input>
        </b-form-group>
        <!-- New Password -->
        <b-form-group label="New Password:">
          <b-form-input type="password" v-model="newPassword" data-cy="newPasswordInput">
          </b-form-input>
        </b-form-group>
        <!-- Confirm New Password -->
        <b-form-group label="Confirm New Password:">
          <b-form-input type="password" v-model="confirmNewPassword" data-cy="confirmNewPasswordInput">
          </b-form-input>
        </b-form-group>
        <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
      </b-form>
      <b-form class="d-flex justify-content-end" v-on:submit.prevent>
        <SmecknSpinner v-if="loading"></SmecknSpinner>
        <template v-else>
          <b-button class="btn-info mx-1" data-cy="clearButton" v-on:click="onClear">Clear</b-button>
          <b-button class="btn-info mx-1" data-cy="saveButton" v-on:click="onSave">Save</b-button>
        </template>
      </b-form>
    </SmecknContentSection>

  </SmecknLogoCard>

</template>
<script>
import Vuex from 'vuex';

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      emailAddress: '',
      password: '',
      newPassword: '',
      confirmNewPassword: '',
      errorMessage: '',
      loading: false,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('account', ['waAccount']),
    ...Vuex.mapState('message', ['messages']),

    /**
     * @return {Boolean} True if password is valid
     */
    validPassword() {
      let longEnough = this.password.length > 0;
      return longEnough;
    },

    /**
     * @return {Boolean} True if newPasswords are valid
     */
    validNewPasswords() {
      let duplicates = this.newPassword === this.confirmNewPassword;
      let longEnough = this.newPassword.length > 0;
      return (duplicates && longEnough);
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    this.resetData();
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    resetData() {
      this.password = '';
      this.newPassword = '';
      this.confirmNewPassword = '';
      this.errorMessage = '';
    },
    onClear() {
      this.resetData();
    },
    async onSave() {
      if (!this.validPassword) {
        this.errorMessage = this.messages.SPECIFY_VALID_PASSWORD;
      } else if (!this.validNewPasswords) {
        this.errorMessage = this.messages.SPECIFY_VALID_NEW_PASSWORDS;
      } else {
        try {
          this.loading = true;
          await this.$g.store.dispatch('account/updatePassword', {
            waAccount: this.waAccount,
            oldPassword: this.password,
            newPassword: this.newPassword
          });
          this.resetData();
        } catch (err) {
          this.errorMessage = err.message;
        } finally {
          this.loading = false;
        }
      }
    }
  } /* End methods */
};

</script>
