<template>
  <div id="app">

    <body>
      <!--  <div class="smnav-menu-panel" v-if="isLoggedIn"> -->
      <div class="smnav-menu-panel">
        <!-- <img src="../static/img/logo.png"> -->
        <router-link :to="{ name: 'Home' }">Home</router-link>
        <router-link to="/coins/ethereum">Ethereum</router-link>
        <router-link to="/supportedControls">SupportedControls</router-link>
        <router-link to="/loginForm">LoginForm</router-link>
      </div>
      <div class="smcontent-panel">
        <router-view></router-view>
      </div>
      <div class="smfooter-panel">
        <p class="copyright qjfooter-copyright"><strong>Copyright &copy; 2018 Beblsoft LLC, </strong> All rights reserved.</p>
      </div>
    </body>
  </div>
</template>
<script>
export default {
  name: 'app',
  data() {
    return {
      isLoggedIn: false
    }
  }
}

</script>
<style>
#app {
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  - text-align: center;
  color: #2c3e50;
  background-image: url("/static/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.smnav-menu-panel {
  height: 6%;
  min-height: 60px;
  position: relative;
  text-align: center;
  border: 2px solid green;
  /* force menu on top  with position and z-index attributes */
  z-index: 1000000;
}

.smnav-menu-panel a {
  float: right;
  margin-right: 30px;
  word-spacing: 20px;
  color: white;
  font-size: medium;
}

.smcontent-panel {
  height: 88%;
  min-height: 90px;
  border: 2px solid white;
  /* Trigger vertical scroll    */
  overflow-y: auto;
}

.smfooter-panel {
  height: 4%;
  min-height: 20px;
  border: 2px solid orange;
  color: white;
}

</style>
