html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px; 
	padding: 0 10px; 
}


/* Header */
.header {
  height: 800px;
  text-align: center; 
  background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.header .container {
	position: relative;
	top: 200px;

}

.header h1 {
	font-size: 80px;
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 80px;
  color: white;
}

@media (min-width:850px) {
	.header h1 {
		font-size: 120px;
	}
}

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
  color: white;
}

.btn {
	color: #fff;
	background: #000;
	padding: 10px 40px;
	text-decoration: none; 
	transition: background .5s;   
}

.btn:hover {
	background: #117bff;
	cursor: pointer; 
	transition: background .5s;  
}


/* Nav */
.nav {
  background-color: black;
}

.nav ul {
	list-style: none;
	margin: 0 auto; 
	padding: 30px 0;
	text-align: center;
}

.nav li {
	color: white;
  display: inline-block;
}


/* Main */
.main .container {
	margin: 80px auto;
}

.main img {
  float: left;
  height: 128px;
  width: 196px;
  margin: 50px 80px 50px 0;
}


/* Jumbotron */
.jumbotron {
	height: 600px; 
	text-align: right;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.jumbotron .container {
	position: relative;
	top: 220px;
}

.jumbotron h1 {
  color: white;
}

.jumbotron p {
  color: white;
}


/* Footer */
.footer { 
  background: black;
  height: 80px;
}

.footer p {
	color: #fff;
	font-size: 14px;  
	height: 80px; 
	line-height: 80px;
	margin: 0;
}

/* Media Queries */
@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}