<!-- Spinners.vue, must install vue-simple-spinner, npm install vue-simple-spinner --save -->
<!-- Spinners.vue, must install vue-spinner, npm install vue-spinner --save, add to main.js -->

<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <b-button @click="toggleSpinner" variant="info">
          Start/Stop Spinners
        </b-button>
      </div>
      </div>
        <div class="row">
          <div class="col">
            <br>
            <vue-simple-spinner v-if="onoff" message="Loading..."></vue-simple-spinner>
            <hr>
            <!-- Classic smeckn color spinner -->
            <vue-simple-spinner v-if="onoff" line-fg-color="#5bc0de" line-bg-color="#d9534f"
              size="large" message="Using AI to SMeckn..."></vue-simple-spinner>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
// Spinner implementation initialization
import Spinner from 'vue-simple-spinner'

export default {
  name: 'SimpleSpinners',
  components: {
    'vue-simple-spinner': Spinner
  },
  data() {
    return {
      onoff: false
    }
  },
  methods: {
    toggleSpinner() {
      this.onoff = !this.onoff
    }
  }
}

</script>
