<!-- Spinners.vue, must install vue-spinner, npm install vue-spinner --save, add to main.js 

npm install --save epic-spinners-->
<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col">
          <atom-spinner :animation-duration="theDuration" :size="theSize" :color="'#ff1d5e'" />
        </div>
        <div class="col">
          <flower-spinner :animation-duration="2500" :size="70" :color="'#5bc0de'" />
        </div>
        <div class="col">
          <pixel-spinner :animation-duration="2000" :pixel-size="70" :color="'#ff1d5e'" />
        </div>
        <div class="col">
          <hollow-dots-spinner :animation-duration="1000" :dot-size="15" :dots-num="3"
            :color="'#ff1d5e'" />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <intersecting-circles-spinner :animation-duration="1200" :size="70" :color="'#ff1d5e'" />
        </div>
        <div class="col">
          <orbit-spinner :animation-duration="1200" :size="55" :color="'#009933'" />
        </div>
        <div class="col">
          <radar-spinner :animation-duration="2000" :size="60" :color="'#ff1d5e'" />
        </div>
        <div class="col">
          <scaling-squares-spinner :animation-duration="1250" :size="65" :color="'#ff1d5e'" />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <half-circle-spinner :animation-duration="1000" :size="60" :color="'#ff1d5e'" />
        </div>
        <div class="col">
          <trinity-rings-spinner :animation-duration="1500" :size="66" :color="theColor" />
        </div>
        <div class="col">
          <fulfilling-square-spinner :animation-duration="4000" :size="50" :color="'#ff1d5e'" />
        </div>
        <div class="col">
          <circles-to-rhombuses-spinner :animation-duration="1200" :circles-num="3"
            :circle-size="15" :color="'#ff1d5e'" />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <semipolar-spinner :animation-duration=" 2000" :size="65" :color="'#ff1d5e'" />
        </div>
        <div class="col">
          <self-building-square-spinner :animation-duration="6000" :size="40" :color="theColor" />
        </div>
        <div class="col">
          <swapping-squares-spinner :animation-duration="1000" :size="65" :color="'#ff1d5e'" />
        </div>
        <div class="col">
          <fulfilling-bouncing-circle-spinner :animation-duration="4000" :size="60"
            :color="'#ff1d5e'" />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <fingerprint-spinner :animation-duration="theDuration" :size="theSize" :color="'#ff1d5e'" />
        </div>
        <div class="col">
          <spring-spinner :animation-duration="theDuration" :size="theSize" :color="theColor" />
        </div>
        <div class="col">
          <looping-rhombuses-spinner :animation-duration="theDuration" :rhombus-size="15" :color="'#ff1d5e'" />
        </div>
        <div class="col">
          <breeding-rhombus-spinner :animation-duration="theDuration" :size="theSize" :color="'#ff1d5e'" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// To use minified css and js files instead of .vue single file components:
// import 'epic-spinners/dist/lib/epic-spinners.min.css'
// import {AtomSpinner} from 'epic-spinners/dist/lib/epic-spinners.min.js'

import { FlowerSpinner, PixelSpinner, HollowDotsSpinner, IntersectingCirclesSpinner, OrbitSpinner, RadarSpinner, ScalingSquaresSpinner, HalfCircleSpinner, TrinityRingsSpinner, FulfillingSquareSpinner, CirclesToRhombusesSpinner, SemipolarSpinner, SelfBuildingSquareSpinner, SwappingSquaresSpinner, FulfillingBouncingCircleSpinner, FingerprintSpinner, SpringSpinner, AtomSpinner, LoopingRhombusesSpinner, BreedingRhombusSpinner } from 'epic-spinners'
export default {
  components: {
    FlowerSpinner,
    PixelSpinner,
    HollowDotsSpinner,
    IntersectingCirclesSpinner,
    OrbitSpinner,
    RadarSpinner,
    ScalingSquaresSpinner,
    HalfCircleSpinner,
    TrinityRingsSpinner,
    FulfillingSquareSpinner,
    CirclesToRhombusesSpinner,
    SemipolarSpinner,
    SelfBuildingSquareSpinner,
    SwappingSquaresSpinner,
    FulfillingBouncingCircleSpinner,
    FingerprintSpinner,
    SpringSpinner,
    AtomSpinner,
    LoopingRhombusesSpinner,
    BreedingRhombusSpinner
  },
  data() {
    return {
      theDuration: 2000,
      theSize: 60,
      theColor: '#5bc0de'
    }
  }
}

</script>
