Content-Type: multipart/mixed; boundary="==BOUNDARY=="
MIME-Version: 1.0

{% if bContainerCluster %}
--==BOUNDARY==
Content-Type: text/x-shellscript; charset="us-ascii"

#!/bin/bash
# Set any ECS agent configuration options
echo "ECS_CLUSTER={{ bContainerCluster.name }}" >> /etc/ecs/ecs.config
{% endif %}

--==BOUNDARY==--