<top-nav></top-nav>
<left-nav></left-nav>
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</section>
