svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  height: 200px;
  width: 200px;
}

polygon {
  fill: #cccc00;
}

circle {
  fill: transparent;
  stroke: black;
}

input[type="range"] {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
