<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Transitions/Animations</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link rel="stylesheet" href="transitionsAnimations.css">
  <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>


</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <b-container>
      <b-col class="text-center">
        <b-button-group>
          <b-btn variant="info" v-on:click="show0 = !show0">
            Trigger Slide/Fade (0)
          </b-btn>
          <b-btn variant="info" v-on:click="show1 = !show1">
            Trigger Bounce (1)
          </b-btn>
          <b-btn variant="info" v-on:click="show2 = !show2">
            Trigger Animate CSS (2)
          </b-btn>
          <b-btn variant="info" v-on:click="show3 = !show3">
            Trigger Animate CSS (3)
          </b-btn>
          <b-btn variant="info" v-on:click="show4 = !show4">
            Trigger Velocity Demo (4)
          </b-btn>
           <b-btn variant="info" @click="reset()">
            Reset Animations
          </b-btn>
        </b-button-group>
        <br>
        <br>
        <transition name="slide-fade">
          <p class="spiceItUp" v-if="show0">Transition Sample</p>
        </transition>
        <br>
        <br>
        <transition name="bounce">
          <p class="spiceItUp" v-if="show1">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Mauris
            facilisis enim libero, at lacinia diam fermentum id. Pellentesque habitant
            morbi
            tristique senectus et netus.</p>
        </transition>
        <br>
        <br>
        <!--  animate css -->
        <transition name="custom-classes-transition" enter-active-class="animated tada"
          leave-active-class="animated bounceOutRight">
          <p class="spiceItUp" v-if="show2">$$Charging your credit card$$</p>
        </transition>
        <br>
        <br>
        <!--  animate css 2 -->
        <transition name="custom-classes-transition" enter-active-class="animated tada"
          leave-active-class="animated tada">
          <p class="spiceItUp" v-if="show3">Tada Tada</p>
        </transition>
        <br>
        <br>
        <!--   special js library, velocity -->
        <transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave"
          v-bind:css="false">
          <p class="spiceItUp" v-if="show4">
            Demo
          </p>
        </transition>
      </b-col>
    </b-container>
  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      show0: true,
      show1: true,
      show2: true,
      show3: true,
      show4: true
    },
    methods: {
      reset: function () {
        this.show0 = true;
        this.show1 = true;
        this.show2 = true;
        this.show3 = true;
        this.show4 = true;
      },
      beforeEnter: function (el) {
        el.style.opacity = 0;
      },
      enter: function (el, done) {
        Velocity(el, { opacity: 1, fontSize: '5.8em' }, { duration: 500 });
        Velocity(el, { fontSize: '1em' }, { complete: done });
      },
      leave: function (el, done) {
        Velocity(el, { translateX: '15px', rotateZ: '50deg' }, { duration: 600 });
        Velocity(el, { rotateZ: '100deg' }, { loop: 2 });
        Velocity(el, { rotateZ: '45deg', translateY: '30px', translateX: '30px', opacity: 0 }, { complete: done });
      }
    }
  })

  </script>
</body>

</html>
