<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Velocity</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link rel="stylesheet" href="velocity.css">

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <b-container>
      <br>
      <b-col class="text-center">
        <b-button-group>
          <b-btn variant="info" v-on:click="showBeblsoftFun = !showBeblsoftFun">
            Beblsoft Fun
          </b-btn>
          <b-btn variant="info" v-on:click="showBackAndForth = !showBackAndForth">
            Back And Forth
          </b-btn>
          <b-btn variant="info" v-on:click="showHeart = !showHeart">
            Pulse
          </b-btn>
          <b-btn variant="info" v-on:click="showBeblsoftLogo = !showBeblsoftLogo">
            Beblosoft Logo
          </b-btn>
        </b-button-group>
        <br>
        <br>
        <!--   special js library, velocity -->
        <!--  Need both enter and leave, else does not work -->
        <transition v-on:enter="beblsoftFun" v-on:leave="beblsoftFun">
          <p class="beblsoftFunBox" v-if="showBeblsoftFun">
            <i class='fas fa-child'></i>
            Beblsoft
          </p>
        </transition>
        <transition v-on:enter="backAndForth" v-on:leave="backAndForth">
          <p class="backAndForthBox" v-if="showBackAndForth">
            <i class='fas fa-space-shuttle'></i>
            Processing Data...
          </p>
        </transition>
        <transition v-on:enter="pulse" v-on:leave="pulse">
          <p class="heartBox" v-show="showHeart">
            <img src="heart.jpg" class="heart" alt="heart">bu bump... bu bump...
          </p>
        </transition>
        <transition v-on:enter="beblsoftLogo" v-on:leave="beblsoftLogo">
          <p class="beblsoftBox" v-show="showBeblsoftLogo">
            <img src="letterB.png" class="heart" alt="heart">
            <img src="letterBFlipped.png" class="heart" alt="heart">
          </p>
        </transition>
      </b-col>
    </b-container>
  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      showBeblsoftFun: false,
      showBackAndForth: false,
      showHeart: false,
      showBeblsoftLogo: false
    },
    methods: {
      beblsoftFun: function (el, done) {
        Velocity(el, { opacity: 1, fontSize: '5.8em' }, { duration: 500 });
        Velocity(el, { fontSize: '1em' });
        Velocity(el, { opacity: .5, fontSize: '1.8em' }, { duration: 1000 });
        Velocity(el, { fontSize: '1em' });
        Velocity(el, { translateX: '15px' }, { duration: 600 });
        Velocity(el, { fontSize: '1em' }, { complete: done });
        this.showBeblsoftFun = false;
      },
      backAndForth: function (el, done) {
        for (i = 0; i < 3; i++) {
          Velocity(el, { translateX: '50px' }, { duration: 1000 });
          Velocity(el, { translateX: '-50px' }, { duration: 1000 });
        }
        Velocity(el, { complete: done });
        this.showBackAndForth = false;
      },
      pulse: function (el, done) {
        for (i = 0; i < 3; i++) {
          Velocity(el, { opacity: 1, fontSize: '1.8em', height: '300px', width: '300px' }, { duration: 700 });
          Velocity(el, { fontSize: '1em', height: '200px', width: '200px' });
        }
        Velocity(el, { complete: done });
        this.showHeart = false;
      },
      // https://openclipart.org/detail/87403/cyrillic-letter-b
      beblsoftLogo: function (el, done) {
        for (i = 0; i < 1; i++) {
          Velocity(el, { opacity: 1, height: '200px', width: '200px' }, { duration: 2000 });
          Velocity(el, { opacity: .5, height: '50px', width: '50px' },
          { duration: 2000 });
        }
        Velocity(el, { complete: done });
        this.showBeblsoftLogo = false;
      }
    }
  })

  </script>
</body>

</html>
