body {
  background: lightgray;
  overflow: hidden;
  height: 100%;
  font-family: open sans;
}

.beblsoftFunBox {
  border: 2px;
  border-style: solid;
  border-color: #5bc0de;
  padding: 2px;
  color: black;
  font-size: 36px;
}

.backAndForthBox {
  border: 4px;
  border-style: solid;
  border-color: red;
  padding: 2px;
  color: black;
  font-size: 36px;
}

.heartBox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  height: 200px;
  width: 200px;
}

.beblsoftBox {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  height: 100px;
  width: 100px;
}

.heart {
  max-width: 100%;
  max-height: 100%;
}
