<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Vue</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <p>Original message: "{{ message }}"</p>
    <p>Computed reversed message: "{{ reversedMessage }}"</p>
    <input v-model="message">

    <p>First Name: {{ firstName }}</p>
    <p>Last Name: {{ lastName }}</p>
    <p>Full Name: {{ fullName }}</p>
    <input v-model="fullName">
  </div>
  <script>
  var vm = new Vue({
    el: '#app',
    data: {
      message: 'Hello',
      firstName: 'John',
      lastName: 'Doe'
    },
    computed: {
      reversedMessage: function () {
        // 'this' points to the vm instance
        return this.message.split('').reverse().join('')
      },
      fullName: {
        /* Getter and setter */
        get: function () {
          return this.firstName + ' ' + this.lastName
        },
        set: function (newValue) {
          var names = newValue.split(' ')
          this.firstName = names[0]
          this.lastName = names[names.length - 1]
        }
      }
    },
    methods: {}
  })

  </script>
</body>

</html>
