<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Vue</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    {{ message }}
  </div>
  <script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello World Vue!'
    }
  })

  </script>
</body>

</html>
