<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Vue</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>Open console to view lifecycle hooks<h2>
        <p> {{ message }}</p>
        <input v-model="message">
        <p> {{ a }}</p>
    </div>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            message: 'Hello',
            a: 10,
            newTodoText: '',
            visitCount: 0,
            hideCompletedTodos: false,
            todos: [],
            error: null
        },
        methods: {},

        /* Lifecycle methods
           Note: don't use arrow functions in vue instance methods,
           as they are bound to the parent context */
        beforeCreate: function() {
            console.log("Before create")
        },
        created: function() {
            console.log("Created")
        },
        beforeMount: function() {
            console.log("Before mount")
        },
        mounted: function() {
            console.log("Mounted")
        },
        beforeUpdate: function() {
            console.log("Before update")
        },
        updated: function() {
            console.log("Updated")
        },
        beforeDestroy: function() {
            console.log("Before destroy")
        },
        destroyed: function() {
            console.log("Destroyed")
        }
    })

    /* Watch any change on message variable */
    vm.$watch('message', function(newValue, oldValue) {
        console.log("message changed from %s to %s", oldValue, newValue);
    })
    </script>
</body>

</html>
