<!--
  NAME
    SmecknDateRangePicker.vue

  DESCRIPTION
    Component wraps vue2-daterange-picker.
    It allows a user to pick a date range.

  REFERENCE
    https://innologica.github.io/vue2-daterange-picker/#installation

  USAGE
    See SmecknDateRangePickerTest.vue
-->
<template>
  <div class="d-inline-block border smg-border-2 rounded my-1" data-cy="smecknDateRangePicker">
    <date-range-picker ref="picker" v-bind:opens="opens" v-bind:date-range="dateRange"
      v-bind:linked-calendars="false" v-bind:time-picker="false" v-bind:show-dropdowns="true"
      v-bind:auto-apply="true" v-bind:ranges="dateRanges" v-on:toggle="onToggleOpen"
      v-on:update="onUpdateDateRangeFromCalendar">

      <!-- Collapsed --------------------------------------------------------->
      <div slot="input" class="p-1">
        <!-- No Range Specified -->
        <div v-if="!datesSelected" class="d-flex justify-content-left align-items-center">
          <img class="smg-img-4" v-bind:src="calendarImgSrc" alt="" />
          <p class="my-0 ml-1 text-nowrap">Specify Date Range</p>
        </div>

        <!-- Range Is Specified: List selected dates -->
        <div v-else class="text-left">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center float-left">
              <img class="smg-img-4" v-bind:src="calendarImgSrc" alt="" />
              <p class="ml-1 my-0">Date Range</p>
            </div>
            <b-button-close v-if="closeButton" v-on:click.stop="onClearRange" data-cy="smecknDateRangePickerCloseButton">
            </b-button-close>
          </div>
          <hr class="my-1">
          <b-row v-for="dateSelected in datesSelectedList" v-bind:key="dateSelected.title">
            <b-col>
              <p class="text-nowrap my-0" v-bind="dateSelected.attrObj"><span class="font-weight-bold mr-1">{{ dateSelected.title }}:</span>
                {{ dateSelected.dateStr }}</p>
            </b-col>
          </b-row>
        </div>
      </div>

      <!-- Expanded ---------------------------------------------------------->
      <!-- Display Ranges -->
      <div slot="ranges" slot-scope="picker" class="d-flex flex-wrap justify-content-center mx-auto">
        <div class="d-inline-block mx-auto my-1" v-for="(dateRangeValue, dateRangeKey) in picker.ranges"
          v-bind:key="dateRangeKey">
          <b-button class="btn-sm btn-info mr-1" v-on:click="onUpdateDateRangeFromPredefinedRanges(dateRangeValue[0], dateRangeValue[1])"
            data-cy="selectDateRangeButton">
            {{ dateRangeKey }}
          </b-button>
        </div>
      </div>
    </date-range-picker>

  </div>
</template>

<script>
import moment from 'moment';
import DateRangePicker from 'vue2-daterange-picker';
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css';
import calendarImgSrc from '../../img/flaticon/calendar.png';

export default {

  /* ---------------------- EVENTS ----------------------------------------- */
  /*
    Event
      Name
        'update'
      Description
        Emitted whenever the date range is updated
      Usage
        v-on:update="onDateRangeUpdated"
        onDateRangeUpdated(dateRange) {}

    Event
      Name
        'toggle'
      Description
        Emitted whenever the date range widget is toggled open or closed
      Usage
        v-on:toggled="onDateRangeToggled"
        onDateRangeToggled(isOpen) {}
   */

  /* ---------------------- MODEL ------------------------------------------ */
  model: {
    prop: 'dateRange',
    event: 'update'
  },

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Text to specify date range
    specifyText: {
      type: String,
      default: 'Specify a date range'
    },
    // Date Range Object
    // {
    //   startMoment
    //     type: Moment
    //     description: (Local) Moment of start date
    //
    //   endMoment
    //     type: Moment
    //     description: (Local) Moment of end date
    // }
    dateRange: {
      type: Object,
      default () {
        return {
          startMoment: null,
          endMoment: null
        };
      }
    },
    // What direction the date picker opens
    opens: {
      type: String,
      default: 'center'
    },
    // Object containing custom date ranges
    // Each key is the title of the date range
    // {
    //   'title' : [startMoment, endMoment]
    // }
    dateRanges: {
      type: Object,
      default () {
        return {
          'Last Month': [moment().subtract(1, 'month'), moment()],
          'Last 6 Months': [moment().subtract(6, 'month'), moment()],
          'Last year': [moment().subtract(1, 'year'), moment()],
          'Last 5 years': [moment().subtract(5, 'year'), moment()],
          'Last 20 years': [moment().subtract(20, 'year'), moment()],
        };
      }
    },
    // How moment should format dates in date range
    momentFormat: {
      type: String,
      default: 'LL'
    },
    // Close Button Toggle. If false, disable close button from appearing.
    // This is useful for when a date range must always be specified
    closeButton: {
      type: Boolean,
      default: true
    }
  },

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { DateRangePicker },

  /* ---------------------- DATA ------------------------------------------- */
  data() { return { calendarImgSrc }; },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {

    /**
     * @return {Boolean} true if dates have been selected
     */
    datesSelected() {
      return this.dateRange.startMoment !== null && this.dateRange.endMoment !== null;
    },

    /**
     * List of selected dates
     * @return {Array<Object>} Object with the following attributes
     * {
     *   title
     *     type: String
     *     description: title of date
     *
     *   dateStr
     *     type: Moment
     *     description: Moment instance
     *
     *   attrObj
     *     type: Object
     *     description: HTML attributes to bind
     * }
     */
    datesSelectedList() {
      return [{
          title: 'From',
          dateStr: this.dateRange.startMoment.format(this.momentFormat),
          attrObj: { 'data-cy': 'smecknDateRangePickerFromDate' }
        },
        {
          title: 'To',
          dateStr: this.dateRange.endMoment.format(this.momentFormat),
          attrObj: { 'data-cy': 'smecknDateRangePickerToDate' }
        }
      ];
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onToggleOpen(open, togglePicker) {
      this.$emit('toggled', open);
    },
    onUpdateDateRangeFromPredefinedRanges(startMoment, endMoment) {
      this.updateDateRange(startMoment, endMoment);
      this.$refs.picker.togglePicker(false);
    },
    onUpdateDateRangeFromCalendar(obj) {
      this.updateDateRange(moment(obj.startDate), moment(obj.endDate));
    },
    onClearRange() {
      this.updateDateRange(null, null);
      this.$refs.picker.togglePicker(false);
    },
    updateDateRange(startMoment, endMoment) {
      this.$emit('update', { startMoment, endMoment });
    }
  }
};

</script>
<style lang="scss">
// vue2-daterange-picker: Disable tight border and prevent from content overflowing
.reportrange-text {
  border: none !important;
  height: auto !important;
  width: auto !important;
}

// Centers the calendars
.calendars {
  display: flex !important;
  justify-content: center !important;
}

// Disables borders on the calendars
.drp-calendar {
  border: none !important;
}

</style>
