<!--
  NAME
    SmecknDateRangePickerTest.vue

  DESCRIPTION
    Test Smeckn Date Range Picker
 -->
<template>
  <b-container fluid class="text-left">
    <div class="d-flex">
      <SmecknDateRangePicker v-bind:opens="'right'" v-model="dateRange"
        v-bind:date-ranges="dateRanges">
      </SmecknDateRangePicker>
    </div>
    <h2>Selected Date Range:</h2>
    <div v-if="dateRange.startMoment">
      <p> Start Moment: <span data-cy="startMoment">{{ dateRange.startMoment.format('LL') }}</span></p>
    </div>
    <div v-if="dateRange.endMoment">
      <p> End Moment: <span  data-cy="endMoment">{{ dateRange.endMoment.format('LL') }}</span></p>
    </div>
    <h2>Preset Date Ranges (Used by Cypress):</h2>
    <div v-for="(dateRangeVal, dateRangeName) in dateRanges" v-bind:key="dateRangeName">
      <p data-cy="presetDateRange">
        <span data-cy="presetDateRangeName" class="font-weight-bold mr-3">{{ dateRangeName }}</span>
        <span data-cy="presetDateRangeStartMoment">{{ dateRangeVal[0].format('LL') }}</span>-
        <span data-cy="presetDateRangeEndMoment">{{ dateRangeVal[1].format('LL') }}</span>
      </p>
    </div>
  </b-container>
</template>
<script>
import moment from 'moment';
import SmecknDateRangeDataMixin from './SmecknDateRangeDataMixin';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [SmecknDateRangeDataMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Date Ranges to Display
      dateRanges: {
        'Last Month': [moment().subtract(1, 'month'), moment()],
        'Last year': [moment().subtract(1, 'year'), moment()],
        'Last 5 years': [moment().subtract(5, 'year'), moment()],
        'Last 10 years': [moment().subtract(10, 'year'), moment()],
        'Last 20 years': [moment().subtract(20, 'year'), moment()],
      },
    };
  },

  /* ---------------------- WATCH ------------------------------------------ */
  watch: {
    dateRange() {
      console.log('dateRange updated!');
    }
  }
};

</script>
