<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Chartkick</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js"></script>
  <script src="https://unpkg.com/vue-chartkick@0.5.0"></script>
</head>

<style>
.buttons {
  margin: 20px;
  text-align: center;
}

</style>

<body>
  <!-- Our application root element -->
  <div id="app">
    <b-container fluid>

      <b-row>
        <b-col></b-col>
        <b-col class="buttons">
          <b-btn @click="toggleChart" variant="info">
            Toggle Chart Show
          </b-btn>
        </b-col>
        <b-col></b-col>
      </b-row>
      <b-row>
        <b-col></b-col>
        <b-col>
          <div v-if="showChart">
            <b-btn @click="toggleTable" variant="light">
              <line-chart :data="chartData"></line-chart>
            </b-btn>
          </div>
          <div v-if="showTable">
            <b-table striped hover :items="items"></b-table>
          </div>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>

  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      showChart: true,
      showTable: true,
      chartData: [
        ["Jan", 4],
        ["Feb", 2],
        ["Mar", 10],
        ["Apr", 5],
        ["May", 3]
      ],
      items: [
        { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
        { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
        { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
        { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' }
      ]
    },
    methods: {
      toggleChart() {
        this.showChart = !this.showChart;
      },
      toggleTable() {
        this.showTable = !this.showTable;
      }
    }
  })

  </script>
</body>

</html>
