<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Multi ChartJS</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <!-- Required JavaScript -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>

<body>
  <div id="app">
    <b-container>
      <h1 class="title is-1">
        {{ message }}
    </h1>
      <graph-bar :labels="labels" :datasets="datasets" type="bar" :options="options">
      </graph-bar>
    </b-container>
  </div>
  <script>
  // Reference https://codepen.io/Shokeen/pen/NpgbKg

  Chart.defaults.global.defaultFontFamily = "Lato";
  Chart.defaults.global.defaultFontSize = 18;

  Vue.component("graphBar", {
    props: ["labels", "datasets", "type", "options"],
    template: '<canvas width="400" height="200"></canvas>',
    data: function () {
      return {
        theChart: null
      }
    },
    mounted: function () {

      // extend options with function to register for click on bar events
      //this.options.onClick = this.onClick

      this.theChart = new Chart(this.$el, {
        type: this.type,
        data: {
          labels: this.labels,
          datasets: this.datasets
        },
        options: this.options,
      });
    }
  });

  let chartOptions = {
    scales: {
      xAxes: [{
        barPercentage: 1,
        categoryPercentage: 0.6
      }],
      yAxes: [{
        id: "y-axis-density"
      }, {
        id: "y-axis-gravity"
      }]
    },
    onClick: function (evt) {
      let activePoints = this.getElementAtEvent(evt);
      if (activePoints.length > 0) {
        console.log(activePoints)
        let theBarValue = this.config.data.datasets[activePoints[0]._datasetIndex].data[activePoints[0]._index];
        let theBarDataset = this.config.data.datasets[activePoints[0]._datasetIndex].label;
        let theBarXLabel = this.config.data.labels[activePoints[0]._index];
        console.log("got event. theBarXLabel: " + theBarXLabel + ", theBarValue: " + theBarValue + ", theBarDataset: " + theBarDataset);
      }

    }
  };

  let densityData = {
    label: 'Density of Planet (kg/m3)',
    data: [5427, 5243, 5514, 3933, 1326, 687, 1271, 1638],
    backgroundColor: 'rgba(0, 99, 132, 0.6)',
    borderWidth: 0,
    yAxisID: "y-axis-density"
  };

  let gravityData = {
    label: 'Gravity of Planet (m/s2)',
    data: [3.7, 8.9, 9.8, 3.7, 23.1, 9.0, 8.7, 11.0],
    backgroundColor: 'rgba(99, 132, 0, 0.6)',
    borderWidth: 0,
    yAxisID: "y-axis-gravity"
  };

  window.app = new Vue({
    el: "#app",
    data: {
      message: "Vue.js & Chart.js",
      labels: ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"],
      datasets: [densityData, gravityData],
      options: chartOptions
    }
  })

  </script>
</body>

</html>
