<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Base ChartJS</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <!-- Required JavaScript -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>

<body>
  <div id="app">
    <b-container>
      <h1 class="title is-1">
        {{ message }}
    </h1>
      <graph-bar :labels="labels" :values="votes" type="pie">
      </graph-bar>
    </b-container>
  </div>
  <script>
  Vue.component("graphBar", {
    props: ["labels", "values", "type"],
    template: '<canvas width="400" height="200"></canvas>',
    mounted: function () {
      new Chart(this.$el, {
          type: this.type,
          data: {
            labels: this.labels,
            datasets: [{
                label: "# of Votes",
                data: this.values,
                backgroundColor: [
                  "rgba(255, 99, 132, 0.6)",
                  "rgba(54, 162, 235, 0.6)",
                  "rgba(255, 206, 86, 0.6)",
                  "rgba(75, 192, 192, 0.6)",
                  "rgba(153, 102, 255, 0.6)",
                  "rgba(255, 159, 64, 0.6)"
                ],
                borderColor: [
                  "rgba(255,99,132,1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)"
                ],
                borderWidth: 1
              }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          onClick: function (evt) {
            let activePoints = this.getElementAtEvent(evt);
            if (activePoints.length > 0) {
              console.log(activePoints)
              let theBarValue = this.config.data.datasets[activePoints[0]._datasetIndex].data[activePoints[0]._index];
              let theBarLabel = this.config.data.labels[activePoints[0]._index];
              console.log("got event. theBarLabel: " + theBarLabel + ", theBarValue: " + theBarValue);
            }

          }
        }
      });
  }
  });

  window.app = new Vue({
    el: "#app",
    data: {
      message: "Vue.js & Chart.js",
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      votes: [12, 19, 3, 5, 2, 15]
    }
  })

  </script>
</body>

</html>
