.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: teal;
    /*dpb */
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
    color: teal;
    /* dpb */
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: teal;
    /* dpb */
}


.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open>.dropdown-toggle.btn-custom {
    color: #FFD180 !important;
    background-color: #837171;
    border-color: #837171;
    /*set the color you want here*/
}

.smeckn-body {
    font-family: 'Questrial', arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: black;
    background-color: lightgray;
    /* magic for fixed screen for header, content, footer */
    height: 100vh;
    display: flex;
    /* Direction of the items, can be row or column */
    flex-direction: column;
}


.smeckn-nav-menu-panel {
    background-color: teal;
    height: 63px;
    /* menu panel is 62px so go just beyond 1 px*/
    position: relative;
    z-index: 1000000;
}

.smeckn-content-panel {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.smeckn-footer-panel {
    background-color: lightgray;
    height: 30px;
}

.smeckn-splash-body {
    background-image: url(pexels-photo-266246.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Questrial', arial;
}

.smeckn-splash-card {
    margin: 0 auto;
    margin-top: 20px;
    opacity: 0.95
}

.smeckn-splash-card-narrow {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 400px;
    opacity: 0.95
}

.smeckn-splash-brand {
    color: teal;
    font-size: 48px !important;
    font-family: 'Shadows Into Light', cursive;
}

.smeckn-card-brand {
    color: teal;
    font-size: 32px !important;
    font-family: 'Shadows Into Light', cursive;
}

.smeckn-navbar {
    color: teal !important;
    font-size: 24px;
    font-family: 'Shadows Into Light', cursive;
}

.smeckn-navbar a {
    color: teal !important;
}

.smeckn-card-title {
    color: black;
    font-size: 32px
}

.smeckn-button {
    margin: 5px;
    color: white;
    background-color: teal !important
}

.smeckn-profile-group-card {
    color: black !important font-size: 32px;
}