<!--
  NAME
    ConfirmAccount.vue

  DESCRIPTION
    Create Account Email links here
 -->
<template>
  <SmecknSplashContainer>
    <b-row>
      <!-- Confirming Account  -->
      <SmecknLogoCard class="mx-auto my-4" title="Confirming Account" data-cy="confirmAccountCard">
        <SmecknSpinner v-if="loading"></SmecknSpinner>
      </SmecknLogoCard>
    </b-row>
  </SmecknSplashContainer>
</template>
<script>
export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Create Account Token embeded in email link from server
    createAccountToken: {
      type: String,
      default: null
    },
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // If true, loading
      loading: false,
    };
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  /**
   * Ensure that createAccountToken prop is defined.
   * Then send token to server to complete account creation.
   */
  async mounted() {
    if (this.createAccountToken === null) {
      this.$g.store.dispatch('auth/logout', { whoops: true });
    } else {
      try {
        this.loading = true;
        await this.$g.store.dispatch('auth/confirmAccount', {
          createAccountToken: this.createAccountToken
        });
        // No need to catch error as
        // auth/confirmAccount should always navigate away
      } finally {
        this.loading = false;
      }
    }
  }
};

</script>
