<!--
  NAME
    CreateAccount.vue

  DESCRIPTION
    Begin Create Account Workflow
 -->
<template>
  <SmecknSplashContainer>
    <b-row>
      <SmecknLogoCard class="mx-auto my-4" title="Sign Up">

        <!-- Create Account Form --------------------------------------------->
        <b-form-group class="mt-2">
          <b-form-group label="Email address:">
            <b-form-input type="email" v-model="email" data-cy="emailInput">
            </b-form-input>
          </b-form-group>
          <b-form-group label="Password:">
            <b-form-input type="password" v-model="password" data-cy="passwordInput">
            </b-form-input>
          </b-form-group>
          <b-form-group label="Confirm Password:">
            <b-form-input type="password" v-model="confirmPassword" data-cy="confirmPasswordInput">
            </b-form-input>
          </b-form-group>
          <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
          <form @submit.prevent="onExecuteReCAPTCHAChallenge">
            <vue-recaptcha ref="invisibleRecaptcha" v-on:verify="onReCAPTCHAChallengeDone"
              size="invisible" v-bind:sitekey="reCAPTCHASiteKey" v-on:render="onReCAPTCHARendered">
            </vue-recaptcha>
            <br>
            <b-button-group class="d-flex justify-content-center">
              <b-button class="btn-info m-2" type="submit" data-cy="createAccountButton">
                <img v-bind:src="contactImage" class="d-inline-block smg-img-3" alt="">
                Create Account
              </b-button>
            </b-button-group>
          </form>
        </b-form-group>
        <div class="text-center">
          <!-- Agreements -->
          <p>By clicking Create Account you agree to our:<br>
            <b-link v-on:click="onTermsAndConditions" class="badge badge-info mx-1" data-cy="termsAndConditionsButton">
              Terms and Conditions
            </b-link>,
            <b-link v-on:click="onPrivacyPolicy" class="badge badge-info mx-1" data-cy="privacyPolicyButton">
              Privacy Policy
            </b-link>,
            <b-link v-on:click="onCookiePolicy" class="badge badge-info mx-1" data-cy="cookiePolicyButton">
              Cookie Policy
            </b-link>, and
            <b-link v-on:click="onDisclaimer" class="badge badge-info mx-1" data-cy="disclaimerButton">
              Disclaimer
            </b-link>
          </p>
        </div>

        <!-- Loading --------------------------------------------------------->
        <SmecknSpinner v-if="loading"></SmecknSpinner>
      </SmecknLogoCard>
    </b-row>
    <!-- Invisible div. Signals to cypress that recaptcha is mounted and ready -->
    <div v-if="reCAPTCHARendered" data-cy="reCAPTCHARendered"> </div>
  </SmecknSplashContainer>
</template>

<script>
import Vuex from 'vuex';
import VueRecaptcha from 'vue-recaptcha';
import contactImage from '../../img/flaticon/contact.png';

export default {

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { VueRecaptcha },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Account Email
      email: '',

      // Account Password
      password: '',

      // Confirm Password
      confirmPassword: '',

      // ReCAPTCHA Site Key
      reCAPTCHASiteKey: process.env.VUE_APP_RECAPTCHA_SITE_KEY,

      // Error Message from Server
      errorMessage: '',

      // true if reCAPTCHA has renderd
      reCAPTCHARendered: false,

      // true if loading
      loading: false,

      // Images
      contactImage
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages', ]),
    validEmail() {
      let emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; /* eslint-disable-line */
      return emailRegex.test(this.email.toLowerCase());
    },
    validPasswords() {
      let duplicates = this.password === this.confirmPassword;
      let longEnough = this.password.length > 0;
      return (duplicates && longEnough);
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onReCAPTCHARendered(id) {
      this.reCAPTCHARendered = true;
    },
    onExecuteReCAPTCHAChallenge() {
      if (!this.validEmail) {
        this.errorMessage = this.messages.SPECIFY_VALID_EMAIL;
      } else if (!this.validPasswords) {
        this.errorMessage = this.messages.SPECIFY_VALID_PASSWORDS;
      } else {
        this.$refs.invisibleRecaptcha.execute();
      }
    },
    async onReCAPTCHAChallengeDone(reCAPTCHAToken) {
      try {
        this.loading = true;
        await this.$g.store.dispatch('auth/createAccount', {
          email: this.email,
          password: this.password,
          reCAPTCHAToken
        });
      } catch (err) {
        this.errorMessage = err.message;
        this.resetRecaptcha();
      } finally {
        this.loading = false;
      }
    },
    onTermsAndConditions() {
      window.open(this.$g.userGuide.getTermsAndConditionsURL());
    },
    onPrivacyPolicy() {
      window.open(this.$g.userGuide.getPrivacyPolicyURL());
    },
    onCookiePolicy() {
      window.open(this.$g.userGuide.getCookiePolicyURL());
    },
    onDisclaimer() {
      window.open(this.$g.userGuide.getDisclaimerURL());
    },
    resetRecaptcha() {
      setTimeout(() => {
        this.$refs.invisibleRecaptcha.reset();
      }, 1000);
    }
  },
};

</script>
