<!--
  NAME
    CreateAccountEmail.vue

  DESCRIPTION
    Ask user to check email to confirm account
 -->
<template>
  <SmecknSplashContainer>
    <b-row>
      <SmecknLogoCard class="mx-auto my-4" title="Check your email">
        <p class="mt-2">Please check your email. An account verification email has been sent to:</p>
        <p class="text-info" data-cy="createAccountEmailPara">{{ email }}</p>
        <p>Before you can log into your account, you need to verify your account
          by clicking the link we sent to your inbox.</p>
      </SmecknLogoCard>
    </b-row>
  </SmecknSplashContainer>
</template>
<script>
export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Account Email that was just emailed
    email: {
      type: String,
      default: null
    },
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  /**
   * Ensure that email prop is fully defined
   */
  mounted: function () {
    if (this.email === null) {
      this.$g.store.dispatch('auth/logout', { whoops: true });
    }
  }
};

</script>
