<!--
  NAME
    ForgotPasswordEmail.vue

  DESCRIPTION
    Ask user to check email
 -->
<template>
  <SmecknSplashContainer>
    <b-row>
      <SmecknLogoCard class="mx-auto my-4" title="Check your email">
        <!-- Tell user to check their email and click link -->
        <p class="mt-2">Please check your email.</p>
        <p>A link to reset your password has been emailed to:</p>
        <p class="text-info" data-cy="forgotPasswordEmailPara">{{ email }}</p>
      </SmecknLogoCard>
    </b-row>
  </SmecknSplashContainer>
</template>
<script>
export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Account Email that was just emailed with link to reset password
    email: {
      type: String,
      default: null
    },
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  /**
   * Ensure that email prop is fully defined
   */
  mounted: function () {
    if (this.email === null) {
      this.$g.store.dispatch('auth/logout', { whoops: true });
    }
  }
};

</script>
