<!--
  NAME
    ForgotPassword.vue

  DESCRIPTION
    Begin ForgotPassword Workflow
 -->
<template>
  <SmecknSplashContainer>
    <b-row>
      <SmecknLogoCard class="mx-auto my-4" title="Reset Your Password">

        <!-- Forgot Password Form:
             Prompt user to enter email address and then an email will be sent -->
        <b-form-group class="mt-2">
          <b-form-group label="Email address:">
            <b-form-input type="email" v-model="email" data-cy="emailInput">
            </b-form-input>
          </b-form-group>
          <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
          <form @submit.prevent="onExecuteReCAPTCHAChallenge">
            <vue-recaptcha ref="invisibleRecaptcha" @verify="onReCAPTCHAChallengeDone"
              size="invisible" :sitekey="reCAPTCHASiteKey">
            </vue-recaptcha>
            <b-button-group class="d-flex justify-content-center">
              <b-button class="btn-info" type="submit" data-cy="resetPasswordButton">
                Reset Password</b-button>
            </b-button-group>
          </form>
        </b-form-group>

        <!-- Loading -->
        <SmecknSpinner v-if="loading"></SmecknSpinner>
      </SmecknLogoCard>
    </b-row>
  </SmecknSplashContainer>
</template>

<script>
import Vuex from 'vuex';
import VueRecaptcha from 'vue-recaptcha';

export default {

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { VueRecaptcha },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Account email that is resetting password
      email: '',

      // ReCAPTCHA Site Key
      reCAPTCHASiteKey: process.env.VUE_APP_RECAPTCHA_SITE_KEY,

      // Error Message from server
      errorMessage: '',

      // If True, we are loading
      loading: false,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages']),
    validEmail() {
      return this.email.length > 0;
    },
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onExecuteReCAPTCHAChallenge() {
      if (!this.validEmail) {
        this.errorMessage = this.messages.SPECIFY_VALID_EMAIL;
      } else {
        this.$refs.invisibleRecaptcha.execute();
      }
    },
    async onReCAPTCHAChallengeDone(reCAPTCHAToken) {
      try {
        this.loading = true;
        await this.$g.store.dispatch('auth/forgotPassword', { email: this.email, reCAPTCHAToken });
      } catch (err) {
        this.errorMessage = err.message;
        this.resetRecaptcha();
      } finally {
        this.loading = false;
      }
    },
    resetRecaptcha() {
      setTimeout(() => {
        this.$refs.invisibleRecaptcha.reset();
      }, 1000);
    }
  }
};

</script>
