<!--
  NAME
    Login.vue

  DESCRIPTION
    Login workflow
 -->
<template>
  <SmecknSplashContainer>
    <b-row>
      <SmecknLogoCard class="mx-auto my-4" title="Log In">

        <!-- Login Form ------------------------------------------------------>
        <b-form class="mt-2" v-on:keyup.enter="onExecuteReCAPTCHAChallenge">
          <!-- Email Address -->
          <b-form-group label="Email address:">
            <b-form-input type="email" v-model="email" data-cy="emailInput">
            </b-form-input>
          </b-form-group>
          <!-- Password -->
          <b-form-group label="Password:">
            <b-form-input type="password" v-model="password" data-cy="passwordInput">
            </b-form-input>
          </b-form-group>
          <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
          <b-button-group>
            <!-- Forgot Password -->
            <b-form>
              <b-button v-on:click="onForgotPassword" class="btn-info mr-2" data-cy="forgotPasswordButton">
                Forgot Password</b-button>
            </b-form>
            <!-- Login Submission Button: Executes ReCAPTCHA Challenge on Submit -->
            <b-form v-on:submit.prevent="onExecuteReCAPTCHAChallenge">
              <vue-recaptcha ref="invisibleRecaptcha" v-on:verify="onReCAPTCHAChallengeDone"
                size="invisible" v-bind:sitekey="reCAPTCHASiteKey" v-on:render="onReCAPTCHARendered">
              </vue-recaptcha>
              <b-button class="btn-info" type="submit" data-cy="loginButton">
                <img v-bind:src="lockImage" class="d-inline-block smg-img-3 mr-2" alt="">Log
                In</b-button>
            </b-form>
          </b-button-group>
        </b-form>

        <!-- Loading --------------------------------------------------------->
        <SmecknSpinner v-if="loading" class="my-2"></SmecknSpinner>
      </SmecknLogoCard>
    </b-row>
    <!-- Invisible div. Signals to cypress that recaptcha is mounted and ready -->
    <div v-if="reCAPTCHARendered" data-cy="reCAPTCHARendered"> </div>
  </SmecknSplashContainer>
</template>
<script>
import Vuex from 'vuex';
import VueRecaptcha from 'vue-recaptcha';
import lockImage from '../../img/flaticon/lock.png';

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Account Email
      email: '',

      // Account Password
      password: '',

      // ReCAPTCHA Site Key
      reCAPTCHASiteKey: process.env.VUE_APP_RECAPTCHA_SITE_KEY,

      // Login Error Message
      errorMessage: '',

      // True if ReCAPTCHA has rendered
      reCAPTCHARendered: false,

      // If true, loading
      loading: false,

      // Images
      lockImage,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages']),
    validEmail() {
      return this.email.length > 0;
    },
    validPassword() {
      return this.password.length > 0;
    }
  },

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: {
    VueRecaptcha,
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onReCAPTCHARendered(id) {
      this.reCAPTCHARendered = true;
    },
    onExecuteReCAPTCHAChallenge() {
      if (!this.validEmail) {
        this.errorMessage = this.messages.SPECIFY_VALID_EMAIL;
      } else if (!this.validPassword) {
        this.errorMessage = this.messages.SPECIFY_VALID_PASSWORD;
      } else {
        this.$refs.invisibleRecaptcha.execute();
      }
    },
    async onReCAPTCHAChallengeDone(reCAPTCHAToken) {
      try {
        this.loading = true;
        await this.$g.store.dispatch('auth/login', {
          email: this.email,
          password: this.password,
          reCAPTCHAToken
        });
      } catch (err) {
        this.errorMessage = err.message;
        this.resetRecaptcha();
      } finally {
        this.loading = false;
      }
    },
    onForgotPassword() {
      this.$g.router.push({ name: 'rnForgotPassword' });
    },
    resetRecaptcha() {
      setTimeout(() => {
        this.$refs.invisibleRecaptcha.reset();
      }, 1000);
    }
  }
};

</script>
