<!--
  NAME
    ResetPassword.vue

  DESCRIPTION
    Screen to reset the password
 -->
<template>
  <SmecknSplashContainer>
    <b-row>
      <SmecknLogoCard class="mx-auto my-4" title="Reset Your Password">

        <!-- Reset Password Form -->
        <b-form v-on:submit.prevent class="mt-2" v-on:keyup.enter="onResetPassword">
          <b-form-group label="Enter your New Password:">
            <b-form-input type="password" v-model="password" required placeholder="Enter password"
              data-cy="passwordInput">
            </b-form-input>
          </b-form-group>
          <b-form-group label="Confirm your New Password:">
            <b-form-input type="password" v-model="confirmPassword" required placeholder="Confirm password"
              data-cy="confirmPasswordInput">
            </b-form-input>
          </b-form-group>
          <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
          <br>
          <b-button class="btn-info" v-on:click="onResetPassword" data-cy="resetPasswordButton">Reset
            Password</b-button>
        </b-form>

        <!-- Loading -->
        <SmecknSpinner v-if="loading"></SmecknSpinner>
      </SmecknLogoCard>
    </b-row>
  </SmecknSplashContainer>
</template>
<script>
import Vuex from 'vuex';

export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Forgot Password Token that is sent from server and embedded in URL
    forgotPasswordToken: {
      type: String,
      default: null
    },
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Password
      password: '',

      // Repeated Password
      confirmPassword: '',

      // Error
      errorMessage: '',

      // If true, loading
      loading: false,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages']),
    validPasswords() {
      let duplicates = this.password === this.confirmPassword;
      let longEnough = this.password.length > 0;
      return (duplicates && longEnough);
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  /**
   * Ensure that createAccountToken prop is fully defined
   * Then send token to server to complete account creation.
   */
  mounted() {
    if (this.forgotPasswordToken === null) {
      this.$g.store.dispatch('auth/logout', { whoops: true });
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    async onResetPassword() {
      if (!this.validPasswords) {
        this.errorMessage = this.messages.SPECIFY_VALID_PASSWORDS;
      } else {
        try {
          this.loading = true;
          await this.$g.store.dispatch('auth/resetPassword', {
            forgotPasswordToken: this.forgotPasswordToken,
            password: this.password
          });
        } catch (err) {
          this.errorMessage = err.message;
        } finally {
          this.loading = false;
        }
      }
    }
  }
};

</script>
