<template>
  <div class="About">
    <div class="container container-table">
      <div class="row vertical-10p">
        <div class="container text-center">
          <!-- <img src="../../static/img/logo.png" class="center-block logo"> -->
          <h1 class="qjbigHeader">About QuotableJoy</h1>
          <div class="qjAboutText">
            <p>QuotableJoy is a website designed to bring daily joy to its viewers. We understand that life presents many challenges and having a daily injection of inspiration can help. Each day we present a quote coupled with a photograph designed to inspire and bring you a moment of joy. We select quotes from famous people including:</p>
            <ul>
              <li>Tom Brady,</li>
              <li>Walt Disney,</li>
              <li>Albert Einstein,</li>
              <li>Ralph Waldo Emerson,</li>
              <li>Henry Ford,</li>
              <li>Bill Gates,</li>
              <li>Helen Keller,</li>
              <li>John F. Kennedy,</li>
              <li>Abraham Lincoln,</li>
              <li>Norman Vincent Peale,</li>
              <li>Colin Powell,</li>
              <li>Jen Proske,</li>
              <li>J.K. Rowling,</li>
              <li>George Sand,</li>
              <li>Dr. Seuss,</li>
              <li>Mother Teresa,</li>
              <li>Henry David Thoreau, and</li>
              <li>John Wooden.</li>
            </ul>
            <p>We use photographs from top photographers throughout the world. We allow you to navigate through the last 30-days of "quotablejoys".</p>
           <!--  <p>We are interested in what you think about our site. Please use the &ldquo;Contact Us&rdquo; to email us ideas to help improve the site. We will be adding to the site based on feedback. Thanks for your help and we hope that you have a very joyful life!</p> -->
          </div>
          <router-link to="/">Return to Today's Quote.</router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'About'
}

</script>
<style scoped>
.qjAboutText {
  text-align: left;
}

</style>
