<template>
  <div class="ContactUs">
    <div class="container container-table">
      <div class="row vertical-10p">
        <div class="container text-center">
          <!-- <img src="../../static/img/logo.png" class="center-block logo"> -->
          <h1 class="qjbigHeader">Contact Us</h1>
          <div class="qjContactUsText">
            <p>If you wish to contact us please send and email to beblsoftmanager@gmail.com .</p>
          </div>
          <router-link to="/">Return to Today's Quote.</router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'About'
}

</script>
<style scoped>
.qjContactUsText {
  text-align: center;
}

</style>
