<template>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="qjouter-box">
          <img v-bind:src=picture class="qjpicture-box" alt="thePicture">
          <h6 class="qjmargin">{{ date }}</h6>
          <div class="qjquote-box">
            <h3>{{ quote }}</h3>
            <h5>{{ author }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row">
      <h6 class="qjmargin"></h6>
      <div class="col-md-1 text-center">
        <button v-on:click="getPrev" type="button" id="prevButton" class="btn qjslick-button">
          <span class="glyphicon glyphicon-backward"></span>
        </button>
      </div>
      <div class="col-md-10 center-block">
       <!--  <div class="qjad-box">
         <img v-bind:src=theAd class="qjad-picture" alt="Google AdSense Integration">
       </div> -->
      </div>
      <div class="col-md-1 text-center">
        <button v-on:click="getNext" type="button" id="nextButton" class="btn qjslick-button" disabled>
          <span class="glyphicon glyphicon-forward"></span>
        </button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Home',
  store: ['quotes'],
  data() {
    return {
      date: null,
      quote: null,
      author: null,
      picture: null,
      theQuote: null,
      theAd: null,
      quoteInterface: null
    }
  },
  // One call to ther server to get the first and only bunch of quotes
  created: function() {
    // get global data from the store, quotes
    this.quoteInterface = this.quotes
    if (this.quoteInterface.alreadyHaveQuotes() !== true) {
      this.quoteInterface.getQuotesFromServer()
        .then((resp) => {
          this.setFirst()
          console.log(resp)
        })
        .catch((err) => {
          console.log(err)
        })
    } else this.setFirst()
  },
  methods: {
    setFirst: function() {
      this.theQuote = this.quoteInterface.getCurrentQuote()
      this.date = this.theQuote.displayDate
      this.quote = this.theQuote.text
      this.author = this.theQuote.author
      this.picture = this.theQuote.pictureURL
    },
    getPrev: function(event) {
      this.theQuote = this.quoteInterface.getPreviousQuote()
      if (this.theQuote != null) {
        this.date = this.theQuote.displayDate
        this.quote = this.theQuote.text
        this.author = this.theQuote.author
        this.picture = this.theQuote.pictureURL
        document.getElementById('nextButton').disabled = false
      }
      if (this.quoteInterface.isPrevious() === false) document.getElementById('prevButton').disabled = true
    },
    getNext: function(event) {
      this.theQuote = this.quoteInterface.getNextQuote()
      if (this.theQuote != null) {
        this.date = this.theQuote.displayDate
        this.quote = this.theQuote.text
        this.author = this.theQuote.author
        this.picture = this.theQuote.pictureURL
        document.getElementById('prevButton').disabled = false
      }
      if (this.quoteInterface.isNext() === false) document.getElementById('nextButton').disabled = true
    }
  }
}

</script>
<!-- Add 'scoped" attribute to limit CSS to this component only -->
<style scoped>
.qjouter-box {
  border: solid black;
  border-width: 14px;
  background: black;
  height: 570px;
}

.qjpicture-box {
  border: solid white;
  border-style: double;
  background: darkkhaki;
  border-width: 5px;
  width: 100%;
  height: 73%;
}

.qjmargin {
  text-align: center;
  color: tan;
}

.qjquote-box {
  border: solid darkseagreen;
  border-style: double;
  border-width: 5px;
  width: 97%;
  height: 21%;
  margin: auto;
  background: black;
  color: tan;
  text-align: center;
}

.qjad-box {
  /*  width: 728px; */
  height: 90px;
  margin: auto;
}

.qjad-picture {
  display: block;
  width: 95%;
  height: 100%;
  margin: auto;
  color: tan;
  background: black;
  text-align: center;
}

</style>
