<template>
  <div class="Quotes">
    <div align="center">
      <router-link to="/">Return to Today's Quote.</router-link>
    </div>
    <table class="table striped hover"></table>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Quote</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in quoteRows" :key="row.displayDate">
          <td>{{ row.displayDate }}</td>
          <td width="75%">{{ row.text }}</td>
          <td>{{ row.author }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: 'Quotes',
  store: ['quotes'],
  data() {
    return {
      quoteRows: null,
      quoteInterface: null
    }
  },
  // One call to ther server to get the first and only bunch of quotes
  created: function() {
    // get global data from the store, quotes
    this.quoteInterface = this.quotes
    if (this.quoteInterface.alreadyHaveQuotes() !== true) {
      this.quoteInterface.getQuotesFromServer()
        .then((resp) => {
          this.populateArray()
          console.log(resp)
        })
        .catch((err) => {
          console.log(err)
        })
    } else this.populateArray()
  },
  methods: {
    populateArray: function() {
      this.quoteRows = this.quoteInterface.getQuotes()
    }
  }
}

</script>
<style scoped>


</style>
