<!--
  NAME
    FacebookProfileManage.vue

  DESCRIPTION
    Manage Facebook Profile
 -->
<template>
  <SmecknLogoCard title="Manage Facebook Profile" class="text-left" data-cy="facebookProfileManageCard">

    <!-- Update Credentials -->
    <SmecknContentSection title="Update Profile Credentials">
      <b-form class="d-flex justify-content-end" v-on:submit.prevent>
        <b-button class="btn-info mx-1" v-on:click="onUpdateCredentials" data-cy="updateCredentialsButton">
          Update</b-button>
      </b-form>
    </SmecknContentSection>

    <!-- Delete -->
    <SmecknContentSection title="Delete Profile">
      <b-form class="d-flex justify-content-end" v-on:submit.prevent>
        <b-button class="btn-danger mx-1" v-on:click="onShowDeletionModal" data-cy="deleteModalButton">Delete</b-button>
      </b-form>
    </SmecknContentSection>

    <!-- Deletion Modal -->
    <SmecknModal ref="sm-deletion-modal" title="Delete Facebook Profile?">
      <!-- Body -->
      <template v-slot:default>
        <p>All profile data will be removed if the profile is deleted.
          Do you still want to delete the profile?
        </p>
      </template>
      <!-- Footer -->
      <template v-slot:footer>
        <b-form class="d-flex justify-content-end" v-on:submit.prevent>
          <b-button class="btn-secondary mx-1" v-on:click="onHideDeletionModal" data-cy="cancelDeleteButton">Cancel</b-button>
          <b-button class="btn-danger mx-1" v-on:click="onDelete" data-cy="deleteButton">Delete</b-button>
        </b-form>
      </template>
    </SmecknModal>
    <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>

    <!-- Loading -->
    <SmecknSpinner v-if="loading"></SmecknSpinner>

  </SmecknLogoCard>
</template>
<script>
import Vuex from 'vuex';

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // If true, we are loading data
      loading: false,

      // Error message
      errorMessage: ''
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('profileGroup', ['waProfileGroup']),
    ...Vuex.mapGetters('facebookProfile', ['waProfile']),
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  /**
   * Ensure user is already logged out
   */
  async mounted() {
    await this.$g.store.dispatch('facebookProfile/logout');
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    async onUpdateCredentials() {
      try {
        this.loading = true;
        this.errorMessage = '';
        await this.$g.store.dispatch('facebookProfile/updateCredentials', { waProfile: this.waProfile });
      } catch (err) {
        this.errorMessage = err.message;
      } finally {
        this.loading = false;
      }
    },
    onShowDeletionModal() {
      this.$refs['sm-deletion-modal'].show();
    },
    onHideDeletionModal() {
      this.$refs['sm-deletion-modal'].hide();
    },
    async onDelete() {
      try {
        this.loading = true;
        this.errorMessage = '';
        await this.$g.store.dispatch('profile/delete', { waProfile: this.waProfile });
        await this.$g.store.dispatch('profile/list', { waProfileGroup: this.waProfileGroup });
        // ProfileWrapper.vue should catch and navigate, but just in case...
        await this.$g.router.push({ name: 'rnProfileAdd' });
      } catch (err) {
        this.errorMessage = err.message;
      } finally {
        this.loading = false;
      }
    }
  },

};

</script>
