<!--
  NAME
    FacebookProfileOverview.vue

  DESCRIPTION
    See overview of facebook profile
 -->
<template>
  <SmecknLogoCard title="Facebook Profile Overview" class="text-left" data-cy="facebookProfileOverviewCard">

    <!-- Loading -->
    <SmecknSpinner v-if="loading"></SmecknSpinner>

    <!-- Information -->
    <SmecknContentSection v-if="showInformation" title="Information">
      <b-row v-for="infoItem in infoItems" v-bind="infoItem.attributeObj ? infoItem.attributeObj : {}"
        v-bind:key="infoItem.title">
        <template v-if="infoItem.show">
          <b-col cols="5">
            <p class="font-weight-bold">{{ infoItem.title }}</p>
          </b-col>
          <b-col cols="7">
            <p>{{ infoItem.value }}</p>
          </b-col>
        </template>
      </b-row>
    </SmecknContentSection>

  </SmecknLogoCard>
</template>
<script>
import _ from 'lodash';
import moment from 'moment';
import Vuex from 'vuex';

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // If true, we are loading data
      loading: false,

      // Facebook Profile Data
      waFacebookProfile: null
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('facebookProfile', ['waProfile']),
    showInformation() {
      return this.waFacebookProfile !== null;
    },

    /**
     * Return facebook profile informational items
     * @return {Array<Object>} Array of objects to display
     *
     * Each object has the following structure:
     * {
     *   title
     *     type: String
     *     Description: Title of profile field
     *     Required: true
     *
     *   value
     *     type: String|Number
     *     Description: Value of field
     *     Required: true
     *
     *   show
     *     type: Boolean
     *     Description: If True, show title, value. Else, do not show them
     *     Required: true
     *
     *   attributeObj
     *     type: Object
     *     Description: Object of HTML attributes
     *     Required: false
     * }
     */
    infoItems() {
      return [{
          title: 'Name',
          value: this.waFacebookProfile.name,
          show: this.waFacebookProfile.name !== null,
          attributeObj: { 'data-cy': 'facebookProfileName' }
        },
        {
          title: 'Email',
          value: this.waFacebookProfile.email,
          show: this.waFacebookProfile.email !== null,
          attributeObj: { 'data-cy': 'facebookProfileEmail' }
        },
        {
          title: 'Gender',
          value: _.capitalize(this.waFacebookProfile.gender),
          show: this.waFacebookProfile.gender !== null,
          attributeObj: { 'data-cy': 'facebookProfileGender' }
        },
        {
          title: 'Birthday',
          value: moment(this.waFacebookProfile.birthdayDate).format('LL'),
          show: this.waFacebookProfile.birthdayDate !== null,
          attributeObj: { 'data-cy': 'facebookProfileBirthdayDate' }
        },
        {
          title: 'Hometown',
          value: this.waFacebookProfile.hometown,
          show: this.waFacebookProfile.hometown !== null,
          attributeObj: { 'data-cy': 'facebookProfileHometown' }
        },
        {
          title: 'Facebook Profile ID',
          value: this.waFacebookProfile.fbID,
          show: this.waFacebookProfile.fbID !== null,
          attributeObj: { 'data-cy': 'facebookProfileID' }
        },
      ];
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    this.init();
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Initialze Profile Group State and Route to Child Appropriately
     */
    async init() {
      try {
        this.loading = true;
        this.waFacebookProfile = await this.$g.store.dispatch('facebookProfile/get', {
          waProfile: this.waProfile
        });
      } finally {
        this.loading = false;
      }
    }
  },

};

</script>
