@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
/*global variables for colors */
:root {
  /* bootstrap color, off white */
  --main-bg-color: #f9f9f9;
  /* bootstrap button, nice blue */
  --main-border-color: #17a2b8;
}


.smeckn-splash-dialog {
  margin: 0 auto;
  margin-top: 125px;
  opacity: 0.95;
}

.smeckn-card-brand {
  color: var(--main-border-color);
  font-size: 32px !important;
  font-family: 'Shadows Into Light', cursive;
}
