<body class="mj-login">
    <div class="container">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="get" novalidate>
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
                </div>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" formControlName="rememberMe"> Remember me
                    <span class="pull-right"> <a (click)="onForgotPassword()"> Forgot Password?</a></span>
                </label>
                <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!loginForm.valid">Login</button>
                <button class="btn btn-info btn-lg btn-block" (click)="onSignup()">Sign In</button>
            </div>
        </form>
    </div>
</body>
<!-- Debugging  -->
<!-- <p> {{loginForm.value | json }} </p>
<p> {{loginForm.status | json }} </p> -->