<!DOCTYPE html>
<html>

<head>
    <title>Basic Routing!</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
    <div id="app">
        <h1>Getting Started Basic Routing Features: Dyanamic Routes and Nested Routes!</h1>
        <p>
            <!-- use router-link component for navigation. -->
            <!-- specify the link by passing the `to` prop. -->
            <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
            <router-link to="/foo">
                <b-button style="width:50%; margin-bottom: 5px; display:block; background-color:teal">Basic: Go to Foo (/foo)</b-button>
            </router-link>
            <router-link to="/bar">
                <b-button style="width:50%; margin-bottom: 5px; display:block; background-color:teal">Basic: Go to Bar(/bar)</b-button>
            </router-link>
            <router-link to="/dynamicRoute/dog">
                <b-button style="width:50%; margin-bottom: 5px; display:block; background-color:teal">Dynamic: Go to Dynamic Route with Dog (/dynamicRoute/dog)</b-button>
            </router-link>
            <router-link to="/dynamicRoute/cat">
                <b-button style="width:50%; margin-bottom: 5px; display:block; background-color:teal">Dynamic: Go to Dynamic Route with Cat /dynamicRoute/cat)</b-button>
            </router-link>
            <router-link to="/dynamicRoute/banana/profile">
                <b-button style="width:50%; margin-bottom: 5px; display:block; background-color:teal">Dynamic with Nesting: Go to Dynamic Route then Child Profile with Banana (/dynamicRoute/banana/profile)</b-button>
            </router-link>
            <router-link to="/dynamicRoute/rat/posts">
                <b-button style="width:50%; margin-bottom: 5px; display:block; background-color:teal">Dynamic with Nesting: Go to Dynamic Route then Child Posts with Rat (/dynamicRoute/rat/posts)</b-button>
            </router-link>
        </p>
        <!-- route outlet -->
        <!-- component matched by the route will render here -->
        <router-view></router-view>
    </div>
    <script>
    // 0. If using a module system (e.g. via vue-cli), import Vue and VueRouter
    // and then call `Vue.use(VueRouter)`.

    // 1. Define route components.
    // These can be imported from other files
    const Foo = { template: '<div>Went to foo</div>' }
    const Bar = { template: '<div>Went to bar</div>' }
    const DynamicRoute = { template: '<div>Went to dynamicRoute: {{ $route.params.id }} <router-view></router-view></div>' }
    const UserProfile = { template: '<div>UserProfile</div>' }
    const UserPosts = { template: '<div>UserPosts</div>' }


    // 2. Define some routes
    // Each route should map to a component. The "component" can
    // either be an actual component constructor created via
    // `Vue.extend()`, or just a component options object.
    // We'll talk about nested routes later.
    const routes = [
        { path: '/foo', component: Foo },
        { path: '/bar', component: Bar },
        {
            path: '/dynamicRoute/:id',
            component: DynamicRoute,
            children: [{
                    // UserProfile will be rendered inside User's <router-view>
                    // when /user/:id/profile is matched
                    path: 'profile',
                    component: UserProfile
                },
                {
                    // UserPosts will be rendered inside User's <router-view>
                    // when /user/:id/posts is matched
                    path: 'posts',
                    component: UserPosts
                }
            ]
        }
    ]

    // 3. Create the router instance and pass the `routes` option
    // You can pass in additional options here, but let's
    // keep it simple for now.
    const router = new VueRouter({
        routes // short for `routes: routes`
    })

    // 4. Create and mount the root instance.
    // Make sure to inject the router with the router option to make the
    // whole app router-aware.
    const app = new Vue({
        router
    }).$mount('#app')

    // Now the app has started!
    </script>
</body>

</html>