<!DOCTYPE html>
<html>

<head>
  <title>Data Fetching</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <h1>Data Fetching Demo</h1>
    <router-view></router-view>
  </div>
  <script>
  const FetchComponent = {
    template: `
    <div class="post">
      <div v-if="loading" class="loading">
        Loading...
        <b-spinner variant="primary" label="Large Spinner"></b-spinner>
      </div>

      <div v-if="error" class="error">
        {{ error }}
      </div>

      <div v-if="payload" class="content">
        <h2>{{ payload }}</h2>
      </div>
    </div>
    `,
    data() {
      return {
        loading: false,
        payload: null,
        error: null,
        delayMS: 3000
      }
    },
    created() {
      // fetch the data when the view is created and the data is
      // already being observed
      this.fetchPayload()
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchPayload'
    },
    methods: {
      fetchPayload() {
        this.error = this.payload = null
        this.loading = true
        setTimeout(() => {
          this.loading = false;
          this.payload = { foo : 'bar' };
        }, this.delayMS)
      }
    }
  }

  const router = new VueRouter({
    routes: [{
      path: '/fetch',
      alias: '/',
      component: FetchComponent
    }]
  })

  const app = new Vue({
    router,
  }).$mount('#app')

  </script>
</body>

</html>
