<!DOCTYPE html>
<html>

<head>
  <title>Routing Guards!</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js"></script>
  <script src="https://unpkg.com/vue-chartkick@0.3.1"></script>
</head>
</head>

<body>
  <div id="app">
    <p>Demo use of Routing Guards with Login/Logout State</p>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="smLogIn">Login</b-button>
    <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal" v-on:click="smLogOut">Logout</b-button>
    <p> User is logged in: {{ ssLoggedIn }}</p>
    <p>
      <router-link :to="{ name: 'fooRoute' }">
        <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal">Named Route: Go to foo</b-button>
      </router-link>
      <router-link :to="{ name: 'barRoute' }">
        <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal">Named Route: Go to bar if logged in, else go to login</b-button>
      </router-link>
    </p>

    <router-view></router-view>
  </div>
  <script>
  /* ----------------- STORE ----------------------------------------------- */
  Vue.use(Vuex)
  const store = new Vuex.Store({
    state: {
      ssLoggedIn: false
    },
    mutations: {
      smLogIn(state) {
        state.ssLoggedIn = true
      },
      smLogOut(state) {
        state.ssLoggedIn = false
      }
    }
  })
  /* ----------------- COMPONENTS ------------------------------------------ */
  const Foo = { template: '<div>Went to foo</div>' }
  const Bar = {
    template: `<div>Logged in so go to Bar! <pie-chart :data="pieData" :donut="true"></pie-chart>  </div>`,
    data() {
      return {
        pieData: [
          ['Blueberry', 44],
          ['Strawberry', 23],
          ['Raspberry', 23],
          ['Bosenberry', 23]
        ]
      }
    }
  }
  const Login = { template: '<div>Went to login as not logged in so no access to bar!</div>' }

  /* ----------------- ROUTING --------------------------------------------- */
  const router = new VueRouter({
    routes: [
      { path: '/foo', name: 'fooRoute', component: Foo },
      { path: '/bar', name: 'barRoute', component: Bar, meta: { requiresAuth: true } },
      { path: '/login', name: 'login', component: Login }
    ]
  })

  router.beforeEach((to, from, next) => {
    let requiresAuth = to.matched.some(record => record.meta.requiresAuth);
    let loggedIn = store.state.ssLoggedIn;

    if (requiresAuth && !loggedIn) {
      next({ path: '/login' })
    }
    next()
  })


  /* ----------------- VUE INSTANCE ---------------------------------------- */
  var app = new Vue({
    router,
    data: {},
    store,
    computed: {
      ...Vuex.mapState([
        'ssLoggedIn'
      ])
    },
    methods: {
      ...Vuex.mapMutations([
        'smLogIn',
        'smLogOut'
      ])
    }
  }).$mount('#app')

  </script>
</body>

</html>
