<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <h1>Routing with props</h1>
    <p>
      <router-link :to="{ name: 'rnNamedParams', params: { blob : 'namedBlob' }}">
        <b-button style="width:100%; margin-bottom: 5px;">Named props</b-button>
      </router-link>
      <router-link to="/propParams/2">
        <b-button style="width:100%; margin-bottom: 5px;">Param props</b-button>
      </router-link>
      <router-link to="/propObject">
        <b-button style="width:100%; margin-bottom: 5px;">Object props</b-button>
      </router-link>
      <router-link to="/propFunction?a=1&b=2">
        <b-button style="width:100%; margin-bottom: 5px;">Function props</b-button>
      </router-link>
    </p>
    <router-view></router-view>
  </div>
  <script>
  /* ----------------- COMPONENTS ------------------------------------------ */
  const Prop = Vue.extend({
    props: ['blob'],
    template: `
    <div>
    <p> Props {{ blob }} </p>
    </div>`,
  });

  /* ----------------- ROUTER ---------------------------------------------- */
  const router = new VueRouter({
    routes: [{
        path: '/namedParams/:blob',
        name: 'rnNamedParams',
        component: Prop,
        props: true
      },
      {
        path: '/propParams/:blob',
        component: Prop,
        props: true
      },
      {
        path: '/propObject',
        component: Prop,
        props: { blob: 1 }
      },
      {
        path: '/propFunction',
        component: Prop,
        props: (route) => { return { blob: route.query } }
      },
    ]
  })

  /* ----------------- VUE INSTANCE ---------------------------------------- */
  const app = new Vue({
    router
  }).$mount('#app')

  </script>
</body>

</html>
