<!DOCTYPE html>
<html>

<head>
  <title>Redirects Routing!</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <h1>Demo Redirects!</h1>
    <p>
      <router-link :to="{ name: 'fooRoute' }">
        <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal">Named Route: Go to foo</b-button>
      </router-link>
      <router-link :to="{ name: 'barRoute' }">
        <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal">Named Route: Go to bar</b-button>
      </router-link>
      <router-link :to="{ name: 'RedirectToFoo' }">
        <b-button style="width:100%; margin-bottom: 5px; display:block; background-color:teal">Named Route redirect to Foo</b-button>
      </router-link>
    </p>
    <router-view></router-view>
  </div>
  <script>
  // Reference: https://router.vuejs.org/
  // Stripped down route components
  const Foo = { template: '<div>Went to foo</div>' }
  const Bar = { template: '<div>Went to bar</div>' }
  const Bar2 = { template: '<div>Went to bar with User: {{ $route.params.userId }}</div>' }
  const User = {
    props: ['userId'],
    template: '<div>User {{ userId }}</div>'
  }

  const routes = [
    { path: '/foo', name: 'fooRoute', component: Foo },
    { path: '/bar', name: 'barRoute', component: Bar },
    { path: '/redirect', name: 'RedirectToFoo', component: Foo },
  ]

  const router = new VueRouter({
    routes // short for `routes: routes`
  })

  const app = new Vue({
    router
  }).$mount('#app')

  </script>
</body>

</html>
