<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <h1>Display route variables</h1>
    <p>
      <router-link to="/user/2">
        <b-button style="width:100%; margin-bottom: 5px;">User By ID</b-button>
      </router-link>
      <router-link to="/user/2?a=3">
        <b-button style="width:100%; margin-bottom: 5px;">User By ID With Params</b-button>
      </router-link>
      <router-link to="/foo">
        <b-button style="width:100%; margin-bottom: 5px;">Redirect</b-button>
      </router-link>
      <router-link to="/bar">
        <b-button style="width:100%; margin-bottom: 5px;">Alias</b-button>
      </router-link>
    </p>
    <router-view></router-view>
  </div>
  <script>
  /* ----------------- COMPONENTS ------------------------------------------ */
  const User = Vue.extend({
    template: `
    <div>
       <p> path {{ $route.path }} </p>
        <p> fullPath {{ $route.fullPath }} </p>
        <p> hash {{ $route.hash  }} </p>
        <p> params {{ $route.params }} </p>
        <p> query {{ $route.query }} </p>
        <p> name {{ $route.name  }} </p>
        <p> redirectedFrom {{ $route.redirectedFrom }} </p>
    </div>`
  });

  /* ----------------- ROUTER ---------------------------------------------- */
  const router = new VueRouter({
    routes: [
      { path: '/user/:id', component: User, name: "User" },
      { path: '/foo', redirect: { name: 'User', params: { id: 1 } }, alias: '/bar' }
    ]
  })

  /* ----------------- VUE INSTANCE ---------------------------------------- */
  const app = new Vue({
    router
  }).$mount('#app')
  </script>
</body>

</html>
