<!DOCTYPE html>
<html>

<head>
    <title>2-way Binding Sample</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <button v-on:click="toast">Toast bread</button>
        <input v-model="breadsToasted" />
        <p> Quantity to put into the oven: {{breadsToasted}} </p>
    </div>
    <script>
    var app = new Vue({
        el: '#app',
        methods: {
            toast() {
                this.breadsToasted++
            }
        },
        data: {
            breadsToasted: 0
        }
    })
    </script>
</body>

</html>
