<!DOCTYPE html>
<html>

<head>
  <title>Custom v-model</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>Parent write to console on child event</h1>
    <base-checkbox v-bind:checked="true" v-on:change="boxChecked"></base-checkbox>

    <h1>Bind parent variable to child</h1>
    <base-checkbox v-model="lovingVue"></base-checkbox>
    <h3>Loving Vue={{ lovingVue }}</h3>
  </div>

  <script>
  Vue.component('BaseCheckbox', {
    model: {
      prop: 'checked',
      event: 'change'
    },
    props: {
      checked: Boolean
    },
    template: `
    <input
      type="checkbox"
      v-bind:checked="checked"
      v-on:change="$emit('change', $event.target.checked)"
    >
    `
  })
  var vm = new Vue({
    el: '#app',
    data: {
      lovingVue: false,
    },
    methods: {
      boxChecked: function (checked) {
        console.log("Box Val:" + checked);
      }
    }
  })

  </script>
</body>

</html>
