<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: "Hello Vue"
        }
    })
    </script>
</body>

</html>