<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <h1>Handle event inline</h1>
        <div>
            <button v-on:click="counter += 1">Add 1</button>
            <p>The button above has been clicked {{ counter }} times.</p>
        </div>
        <h1>Handle event with method</h1>
        <div>
            <button v-on:click="greet">Greet</button>
        </div>
        <h1>Handle event with inline method</h1>
        <div>
            <button v-on:click="say('hi')">Say hi</button>
            <button v-on:click="say('what')">Say what</button>
        </div>
        <h1>Handle event by passing $event to handler</h1>
        <div>
            <button v-on:click="warn('Form error.', $event)">Submit</button>
        </div>
        <h1>Handle and log key events</h1>
        <input v-on:keyup.enter.tab.delete.esc.space.up.down.left.right="logEvent($event)">
    </div>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            counter: 0,
            name: 'Foo'
        },
        methods: {
            greet() {
                // `this` inside methods points to the Vue instance
                alert('Hello ' + this.name + '!')
                // `event` is the native DOM event
                if (event) {
                    alert(event.target.tagName)
                }
            },
            say(message) {
                alert(message)
            },
            warn(message, event) {
                // now we have access to the native event
                if (event) event.preventDefault()
                alert(message)
                alert(event)
            },
            logEvent(event) {
                console.log(event)
            },
        }
    })
    </script>
</body>

</html>