<!DOCTYPE html>
<html>

<head>
  <title>Event Emitting</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>Respond to emitted event</h1>
    <base-checkbox v-bind:checked="checked" v-on:change="boxChecked"></base-checkbox>
    <h3>Loving Vue={{ lovingVue }}</h3>
  </div>

  <script>
  Vue.component('BaseCheckbox', {
    props: {
      checked: Boolean
    },
    template: `
    <input
      type="checkbox"
      v-bind:checked="checked"
      v-on:change="$emit('change', $event.target.checked)"
    >
    `
  })
  var vm = new Vue({
    el: '#app',
    data: {
      lovingVue: false,
    },
    methods: {
      boxChecked: function (checked) {
        this.lovingVue = checked;
      }
    }
  })

  </script>
</body>

</html>
