<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- Single Line -->
        <h1>v-model: Single line text</h1>
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
        <!-- Multiline -->
        <h1>v-model: Multiline text</h1>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
        <!-- Checkbox -->
        <h1>Checkbox</h1>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
        <!-- Multiple Checkboxes -->
        <h1>Multiple Checkboxes</h1>
        <div id=>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>
        <!-- Radio -->
        <h1>Radio Button</h1>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
        <!-- Select -->
        <h1>Select</h1>
        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
        <!-- Dynamic Options -->
        <h1>Dynamic Options</h1>
        <select v-model="dynamicSelected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ dynamicSelected }}</span>
    </div>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello World Vue!',
            checked: true,
            checkedNames: ["John"],
            picked: 'Two',
            selected: '',
            dynamicSelected: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]
        }
    })
    </script>
</body>

</html>