<template>
  <div id='app'>
    <img alt='Vue logo' src='./assets/logo.png'>
    <h1>Welcome to Your Vue.js App</h1>
    <button data-cy="pollNetwork" v-on:click="pollNetwork">Poll Network</button>
    <h1>{{ countDone }}/{{ countTotal }}</h1>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'app',
  data: function () {
    return {
      countTotal: 20,
      countDone: 0
    };
  },
  methods: {
    pollNetwork() {
      for (let i = 0; i < this.countTotal; i++) {
        axios.get('http://jsonplaceholder.typicode.com/todos')
          .then((resp) => {
            this.countDone++;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    }
  }
};

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

</style>
