<!--
  NAME
    SmecknScrollContainerTest.vue

  DESCRIPTION
    Test Smeckn Scroll Container
 -->
<template>
  <b-container fluid class="py-2">
    <!-- Scroll to Top Button -->
    <b-button class="btn-info my-2" data-cy="scrollToTopButton" v-on:click="onScrollToTop()">
      Scroll To Top
    </b-button>

    <!-- Scroll Container -->
    <SmecknScrollContainer ref="scrollContainer" v-on:near-end="onNearBottom" class="sm-scroll">
      <p v-for="i in dataList" v-bind:key="i"> {{ i }}</p>
    </SmecknScrollContainer>

    <!-- Near Bottom Paragraph -->
    <p v-if="nearBottom" data-cy="nearBottomPara">Near Bottom!</p>

  </b-container>
</template>
<script>
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      nearBottom: false,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    dataList() {
      return [...Array(100).keys()];
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onNearBottom() {
      this.nearBottom = true;
    },
    onScrollToTop() {
      this.nearBottom = false;
      this.$refs.scrollContainer.scrollToTop();
    }
  }
};

</script>
<style scoped lang="scss">
.sm-scroll {
  max-height: 50vh;
}

</style>
