<!--
  NAME
    SmecknScrollContainer.vue

  DESCRIPTION
    Scrollable Container of Content

  USAGE
    See SmecknScrollContainerTest.vue
-->
<template>
  <!-- Scrolling Container -->
  <div ref="scrollDiv" v-on:scroll="onScroll" data-cy="smecknScrollContainer" class="overflow-auto">
    <slot></slot>
  </div>

</template>
<script>
export default {

  /* ---------------------- EVENTS ----------------------------------------- */
  /*
    Event
      Name
        'near-end'
      Description
        Emitted whenever scrolling is near the end
      Usage
        v-on:near-end="onScrollNearEnd"
        onScrollNearEnd(val) {}
   */

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Offset Height Near Bottom Multiplier
    // When scroll bar reaches within (this value) x (offsetHeight) close to the bottom
    // the near-end event will be triggered
    offsetHeightNearBottomMultiplier: {
      type: Number,
      default: 1.5
    },
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * As the user scrolls towards the bottom of the table this method is invoked
     * to paginate more data in from the server.
     * @param  {Object} event Scroll event object
     */
    async onScroll(event) {
      /*
         Picture and variable name description
             -------------------
          ^  | Scrollable      | ^
          |  | Content         | |
          |  |                 | |
          sh |                 | st
          |  |                 | |
          |  |                 | |
          |  |                 | v
          |  -------------------
       ^  |  | Scroll Visible  |
       |  |  | Windown         |
       |  |  | (What the user  |
       |  |  |  actually sees) |
       oh |  |                 |
       |  |  |                 |
       v  |  |                 |
          |  -------------------
          |  |                 |
          v  |                 |
             -------------------
       */

      let elem = event.srcElement;
      let oh = elem.offsetHeight; // (px) height of container (constant value)
      let sh = elem.scrollHeight; // (px) height of scrollable content (constant value)
      let st = elem.scrollTop; // (px) Height of content at top of scroll pane (0 -> sh-oh)
      let nearBottom = st > sh - this.offsetHeightNearBottomMultiplier * oh;
      if (nearBottom) {
        this.$emit('near-end');
      }
    },

    /**
     * Scroll back to top
     */
    scrollToTop() {
      this.$refs.scrollDiv.scrollTop = 0;
    }
  }
};

</script>
