<!--
  NAME
    FacebookPostAll.vue

  DESCRIPTION
    Display facebook post table.
    Allow user to filter and sort based on different parameters.
 -->
<template>
  <SmecknLogoCard title="Facebook Posts" class="text-left" data-cy="facebookPostAllCard">

    <!-- Search, Sort, and Filter -------------------------------------------->
    <SmecknContentSection>
      <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-center">
        <!-- Search -->
        <b-form-input v-model="searchString" placeholder="Search Posts" data-cy="facebookPostSearchBar">
        </b-form-input>

        <!-- Sort and Date -->
        <div class="d-flex flex-column flex-sm-row align-items-center align-items-sm-center">
          <SmecknSortByDropDown v-model="sortOption" v-bind:sort-option-list="sortOptionList"
            class="m-1">
          </SmecknSortByDropDown>
          <SmecknDateRangePicker v-bind:opens="'left'" v-model="dateRange" class="mx-1"></SmecknDateRangePicker>
        </div>
      </div>
    </SmecknContentSection>

    <!-- Post Display -------------------------------------------------------->
    <SmecknContentSection>
      <!-- List Posts -->
      <template v-if="showPostList">
        <FacebookPostCard v-for="waFacebookPost in waFacebookPostList" v-bind:key="waFacebookPost.smID"
          v-bind:wa-facebook-post="waFacebookPost"></FacebookPostCard>
      </template>

      <!-- No Posts -->
      <p data-cy="noMatchingPostsPara" v-if="!showPostList">No matching posts.</p>

      <!--Loading -->
      <SmecknSpinner v-if="loading" class="my-1"></SmecknSpinner>

      <!-- Error -->
      <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
    </SmecknContentSection>

  </SmecknLogoCard>
</template>
<script>
import Vuex from 'vuex';
import _ from 'lodash';
import calendarImgSrc from '../../img/flaticon/calendar.png';
import chatImgSrc from '../../img/flaticon/chat.png';
import likeImgSrc from '../../img/flaticon/like.png';
import FacebookPostCard from './FacebookPostCard.vue';
import SyncListenerMixin from '../sync/SyncListenerMixin.js';
import AnalysisListenerMixin from '../analysis/AnalysisListenerMixin.js';
import SmecknDateRangeDataMixin from '../../commonComponents/dateRange/SmecknDateRangeDataMixin.js';
import SmecknScrollMixin from '../../commonComponents/scrollMixin/SmecknScrollMixin.js';

export default {

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { FacebookPostCard },

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [SmecknDateRangeDataMixin, SyncListenerMixin, AnalysisListenerMixin, SmecknScrollMixin],

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Starting Sort Option
    // See SmecknSortByDropDown for model
    startSortOption: {
      type: Object,
      required: false,
      default () {
        return { waSortType: 'FACEBOOK_POST_FBCREATEDATE', waSortOrder: 'DESCENDING' };
      }
    },
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // True if loading data
      loading: false,

      // Facebook post data from server
      waFacebookPostNextCursor: '',
      waFacebookPostList: [],
      waFacebookPostLimit: 20,

      // Error Message
      errorMessage: '',

      // Only show posts that have text matching this search string
      searchString: '',

      // Available Sort Options Array
      // No other sort options are allowed
      sortOptionList: [
        { waSortType: 'FACEBOOK_POST_FBCREATEDATE', waSortOrder: 'ASCENDING' },
        { waSortType: 'FACEBOOK_POST_FBCREATEDATE', waSortOrder: 'DESCENDING' },
        { waSortType: 'FACEBOOK_POST_NLIKES', waSortOrder: 'ASCENDING' },
        { waSortType: 'FACEBOOK_POST_NLIKES', waSortOrder: 'DESCENDING' },
        { waSortType: 'FACEBOOK_POST_NCOMMENTS', waSortOrder: 'ASCENDING' },
        { waSortType: 'FACEBOOK_POST_NCOMMENTS', waSortOrder: 'DESCENDING' },
        { waSortType: 'COMP_SENT_ANALYSIS_POSITIVE_SCORE', waSortOrder: 'DESCENDING' },
        { waSortType: 'COMP_SENT_ANALYSIS_NEGATIVE_SCORE', waSortOrder: 'DESCENDING' },
        { waSortType: 'COMP_SENT_ANALYSIS_NEUTRAL_SCORE', waSortOrder: 'DESCENDING' },
        { waSortType: 'COMP_SENT_ANALYSIS_MIXED_SCORE', waSortOrder: 'DESCENDING' },
      ],

      // Current Sort Option
      sortOption: null,

      // Icons
      calendarImgSrc,
      chatImgSrc,
      likeImgSrc,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('facebookProfile', ['waProfile']),
    showPostList() {
      return this.waFacebookPostList.length > 0;
    },
    facebookPostListParams() {
      let paramObj = {
        waProfile: this.waProfile,
        searchString: this.searchString,
        limit: this.waFacebookPostLimit
      };
      if (this.dateRange.startMoment) {
        paramObj.createdAfterDate = this.dateRange.startMoment.utc().toISOString();
      }
      if (this.dateRange.endMoment) {
        paramObj.createdBeforeDate = this.dateRange.endMoment.utc().toISOString();
      }
      if (this.sortOption) {
        paramObj.sortType = this.sortOption.waSortType;
        paramObj.sortOrder = this.sortOption.waSortOrder;
      }
      return paramObj;
    }
  },

  /* ---------------------- WATCH ------------------------------------------ */
  watch: {
    searchString() {
      this.loadData();
    },
    dateRange() {
      this.loadData();
    },
    sortOption() {
      this.loadData();
    },
    startSortOption() {
      this.resetSortOption(this.startSortOption);
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    this.resetSortOption(this.startSortOption);
    this.loadData();
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Load all data needed to render the screen
     */
    loadData: _.debounce(async function () {
      this.loading = true;
      this.errorMessage = '';
      try {
        this.waFacebookPostList = [];
        this.waFacebookPostNextCursor = '';
        let waFacebookPostData = await this.$g.store.dispatch('facebookPost/list',
          this.facebookPostListParams);
        this.waFacebookPostList = waFacebookPostData.data;
        this.waFacebookPostNextCursor = waFacebookPostData.nextCursor;
        this.scrollToTop(); // SmecknScrollMixin
      } catch (err) {
        this.errorMessage = err.message;
      } finally {
        this.loading = false;
      }
    }, 300),


    /**
     * Retrieve next section of posts. See SmecknScrollMixin.
     * Uniqueness Note:
     *   Need to use lodash _.uniqBy function to remove duplicates from the waFacebookPostList.
     *   onScrollNearEnd can fire multiple times before waFacebookPostNextCursor is updated
     *   which would cause duplicates to be added to the waFacebookPostList
     */
    onScrollNearEnd: _.debounce(async function () {
      if (this.waFacebookPostNextCursor !== '') {
        this.loading = true;
        this.errorMessage = '';
        try {
          let waFacebookPostData = await this.$g.store.dispatch('facebookPost/list', {
            ...this.facebookPostListParams,
            cursor: this.waFacebookPostNextCursor
          });
          this.waFacebookPostList = this.waFacebookPostList.concat(waFacebookPostData.data);
          this.waFacebookPostList = _.uniqBy(this.waFacebookPostList, 'smID');
          this.waFacebookPostNextCursor = waFacebookPostData.nextCursor;
        } catch (err) {
          this.errorMessage = err.message;
        } finally {
          this.errorMessage = '';
          this.loading = false;
        }
      }
    }, 300),

    /**
     * Handle Sync Complete
     */
    onSyncComplete() {
      this.loadData();
    },

    /**
     * Handle Analysis Complete
     */
    onAnalysisComplete() {
      this.loadData();
    },

    /**
     * Reset the sort option
     * Ensure that a valid sort is chosen
     */
    resetSortOption(newSortOption) {
      let foundSortOption = _.find(this.sortOptionList, (so) => {
        let sameSortType = so.waSortType === newSortOption.waSortType;
        let sameSortOrder = so.waSortOrder === newSortOption.waSortOrder;
        return sameSortType && sameSortOrder;
      });
      if (foundSortOption) {
        this.sortOption = newSortOption;
      } else {
        this.sortOption = null;
        throw new Error(`Invalid newSortOption ${newSortOption.waSortType} ${newSortOption.waSortOrder}`);
      }
    }
  }
};

</script>
