<!--
  NAME
    FacebookPostSentiment.vue

  DESCRIPTION
    Display facebook posts sentiment
 -->
<template>
  <SmecknLogoCard title="Facebook Post Sentiment" class="text-left" data-cy="facebookPostSentimentCard">

    <!-- Sentiment Counts ---------------------------------------------------->
    <SmecknContentSection>
      <FacebookPostSentimentCounts></FacebookPostSentimentCounts>
    </SmecknContentSection>

    <!-- Statistic Table, Date Range ----------------------------------------->
    <!--
       >= md
         Table  DateRangePicker

       < md
         DateRangePicker
         Table
     -->
    <SmecknContentSection class="d-flex flex-column-reverse align-items-center
                                 flex-md-row justify-content-md-between align-items-md-start">
      <div class="w-100 mr-2" v-if="showStatisticTable">
        <FacebookPostSentimentTable v-bind:wa-statistic-list="waStatisticList"></FacebookPostSentimentTable>
      </div>
      <p v-else data-cy="noPostsExistInDateRange">No posts have been analyzed in this date range.</p>
      <SmecknDateRangePicker class="mb-3" v-bind:opens="'left'" v-bind:close-button="false"
        v-model="dateRange"></SmecknDateRangePicker>
    </SmecknContentSection>

    <!-- Loading ------------------------------------------------------------->
    <SmecknSpinner v-if="loading"></SmecknSpinner>

    <!-- Error --------------------------------------------------------------->
    <SmecknContentSection v-if="errorMessage">
      <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
    </SmecknContentSection>

    <!-- Sentiment Histogram ------------------------------------------------->
    <SmecknContentSection v-if="showSentimentHistogram">
      <FacebookPostSentimentHistogram v-bind:wa-histogram-list="waSentimentHistogramList"></FacebookPostSentimentHistogram>
    </SmecknContentSection>

    <!-- Dominant Sentiment Doughnut ----------------------------------------->
    <SmecknContentSection v-if="showDominantSentimentDoughnut">
      <FacebookPostSentimentDoughnut v-bind:wa-histogram="waDominantSentimentHistogram"
        v-bind:date-range="dateRange"></FacebookPostSentimentDoughnut>
    </SmecknContentSection>
  </SmecknLogoCard>
</template>
<script>
import _ from 'lodash';
import Vuex from 'vuex';
import SmecknDateRangeDataMixin from '../../commonComponents/dateRange/SmecknDateRangeDataMixin.js';
import SyncListenerMixin from '../sync/SyncListenerMixin.js';
import AnalysisListenerMixin from '../analysis/AnalysisListenerMixin.js';
import FacebookPostSentimentCounts from './FacebookPostSentimentCounts.vue';
import FacebookPostSentimentTable from './FacebookPostSentimentTable.vue';
import FacebookPostSentimentDoughnut from './FacebookPostSentimentDoughnut.vue';
import FacebookPostSentimentHistogram from './FacebookPostSentimentHistogram.vue';

export default {

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: {
    FacebookPostSentimentCounts,
    FacebookPostSentimentTable,
    FacebookPostSentimentDoughnut,
    FacebookPostSentimentHistogram
  },

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [SmecknDateRangeDataMixin, SyncListenerMixin, AnalysisListenerMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // True if loading data
      loading: false,

      // Error Message
      errorMessage: '',

      // Statistic server data
      waStatisticList: [],

      // Sentiment Histogram
      waSentimentHistogramList: [],

      // Dominant Sentiment Doughnut
      waDominantSentimentHistogram: null,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('facebookProfile', ['waProfile']),
    analyzedPostExistInDateRange() {
      let rval = false;
      try { rval = this.waStatisticList[0].count > 0; } catch (__) { /* PASS */ }
      return rval;
    },
    showStatisticTable() {
      return this.waStatisticList.length > 0 && this.analyzedPostExistInDateRange;
    },
    showSentimentHistogram() {
      return this.waSentimentHistogramList.length > 0 && this.analyzedPostExistInDateRange;
    },
    showDominantSentimentDoughnut() {
      return Boolean(this.waDominantSentimentHistogram) && this.analyzedPostExistInDateRange;
    },
  },

  /* ---------------------- WATCH ------------------------------------------ */
  watch: {

    /**
     * Handle dateRange change
     */
    dateRange() {
      this.loadData();
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    this.loadData();
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Load all data needed to render the screen
     */
    loadData: _.debounce(async function () {
      this.loading = true;
      this.errorMessage = '';
      try {
        this.waStatisticList = [];
        this.waSentimentHistogramList = [];
        this.waDominantSentimentHistogram = null;
        this.waStatisticList = await this.$g.store.dispatch('statistic/get', {
          waProfile: this.waProfile,
          contentType: 'POST_MESSAGE',
          contentAttrType: 'COMP_SENT_ANALYSIS_ALL_SCORE',
          intervalStartDate: this.dateRange.startMoment.utc().toISOString(),
          intervalEndDate: this.dateRange.endMoment.utc().toISOString(),
        });
        this.waSentimentHistogramList = await this.$g.store.dispatch('histogram/get', {
          waProfile: this.waProfile,
          contentType: 'POST_MESSAGE',
          contentAttrType: 'COMP_SENT_ANALYSIS_ALL_SCORE',
          groupByType: 'FACEBOOK_POST_CREATE_DATE',
          intervalStartDate: this.dateRange.startMoment.utc().toISOString(),
          intervalEndDate: this.dateRange.endMoment.utc().toISOString(),
        });
        let waDominantSentimentHistogramList = await this.$g.store.dispatch('histogram/get', {
          waProfile: this.waProfile,
          contentType: 'POST_MESSAGE',
          contentAttrType: 'COMP_SENT_ANALYSIS_DOMINANT_SENTIMENT',
          groupByType: 'COMP_SENT_ANALYSIS_DOMINANT_SENTIMENT',
          intervalStartDate: this.dateRange.startMoment.utc().toISOString(),
          intervalEndDate: this.dateRange.endMoment.utc().toISOString(),
        });
        this.waDominantSentimentHistogram = waDominantSentimentHistogramList.length > 0 ?
          waDominantSentimentHistogramList[0] : null;
      } catch (err) {
        this.errorMessage = err.message;
      } finally {
        this.loading = false;
      }
    }, 300),

    /**
     * Handle Sync Complete
     */
    onSyncComplete() {
      this.loadData();
    },

    /**
     * Handle Analysis Complete
     */
    onAnalysisComplete() {
      this.loadData();
    },

  }
};

</script>
