<!--
  NAME
    FacebookPostCard.vue

  DESCRIPTION
    Display facebook post defails.
 -->
<template>
  <div class="bg-light rounded p-1 my-3 shadow" data-cy="facebookPostCard">
    <b-row>
      <!-- Left: Facebook MetaData ------------------------------------------->
      <b-col xl="7">
        <div class="my-md-3 p-md-2">
          <!-- Date -->
          <div class="d-flex justify-content-start align-items-center">
            <img v-bind:src="calendarImgSrc" aria-label="Creation Date" class="smg-img-2">
            <p data-cy="facebookPostCreateDatePara" class="text-info p-0 ml-1 mb-0">{{ waFacebookPost.fbCreateDate | date }}</p>
          </div>

          <div class="d-flex align-items-top mt-3">
            <!-- Likes -->
            <div class="d-flex align-items-baseline">
              <img v-bind:src="likeImgSrc" aria-label="Likes" class="smg-img-2">
              <p data-cy="facebookPostNLikesPara" class="ml-1">{{ waFacebookPost.nLikes ? waFacebookPost.nLikes : 0}}</p>
            </div>
            <!-- Comments -->
            <div class="d-flex ml-3">
              <img v-bind:src="chatImgSrc" aria-label="Comments" class="smg-img-2">
              <p data-cy="facebookPostNCommentsPara" class="ml-1">{{ waFacebookPost.nComments ? waFacebookPost.nComments : 0}}</p>
            </div>
            <!-- Permalink -->
            <div class="ml-3">
              <b-link v-if="showPermalink" v-on:click="onPermalinkClicked" data-cy="facebookPostPermaLink"
                aria-label="Permalink">View on Facebook</b-link>
            </div>
          </div>

          <!-- Text -->
          <template v-if="waFacebookPost.messageTextModel && waFacebookPost.messageTextModel.text">
            <h5 data-cy="facebookPostMessageText"> {{ waFacebookPost.messageTextModel.text }}</h5>
          </template>

          <!-- Photo -->
          <template v-if="waFacebookPost.photoModel && waFacebookPost.photoModel.imageURL">
            <img class="sm-img" v-bind:src="waFacebookPost.photoModel.imageURL" data-cy="facebookPostImage" />
          </template>

          <!-- Video -->
          <template v-if="waFacebookPost.videoModel && waFacebookPost.videoModel.imageURL">
            <img class="sm-img" v-bind:src="waFacebookPost.videoModel.imageURL" data-cy="facebookPostVideoImage" />
          </template>

          <!-- Link -->
          <template v-if="waFacebookPost.linkModel">
            <img class="sm-img" v-bind:src="waFacebookPost.linkModel.imageURL" data-cy="facebookLinkImage" />
            <h5 data-cy="facebookLinkName">{{ waFacebookPost.linkModel.name }}</h5>
            <p data-cy="facebookLinkDescription">{{ waFacebookPost.linkModel.description }}</p>
          </template>
        </div>
      </b-col>

      <hr>
      <!-- Right: Analyses --------------------------------------------------->
      <b-col xl="5">
        <SmecknTextAnalysis v-if="waFacebookPost.messageTextModel" v-model="waFacebookPost.messageTextModel">
        </SmecknTextAnalysis>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import moment from 'moment';
import calendarImgSrc from '../../img/flaticon/calendar.png';
import chatImgSrc from '../../img/flaticon/chat.png';
import likeImgSrc from '../../img/flaticon/like.png';

export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    waFacebookPost: {
      // FacebookPost Object, model is potentially updated
      type: Object,
      required: true
    },
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    showPermalink() {
      return this.waFacebookPost.permalinkURL !== null;
    }
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Icons
      calendarImgSrc,
      chatImgSrc,
      likeImgSrc,
    };
  },

  /* ---------------------- FILTERS ---------------------------------------- */
  filters: {
    date(val) {
      return moment.utc(val).local().format('LLL');
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onPermalinkClicked() {
      window.open(this.waFacebookPost.permalinkURL);
    }
  },

};

</script>
<style scoped lang="scss">
.sm-img {
  max-width: 100%;
  max-height: 20rem;
}

</style>
