<!--
  NAME
    FacebookPostCommentsStatistic.vue

  DESCRIPTION
    Display facebook posts comment statistics
 -->
<template>
  <!-- Statistic --------------------------------------------------------->
  <div data-cy="facebookPostCommentsStatistic">
    <p v-for="statisticObject in statisticObjectList" v-bind:key="statisticObject.title"
      class="my-1">
      <span class="font-weight-bold">{{ statisticObject.title }}:</span>
      <span class="ml-1" v-bind="statisticObject.valueAttrObj">{{ statisticObject.value }}</span>
    </p>
  </div>
</template>
<script>
import _ from 'lodash';

export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Web API Statistic
    // {
    //  "profileSMID": 1,
    //  "contentType": "POST",
    //  "contentAttrType": "FACEBOOK_POST_NCOMMENTS",
    //  "intervalStartDate": "1999-08-05T20:21:51.784000",
    //  "intervalEndDate": "2019-08-05T20:21:51.784000",
    //  "count": 106,
    //  "min": 0.0,
    //  "max": 23.0,
    //  "sum": 151.0,
    //  "average": 1.4245,
    //  "stddev": 2.7332616261754983
    // }
    waStatistic: {
      type: Object,
      required: true
    }
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    statisticObjectList() {
      return [{
        title: 'Comments',
        value: this.waStatistic.sum,
        valueAttrObj: { 'data-cy': 'nFacebookComments' }
      }, {
        title: 'Posts',
        value: this.waStatistic.count,
        valueAttrObj: { 'data-cy': 'nFacebookPosts' }
      }, {
        title: 'Average Comments Per Post',
        value: _.round(this.waStatistic.average, 2),
        valueAttrObj: { 'data-cy': 'averageFacebookCommentsPerPost' }
      }, {
        title: 'Highest Comments Per Post',
        value: this.waStatistic.max,
        valueAttrObj: { 'data-cy': 'highestFacebookCommentsPerPost' }
      }, {
        title: 'Lowest Comments Per Post',
        value: this.waStatistic.min,
        valueAttrObj: { 'data-cy': 'lowestFacebookCommentsPerPost' }
      }];
    }
  },
};

</script>
