<!--
  NAME
    FacebookPostComments.vue

  DESCRIPTION
    Display facebook posts comments
 -->
<template>
  <SmecknLogoCard title="Facebook Post Comments" class="text-left" data-cy="facebookPostCommentsCard">

    <SmecknContentSection class="d-flex justify-content-between align-items-start">
      <!-- Statistic --------------------------------------------------------->
      <div v-if="showStatistic" class="m-2">
        <FacebookPostCommentsStatistic v-bind:wa-statistic="waStatistic"></FacebookPostCommentsStatistic>
      </div>
      <p v-if="showNoPostsInDateRange" data-cy="noPostsExistInDateRange">
        No posts exist in date range.
      </p>
      <!-- Date Range -------------------------------------------------------->
      <SmecknDateRangePicker v-bind:opens="'left'" v-bind:close-button="false" v-model="dateRange"></SmecknDateRangePicker>
    </SmecknContentSection>

    <!-- Histogram ----------------------------------------------------------->
    <SmecknContentSection v-if="showHistogram">
      <FacebookPostCommentsHistogram v-bind:wa-histogram="waHistogram"></FacebookPostCommentsHistogram>
    </SmecknContentSection>

    <!-- Loading ------------------------------------------------------------->
    <SmecknSpinner v-if="loading"></SmecknSpinner>

    <!-- Error --------------------------------------------------------------->
    <SmecknContentSection v-if="errorMessage">
      <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
    </SmecknContentSection>

  </SmecknLogoCard>
</template>
<script>
import _ from 'lodash';
import Vuex from 'vuex';
import SmecknDateRangeDataMixin from '../../commonComponents/dateRange/SmecknDateRangeDataMixin.js';
import FacebookPostCommentsHistogram from './FacebookPostCommentsHistogram.vue';
import FacebookPostCommentsStatistic from './FacebookPostCommentsStatistic.vue';
import SyncListenerMixin from '../sync/SyncListenerMixin.js';

export default {

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { FacebookPostCommentsHistogram, FacebookPostCommentsStatistic },

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [SmecknDateRangeDataMixin, SyncListenerMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // True if loading data
      loading: false,

      // Error Message
      errorMessage: '',

      // Statistic server data
      waStatistic: null,

      // Histogram server data
      waHistogram: null,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('facebookProfile', ['waProfile']),
    postsExistInDateRange() {
      let rval = false;
      try { rval = this.waStatistic.count > 0; } catch (__) { /* PASS */ }
      return rval;
    },
    showStatistic() {
      return Boolean(this.waStatistic) && this.postsExistInDateRange;
    },
    showHistogram() {
      return Boolean(this.waHistogram) && this.postsExistInDateRange;
    },
    showNoPostsInDateRange() {
      return Boolean(this.waStatistic) && !this.postsExistInDateRange;
    }
  },

  /* ---------------------- WATCH ------------------------------------------ */
  watch: {

    /**
     * Handle dateRange change
     */
    dateRange() {
      this.loadData();
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Load all data needed to render the screen
     */
    loadData: _.debounce(async function () {
      this.loading = true;
      this.errorMessage = '';
      try {
        // Statistic
        this.waStatistic = null;
        let waStatisticList = await this.$g.store.dispatch('statistic/get', {
          waProfile: this.waProfile,
          contentType: 'POST',
          contentAttrType: 'FACEBOOK_POST_NCOMMENTS',
          intervalStartDate: this.dateRange.startMoment.utc().toISOString(),
          intervalEndDate: this.dateRange.endMoment.utc().toISOString()
        });
        this.waStatistic = waStatisticList.length > 0 ? waStatisticList[0] : null;

        // Histogram
        this.waHistogram = null;
        let waHistogramList = await this.$g.store.dispatch('histogram/get', {
          waProfile: this.waProfile,
          contentType: 'POST',
          contentAttrType: 'FACEBOOK_POST_NCOMMENTS',
          groupByType: 'FACEBOOK_POST_CREATE_DATE',
          intervalStartDate: this.dateRange.startMoment.utc().toISOString(),
          intervalEndDate: this.dateRange.endMoment.utc().toISOString(),
        });
        this.waHistogram = waHistogramList.length > 0 ? waHistogramList[0] : null;
      } catch (err) {
        this.errorMessage = err.message;
      } finally {
        this.loading = false;
      }
    }, 300),

    /**
     * Handle Sync Complete
     */
    onSyncComplete() {
      this.loadData();
    },
  }
};

</script>
