<!--
  NAME
    FacebookPostSentimentDoughnut.vue

  DESCRIPTION
    Facebook Post Sentiment Doughnut

  USAGE
    <FacebookPostSentimentDoughnut v-bind:wa-histogram="waHistogram">
    </FacebookPostSentimentDoughnut>
-->
<script>
import _ from 'lodash';
import Vuex from 'vuex';
import moment from 'moment';
import SmecknChartMixin from '../../commonComponents/chartMixin/SmecknChartMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [SmecknChartMixin],

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Web API Histogram Data
    // {
    //   "profileSMID": 2,
    //   "contentType": "POST_MESSAGE",
    //   "contentAttrType": "COMP_SENT_ANALYSIS_DOMINANT_SENTIMENT",
    //   "groupByType": "COMP_SENT_ANALYSIS_DOMINANT_SENTIMENT",
    //   "groupByDateInterval": null,
    //   "intervalStartDate": "1999-07-30T15:23:08.130000",
    //   "intervalEndDate": "2019-07-30T15:23:08.130000",
    //   "dataModelList": [
    //     {
    //       "groupByDate": null,
    //       "groupByContentAttrType": "COMP_SENT_TYPE_POSITIVE",
    //       "count": 9,
    //       "min": null,
    //       "max": null,
    //       "sum": null,
    //       "average": null,
    //       "stddev": null
    //     },
    //     ...
    //   ]
    // }
    waHistogram: {
      type: Object,
      required: true,
    },
    // Date Range Object
    // See SmecknDateRangePicker.vue for model
    dateRange: {
      type: Object,
      required: true
    },
    // How moment should format dates in date range
    momentFormat: {
      type: String,
      default: 'LL'
    },
    // Chart Div Attribute Object
    chartDivAttrObj: {
      type: Object,
      default () { return { 'data-cy': 'facebookPostSentimentDoughnut' }; }
    }
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('sort', ['contentAttrTypeToSortType']),

    /**
     * @return {Array<Object>} Of sentiment data.
     * Each object has the following format:
     * {
     *   label:
     *     type: String
     *     Description: Human readable label
     *
     *   color:
     *     type: String
     *     Description: Hex Color string
     *
     *   groupByContentAttrType:
     *     type: String
     *     Description: Web API contnet attribute type
     *
     *   count:
     *     type: Number
     *     Description: Count of posts with dominant sentiment
     * }
     */
    sentimentDataList() {
      let waHistogramDataList = this.waHistogram.dataModelList;
      let sentimentDataList = [{
        groupByContentAttrType: 'COMP_SENT_TYPE_POSITIVE',
        label: 'Positive',
        color: this.$g.ui.colors.success,
      }, {
        groupByContentAttrType: 'COMP_SENT_TYPE_NEGATIVE',
        label: 'Negative',
        color: this.$g.ui.colors.danger,
      }, {
        groupByContentAttrType: 'COMP_SENT_TYPE_NEUTRAL',
        label: 'Neutral',
        color: this.$g.ui.colors.info,
      }, {
        groupByContentAttrType: 'COMP_SENT_TYPE_MIXED',
        label: 'Mixed',
        color: this.$g.ui.colors.secondary,
      }];
      // Find count
      for (let i = 0; i < sentimentDataList.length; i++) {
        let sentData = sentimentDataList[i];
        let waHistogramData = _.find(waHistogramDataList, (o) => {
          return o.groupByContentAttrType === sentData.groupByContentAttrType;
        });
        sentData.count = waHistogramData ? waHistogramData.count : 0;
      }
      return sentimentDataList;
    },

    /**
     * @return {String} Chart Title
     */
    chartTitle() {
      let startMomentStr = this.dateRange.startMoment.format(this.momentFormat);
      let endMomentStr = this.dateRange.endMoment.format(this.momentFormat);
      return `Dominant Post Sentiment [${startMomentStr} - ${endMomentStr}]`;
    },

    /**
     * @return {Object} Parameters to create chart
     */
    chartParams() {
      return {
        type: 'doughnut',
        data: {
          datasets: [{
            data: _.map(this.sentimentDataList, (sd) => { return sd.count; }),
            backgroundColor: _.map(this.sentimentDataList, (sd) => { return sd.color; }),
          }],
          labels: _.map(this.sentimentDataList, (sd) => { return sd.label; }),
        },
        options: {
          title: { text: this.chartTitle },
          onClick: this.onChartClicked,
          tooltips: {
            displayColors: true,
          },
          animation: {
            animateScale: true,
            animateRotate: true
          }
        }
      };
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Handle Chart Click: Navigate FacebookPostAll with the correct duration
     * @param  {MouseEvent} mouseEvent
     * @param  {Array<ChartElement>} chartElementArray
     */
    onChartClicked(mouseEvent, chartElementArray) {
      let activeElementList = this.chart.getElementAtEvent(mouseEvent);

      if (activeElementList.length > 0) {
        let activeElement = activeElementList[0];
        let waHistogramData = this.waHistogram.dataModelList[activeElement._index];
        let groupByContentAttrType = waHistogramData.groupByContentAttrType;
        let waSortType = this.contentAttrTypeToSortType(groupByContentAttrType);
        let startMoment = moment.utc(this.waHistogram.intervalStartDate).local();
        let endMoment = moment.utc(this.waHistogram.intervalEndDate).local();
        this.$g.router.push({
          name: 'rnFacebookPostAll',
          params: {
            startDateRange: { startMoment, endMoment },
            startSortOption: { waSortType, waSortOrder: 'DESCENDING' }
          }
        });
      }
    }
  }
};

</script>
