<!--
  NAME
    FacebookPostSentimentHistogram.vue

  DESCRIPTION
    Facebook Post Sentiment Histogram

  USAGE
    <FacebookPostSentimentHistogram v-bind:wa-histogram-list="waHistogramList">
    </FacebookPostSentimentHistogram>
-->
<script>
import Vuex from 'vuex';
import _ from 'lodash';
import moment from 'moment';
import SmecknChartMixin from '../../commonComponents/chartMixin/SmecknChartMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [SmecknChartMixin],

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Web API Histogram List
    // [
    //   {
    //     "profileSMID": 2,
    //     "contentType": "POST_MESSAGE",
    //     "contentAttrType": "COMP_SENT_ANALYSIS_POSITIVE_SCORE",
    //     "groupByType": "FACEBOOK_POST_CREATE_DATE",
    //     "groupByDateInterval": "YEAR",
    //     "intervalStartDate": "1999-07-30T16:02:14.193000",
    //     "intervalEndDate": "2019-07-30T16:02:14.193000",
    //     "dataModelList": [
    //       {
    //         "groupByDate": "1999-01-01T00:00:00",
    //         "groupByContentAttrType": null,
    //         "count": 0,
    //         "min": null,
    //         "max": null,
    //         "sum": null,
    //         "average": null,
    //         "stddev": null
    //       },
    //     }, ...]
    //   }, ... ]
    waHistogramList: {
      type: Array,
      required: true,
    },
    // Chart Div Attribute Object
    chartDivAttrObj: {
      type: Object,
      default () { return { 'data-cy': 'facebookPostSentimentHistogram' }; }
    }
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('groupByDateInterval', ['getChartJSTimeUnit', 'getMomentFormatString',
      'getMomentDurationName'
    ]),
    ...Vuex.mapGetters('sort', ['contentAttrTypeToSortType']),

    /**
     * Map Histogram List to ChartJS datasets
     * @return {Object} ChartJS chart datasets
     * [{
     *    label: 'String',
     *    backgroundColor: '...',
     *    borderColor: '...',
     *    data: {
     *      x: moment()
     *      y: value
     *    }
     * }, ...]
     */
    chartDatasets() {
      let datasets = [];
      for (let i = 0; i < this.waHistogramList.length; i++) {
        let waHistogram = this.waHistogramList[i];
        let contentAttrType = waHistogram.contentAttrType;
        let dataset = {};
        let datasetColor = '';
        switch (contentAttrType) {
        case 'COMP_SENT_ANALYSIS_POSITIVE_SCORE':
          dataset.label = 'Positive Sentiment';
          datasetColor = this.$g.ui.colors.success;
          break;
        case 'COMP_SENT_ANALYSIS_NEGATIVE_SCORE':
          dataset.label = 'Negative Sentiment';
          datasetColor = this.$g.ui.colors.danger;
          break;
        case 'COMP_SENT_ANALYSIS_NEUTRAL_SCORE':
          dataset.label = 'Neutral Sentiment';
          datasetColor = this.$g.ui.colors.info;
          break;
        case 'COMP_SENT_ANALYSIS_MIXED_SCORE':
          dataset.label = 'Mixed Sentiment';
          datasetColor = this.$g.ui.colors.secondary;
          break;
        default:
          throw new Error(`Unknown contentAttrType ${contentAttrType}`);
        }
        dataset.backgroundColor = this.$g.chartjs.colorToBackgroundColor(datasetColor);
        dataset.borderColor = datasetColor;
        dataset.data = waHistogram.dataModelList.map((waHistogramData) => {
          return {
            x: moment(waHistogramData.groupByDate), // Plot UTC Date
            y: waHistogramData.average
          };
        });
        datasets.push(dataset);
      }
      return datasets;
    },

    /**
     * @return {Object} Parameters to create chart
     */
    chartParams() {
      return {
        type: 'bar',
        data: { datasets: this.chartDatasets, },
        options: {
          title: { text: 'Average Post Sentiment over Time' },
          onClick: this.onChartClicked,
          tooltips: {
            displayColors: true,
            callbacks: {
              label: (tooltipItem, data) => {
                let datasetIndex = tooltipItem.datasetIndex;
                let index = tooltipItem.index;
                let waHistogram = this.waHistogramList[datasetIndex];
                let waHistogramData = waHistogram.dataModelList[index];
                return [
                  `Posts Analyzed: ${waHistogramData.count}`,
                  `Average Score: ${_.round(waHistogramData.average, 2)}`,
                  `Highest Score: ${_.round(waHistogramData.max, 2)}`,
                  `Lowest Score: ${_.round(waHistogramData.min, 2)}`,
                ];
              }
            }
          },
          scales: {
            xAxes: [{
              type: 'time',
              offset: true,
              time: {
                unit: this.getChartJSTimeUnit(this.waHistogramList[0].groupByDateInterval),
                tooltipFormat: this.getMomentFormatString(this.waHistogramList[0].groupByDateInterval),
              },
              scaleLabel: { display: true, labelString: 'Date (UTC)', }
            }],
            yAxes: [{
              type: 'linear',
              display: true,
              position: 'left',
              ticks: { beginAtZero: true },
              scaleLabel: { display: true, labelString: 'Average Sentiment', }
            }]
          }
        },
      };
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Handle Chart Click: Navigate FacebookPostAll with the correct duration
     * @param  {MouseEvent} mouseEvent
     * @param  {Array<ChartElement>} chartElementArray
     */
    onChartClicked(mouseEvent, chartElementArray) {
      let activeElementList = this.chart.getElementAtEvent(mouseEvent);
      if (activeElementList.length > 0) {
        let activeElement = activeElementList[0];
        let waHistogram = this.waHistogramList[activeElement._datasetIndex];
        let waHistogramData = waHistogram.dataModelList[activeElement._index];
        let waSortType = this.contentAttrTypeToSortType(waHistogram.contentAttrType);
        let momentDurationName = this.getMomentDurationName(waHistogram.groupByDateInterval);
        let startMoment = moment.utc(waHistogramData.groupByDate).local();
        let endMoment = startMoment.clone().add(1, momentDurationName);

        this.$g.router.push({
          name: 'rnFacebookPostAll',
          params: {
            startDateRange: { startMoment, endMoment },
            startSortOption: { waSortType, waSortOrder: 'DESCENDING' }
          }
        });
      }
    }
  }
};

</script>
