<!--
  NAME
    FacebookPostCommentsHistogram.vue

  DESCRIPTION
    Facebook Post Comments Histogram

  USAGE
    <FacebookPostCommentsHistogram v-bind:wa-histogram="waHistogram">
    </FacebookPostCommentsHistogram>
-->
<script>
import _ from 'lodash';
import moment from 'moment';
import Vuex from 'vuex';
import SmecknChartMixin from '../../commonComponents/chartMixin/SmecknChartMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [SmecknChartMixin],

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Web API Histogram Data
    // {
    //   "profileSMID": 2,
    //   "contentType": "POST",
    //   "contentAttrType": "FACEBOOK_POST_NCOMMENTS",
    //   "groupByType": "FACEBOOK_POST_CREATE_DATE",
    //   "groupByDateInterval": "YEAR",
    //   "intervalStartDate": "1999-07-31T14:20:00.474000",
    //   "intervalEndDate": "2019-07-31T14:20:00.474000",
    //   "dataModelList": [
    //     {
    //       "groupByDate": "1999-01-01T00:00:00",
    //       "groupByContentAttrType": null,
    //       "count": 0,
    //       "min": null,
    //       "max": null,
    //       "sum": null,
    //       "average": null,
    //       "stddev": null
    //     }, ...]
    //  }
    waHistogram: {
      type: Object,
      required: true,
    },
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('groupByDateInterval', ['getChartJSTimeUnit',
      'getMomentDurationName', 'getMomentFormatString'
    ]),

    /**
     * Map Histogram to ChartJS data
     * @return {Object} ChartJS chart data
     */
    sumData() {
      return this.waHistogram.dataModelList.map((waHistogramData) => {
        return {
          x: moment(waHistogramData.groupByDate), // Plot UTC Date
          y: waHistogramData.sum
        };
      });
    },
    averageData() {
      return this.waHistogram.dataModelList.map((waHistogramData) => {
        return {
          x: moment(waHistogramData.groupByDate), // Plot UTC Date
          y: waHistogramData.average
        };
      });
    },

    /**
     * @return {Object} Parameters to create chart
     */
    chartParams() {
      return {
        type: 'bar',
        data: {
          datasets: [{
              label: 'Total Comments',
              yAxisID: 'totalYAxis',
              data: this.sumData,
              backgroundColor: this.$g.chartjs.colorToBackgroundColor(this.$g.ui.colors.info),
              borderColor: this.$g.ui.colors.info,
            },
            {
              label: 'Average Comments Per Post',
              yAxisID: 'averageYAxis',
              data: this.averageData,
              backgroundColor: this.$g.chartjs.colorToBackgroundColor(this.$g.ui.colors.success),
              borderColor: this.$g.ui.colors.success,
            }
          ]
        },
        options: {
          title: { text: 'Post Comments over Time' },
          onClick: this.onChartClicked,
          tooltips: {
            displayColors: false,
            callbacks: {
              label: (tooltipItem, data) => {
                let index = tooltipItem.index;
                let waHistogramData = this.waHistogram.dataModelList[index];
                return [
                  `Posts: ${waHistogramData.count}`,
                  `Comments: ${waHistogramData.sum}`,
                  `Average Comments Per Post: ${_.round(waHistogramData.average, 2)}`,
                  `Highest Comments Per Post: ${waHistogramData.max}`,
                  `Lowest Comments Per Post: ${waHistogramData.min}`,
                ];
              }
            }
          },
          scales: {
            xAxes: [{
              type: 'time',
              offset: true,
              time: {
                unit: this.getChartJSTimeUnit(this.waHistogram.groupByDateInterval),
                tooltipFormat: this.getMomentFormatString(this.waHistogram.groupByDateInterval),
              },
              scaleLabel: { display: true, labelString: 'Date (UTC)', }
            }],
            yAxes: [{
                id: 'totalYAxis',
                type: 'linear',
                display: true,
                position: 'left',
                ticks: { beginAtZero: true },
                scaleLabel: { display: true, labelString: 'Total Comments', }
              },
              {
                id: 'averageYAxis',
                type: 'linear',
                display: true,
                position: 'right',
                ticks: { beginAtZero: true },
                scaleLabel: { display: true, labelString: 'Average Comments Per Post', }
              }
            ]
          }
        },
      };
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Handle Chart Click: Navigate FacebookPostAll with the correct duration
     * @param  {MouseEvent} mouseEvent
     * @param  {Array<ChartElement>} chartElementArray
     */
    onChartClicked(mouseEvent, chartElementArray) {
      if (chartElementArray.length > 0) {
        let index = chartElementArray[0]._index;
        let waHistogramData = this.waHistogram.dataModelList[index];
        let momentDurationName = this.getMomentDurationName(this.waHistogram.groupByDateInterval);
        let startMoment = moment.utc(waHistogramData.groupByDate).local();
        let endMoment = startMoment.clone().add(1, momentDurationName);
        this.$g.router.push({
          name: 'rnFacebookPostAll',
          params: {
            startDateRange: { startMoment, endMoment },
            startSortOption: { waSortType: 'FACEBOOK_POST_NCOMMENTS', waSortOrder: 'DESCENDING' }
          }
        });
      }
    }
  }


};

</script>
