<!--
  NAME
    FacebookPostSentimentCounts.vue

  DESCRIPTION
    Display facebook posts sentiment counts
 -->
<template>
  <div data-cy="facebookPostSentimentCounts">
    <!-- Spinner ------------------------------------------------------------->
    <SmecknSpinner v-if="loading"></SmecknSpinner>

    <!-- Display Counts and option to analyze all -->
    <div v-else class="d-flex justify-content-between align-items-center">
      <div v-if="showAnalysisCount" class="d-flex flex-wrap justify-content-center align-items-center">
        <p class="font-weight-bold my-1 mr-1">
          Posts available for sentiment analysis:
        </p>
        <b-badge v-for="countAnalyzedBadge in countAnalyzedBadgeList" v-bind:key="countAnalyzedBadge.text"
          class="mr-2 mt-1 p-1 badge-secondary">
          <span v-bind="countAnalyzedBadge.numberAttr">{{ countAnalyzedBadge.number }}</span>
          {{ countAnalyzedBadge.text }}
        </b-badge>
      </div>
      <div v-if="showAnalyzeAllButton">
        <b-button v-on:click="onAnalyzeAllRemaining" data-cy="analyzeAllButton" class="btn-info my-1">
          Analyze <span data-cy="analyzeAllNotDoneCount">{{ waAnalysisCount.countNotDone }}</span>
          Remaining Posts
        </b-button>
      </div>
    </div>

    <!-- Error --------------------------------------------------------------->
    <div v-if="errorMessage">
      <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
    </div>
  </div>
</template>
<script>
import _ from 'lodash';
import Vuex from 'vuex';
import SyncListenerMixin from '../sync/SyncListenerMixin.js';
import AnalysisListenerMixin from '../analysis/AnalysisListenerMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [SyncListenerMixin, AnalysisListenerMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // True if loading data
      loading: false,

      // Error Message
      errorMessage: '',

      // Analysis Count
      waAnalysisCount: null,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages']),
    ...Vuex.mapGetters('facebookProfile', ['waProfile']),
    ...Vuex.mapGetters('unit', ['getWAUnitBalanceByType']),
    showAnalysisCount() { return Boolean(this.waAnalysisCount); },

    /**
     * @return {Number|null} Number of total message posts or null
     */
    totalMessagePosts() {
      return this.waAnalysisCount ?
        (this.waAnalysisCount.countDone + this.waAnalysisCount.countNotDone + this.waAnalysisCount.countCant) :
        null;
    },
    countAnalyzedBadgeList() {
      return [{
        text: 'Total',
        number: this.totalMessagePosts,
        numberAttr: { 'data-cy': 'countTotal' }
      }, {
        text: 'Analyzed',
        number: this.waAnalysisCount.countDone,
        numberAttr: { 'data-cy': 'countDone' }
      }, {
        text: 'Not Analyzed',
        number: this.waAnalysisCount.countNotDone,
        numberAttr: { 'data-cy': 'countNotDone' }
      }, {
        text: 'Language Not Supported',
        number: this.waAnalysisCount.countCant,
        numberAttr: { 'data-cy': 'countCant' }
      }];
    },
    showAnalyzeAllButton() {
      return this.waAnalysisCount !== null && this.waAnalysisCount.countNotDone > 0;
    },
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    this.loadData();
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Load all data needed to render the screen
     */
    loadData: _.debounce(async function () {
      this.loading = true;
      this.errorMessage = '';
      try {
        this.waAnalysisCount = null;
        this.waAnalysisCount = await this.$g.store.dispatch('analysis/getCount', {
          waProfile: this.waProfile,
          waContentType: 'POST_MESSAGE',
          waAnalysisType: 'COMPREHEND_SENTIMENT'
        });
      } catch (err) {
        this.errorMessage = err.message;
      } finally {
        this.loading = false;
      }
    }, 300),

    /**
     * Handle Sync Complete
     */
    onSyncComplete() {
      this.loadData();
    },

    /**
     * Handle Analysis Complete
     */
    onAnalysisComplete() {
      this.loadData();
    },

    /**
     * Handle Analyze All
     */
    async onAnalyzeAllRemaining() {
      this.loading = true;
      this.errorMessage = '';
      try {
        await this.$g.store.dispatch('unit/getBalances');
        let textAnalysisBalance = this.getWAUnitBalanceByType('TEXT_ANALYSIS');
        if (textAnalysisBalance.nAvailable < this.waAnalysisCount.countNotDone) {
          this.errorMessage = this.messages.NOT_ENOUGH_TEXT_ANALYSIS_UNITS_ARE_AVAILABLE;
        } else {
          await this.$g.store.dispatch('analysis/create', {
            waProfile: this.waProfile,
            waContentType: 'POST_MESSAGE',
            waAnalysisType: 'COMPREHEND_SENTIMENT'
          });
        }
        this.$g.analysisBus.refresh();
      } catch (err) {
        this.errorMessage = err.message;
      } finally {
        this.loading = false;
      }
    }
  }
};

</script>
