<!--
  NAME
    FacebookPostSentimentTable.vue

  DESCRIPTION
    Facebook Post Sentiment Table

  USAGE
    <FacebookPostSentimentTable v-bind:wa-statistic-list="waStatisticList">
    </FacebookPostSentimentTable>
-->
<template>
  <div data-cy="facebookPostSentimentTable">
    <b-table striped hover v-bind:items="items" v-bind:fields="fields" responsive="sm"></b-table>
  </div>
</template>
<script>
import _ from 'lodash';

export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Web API Statistic List
    // [{
    //   "profileSMID": 2,
    //   "contentType": "POST_MESSAGE",
    //   "contentAttrType": "COMP_SENT_ANALYSIS_POSITIVE_SCORE",
    //   "intervalStartDate": "1999-07-30T11:43:29.284000",
    //   "intervalEndDate": "2019-07-30T11:43:29.284000",
    //   "count": 13,
    //   "min": 0.022465337068,
    //   "max": 0.998166263103,
    //   "sum": 8.301245197654,
    //   "average": 0.6385573228964438,
    //   "stddev": 0.3792065742691071
    // }, ...]
    waStatisticList: {
      type: Array,
      required: true,
    },
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      fields: [{
          key: 'contentAttrTypeStr',
          label: 'Sentiment',
        },
        {
          key: 'count',
          label: 'Post Count',
          tdAttr: { 'data-cy': 'facebookPostSentimentTableCount' }
        },
        {
          key: 'average',
          label: 'Average Score',
          formatter(value) {
            return value ? _.round(value, 2) : '';
          },
          tdAttr: { 'data-cy': 'facebookPostSentimentTableAverageScore' }
        },
        {
          key: 'min',
          label: 'Lowest Score',
          formatter(value) {
            return value ? _.round(value, 2) : '';
          },
          tdAttr: { 'data-cy': 'facebookPostSentimentTableLowestScore' }
        },
        {
          key: 'max',
          label: 'Highest Score',
          formatter(value) {
            return value ? _.round(value, 2) : '';
          },
          tdAttr: { 'data-cy': 'facebookPostSentimentTableHighestScore' }
        },
      ]
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {

    /**
     * @return {Array<Object>} Modified copy of waStatisticList for table to leverage
     * Add two fields:
     *   contentAttrTypeStr: string version of contentAttrType
     *   _rowVariant: Controls b-table row color
     */
    items() {
      let waStatisticList = _.cloneDeep(this.waStatisticList);
      for (let i = 0; i < waStatisticList.length; i++) {
        let waStatistic = waStatisticList[i];
        switch (waStatistic.contentAttrType) {
        case 'COMP_SENT_ANALYSIS_POSITIVE_SCORE':
          waStatistic.contentAttrTypeStr = 'Positive';
          waStatistic._rowVariant = 'success';
          break;
        case 'COMP_SENT_ANALYSIS_NEGATIVE_SCORE':
          waStatistic.contentAttrTypeStr = 'Negative';
          waStatistic._rowVariant = 'danger';
          break;
        case 'COMP_SENT_ANALYSIS_NEUTRAL_SCORE':
          waStatistic.contentAttrTypeStr = 'Neutral';
          waStatistic._rowVariant = 'info';
          break;
        case 'COMP_SENT_ANALYSIS_MIXED_SCORE':
          waStatistic.contentAttrTypeStr = 'Mixed';
          waStatistic._rowVariant = 'secondary';
          break;
        default:
          throw new Error(`Invalid contentAttrType ${waStatistic.contentAttrType}`);
        }
      }
      return waStatisticList;
    }
  }
};

</script>
