<!--
  NAME
    FacebookPostFrequencyHistogram.vue

  DESCRIPTION
    Facebook Post Frequency Histogram

  USAGE
    <FacebookPostFrequencyHistogram v-bind:wa-histogram="waHistogram">
    </FacebookPostFrequencyHistogram>
-->
<script>
import moment from 'moment';
import Vuex from 'vuex';
import SmecknChartMixin from '../../commonComponents/chartMixin/SmecknChartMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [SmecknChartMixin],

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Web API Histogram Data
    // {
    //   "profileSMID": 2,
    //   "contentType": "POST",
    //   "contentAttrType": "FACEBOOK_POST_SMID",
    //   "groupByType": "FACEBOOK_POST_CREATE_DATE",
    //   "groupByDateInterval": "YEAR",
    //   "intervalStartDate": "1999-07-31T14:20:00.474000",
    //   "intervalEndDate": "2019-07-31T14:20:00.474000",
    //   "dataModelList": [
    //     {
    //       "groupByDate": "1999-01-01T00:00:00",
    //       "groupByContentAttrType": null,
    //       "count": 0,
    //       "min": null,
    //       "max": null,
    //       "sum": null,
    //       "average": null,
    //       "stddev": null
    //     }, ...]
    //  }
    waHistogram: {
      type: Object,
      required: true,
    },
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('groupByDateInterval', ['getChartJSTimeUnit', 'getMomentDurationName',
      'getMomentFormatString'
    ]),

    /**
     * Map Histogram to ChartJS data
     * @return {Object} ChartJS chart data
     */
    postData() {
      let data = [];
      data = this.waHistogram.dataModelList.map((waHistogramData) => {
        return {
          x: moment(waHistogramData.groupByDate), // Plot UTC Date
          y: waHistogramData.count
        };
      });
      return data;
    },

    /**
     * @return {Object} Parameters to create chart
     */
    chartParams() {
      return {
        type: 'bar',
        data: {
          datasets: [{
            label: 'Total Posts',
            data: this.postData,
            backgroundColor: this.$g.chartjs.colorToBackgroundColor(this.$g.ui.colors.info),
            borderColor: this.$g.ui.colors.info,
          }]
        },
        options: {
          title: { text: 'Posts over Time' },
          tooltips: {
            displayColors: false,
            callbacks: {
              label: (tooltipItem, data) => {
                return `${tooltipItem.yLabel} posts`;
              }
            }
          },
          onClick: this.onChartClicked,
          scales: {
            xAxes: [{
              type: 'time',
              offset: true,
              time: {
                unit: this.getChartJSTimeUnit(this.waHistogram.groupByDateInterval),
                tooltipFormat: this.getMomentFormatString(this.waHistogram.groupByDateInterval),
              },
              scaleLabel: { display: true, labelString: 'Date (UTC)', }
            }],
            yAxes: [{
              ticks: { beginAtZero: true },
              scaleLabel: { display: true, labelString: 'Posts', }
            }]
          }
        },
      };
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Handle Chart Click: Navigate FacebookPostAll with the correct duration
     * @param  {MouseEvent} mouseEvent
     * @param  {Array<ChartElement>} chartElementArray
     */
    onChartClicked(mouseEvent, chartElementArray) {
      if (chartElementArray.length > 0) {
        let index = chartElementArray[0]._index;
        let waHistogramData = this.waHistogram.dataModelList[index];
        let momentDurationName = this.getMomentDurationName(this.waHistogram.groupByDateInterval);
        let startMoment = moment.utc(waHistogramData.groupByDate).local();
        let endMoment = startMoment.clone().add(1, momentDurationName);
        this.$g.router.push({
          name: 'rnFacebookPostAll',
          params: {
            startDateRange: { startMoment, endMoment },
            startSortOption: { waSortType: 'FACEBOOK_POST_FBCREATEDATE', waSortOrder: 'DESCENDING' }
          }
        });
      }
    }
  }


};

</script>
