<!DOCTYPE html>
<html lang="en">
<!-- https://bootstrap-vue.js.org/docs/reference/starter-templates -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Test Ad Integration</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <!--  <Alert-box v-if="showAlertComponent" countdown="5" alert-text="Unfortunately Jamester's server went down."
      type-of-warning="danger"></Alert-box> -->
    <Facebook-Post v-if="showAlertComponent" post-text="FacebookPost1"></Facebook-Post>
    <Facebook-Post v-if="showAlertComponent" post-text="FacebookPost2"></Facebook-Post>
    <Ad v-if="showAd" ad-text="Dyamic Ad Text"></Ad>
    <Facebook-Post v-if="showAlertComponent" post-text="FacebookPost3"></Facebook-Post>
    <Facebook-Post v-if="showAlertComponent" post-text="FacebookPost4"></Facebook-Post>
    <b-btn id="showAlert" @click="showAlert" variant="info" class="m-1">
      Show Feed
    </b-btn>
    <b-btn id="resetAlert" @click="resetAlert" variant="info" class="m-1">
      Reset Feed
    </b-btn>
  </div>
  <!-- Start running your app -->
  <script>
  /* This is a simple component */
  /*const AlertBox = {
    props: ['countdown', 'alertText', 'typeOfWarning'],
    template: '<div><b-alert style="height: 24px; display: flex; align-items: center; font-weight: bold;" :show="dismissCountDown" :variant=alertType @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">{{alertText}} &emsp; [{{dismissCountDown}} seconds]</b-alert></div>',
    methods: {
      countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
      },
      showAlert() {
        this.dismissCountDown = this.dismissSecs
      }
    },
    data() {
      return {
        alertType: this.typeOfWarning,
        dismissCountDown: this.countdown
      }
    }
  }*/

  /* This is a simple component*/
  const Ad = {
    props: ['adText'],
    template: '<div style="color: red;">Integrated Ad: {{adText}}</div>',
    methods: {},
    data() {
      return {}
    }
  }
  /* This is a simple component*/
  const FacebookPost = {
    props: ['postText'],
    template: '<div style="color: green;">Facebook Post: {{postText}}</div>',
    methods: {},
    data() {
      return {}
    }
  }

  window.app = new Vue({
    el: "#app",
    components: {
      /*'AlertBox': AlertBox,*/
      'Ad': Ad,
      'FacebookPost': FacebookPost
    },
    data: {
      showAlertComponent: false,
      showAdComponent: false,
      postCount: 0
    },
    computed: {
      showAd() {
        return this.showAdComponent;
      }
    },
    methods: {
      showAlert() {
        this.showAlertComponent = true;
        this.postCount++;
        if (this.postCount == 3) {
          this.showAdComponent = true;
          this.postCount = 0;
        }
        document.getElementById("resetAlert").disabled = false;
        document.getElementById("showAlert").disabled = true;
      },
      resetAlert() {
        this.showAlertComponent = false;
        this.showAdComponent = false;
        document.getElementById("resetAlert").disabled = true;
        document.getElementById("showAlert").disabled = false;
      }


    }
  })

  </script>
</body>

</html>
