<template>
  <div id="app">
    <!-- Header Navbar -->
    <nav class="navbar qjheader" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" @click="goHome"><img src="/static/img/favicon.ico" width="24" height="24" alt="QuotableJoy"></a>
        <ul class="nav navbar-right">
          <li class="dropdown">
            <a class="qjhome-dropdown dropdown-toggle" data-toggle="dropdown">About Us
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <router-link :to="{ name: 'About' }">About QuotableJoy</router-link>
              </li>
              <!--  <li>
               <router-link :to="{ name: 'PrivacyPolicy' }">Privacy Policy</router-link>
             </li>
             <li>
               <router-link :to="{ name: 'ContactUs' }">Contact Us</router-link>
             </li> -->
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-right">
          <li class="dropdown">
            <a class="qjhome-dropdown dropdown-toggle" data-toggle="dropdown">Quotes
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <router-link :to="{ name: 'Quotes' }">Last 30 Days of Quotes</router-link>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <!--Main View -->
    <div class="qjmain">
      <router-view>
      </router-view>
    </div>
    <!-- Main Footer -->
    <footer class="qjfooter">
      <!--  <p class="copyright"><strong>Copyright &copy; 2018 Beblsoft LLC, </strong> All rights reserved.
     </p> -->
    </footer>
  </div>
</template>
<script>
export default {
  name: 'app',
  methods: {
    goHome: function() {
      this.$router.push({ name: 'Home' })
    }
  }
}

</script>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-top: 0px;
  background-color: silver;
  background-size: cover;
}

.qjheader {
  background: linear-gradient(darkslategray, lightslategray);
  border-radius: 2;
  color: white;
}

.qjmain {
  min-height: 650px;
}

.qjfooter {
  position: relative;
  height: 30px;
  width: 100%;
}

p.copyright {
  position: absolute;
  width: 100%;
  color: black;
  text-align: center;
  bottom: 0;
}

.qjhome-dropdown {
  margin-top: 4px;
  margin-right: 4px;
  color: black;
}

</style>
