<!--
  NAME
    SmecknChartMixinTest.vue

  DESCRIPTION
    Smeckn Chart Mixin Test
-->
<script>
import Vuex from 'vuex';
import _ from 'lodash';
import SmecknChartMixin from './SmecknChartMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [SmecknChartMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      max: 21,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('groupByDateInterval', ['getChartJSTimeUnit',
      'getMomentDurationName', 'getMomentFormatString'
    ]),

    /**
     * @return Chart X and Y Data
     */
    chartXData() {
      return [...Array(this.max).keys()];
    },
    chartYData() {
      return _.map([...Array(this.max).keys()], (n) => { return n * n; });
    },

    /**
     * @return {Object} Parameters to create chart
     */
    chartParams() {
      return {
        type: 'bar',
        data: {
          labels: this.chartXData,
          datasets: [{
            label: 'Dataset',
            data: this.chartYData,
            backgroundColor: this.$g.chartjs.colorToBackgroundColor(this.$g.ui.colors.info),
            borderColor: this.$g.ui.colors.info,
          }]
        },
        options: {
          title: { text: 'Chart Title' },
          onClick: this.onChartClicked,
          scales: {
            xAxes: [{
              offset: true,
              scaleLabel: { display: true, labelString: 'X Label', }
            }],
            yAxes: [{
              display: true,
              type: 'linear',
              position: 'left',
              ticks: { beginAtZero: true },
              scaleLabel: { display: true, labelString: 'Y Label', }
            }]
          }
        },
      };
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Handle Chart Clicks
     * @param  {MouseEvent} mouseEvent
     * @param  {Array<ChartElement>} chartElementArray
     */
    onChartClicked(mouseEvent, chartElementArray) {
      console.log('Chart Clicked!');
    }
  }


};

</script>
