<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue"></script>
  <title>Basic Fade</title>
</head>

<body>
  <div id="app">
    <button v-on:click="show = !show">
      Toggle
    </button>
    <transition name="fade">
      <p v-if="show">hello</p>
    </transition>
    <transition name="grow">
      <div id="grower" v-if="show"></div>
    </transition>
  </div>

  <script>
  new Vue({
    el: '#app',
    data: {
      show: true
    }
  })

  </script>
  <style>
  /* Fade */
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }


  /* Grow */
  #grower {
    background-color: red;
    height: 200px;
    width: 200px;
  }

  .grow-enter-active {
    animation: grow-animate .5s;
  }

  .grow-leave-active {
    animation: grow-animate .5s reverse;
  }

  @keyframes grow-animate {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  </style>
</body>
