<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
  <title>Component Reuse</title>
</head>

<body>
  <div id="app">
    <input v-model.number="firstNumber" type="number" step="20"> +
    <input v-model.number="secondNumber" type="number" step="20"> =
    {{ result }}
    <p>
      <animated-integer v-bind:value="firstNumber"></animated-integer> +
      <animated-integer v-bind:value="secondNumber"></animated-integer> =
      <animated-integer v-bind:value="result"></animated-integer>
    </p>
  </div>

  <script>
  // This complex tweening logic can now be reused between
  // any integers we may wish to animate in our application.
  // Components also offer a clean interface for configuring
  // more dynamic transitions and complex transition
  // strategies.
  Vue.component('animated-integer', {
    template: '<span>{{ tweeningValue }}</span>',
    props: {
      value: {
        type: Number,
        required: true
      }
    },
    data: function () {
      return {
        tweeningValue: 0
      }
    },
    watch: {
      value: function (newValue, oldValue) {
        this.tween(oldValue, newValue)
      }
    },
    mounted: function () {
      this.tween(0, this.value)
    },
    methods: {
      tween: function (startValue, endValue) {
        var vm = this

        function animate() {
          if (TWEEN.update()) {
            requestAnimationFrame(animate)
          }
        }

        new TWEEN.Tween({ tweeningValue: startValue })
          .to({ tweeningValue: endValue }, 500)
          .onUpdate(function () {
            vm.tweeningValue = this.tweeningValue.toFixed(0)
          })
          .start()

        animate()
      }
    }
  })

  // All complexity has now been removed from the main Vue instance!
  new Vue({
    el: '#app',
    data: {
      firstNumber: 20,
      secondNumber: 40
    },
    computed: {
      result: function () {
        return this.firstNumber + this.secondNumber
      }
    }
  })

  </script>
  <style>

  </style>
</body>
