<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue"></script>
  <title>CSS Animations</title>
</head>

<body>
  <div id="app">
    <button @click="show = !show">Toggle show</button>
    <transition name="bounce">
      <p v-if="show">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
        facilisis enim libero, at lacinia diam fermentum id. Pellentesque habitant morbi
        tristique senectus et netus.</p>
    </transition>
  </div>

  <script>
  new Vue({
    el: '#app',
    data: {
      show: true
    }
  })

  </script>
  <style>
  .bounce-enter-active {
    animation: bounce-in .5s;
  }

  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1.5);
    }

    100% {
      transform: scale(1);
    }
  }

  </style>
</body>
