<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue"></script>
  <title>Between Elements</title>
</head>

<body>
  <div id="app">
    <form>
      <input type="radio" value="saved" v-model="docState">Saved<br>
      <input type="radio" value="edited" v-model="docState">Edited<br>
      <input type="radio" value="editing" v-model="docState">Editing<br>
    </form>
    <br>
    <transition name="fade">
      <button v-bind:key="docState" mode="out-in">
        {{ docState }}
      </button>
    </transition>
  </div>

  <script>
  new Vue({
    el: '#app',
    data: {
      docState: 'saved'
    },
  })

  </script>
  <style>
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s ease;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  </style>
</body>
