<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue"></script>
  <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
  <title>CSS Custom Classes</title>
</head>

<body>
  <div id="app">
    <button @click="show = !show">
      Toggle render
    </button>
    <transition name="custom-classes-transition" enter-active-class="animated tada"
      leave-active-class="animated bounceOutRight">
      <p v-if="show">hello</p>
    </transition>
  </div>

  <script>
  new Vue({
    el: '#app',
    data: {
      show: true
    }
  })

  </script>
  <style>

  </style>
</body>
