<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
  <title>List Move</title>
</head>

<body>
  <div id="app">
    <button v-on:click="shuffle">Shuffle</button>
    <transition-group name="flip-list" tag="ul">
      <li v-for="item in items" v-bind:key="item">
        {{ item }}
      </li>
    </transition-group>
  </div>

  <script>
  new Vue({
    el: '#app',
    data: {
      items: [1, 2, 3, 4, 5, 6, 7, 8, 9]
    },
    methods: {
      shuffle: function () {
        this.items = _.shuffle(this.items)
      }
    }
  })

  </script>
  <style>
  .flip-list-move {
    transition: transform 1s;
  }

  </style>
</body>
