<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  <title>State Animation</title>
</head>

<body>
  <div id="app">
    <input v-model.number="number" type="number" step="20">
    <p>{{ animatedNumber }}</p>
  </div>

  <script>
  new Vue({
    el: '#app',
    data: {
      number: 0,
      tweenedNumber: 0
    },
    computed: {
      animatedNumber: function () {
        return this.tweenedNumber.toFixed(0);
      }
    },
    watch: {
      number: function (newValue) {
        TweenLite.to(this.$data, 0.5, { tweenedNumber: newValue });
      }
    }
  })

  </script>
  <style>

  </style>
</body>
