/* App.vue - App is main view component for application */
<template>
  <div id="app">

    <body>
      <div class="qjnav-menu-panel">
        <navbar/>
        </navbar>
      </div>
      <div class="qjcontent-panel">
        <div class="qjmain">
          <router-view>
          </router-view>
        </div>
      </div>
      <div class="qjfooter-panel">
        <p class="copyright qjfooter-copyright"><strong>Copyright &copy; 2018 Beblsoft LLC, </strong> All rights reserved.</p>
        <div class="qjfooter-list">
          <router-link :to="{ name: 'PrivacyPolicy' }">
            <a>Privacy</a>
          </router-link>
          <router-link :to="{ name: 'About' }">
            <a>About</a>
          </router-link>
        </div>
      </div>
    </body>
  </div>
</template>
<script>
export default {
  name: 'app'
}

</script>
<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Arial Black", Gadget, sans-serif;
  height: 100vh;
  background-image: url("/static/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.qjnav-menu-panel {
  height: 6%;
  min-height: 60px;
  position: relative;
  /* force menu on top  with position and z-index attributes */
  z-index: 1000000;
}

.qjcontent-panel {
  height: 88%;
  min-height: 90px;
  /* Trigger vertical scroll    */
  overflow-y: auto;
}

.qjfooter-panel {
  height: 4%;
  min-height: 20px;
}

.qjfooter-copyright {
  float: left;
  margin-left: 30px;
  color: white;
}

.qjfooter-list a {
  float: right;
  margin-right: 30px;
  word-spacing: 20px;
  color: white;
  font-size: medium;
}

</style>
