/* NavBar.vue - App is main view component for application */
<template>
  <div>
    <nav class="navbar qjnavbar-custom">
      <a class="navbar-brand qjbutton" href="#" @click="goHome"><img src="/static/img/qj.png" alt="QuotableJoy"></a>
      <div class="navbar-collapse">
        <form class="navbar-form navbar-left">
          <div class="search">
            <span class="fa fa-search"></span>
            <input v-model="searchString" type="text" placeholder="Search for your favorite Quotes and Authors" @focus="goSearch" @keyup="addTextToSearch">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <router-link :to="{ name: 'History' }">
              <a class="qjlink">History</a>
            </router-link>
          </li>
          <li>
            <router-link :to="{ name: 'Home' }">
              <a class="qjlink">Home</a>
            </router-link>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>
<script>
// used for debouncing
import _ from 'lodash'

import bus from './main'

export default {
  name: 'navbar',
  data() {
    return {
      searchString: ''
    }
  },
  methods: {
    goHome: function() {
      this.$router.push({ name: 'Home' })
    },
    addTextToSearch: _.debounce(function() {
      bus.$emit('searchData', this.searchString)
    }, 300),
    goSearch: function() {
      this.$router.push({ name: 'Search' })
      //If text in search bar, trigger search!
      if (this.searchString.length > 0) {
        this.addTextToSearch()
      }
    }
  }
}

</script>
<style>
/* get rid of gray background when selecting, default behavior of navbar */

.navbar .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color: white;
  color: white;
}

.navbar .navbar-brand {
  padding-top: 5px;
}

.navbar .navbar-brand img {
  height: 40px;
  width: 40px;
}

.qjnavbar-custom {
  background-color: white;
  border-style: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: darkgray;
}

.qjlink {
  color: darkslategray;
}

.qjlink:hover {
  color: white;
  font-weight: bold;
  background-color: teal;
  padding: 10px;
  border-radius: 40px;
}

.search {
  position: relative;
  color: darkslategray;
  font-size: 16px;
}

.search input {
  width: 400px;
  height: 32px;

  background: whitesmoke;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input {
  text-indent: 32px;
}

.search .fa-search {
  position: absolute;
  color: teal;
  font-weight: bold;
  top: 8px;
  left: 10px;
}

</style>
