<!DOCTYPE html>
<html>

<head>
  <title>Global Capitalize</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>{{ message | capitalize }}</h1>
  </div>
  <script>
  Vue.filter('capitalize', function (value) {
    if (!value) return ''
    value = value.toString()
    return value.charAt(0).toUpperCase() + value.slice(1)
  })

  new Vue({
    el: '#app',
    data: {
      message: 'hello!'
    }
  })

  </script>
</body>

</html>
