<!DOCTYPE html>
<html>

<head>
  <title>Local Capitalize</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>{{ message | capitalize }}</h1>
  </div>
  <script>
  new Vue({
    el: '#app',
    data: {
      message: 'hello!'
    },
    filters: {
      capitalize: function (value) {
        if (!value) return ''
        value = value.toString()
        return value.charAt(0).toUpperCase() + value.slice(1)
      }
    }
  })

  </script>
</body>

</html>
