<h1>
  {{title}}
</h1>
<div class="container">
    <h2 class="mj-top-title">{{subtitle}}</h2>
    <img src="/assets/Mojourney/gif/skaters.gif" class="mj-video-format" alt="Skater Demo" style="width:760px;height:570px;">
    <p></p>
    <input id="go" type="button" value="Show Mountain Climber" onclick="window.open('/assets/Mojourney/gif/mountainClimber.gif','popUpWindow','height=570, width=760, left=100, top=100, resizable=yes, scrollbars=yes, toolbar=yes, menubar=no, location=no, directories=no, status=yes');" class="btn 
    btn-primary btn-lg">
    <p></p>
    <input id="go" type="button" value="Show Wide Climber Jump" onclick="window.open('/assets/Mojourney/gif/wideClimberJumps.gif','popUpWindow','height=570, width=760, left=100, top=100, resizable=yes, scrollbars=yes, toolbar=yes, menubar=no, location=no, directories=no, status=yes');" class="btn 
    btn-primary btn-lg">
</div>
