<!DOCTYPE html>
<html>

<head>
    <title>Security</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <h1> {{ msg }} </h1>
        <button v-on:click="secureGet">Secure Get</button>
        <button v-on:click="securePost">Secure Post</button>
        <button v-on:click="unsecureGet">Unsecure Get</button>
        <p style="white-space: pre-wrap">{{ output }}</p>
    </div>
    <script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                msg: 'Security Demo',
                domain: "http://localhost:5001",
                postData: {
                    foo: 1,
                    bar: 2
                },
                headers: {
                    "X-API-KEY": "admin",
                    "X-ACCOUNT-URN": 1234
                },
                output: "",
            }
        },
        methods: {
            logResponse: function(resp) {
                this.output = JSON.stringify(resp, null, 2)
                console.log(JSON.stringify(resp, null, 2))
            },
            secureGet: function() {
                axios.get(this.domain + "/SecureGet", { headers: this.headers })
                    .then(resp => {
                        this.logResponse(resp)
                    })
                    .catch(err => {
                        this.logResponse(err.response)
                    })
            },
            securePost: function() {
                axios.post(this.domain + "/SecurePost", this.postData, { headers: this.headers })
                    .then(resp => {
                        this.logResponse(resp)
                    })
                    .catch(err => {
                        this.logResponse(err.response)
                    })
            },
            unsecureGet: function() {
                axios.get(this.domain + "/UnsecureGet", {})
                    .then(resp => {
                        this.logResponse(resp)
                    })
                    .catch(err => {
                        this.logResponse(err.response)
                    })
            }
        }
    })
    </script>
</body>

</html>