<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Gif Animations</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link rel="stylesheet" href="gif.css">
  <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>


</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <b-container>
      <b-col class="text-center">
        <br>
        <br>
        <b-button-group>
          <b-btn variant="info" v-on:click="show1 = !show1">
            Toggle Show gif (01)
          </b-btn>
          <b-btn variant="info" v-on:click="show2 = !show2">
            Toggle Show gif (02)
          </b-btn>
          <b-btn variant="info" v-on:click="show3 = !show3">
            Toggle Show gif (03)
          </b-btn>
          <b-btn variant="info" v-on:click="show4 = !show4">
            Toggle Show gif (04)
          </b-btn>
          <b-btn variant="info" @click="reset()">
            Reset Gifs
          </b-btn>
        </b-button-group>
        <br>
        <br>
        <img v-if="show1" src="animate01.gif">
        <img v-if="show2" src="animate02.gif">
        <img v-if="show3" src="animate03.gif">
        <img v-if="show4" src="animate04.gif">
        <br>
        <br>

      </b-col>
    </b-container>
  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      show1: true,
      show2: true,
      show3: true,
      show4: true
    },
    methods: {
      reset: function () {
        this.show1 = true;
        this.show2 = true;
        this.show3 = true;
      }
    }
  })

  </script>
</body>

</html>
