<!--
  NAME
    Alert.vue

  DESCRIPTION
     Alert Bar Implementation
 -->
<template>
  <SmecknDropDownTransition>
    <div v-if="dismissCountDown > 0">
      <b-alert class="font-weight-bold text-center w-100 m-0" :show="dismissCountDown"
        :variant="alertSeverity" @dismissed="dismissCountDown=0" @dismiss-count-down="onCountDownChanged"
        data-cy="alertBox">
        <span data-cy="alertText"> {{alertText}} &emsp;

        <!-- Remove Dismiss Seconds from display as it is too busy.
          <div class="font-weight-normal d-inline-block">
            [{{dismissCountDown}} seconds]
          </div>
        -->
        </span>
      </b-alert>
    </div>
  </SmecknDropDownTransition>
</template>
<script>
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      dismissCountDown: 0,
      alertDismissSecs: 5,
      alertText: '',
      alertSeverity: 'danger'
    };
  },

  /* ---------------------- LICECYCLE -------------------------------------- */
  created() {
    this.$g.alertBus.bus.$on('show', this.showAlert);
  },
  destroyed() {
    this.$g.alertBus.bus.$off('show', this.showAlert);
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * See ./AlertBus.js for arg descriptions
     *
     * Documentation:
     *   https://bootstrap-vue.js.org/docs/components/alert/
     */
    showAlert({ text, severity, dismissSecs } = {}) {
      if (text === null) {
        throw new Error('Must Specify Text');
      }
      this.alertDismissSecs = dismissSecs;
      this.alertText = text;
      this.alertSeverity = severity;
      this.dismissCountDown = dismissSecs;
    },
    onCountDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
  }
};

</script>
