<template>
  <div>
    <p>Name: {{ coin.name }}</p>
    <p>Symbol: {{ coin.symbol }}</p>
    <p>Price (USD): {{ coin.price_usd }}</p>
  </div>
</template>
<script>
import TestInterface from '../services/TestInterface'

export default {
  name: 'Coins',
  data() {
    return {
      coin: {}
    }
  },
  created() {
    this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },

  methods: {

    fetchData() {
      // TO DO -- temporary code, work w/ Jamester to get get request in server implemented
      const testInterface = new TestInterface()
      testInterface.getTestRequest('https://api.coinmarketcap.com/v1/ticker/' + this.$route.params.id + '/')
        .then((resp) => {
          console.log(resp)
          this.coin = resp.payload.data[0]
        })
        .catch((err) => {
          console.log(err)
        })
    }
  }
}

</script>
