<template>
  <div class="home">
    <h1>{{ msg }}</h1>
    <h2>What is a Crypto-Currency?</h2>
    <p>
      It's a digital currency in which encryption techniques are used to regulate the generation of units of currency and verify the transfer of funds, operating independently of a central bank.
    </p>
  </div>
</template>
<script>
export default {
  name: 'Home',
  data() {
    return {
      msg: 'Welcome to Crypto Starter Application'
    }
  }
}

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}

</style>
