<template>
  <div class="sm_passwordBox">
    <div class="sm_loginBanner">
      <h4 class="sm_Login">LOGIN</h4>
      <p class="sm_Smeckn"><span class="sm_SmecknSM">SM</span>eckn</p>
    </div>
    <div class="sm_loginEmailPasswordLogin">
      <form class="form-group loginForm">
        <div class="input-group sm_loginEMailPasswordFillin">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input type="text" class="form-control" name="username" placeholder="Email" v-model="username">
        </div>
        <div class="input-group sm_loginEMailPasswordFillin">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" name="password" placeholder="Password" v-model="password">
        </div>
        <button type="submit" class="btn btn-success btn-block sm_loginButton" v-on:click="checkCredsEmailPassword()">Submit</button>
      </form>
    </div>
    <div class="sm_loginSocialMediaLogin">
      <br> You can also log in with:
      <br>
      <br>
      <a v-on:click="checkCredsFacebook()"><img src="../../static/img/if_square-facebook_317727.png" alt="Facebook" width="32" height="32" border="0"></a>
      <a v-on:click="checkCredsLinkedIn()"><img src="../../static/img/if_social-linkedin-circle_771370.png" alt="LinkedIn" width="32" height="32" border="0"></a>
      <a v-on:click="checkCredsGooglePlus()"><img src="../../static/img/if_circle-google-plus_317751.png" alt="GooglePlus" width="32" height="32" border="0"></a>
      <a v-on:click="checkCredsInstagram()"><img src="../../static/img/if_instagram_287746.png" alt="Instagram" width="32" height="32" border="0"></a>
      <a v-on:click="checkCredsTwitter()"><img src="../../static/img/if_twitter_317720.png" alt="Twitter" width="32" height="32" border="0"></a>
    </div>
    <div class="sm_loginForgotCreate">
      <a>Forgot Password?</a> &nbsp;<a>Create an Account</a>
    </div>
  </div>
</template>
<script>
export default {
  name: 'LoginForm',
  data(router) {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    checkCredsEmailPassword: function() {
      alert('Call EmailPassword server with credentials!')
    },
    checkCredsFacebook: function() {
      alert('Call the Facebook server with credentials!')
    },
    checkCredsLinkedIn: function() {
      alert('Call the LinkedIn server with credentials!')
    },
    checkCredsGooglePlus: function() {
      alert('Call the Google Plus server with credentials!')
    },
    checkCredsInstagram: function() {
      alert('Call the Instagram server with credentials!')
    },
    checkCredsTwitter: function() {
      alert('Call the Twitter server with credentials!')
    }
  }
}

</script>
<style scoped>
@font-face {
  font-family: waltograph42;
  src: url("/static/css/fonts/waltograph42.ttf");
}

.sm_passwordBox {
  background-color: lightgray;
  height: 450px;
  width: 250px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sm_loginBanner {
  height: 35%;
  text-align: center;
  background-color: lightgray;
}

.sm_Login {
  padding-top: 8px;
}

.sm_Smeckn {
  color: indianred;
  font-size: 450%;
  font-family: waltograph42;
  background-image: url("/static/img/background.jpg");
}

.sm_SmecknSM {
  font-weight: bold;
  /* font-size: 100%;*/
}

.sm_loginEmailPasswordLogin {
  height: 25%;
  background-color: white;
}

.sm_loginEMailPasswordFillin {
  padding-top: 2px;
  padding-bottom: 2px;
}

.sm_loginButton {
  color: black;
  background-color: #006666;
  border-color: white;
}

.sm_loginButton:hover,
.sm_loginButton:focus,
.sm_loginButton:active {
  color: #ffffff !important;
  background-color: #003333;
  border-color: white;
}

.sm_loginSocialMediaLogin {
  height: 30%;
  text-align: center;
  background-color: lightgray;
}

.sm_loginForgotCreate {
  height: 4%;
  text-align: center;
  margin-top: 10px;
}

.sm_loginForgotCreate a {
  color: darkgray;
  text-decoration: none;
}

.sm_loginForgotCreate a:hover {
  color: black;
}

</style>
