<template>
  <div>
    <div>
      <button type="button" class="btn btn-primary" v-on:click="postDataToMojourneyServer">POST Data to Mojourney Server</button>
      <input type="text" :value="postData" />
    </div>
    <br></br>
    <div>
      <button type="button" class="btn btn-primary" v-on:click="getDataFromMojourneyServer">GET Data from CoinMarketCap Server</button>
      <input type="text" :value="dataMS.price_usd" />
    </div>
    <br></br>
    <div>
      <button type="button" class="btn btn-primary" v-on:click="getDataFromCoinMarketCapServer">GET Data from CoinMarketCap Server</button>
      <input type="text" :value="dataMCS.price_usd" />
    </div>
  </div>
</template>
<script>
import TestInterface from '../services/TestInterface'

export default {
  name: 'MojourneyTest',
  data() {
    return {
      dataMS: {},
      dataMCS: {},
      postData: {},
      symbolMCS: 'Bitcoin',
      symbolMS: 'Ethereum'
    }
  },

  methods: {
    postDataToMojourneyServer() {
      const testInterface = new TestInterface()
      testInterface.getTestRequest('http://localhost:4000/v1.0/test/helloWorld')
        .then((resp) => {
          this.postData = resp.data
          console.log(resp)
        })
        .catch((err) => {
          console.log(err)
        })
    },
    getDataFromMojourneyServer() {
      // TO DO -- temporary code, work w/ Jamester to get get request in server implemented
      const testInterface = new TestInterface()
      testInterface.getTestRequest('https://api.coinmarketcap.com/v1/ticker/' + this.symbolMS + '/')
        .then((resp) => {
          console.log(resp)
          this.dataMS = resp.payload.data[0]
        })
        .catch((err) => {
          console.log(err)
        })
    },

    getDataFromCoinMarketCapServer() {
      // Don't use passed in route symbol but rater symbol hardcoded above
      // axios.get('https://api.coinmarketcap.com/v1/ticker/' + this.$route.params.id + '/')
      const testInterface = new TestInterface()
      testInterface.getTestRequest('https://api.coinmarketcap.com/v1/ticker/' + this.symbolMCS + '/')
        .then((resp) => {
          console.log(resp)
          this.dataMCS = resp.payload.data[0]
        })
        .catch((err) => {
          console.log(err)
        })
    }

  }
}

</script>
