<template>
  <div class="container">
    <h1 class="text-center">SupportedControls</h1>
    <div class="row">
      <div class="col-md-12 text-left">
        <input type="text" class="form-control" placeholder="Text input">
        <br />
        <textarea class="form-control" rows="3"></textarea>
        <div class="checkbox">
          <label>
            <input type="checkbox" value=""> Checkbox: Option one is this and that&mdash;be sure to include why it's great
          </label>
        </div>
        <div class="checkbox disabled">
          <label>
            <input type="checkbox" value="" disabled> Checkbox: Option two is disabled
          </label>
        </div>
        <br />
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Radio: Option one is this and that&mdash;be sure to include why it's great
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Radio: Option two can be something else and selecting it will deselect option one
          </label>
        </div>
        <div class="radio disabled">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled> Radio: Option three is disabled
          </label>
        </div>
        <br />
        <div>
          <h5 class="text-left">Inline Checkboxes and RadioOptions</h5>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
          </label>
          <br />
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
          </label>
        </div>
        <br />
        <div>
          <h5 class="text-left">Selects</h5>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <br />
          <select multiple class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <br />
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <p class="form-control-static">email@example.com</p>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
        </form>
        <br />
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only">Email</label>
            <p class="form-control-static">email@example.com</p>
          </div>
          <div class="form-group">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Confirm identity</button>
        </form>
        <br />
        <form>
          <fieldset disabled>
            <div class="form-group">
              <label for="disabledTextInput">Disabled input</label>
              <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>
            <div class="form-group">
              <label for="disabledSelect">Disabled select menu</label>
              <select id="disabledSelect" class="form-control">
                <option>Disabled select</option>
              </select>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Can't check this
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </fieldset>
        </form>
        <br />
        <br />
        <div>
          <h4>Status Fill-ins and Checkboxes</h4>
          <div class="form-group has-success">
            <label class="control-label" for="inputSuccess1">Input with success</label>
            <input type="text" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2">
            <span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
          </div>
          <div class="form-group has-warning">
            <label class="control-label" for="inputWarning1">Input with warning</label>
            <input type="text" class="form-control" id="inputWarning1">
          </div>
          <div class="form-group has-error">
            <label class="control-label" for="inputError1">Input with error</label>
            <input type="text" class="form-control" id="inputError1">
          </div>
          <div class="has-success">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="checkboxSuccess" value="option1"> Checkbox with success
              </label>
            </div>
          </div>
          <div class="has-warning">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="checkboxWarning" value="option1"> Checkbox with warning
              </label>
            </div>
          </div>
          <div class="has-error">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="checkboxError" value="option1"> Checkbox with error
              </label>
            </div>
          </div>
        </div>
        <div>
          <h4>Optional Icons in Horizontal and inline Forms</h4>
          <form class="form-horizontal">
            <div class="form-group has-success has-feedback">
              <label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status">
                <!-- <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span id="inputSuccess3Status" class="sr-only">(success)</span> -->
              </div>
            </div>
            <div class="form-group has-success has-feedback">
              <label class="control-label col-sm-3" for="inputGroupSuccess2">Input group with success</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <span class="input-group-addon">@</span>
                  <input type="text" class="form-control" id="inputGroupSuccess2" aria-describedby="inputGroupSuccess2Status">
                </div>
                <!-- <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span id="inputGroupSuccess2Status" class="sr-only">(success)</span> -->
              </div>
            </div>
          </form>
        </div>
        <div>
          <form class="form-horizontal">
            <h4>Sign in</h4>
            <button class="btn"><i class="fa fa-home"></i> Sign in with Google</button>
            <h4>---------- or ----------</h4>
            <input type="text" class="form-control" placeholder="Enter Email">
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
export default {
  name: 'Settings',
  methods: {
    submitSettings() {
      alert('Call the server with settings!')
    }
  }
}

</script>
<style>


</style>
