html,
body {
    background-image: url(https://s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png);
    background-size: 141px 142px;
    font-family: "Oxygen";
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 970px;
}

.jumbotron {
    background-color: #000;
    height: 600px;
}

.jumbotron .btn {
    color: #0393ff;
    background: transparent;
    border: 1px solid #0393ff;
    border-radius: 2px;
    padding: 8px 20px;
}

.jumbotron .btn:hover {
    color: #fff;
    background-color: #0393ff;
}

.header {
    color: #fff;
    background-color: #000;
}

.header ul {
    list-style: none;
}

.header li {
    display: inline;
    margin-right: 30px;
}

.main {
    text-align: center;
}

.main h1 {
    color: #fff;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 40px;
}

.main .form-group {
    margin-top: 40px;
}

#search {
    background: transparent;
    border: 0px;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
    width: 400px;
}

#search:hover {
    border-bottom: 1px solid #0393ff;
}

#search:focus {
    border-bottom: 1px solid #0393ff;
    box-shadow: 0px 0px 0px;
    outline: 0px;
}

.supporting {
    text-align: center;
    background-image: url(s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png);
    background-size: 141px 142px;
}

.supporting h2 {
    color: #0393ff;
    margin-bottom: 20px;
}

.supporting p {
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}

.supporting .thumbnail {
    border: none;
    background: transparent;
    padding: 0;
}

.feature {
    text-align: center;
    background-image: url(https://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    padding: 100px 0 0 0;
}

.feature h2 {
    color: #0393ff;
}

.feature p {
    color: #fff;
}

.footer {
    background: #000;
    padding: 60px 0;
}

.footer h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.footer .col-md-3 {
	text-align: left;
}

.footer ul {
    color: #0393ff;
    list-style: none;
    padding-left: 0px;
}
