<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Scroll Spy 2</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'>
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src='https://unpkg.com/v-calendar'></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <b-container fluid>
      <b-row>
        <b-col cols="4">
          <b-navbar v-b-scrollspy:scrollspy-nested class="flex-column">
            <b-navbar-brand href="#">Navbar</b-navbar-brand>
            <b-nav pills class="flex-column">
              <b-nav-item href="#item-1">Item 1</b-nav-item>
              <b-nav pills class="flex-column">
                <b-nav-item class="ml-3 my-1" href="#item-1-1">Item 1-1</b-nav-item>
                <b-nav-item class="ml-3 my-1" href="#item-1-2">Item 1-2</b-nav-item>
              </b-nav>
              <b-nav-item href="#item-2">Item 2</b-nav-item>
              <b-nav-item href="#item-3">Item 3</b-nav-item>
              <b-nav pills class="flex-column">
                <b-nav-item class="ml-3 my-1" href="#item-3-1">Item 3-1</b-nav-item>
                <b-nav-item class="ml-3 my-1" href="#item-3-2">Item 3-2</b-nav-item>
              </b-nav>
            </b-nav>
          </b-navbar>
        </b-col>
        <b-col cols="8">
          <div id="scrollspy-nested" style="position:relative;height:350px;overflow-y:auto">
            <h4 id="item-1" style="">Item 1</h4>
            <p>{{ text }}</p>
            <h5 id="item-1-1" style="">Item 1-1</h5>
            <p>{{ text }}</p>
            <h5 id="item-1-2" style="">Item 2-2</h5>
            <p>{{ text }}</p>
            <h4 id="item-2" style="">Item 2</h4>
            <p>{{ text }}</p>
            <h4 id="item-3" style="">Item 3</h4>
            <p>{{ text }}</p>
            <h5 id="item-3-1" style="">Item 3-1</h5>
            <p>{{ text }}</p>
            <h5 id="item-3-2" style="">Item 3-2</h5>
            <p>{{ text }}</p>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      text: `
        Quis magna Lorem anim amet ipsum do mollit sit cillum voluptate ex nulla
        tempor. Laborum consequat non elit enim exercitation cillum aliqua
        consequat id aliqua. Esse ex consectetur mollit voluptate est in duis
        laboris ad sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam
        Lorem aliqua quis ullamco deserunt sit enim elit aliqua esse irure. Laborum
        nisi sit est tempor laborum mollit labore officia laborum excepteur
        commodo non commodo dolor excepteur commodo. Ipsum fugiat ex est consectetur
        ipsum commodo tempor sunt in proident.
      `
    }
  })

  </script>
</body>

</html>
