@charset "UTF-8";
/*
  Demonstrate @each syntax
*/
/* Lists */
.icon-40px {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.icon-50px {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.icon-80px {
  font-size: 80px;
  height: 80px;
  width: 80px;
}

/* Maps */
.icon-eye:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "";
}

.icon-start:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "";
}

.icon-stop:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "";
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/@each.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAA;AAAA;AAAA;AAIA;AAIE;EACE,WAJI;EAKJ,QALI;EAMJ,OANI;;;AAGN;EACE,WAJI;EAKJ,QALI;EAMJ,OANI;;;AAGN;EACE,WAJI;EAKJ,QALI;EAMJ,OANI;;;AAUR;AAIE;EACE;EACA;EACA,SANI;;;AAGN;EACE;EACA;EACA,SANI;;;AAGN;EACE;EACA;EACA,SANI%22,%22file%22:%22@each.css%22%7D */
