/*
  Demonstrate @else syntax
*/
.banner {
  background-color: #f2ece4;
  color: #036;
}
body.dark .banner {
  background-color: #6b717f;
  color: #d2e1dd;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/@else.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;AAmBA;EARI,kBAPe;EAQf,OAPS;;AAgBX;EAPE,kBARc;EASd,OARQ%22,%22file%22:%22@else.css%22%7D */
