/*
  Demonstrate @else-if syntax
*/
.next {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 2.5px;
  border-left-color: black;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/@else-if.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;AA0BA;EApBE;EACA;EAEA;EACA;EACA;EAKE,mBAWqB%22,%22file%22:%22@else-if.css%22%7D */
