/* Error: "Property top must be either left or right."
 *   ,
 * 7 |     @error "Property #{$property} must be either left or right.";
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss/@error.scss 7:5   reflexive-position()
 *   scss/@error.scss 22:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "Property top must be either left or right."\a   \2577 \a 7 \2502      @error "Property #{$property} must be either left or right.";\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss/@error.scss 7:5   reflexive-position()\a   scss/@error.scss 22:3  root stylesheet';
}
