/*
  Demonstrate SASS @function syntax
*/
.sidebar {
  float: left;
  margin-left: 64px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/@function.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;AAYA;EACE;EACA%22,%22file%22:%22@function.css%22%7D */
