/*
  Demonstrate @if syntax
*/
.square-av {
  width: 100px;
  height: 100px;
}

.circle-av {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/@if.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;AAaA;EARE,OAQ2B;EAP3B,QAO2B;;;AAC7B;EATE,OAS2B;EAR3B,QAQ2B;EALzB%22,%22file%22:%22@if.css%22%7D */
