/*
  Demonstrate SASS @import rule
*/
/*
  Demonstrate SASS Partial File, only meant to be imported
*/
code {
  padding: 0.25em;
  line-height: 0;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/@import.scss%22,%22../scss/_partial.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;ACAA;AAAA;AAAA;AAIA;EACE;EACA%22,%22file%22:%22@import.css%22%7D */
