/*
  Demonstrate SASS @warn syntax
*/
.tilt {
  -wekbit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/@warn.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;AAiBA;EALI,mBAOyB;EAPzB,eAOyB;EAL3B,WAK2B%22,%22file%22:%22@warn.css%22%7D */
