@charset "UTF-8";
/*
  Demonstrate SASS Interpolation
*/
span.emoji-women-holding-hands {
  font-family: IconFont;
  font-variant: normal;
  font-weight: normal;
  content: "👭";
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/interpolation.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAA;AAAA;AAAA;AAKE;EACE;EACA;EACA;EACA,SAIyC%22,%22file%22:%22interpolation.css%22%7D */
