/*
  Demonstrate SASS Mixins
*/
/* Basic */
.box {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* Args */
.sidebar {
  float: left;
}
[dir=rtl] .sidebar {
  float: right;
}

/* Optional Args */
.mail-icon {
  text-indent: -99999em;
  overflow: hidden;
  text-align: left;
  background-image: url("/images/mail.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

/* Keyword Args */
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

/* Arbitrary Args */
input.name {
  position: absolute;
  height: 150px;
  margin-top: 0px;
}

input.address {
  position: absolute;
  height: 150px;
  margin-top: 150px;
}

input.zip {
  position: absolute;
  height: 150px;
  margin-top: 300px;
}

/* Arbitrary Keyword Args */
pre span.stx-string {
  color: #080;
}

pre span.stx-comment {
  color: #800;
}

pre span.stx-variable {
  color: #60b;
}

/* Content Blocks */
.button {
  border: 1px solid black;
}
.button:not([disabled]):hover {
  border-width: 2px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/mixins.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;AAIA;AAMA;EAJE,mBAIwB;EAHxB,eAGwB;EAFxB,WAEwB;;;AAG1B;AASA;EAPE,OAQoB;;AANpB;EACE,OAKwB;;;AAI5B;AAaA;EAXE;EACA;EACA;EAGE,kBAOoB;EANpB;EACA;;;AASJ;AAUA;EARE,OASgB;EARhB,QAQgB;EALd,eAK8B;;;AAIlC;AAGI;EACE;EACA,QAMS;EALT;;;AAHF;EACE;EACA,QAMS;EALT;;;AAHF;EACE;EACA,QAMS;EALT;;;AAQN;AAKI;EACE,OAFmB;;;AACrB;EACE,OAFmB;;;AACrB;EACE,OAFmB;;;AAczB;AAOA;EACE;;AANA;EAQE%22,%22file%22:%22mixins.css%22%7D */
