/*
  Demonstrate SASS Nesting
*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/nesting.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;AAKE;EACE;EACA;EACA;;AAGF;EAAK;;AAEL;EACE;EACA;EACA%22,%22file%22:%22nesting.css%22%7D */
