/*
  Demonstrate SASS Variable Scope
*/
.content {
  global: global value;
  local: local value;
}

.sidebar {
  global: global value;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/variableScope.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;AAMA;EAEE,QAJgB;EAKhB,OAFiB;;;AAKnB;EACE,QATgB%22,%22file%22:%22variableScope.css%22%7D */
