/*
  Demonstrate SASS Variables
*/
body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/variables.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;AAOA;EACE;EACA,OAJc%22,%22file%22:%22variables.css%22%7D */
