<!--
  NAME
    SmecknSplashContainerTest.vue

  DESCRIPTION
    Test Smeckn Splash Container
 -->
<template>
  <SmecknSplashContainer>
    <p data-cy="splashContainerParagraph">Hello Splash Container!</p>
  </SmecknSplashContainer>
</template>
<script>
export default {};

</script>
