<!--
  NAME
    SmecknSplashContainer.vue

  DESCRIPTION
    Reusable Container that contains Splash Background

  USAGE
    See SmecknSplashContainer.vue
-->
<template>
  <b-container fluid class="sm-splash-background" data-cy="smecknSplashContainer">
    <slot></slot>
  </b-container>
</template>
<script>
export default {};

</script>

<style scoped lang="scss">
.sm-splash-background {
  background-image: url('../../img/misc/splash-compressed.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
