<!--
  NAME
    AnalysisBar.vue

  DESCRIPTION
    Display analysis operation
 -->
<template>
  <div data-cy="analysisBar">
    <SmecknDropDownTransition>
      <!-- In Progress -->
      <b-alert v-if="showProgress" show variant="info" data-cy="analysisBarProgress"
        class="d-flex my-0 text-left align-items-center">
        <p class="my-0 text-nowrap">Analyzing {{ this.contentTypeString }} {{ this.analysisTypeString }}</p>
        <b-progress v-bind:max="waAnalysisProgress.countTotal" class="w-100 ml-2">
          <b-progress-bar v-bind:value="waAnalysisProgress.countAnalyzed" v-bind:label="progressLabel"
            animated variant="info">
          </b-progress-bar>
        </b-progress>
      </b-alert>

      <!-- Successful -->
      <b-alert v-else-if="showSuccess" variant="success" show class="my-0 text-left"
        data-cy="analysisBarSuccess">
        {{ this.contentTypeString }} {{ this.analysisTypeString }} analysis succeeded!
      </b-alert>

      <!-- Failure Occurred -->
      <b-alert v-else-if="showFailure" variant="danger" show class="clearfix my-0"
        data-cy="analysisBarFailure">
        <b-button-close v-on:click="onCloseFailedAnalysis" class="float-right" data-cy="analysisErrorCloseButton"></b-button-close>
        <p class="float-left text-left my-0" data-cy="analysisErrorMessagePara"> {{ this.contentTypeString }}
          {{ this.analysisTypeString }} analysis failed {{this.errorMessage}}</p>
      </b-alert>
    </SmecknDropDownTransition>
  </div>
</template>
<script>
import Vuex from 'vuex';

export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    waAnalysis: {
      // Analysis Object
      type: Object,
      required: true,
    },
    progressCheckIntervalMS: {
      // Time (Milliseconds) to wait in between progress checks
      type: Number,
      default: 1000
    },
    displaySuccessMS: {
      // Time (Milliseconds) to display a successful analysis before closing bar
      type: Number,
      default: 3000
    }
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Active Analysis Progress Object
      waAnalysisProgress: null,

      // Something went wrong
      errorMessage: '',

      // Timeout to display progress
      displayProgressTimeout: null,

      // Timeout to cancel sucess
      cancelSuccessTimeout: null,

      // If true, show success
      displaySuccess: true,

      // If true, show failure
      displayFailure: true
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('analysis', ['getAnalysisErrorMessage']),
    ...Vuex.mapGetters('analysisType', ['analysisTypeToString']),
    ...Vuex.mapGetters('contentType', ['contentTypeToString']),
    showProgress() {
      return this.waAnalysisProgress && this.waAnalysisProgress.status === 'IN_PROGRESS';
    },
    progressLabel() {
      let percentage = 100 * this.waAnalysisProgress.countAnalyzed / this.waAnalysisProgress.countTotal;
      return `${percentage.toFixed(0)}%`;
    },
    showSuccess() {
      return this.waAnalysisProgress && this.waAnalysisProgress.status === 'SUCCESS' && this.displaySuccess;
    },
    showFailure() {
      return Boolean(this.errorMessage !== '') && this.displayFailure;
    },
    contentTypeString() {
      return this.contentTypeToString(this.waAnalysis.contentType, false);
    },
    analysisTypeString() {
      return this.analysisTypeToString(this.waAnalysis.analysisType);
    }
  },

  /* ---------------------- WATCH ------------------------------------------ */
  watch: {

    /**
     * Anytime the underlying profile changes, we must refresh the analysis state.
     */
    waProfile() { this.refresh(); }
  },

  /* ---------------------- LICECYCLE -------------------------------------- */
  created() {
    this.$g.analysisBus.bus.$on('refresh', this.refresh);
  },
  mounted() {
    this.displayProgress();
  },
  destroyed() {
    this.$g.analysisBus.bus.$off('refresh', this.refresh);
    if (this.displayProgressTimeout) {
      clearTimeout(this.displayProgressTimeout);
      this.displayProgressTimeout = null;
    }
    if (this.cancelSuccessTimeout) {
      clearTimeout(this.cancelSuccessTimeout);
      this.cancelSuccessTimeout = null;
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Display the analysis progress
     * Function does the following:
     * - Gets the analysis progress
     * - If IN_PROGRESS: recursively calls itself to update progress
     * - If SUCCESS: display success for a few seconds before hiding it
     * - If failure: display error
     */
    async displayProgress() {
      this.waAnalysisProgress = await this.$g.store.dispatch('analysis/getProgress', { waAnalysis: this.waAnalysis });
      switch (this.waAnalysisProgress.status) {
      case 'IN_PROGRESS':
        this.displayProgressTimeout = setTimeout(this.displayProgress, this.progressCheckIntervalMS);
        break;
      case 'SUCCESS':
        this.$g.analysisBus.complete({
          waContentType: this.waAnalysis.contentType,
          waAnalysisType: this.waAnalysis.analysisType
        });
        this.cancelSuccessTimeout = setTimeout(() => { this.displaySuccess = false; }, this.displaySuccessMS);
        break;
      default:
        this.errorMessage = this.getAnalysisErrorMessage(this.$g, this.waAnalysisProgress.status);
        break;
      }
    },

    /**
     * Handle user closing out the failed analysis message
     */
    async onCloseFailedAnalysis() {
      this.displayFailure = false;
    }
  }
};

</script>
