<!--
  NAME
    AnalysisBarList.vue

  DESCRIPTION
    Display IN_PRGRESS analysis operations
 -->
<template>
  <div data-cy="analysisBarList">
    <template v-if="showBars">
      <AnalysisBar v-for="waAnalysis in waAnalysisList" v-bind:key="waAnalysis.smID"
        v-bind:wa-analysis="waAnalysis"></AnalysisBar>
    </template>
  </div>
</template>
<script>
import AnalysisBar from './AnalysisBar';

export default {

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { AnalysisBar },

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    waProfile: {
      // Active Profile Object
      type: Object,
      required: true
    },
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Analysis List
      waAnalysisList: [],
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    showBars() {
      return this.waAnalysisList.length > 0;
    },
  },

  /* ---------------------- WATCH ------------------------------------------ */
  watch: {

    /**
     * Anytime the underlying profile changes, we must refresh the analysis state.
     */
    waProfile() { this.refresh(); }
  },

  /* ---------------------- LICECYCLE -------------------------------------- */
  created() {
    this.$g.analysisBus.bus.$on('refresh', this.refresh);
  },
  mounted() {
    this.refresh();
  },
  destroyed() {
    this.$g.analysisBus.bus.$off('refresh', this.refresh);
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Refresh the analysis state: Gets IN_PROGRESS analyses
     */
    async refresh() {
      this.waAnalysisList = [];
      if (this.waProfile) {
        this.waAnalysisList = await this.$g.store.dispatch('analysis/list', { waProfile: this.waProfile, waAnalysisStatus: 'IN_PROGRESS' });
      }
    },
  }
};

</script>
