<!--
  NAME
    App.vue

  DESCRIPTION
    Main application
-->
<template>
  <div id="app">
    <Navbar></Navbar>
    <SidebarContainer v-bind:item-list="itemList">
      <router-view></router-view>
    </SidebarContainer>
  </div>
</template>
<script>
import Navbar from './components/base/Navbar.vue';
import SidebarContainer from './components/sidebar/SidebarContainer.vue';
import homeIcon from './img/home.png';
import plusIcon from './img/plus-2.png';
import facebookIcon from './img/facebook.png';
import twitterIcon from './img/twitter.png';

export default {

  /* -------------------- NAME --------------------------------------------- */
  name: 'app',

  /* -------------------- DATA --------------------------------------------- */
  data() {
    return {
      itemList: [{
          title: 'Home',
          onClick: () => { this.$router.push({ name: 'rnHome' }); },
          activeRouteName: 'rnHome',
          icon: {
            src: homeIcon
          },
        },
        {
          title: 'Add Profile',
          onClick: () => { this.$router.push({ name: 'rnAddProfile' }); },
          activeRouteName: 'rnAddProfile',
          icon: {
            src: plusIcon
          }
        },
        // Facebook -----------------------------------------------------------
        {
          title: 'Facebook Profile',
          icon: {
            src: facebookIcon
          },
          children: [{
              title: 'Overview',
              onClick: () => { this.$router.push({ name: 'rnFacebookOverview' }); },
              activeRouteName: 'rnFacebookOverview',
            },
            {
              title: 'Posts',
              children: [{
                title: 'All',
                onClick: () => { this.$router.push({ name: 'rnFacebookPostsAll' }); },
                activeRouteName: 'rnFacebookPostsAll',
              }, {
                title: 'Frequency',
                onClick: () => { this.$router.push({ name: 'rnFacebookPostsFrequency' }); },
                activeRouteName: 'rnFacebookPostsFrequency',
              }, {
                title: 'Likes',
                onClick: () => { this.$router.push({ name: 'rnFacebookPostsLikes' }); },
                activeRouteName: 'rnFacebookPostsLikes',
              }, {
                title: 'Comments',
                onClick: () => { this.$router.push({ name: 'rnFacebookPostsComments' }); },
                activeRouteName: 'rnFacebookPostsComments',
              }, {
                title: 'Sentiment',
                onClick: () => { this.$router.push({ name: 'rnFacebookPostsSentiment' }); },
                activeRouteName: 'rnFacebookPostsSentiment',
                badges: [{
                  text: '200',
                  class: 'badge-danger text-light'
                }, ],
              }],
            },
            {
              title: 'Manage',
              onClick: () => { this.$router.push({ name: 'rnFacebookManage' }); },
              activeRouteName: 'rnFacebookManage',
            }
          ]
        },
        // Twitter ------------------------------------------------------------
        {
          title: 'Twitter Profile',
          icon: {
            src: twitterIcon
          },
          children: [{
              title: 'Overview',
              onClick: () => { this.$router.push({ name: 'rnTwitterOverview' }); },
              activeRouteName: 'rnTwitterOverview',
            },
            {
              title: 'Tweets',
              children: [{
                title: 'All',
                onClick: () => { this.$router.push({ name: 'rnTwitterTweetsAll' }); },
                activeRouteName: 'rnTwitterTweetsAll',
              }, {
                title: 'Frequency',
                onClick: () => { this.$router.push({ name: 'rnTwitterTweetsFrequency' }); },
                activeRouteName: 'rnTwitterTweetsFrequency',
              }, {
                title: 'Likes',
                onClick: () => { this.$router.push({ name: 'rnTwitterTweetsLikes' }); },
                activeRouteName: 'rnTwitterTweetsLikes',
              }, {
                title: 'Comments',
                onClick: () => { this.$router.push({ name: 'rnTwitterTweetsComments' }); },
                activeRouteName: 'rnTwitterTweetsComments',
              }, {
                title: 'Sentiment',
                onClick: () => { this.$router.push({ name: 'rnTwitterTweetsSentiment' }); },
                activeRouteName: 'rnTwitterTweetsSentiment',
              }],
            },
            {
              title: 'Manage',
              onClick: () => { this.$router.push({ name: 'rnTwitterManage' }); },
              activeRouteName: 'rnTwitterManage',
            }
          ]
        },
      ]
    };
  },

  /* -------------------- COMPONENTS --------------------------------------- */
  components: {
    Navbar,
    SidebarContainer,
  }
};

</script>

