/*
 NAME
   index.scss

 DESCRIPTION
   Global Sass File
*/

/* ------------------------- COLOR OVERRIES -------------------------------- */
/*
  Color Pallete Reference: https://www.color-hex.com/color-palette/5452
  Keep these colors the same as those in ui.js!
*/
$primary: #428bca; // Blue
$secondary: #989898; // Gray
$success: #5cb85c; // Green
$info: #17a2b8; // Teal
$warning: #ffc107; // Yellow
$danger: #d9534f; // Red
$light: #f9f9f9; // Whitish
$dark: #343a40; // Dark Gray


/* ------------------------- IMPORTS --------------------------------------- */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-vue/src/index.scss';

/* ------------------------- TYPOGRAPHY ------------------------------------ */
/*
  Responsive Fonts
  Do all font sizing in rem to base off of the root html font size.
  When the screen grows/shrinks, the font will be resized appropriately
  References
    - Bootstrap   : https://getbootstrap.com/docs/4.0/content/typography/#responsive-typography
    - Size with % : https://snook.ca/archives/html_and_css/font-size-with-rem
*/
html {
  font-size: 90%;
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 100%;
  }
}
@include media-breakpoint-up(md) {
  html {
    font-size: 110%;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 120%;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 130%;
  }
}

/* ------------------------- SCROLLBAR ------------------------------------- */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $light;
}

::-webkit-scrollbar {
  width: .5rem;
  background-color: rgba($info, .5);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba($info, .5);
}


/* ------------------------- IMAGES ---------------------------------------- */
/*
  Image Sizing
   - Create smg-img-* sizes
*/
$smg-img-sz-list: (
  (0  .25rem  .25rem),
  (1  .5rem   .5rem),
  (2  .75rem  .75rem),
  (3  1rem    1rem),
  (4  1.5rem  1.5rem),
  (5  2rem    2rem),
  (6  3rem    3rem),
  (7  4rem    4rem),
  (8  32rem   32rem),
  (9  64rem   64rem),
);

@each $size, $maxWidth, $maxHeight in $smg-img-sz-list {
  .smg-img-#{$size} {
    max-width: $maxWidth;
    max-height: $maxHeight;
  }
}


/* ------------------------- HOVER ----------------------------------------- */
.smg-hover {
  @extend .shadow;

  &:hover {
    @extend .shadow-lg;
    transform: scale(1.02);
  }
}
