html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', sans-serif;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header {
    padding: 30px 0px 80px;
}

.nav li a {
    color: #333;
    margin: 0;
    border: 0px;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h2 {
    color: #000;
    font-size: 50px;
    margin-bottom: 100px;
}

.jumbotron h2 span {
    color: #ffc200;
}

.banner {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.cards {
    background-color: #ffc200;
    text-align: center;
    margin-bottom: 20px;
}

.cards img {
    margin-bottom: 20px;
}

.footer {
    padding: 60px 0;
    background-color: #000;
    color: #fff;
    text-align: left;
}

.footer img {
    width: 25px;
    height: 25px;
    margin: 5px;
}

@media (max-width: 992px) {
    .col-md-4 {
        margin: 0 auto 0;
        text-align: center;
        width: 100%;
    }
    .cards img {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .header h1 {
        text-align: center;
    }
    .nav li {
        text-align: center;
        width: 100%;
    }
    .cards img {
        width: 100%;
    }
}
