<!DOCTYPE html>
<html>

<head>
  <title>Dependency Injection</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk"></script>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <providing-component>
      <injected-component></injected-component>
    </providing-component>
  </div>
  <script>
  Vue.component('providing-component', {
    provide: function () {
      return {
        setName: this.setName
      }
    },
    data() {
      return {
        name: '',
      }
    },
    methods: {
      setName: function (name) {
        this.name = name;
      }
    },
    template: '<div><h1>Hello {{ name }}!</h1><slot></slot></div>'
  })

  Vue.component('injected-component', {
    inject: ['setName'],
    props: ['places'],
    mounted: function () {
      this.setName('Mara')
    },
    render(h) {
      return null
    }
  })

  new Vue({
    el: '#app',
    data: {}
  })

  </script>
  <style>

  </style>
</body>

</html>
