@font-face {
	font-family: 'MyFont';
	src: url('./Bison-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  /*background: url('./fun.jpg');*/
}