<!--
  NAME
    SmecknNumberIncrementerTest.vue

  DESCRIPTION
    Test Smeckn Number Incrementer
-->
<template>
  <b-container fluid>
    <SmecknNumberIncrementer v-bind:start="start" v-bind:minAboveStart="minAboveStart"
      v-bind:max="max" v-bind:increment="increment" v-on:update="onUpdate">
    </SmecknNumberIncrementer>
    <div class="text-left">
      <p>
        <span class="font-weight-bold">Value</span>:<span data-cy="parentValue">{{ value }}</span>
      </p>
    </div>
  </b-container>
</template>
<script>
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data: function () {
    return {
      start: 0,
      minAboveStart: 100,
      increment: 200,
      max: 100000,
      value: 0,
    };
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onUpdate(val) {
      this.value = val;
    }
  }
};

</script>
