<!--
  NAME
    SmecknNumberIncrementer.vue

  DESCRIPTION
    Component used to increment and decrement number values
    Used in payment flows where the minimum purchase might be 500 units and the
    increment might be 50 units.

    MAX
     |
     .
     |
    NEXT
     |
    NEXT
     |               -
    MIN ABOVE START
     |
     .
     |
    START


  REFERENCE
    https://github.com/xiaoluoboding/vue-number-spinner/blob/master/src/vue-number-spinner.vue

  USAGE
    See SmecknNumberIncrementerTest.vue
-->
<template>
  <div class="sm-number-incrementer mx-auto" data-cy="smecknNumberIncrementer">
    <!--
     Here we break on "sm"

     For < sm:
         [plus button]
         [input]
         [minus button]

     For >= sm:
         [minus button]     [intput]       [plus button]
     -->
    <b-input-group class="sm-input-group d-flex flex-sm-row">
      <!-- Minus -->
      <b-button class="sm-button text-light btn-sm my-1 mx-1" v-on:click="onDecrement"
        data-cy="smecknNumberDecrement">-</b-button>

      <!-- Number -->
      <b-form-input class="text-center bg-light mx-auto rounded my-1 smg-mw-4"
        type="number" size="3" v-model="val" number data-cy="smecknNumber"></b-form-input>

      <!-- Plus -->
      <b-button class="sm-button text-light btn-sm my-1 mx-1" v-on:click="onIncrement"
        data-cy="smecknNumberIncrement">+</b-button>
    </b-input-group>
  </div>
</template>

<script>
export default {

  /* ---------------------- EVENTS ----------------------------------------- */
  /*
      Name
        'update'
      Description
        Emitted whenever the number is updated
      Usage
        v-on:update="onUpdate"
        onUpdate(val) {}
   */

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Starting Value
    start: {
      type: Number,
      default: 0
    },
    // Minimum value above start
    minAboveStart: {
      type: Number,
      default: 10
    },
    // Maximum Value
    max: {
      type: Number,
      default: 1000000
    },
    // Unit with which to increment decrement
    increment: {
      type: Number,
      default: 1
    }
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Value
      val: 0,
    };
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onIncrement: function () {
      if (this.val < this.minAboveStart) {
        this.val = this.minAboveStart;
      } else {
        this.val = this.val + this.increment;
      }
    },
    onDecrement: function () {
      if (this.val <= this.minAboveStart) {
        this.val = this.start;
      } else {
        this.val = this.val - this.increment;
      }
    },
  },

  /* ---------------------- WATCH ------------------------------------------ */
  watch: {

    /**
     * Watch value changes to ensure val stays within limits and emit to parent
     * @param {Number} newVal
     * @param {Number} oldVal
     */
    val: function (newVal, oldVal) {
      if (newVal < this.start) {
        this.val = this.start;
      } else if (this.start < newVal && newVal < this.minAboveStart) {
        this.val = this.minAboveStart;
      } else if (newVal > this.max) {
        this.val = this.max;
      }
      this.$emit('update', this.val);
    }
  }
};

</script>
<style scoped lang="scss">
// Disable Number Spinners
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Number Input
.sm-input-group {
  max-width: 350px;
}

// Inc,Dec Buttons
.sm-button {
  max-width: 100px;
}

</style>
