<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- v-if -->
        <h1 v-if="ok">V-if</h1>
        <!-- v-if, else -->
        <h1 v-if="ok">V-if</h1>
        <h1 v-else="ok">V-else</h1>
        <!-- Template -->
        <template v-if="ok">
            <h1>Toggle Multiple Elements</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
        <!-- v-else-if -->
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
        <!-- Template login. Use separate keys to erase the input text-->
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>
        <!-- v-show -->
        <h1 v-show="ok">V-Show</h1>
    </div>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            ok: true,
            type: 'A',
            loginType: 'username'
        },
        methods: {}
    })
    </script>
</body>

</html>