<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <!-- Loop through array -->
        <h1>Loop through array</h1>
        <ul>
            <li v-for="item in items">
                {{ item.message }}
            </li>
        </ul>
        <!-- Loop with array indices -->
        <h1>Loop through array with indices</h1>
        <ul>
            <li v-for="(item, index) in items">
                {{ parentMessage }} - {{ index }} - {{ item.message }}
            </li>
        </ul>
        <!-- Loop through properties of an object -->
        <h1>Loop through properties of object</h1>
        <ul id="v-for-object" class="demo">
            <li v-for="value in object">
                {{ value }}
            </li>
        </ul>
        <!-- Loop through keys,properties of an object -->
        <h1>Loop through keys,properties of object</h1>
        <ul id="v-for-object" class="demo">
            <li v-for="(value, key, index) in object">
                {{ index }}. {{ key }}: {{ value }}
            </li>
        </ul>
        <!-- Display filtered/sorted results -->
        <h1>Loop through even numbers</h1>
        <li v-for="n in evenNumbers">{{ n }}</li>
        <!-- Iterate over a range -->
        <h1>Iterate over a range</h1>
        <span v-for="n in 10">{{ n }} </span>
        <!-- For loop a template -->
        <h1>Loop with a template</h1>
        <ul>
            <template v-for="item in items">
                <li>{{ item.message }}</li>
                <li class="divider"></li>
            </template>
        </ul>
        <!-- v-for with v-if -->
        <h1>v-for with v-if</h1>
        <ul>
        <li v-for="todo in todos" v-if="!todo.isComplete">
            {{ todo }}
        </li>
        </ul>
    </div>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            parentMessage: 'Parent',
            items: [
                { message: 'Foo' },
                { message: 'Bar' }
            ],
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            },
            numbers: [1, 2, 3, 4, 5, 6, 7, 8],
            todos: [{
                idx: 1,
                isComplete: true,
            }, {
                idx: 2,
                isComplete: false,
            }, ]
        },
        computed: {
            evenNumbers: function() {
                return this.numbers.filter(function(number) {
                    return number % 2 === 0
                })
            }
        }

    })
    </script>
</body>

</html>