<!DOCTYPE html>
<html>

<head>
    <title>Loops</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <ol>
            <!--Provide each todo-item with the todo object its representing,
               so that its content can be dynamic. We also need to provide each component
               with a "key"-->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>
    <script>
    // Register component with Vue
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    })

    var app = new Vue({
        el: '#app',
        data: {
            groceryList: [
                { id: 0, text: 'Vegetables' },
                { id: 1, text: 'Cheese' },
                { id: 2, text: 'Carrots' },
            ]
        }
    })
    </script>
</body>

</html>