<!DOCTYPE html>
<html>

<head>
  <title>Slot Scope</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- Example 1 -->
    <h1>Default Implementation</h1>
    <current-user>
    </current-user>

    <!-- Example 2 -->
    <h1>Access Slot Props</h1>
    <current-user>
      <template v-slot:default="slotProps">
        {{ slotProps.user.firstName }}
        {{ slotProps.user.lastName }}
      </template>
    </current-user>

    <!-- Example 3 -->
    <h1>Destructuring</h1>
    <current-user>
      <template v-slot:default="{ user }">
        {{ user.firstName }}
        {{ user.lastName }}
      </template>
    </current-user>

  </div>
  <script>
  Vue.component(
    'CurrentUser', {
      template: `
            <span>
              <slot v-bind:user="user">
                {{ user.lastName }}
              </slot>
            </span>
            `,
      data() {
        return {
          user: {
            firstName: 'Steven',
            lastName: 'Bensson',
          }
        }
      },
    });

  var vm = new Vue({
    el: '#app',
    data: {},
    methods: {}
  })

  </script>
</body>

</html>
