<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <div>
      <b-card border-variant="primary" header="Complete Purchase" header-bg-variant="primary"
        header-text-variant="white" align="center" style="max-width: 50rem;">
        <br>
        <div ref="card"></div>
        <br>
        <p>{{ displayError }}</p>
        <b-button v-on:click="purchase">Purchase</b-button>
      </b-card>
    </div>
    <p> Source data:
      <pre>{{ source }}</pre>
    </p>
    <p> Token data:
      <pre>{{ token }}</pre>
    </p>
  </div>
  <script>
  let stripe = Stripe('pk_test_k4df5l8ilZtKpnSAQN5DPSIl');
  let elements = stripe.elements();
  let card = undefined;
  let app = new Vue({
    el: '#app',
    data() {
      return {
        displayError: '',
        token: null,
        source: null
      }
    },
    mounted() {
      let classes = {
        focus: 'focus',
        empty: 'empty',
        invalid: 'invalid',
      }
      let style = {
        base: {
          color: '#fff',
          fontWeight: 600,
          fontFamily: 'Quicksand, Open Sans, Segoe UI, sans-serif',
          fontSize: '16px',
          fontSmoothing: 'antialiased',

          ':focus': {
            color: '#424770',
          },

          '::placeholder': {
            color: '#9BACC8',
          },

          ':focus::placeholder': {
            color: '#CFD7DF',
          },
        },
        complete: {
          color: '#006600',
          fontWeight: 600,
          fontFamily: 'Quicksand, Open Sans, Segoe UI, sans-serif',
          fontSize: '16px',
          fontSmoothing: 'antialiased',
        },
        invalid: {
          color: '#fff',
          ':focus': {
            color: '#FA755A',
          },
          '::placeholder': {
            color: '#FFCCA5',
          },
        }
      }
      card = elements.create('card', {
        style,
        classes,
        hidePostalCode: false,
        iconStyle: 'solid',
        hideIcon: false
      });
      card.mount(this.$refs.card);
    },
    methods: {
      displaySource: async function() {
        let ownerInfo = {
          owner: {
            email: 'bensson.james@gmail.com'
          }
        }
        let { source, error } = await stripe.createSource(card, ownerInfo);
        if (error) {
          this.displayError = error.message;
        } else {
          this.source = source;
          card.clear();
        }
      },
      displayToken: async function() {
        let { token, error } = await stripe.createToken(card);
        if (error) {
          this.displayError = error.message;
        } else {
          this.token = token;
          card.clear();
        }
      },
      purchase: async function () {
        await this.displaySource();
        // await this.displayToken();
      }
    }
  })

  </script>
</body>

</html>
