<template>
  <div class="text-center">
    <!-- Fade -->
    <b-button v-on:click="onFadeToggle">Fade</b-button>
    <div>
      <FadeTransition>
        <div v-if="showFade">
          <p v-for="item in items" v-bind:key="item.text"> {{ item.text }}</p>
        </div>
      </FadeTransition>
      <p>Hello World!</p>
    </div>
    <br>

    <!-- Drop Down -->
    <b-button v-on:click="onDropdownToggle">Drop Down</b-button>
    <DropdownTransition>
      <div v-if="showDropdown">
        <p v-for="item in items" v-bind:key="item.text"> {{ item.text }}</p>
      </div>
    </DropdownTransition>
    <br>

    <!-- Drop Right -->
    <b-button v-on:click="onDropRightToggle">Drop Right</b-button>
    <div class="d-flex w-100 bg-secondary clearfix">
      <DropRightTransition class="float-left">
        <div v-if="showDropRight">
          <p v-for="item in items" v-bind:key="item.text"> {{ item.text }}</p>
        </div>
      </DropRightTransition>
      <div class="float-right">
        <p>Hello World!</p>
      </div>
    </div>
    <br>
  </div>
</template>
<script>
import DropdownTransition from '../transitions/DropdownTransition.vue';
import DropRightTransition from '../transitions/DropRightTransition.vue';
import FadeTransition from '../transitions/FadeTransition.vue';

export default {

  /* -------------------- DATA --------------------------------------------- */
  data() {
    return {
      showDropdown: true,
      showDropRight: true,
      showFade: true,
      items: [{
          text: 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'
        },
        {
          text: 'B'
        },
        {
          text: 'C'
        },
        {
          text: 'D'
        },
        {
          text: 'E'
        }
      ]
    };
  },

  /* -------------------- COMPONENTS --------------------------------------- */
  components: { DropdownTransition, DropRightTransition, FadeTransition },

  /* -------------------- METHODS ------------------------------------------ */
  methods: {
    onDropdownToggle() {
      this.showDropdown = !this.showDropdown;
    },
    onDropRightToggle() {
      this.showDropRight = !this.showDropRight;
    },
    onFadeToggle() {
      this.showFade = !this.showFade;
    }
  }
};

</script>
