<!--
  NAME
    Navbar.vue

  DESCRIPTION
    Navbar for application
-->
<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border">
    <a class="navbar-brand" href="#">Demo Navbar</a>
  </nav>
</template>

<script>
export default {

  /* -------------------- DATA --------------------------------------------- */
  data() {
    return {};
  },
};

</script>
<style>

</style>
