/* About.vue - About Component accessed via text button at bottom of home page */
<template>
  <div class="About">
    <div class="container container-table">
      <div class="row vertical-10p">
        <div class="container text-center">
          <h1>About QuotableJoy</h1>
          <div class="qjAboutText">
            <p>QuotableJoy is a website designed to bring daily joy to its viewers. We understand that life presents many challenges and having a daily injection of inspiration can help. Each day we present a quote designed to inspire and bring you a moment of joy.</p>
            <p>We allow you to navigate through the last several "quotablejoys". We are interested in what you think about our site. Please contact us at <span class="qjBeblsoftText">beblsoftmanager@gmail.com</span> to email us ideas to help improve the site. We will be adding to the site based on feedback. Thanks for your help and we hope that you have a very joyful life!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'About'
}

</script>
<style scoped>
.qjAboutText {
  text-align: left;
  color: white;
  font-weight: bold;
}

.qjBeblsoftText {
  color: indianred;
}

</style>
