/* Quote.vue - Quote Component accessed when selecting History text button at top of application */
<template>
  <div class="qjquotecontainer">
    <div class="qjTableCentral">
      <!-- <vue-good-table :columns="columns" :rows="quoteRows" :onClick="updateQuotesForAuthor" v-if="quoteRows.length > 0" styleClass="table condensed table-hover table-bordered"/> -->
      <vue-good-table :columns="columns" :rows="quoteRows" v-if="quoteRows.length > 0" styleClass="table condensed table-bordered" />
    </div>
  </div>
</template>
<script>
/*import bus from '../main'*/
export default {
  name: 'Quotes',
  store: ['quotes'],
  data() {
    return {
      quoteRows: [],
      quoteInterface: null,
      columns: [{
          label: 'Date',
          field: 'date',
          type: 'date',
          inputFormat: 'YYYY-MM-DD',
          outputFormat: 'MMM DD ',
          width: '100px'
        },
        {
          label: 'Quote',
          field: 'quote.text'
        },
        {
          label: 'Author',
          field: 'quote.author',
          width: '200px'
        }
      ]
    }
  },
  // One call to ther server to get the first and only bunch of quotes
  created: function() {
    // get global data from the store, quotes
    this.quoteInterface = this.quotes
    if (this.quoteInterface.alreadyHaveQuotes() !== true) {
      this.quoteInterface.getQuotesFromServer()
        .then((resp) => {
          this.populateArray()
        })
        .catch((err) => {
          console.log(err)
        })
    } else this.populateArray()
  },
  methods: {
    populateArray: function() {
      this.quoteRows = this.quoteInterface.getQuotes()
    }
    /*,
        updateQuotesForAuthor: function(row, index) {
          console.log('History get quotes for: ' + row.quote.author)
          // transition to Search screen
          this.$router.push({ name: 'Search' })
          // search for author
          bus.$emit('searchAuthor', row.quote.author)
        }*/
  }
}

</script>
<style scoped>
.qjquotecontainer {
  margin-left: 68px;
  margin-right: 68px;
}

</style>
