/* Home.vue - Main Component when QuotableJoy comes up, complete with Carousel. */
<template>
  <div class="Home">
    <div class="qjpage">
      <div class="row">
        <div class="col-md-12">
          <div class="qjtext">
            <h1 class="qjColorText"><span class="qjLargeText">q</span>uotable<span class="qjLargeText">j</span>oy  <span class="qjSmallText">"Daily Joy For Your Life"</span></h1>
          </div>
          <div id="dailyquote" class="carousel slide" data-ride="carousel" v-if="quoteRows.length > 0">
            <ol class="carousel-indicators">
              <li data-target="#dailyquote" data-slide-to="0" class="active"></li>
              <li data-target="#dailyquote" data-slide-to="1"></li>
              <li data-target="#dailyquote" data-slide-to="2"></li>
              <li data-target="#dailyquote" data-slide-to="3"></li>
              <li data-target="#dailyquote" data-slide-to="4"></li>
              <li data-target="#dailyquote" data-slide-to="5"></li>
              <li data-target="#dailyquote" data-slide-to="6"></li>
              <li data-target="#dailyquote" data-slide-to="7"></li>
              <li data-target="#dailyquote" data-slide-to="8"></li>
              <li data-target="#dailyquote" data-slide-to="9"></li>
              <li data-target="#dailyquote" data-slide-to="10"></li>
              <li data-target="#dailyquote" data-slide-to="11"></li>
              <li data-target="#dailyquote" data-slide-to="12"></li>
              <li data-target="#dailyquote" data-slide-to="13"></li>
              <li data-target="#dailyquote" data-slide-to="14"></li>
              <li data-target="#dailyquote" data-slide-to="15"></li>
              <li data-target="#dailyquote" data-slide-to="16"></li>
              <li data-target="#dailyquote" data-slide-to="17"></li>
              <li data-target="#dailyquote" data-slide-to="18"></li>
              <li data-target="#dailyquote" data-slide-to="19"></li>
              <li data-target="#dailyquote" data-slide-to="20"></li>
            </ol>
            <!-- Wrapper for slides, notice fancy way to set first item to active -->
            <div class="carousel-inner qjcarousel-content" role="listbox">
              <div class="item" v-for="(quote, index) in quoteRows" :key="quote.displayDate" :class="{ 'active': index === 0 }">
                <img v-bind:src=images[index%10] class="qjpicture-box" alt="">
                <div class="carousel-caption qjcaption">
                  <h2>{{formatDate(quote.date)}}</h2>
                  <br>
                  <h3>{{quote.quote.text}}</h3>
                  <br>
                  <br>
                  <h4>{{quote.quote.author}}</h4>
                </div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#dailyquote" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
            <a class="right carousel-control" href="#dailyquote" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 qjad-box">
          <!-- <div <img src="/static/img/ad728x90.png" alt="Google AdSense Integration" class="qjcenter">
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Home',
  store: ['quotes'],
  data() {
    return {
      quoteRows: [],
      quoteInterface: null,
      images: [
        '/static/img/palette7.png',
        '/static/img/palette1.png',
        '/static/img/palette5.png',
        '/static/img/palette2.png',
        '/static/img/palette9.png',
        '/static/img/palette3.png',
        '/static/img/palette4.png',
        '/static/img/palette8.png',
        '/static/img/palette9.png',
        '/static/img/palette3.png'

      ]
    }
  },
  // One call to ther server to get the first and only bunch of quotes
  created: function() {
    // get global data from the store, quotes
    this.quoteInterface = this.quotes
    if (this.quoteInterface.alreadyHaveQuotes() !== true) {
      this.quoteInterface.getQuotesFromServer()
        .then((resp) => {
          this.populateArray()
        })
        .catch((err) => {
          console.log(err)
        })
    } else this.populateArray()
  },
  methods: {
    populateArray: function() {
      this.quoteRows = this.quoteInterface.getQuotes()
    },
    formatDate: function(date) {
      var monthNames = ['January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
      ]
      var theDate = new Date(date)
      return monthNames[theDate.getMonth()] + ' ' + theDate.getUTCDate()
    }
  }
}

</script>
<!-- Add 'scoped" attribute to limit CSS to this component only -->
<style scoped>
.qjColorText {
  color: darkslategray;
}

.qjLargeText {
  color: white;
  font-size: 150%;
}

.qjSmallText {
  color: darkslategray;
  font-style: italic;
  font-size: 50%;
}

.qjtext {
  text-align: center;
  font-weight: bold;
}

.qjpage {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: hidden;
}

.qjpicture-box {
  /*border: solid white;
  border-style: double;
  border-radius: 8px;
  background: darkslategray;
  border: solid darkslategray;
  border-width: 1px;*/
}

.qjad-box {
  display: block;
  margin-top: 20px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 740px;
}

.qjcaption {
  color: black;
  top: 0;
}

.qjcarousel-content {
  display: block;
}

.qjcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.qjquotecontainer {
  /* margin-left: 68px;
  margin-right: 68px;*/
}





/* magic to make carousel resize properly when shrinking screen and customize indicators */

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  height: 460px;
  opacity: 0.50;
}

.carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 10px;
  background-color: #000000;
}

</style>
