/* PrivacyPolicy.vue - Privacy Policy Component accessed via text button at bottom of home page */
<template>
  <div class="PrivacyPolicy">
    <div class="container container-table">
      <div class="row vertical-10p">
        <div class="container text-center">
          <!-- <img src="../../static/img/logo.png" class="center-block logo"> -->
          <h1>Privacy Policy</h1>
          <h5><b>Last updated: 30 November 2017</b></h5>
          <div class="qjPrivacyPolicyText">
            <p>Beblsoft ("us", "we", or "our") operates http://www.quotablejoy.com (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
            <p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>
            <p><b>Information Collection And Use</b></p>
            <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your user name and email.</p>
            <p><b>Log Data</b></p>
            <p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").</p>
            <p>This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
            <p>In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this.</p>
            <p><b>Communications</b></p>
            <p>We may use your Personal Information to contact you with useful information. We promise not to inundate you with spam.</p>
            <p><b>Cookies</b></p>
            <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive. We may use cookies to improve your experience on our site.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'About'
}

</script>
<style scoped>
.qjPrivacyPolicyText {
  text-align: left;
  color: white;
  font-weight: bold;
}

</style>
