/* Search.vue - Search Component accessed when entering text in Search fill-in at top of page */
<template>
  <div class="Search">
    <div class="qjquotecontainer">
      <div class="row">
        <div class="col-sm-12 qjquotes-box qjTableCentral">
          <vue-good-table :columns="quoteColumns" :rows="quoteRows" :onClick="updateQuotesForAuthor2" styleClass="table condensed table-bordered table-hover" v-if="quoteRows.length" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 qjad-box">
          <!--  <h1> Google Ad </h1> -->
          <!-- <div>
            <img src="/static/img/ad300x250.png" alt="Google AdSense Integration" class="qjcenter">
          </div> -->
        </div>
        <div class="col-sm-4 qjauthors-box qjTableCentral">
          <vue-good-table :columns="authorColumns" :rows="authorRows" :onClick="updateQuotesForAuthor" styleClass="table condensed table-bordered table-hover" v-if="authorRows.length" />
        </div>
        <div class="col-sm-4 qjad-box">
          <!--  <h1> Google Ad </h1> -->
          <!-- <div>
            <img src="/static/img/ad300x250.png" alt="Google AdSense Integration" class="qjcenter">
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* import communication bus for parent (App) to child communication */
import bus from '../main'

export default {
  name: 'Search',
  store: ['quotes'],
  data() {
    return {
      prevData: [],
      quoteInterface: null,
      quoteRows: [],
      authorRows: [],
      authorColumns: [{
        label: 'Author',
        field: 'name'
      }],
      quoteColumns: [{
          label: 'Quote',
          field: 'text'
        },
        {
          label: 'Author',
          field: 'author',
          width: '200px'
        }
      ]
    }
  },
  created: function() {
    /* register listening on searchData event called by searchbar */
    bus.$on('searchData', (data) => this.triggerSearch(data))
    /* register listening on searchData event called by history component */
    bus.$on('searchAuthor', (data) => this.triggerSearchAuthor(data))
    /* get global interface from the store */
    this.quoteInterface = this.quotes
  },
  methods: {
    // called from quote table
    updateQuotesForAuthor: function(row, index) {
      console.log('get quotes for: ' + row.name)
      this.quoteInterface.searchQuotesByAuthor(row.name)
        .then((resp) => {
          this.quoteRows = this.quoteInterface.getQuotesSearch()
        })
        .catch((err) => {
          console.log(err)
        })
    },
    // called from author table
    updateQuotesForAuthor2: function(row, index) {
      console.log('get quotes for: ' + row.author)
      this.quoteInterface.searchQuotesByAuthor(row.author)
        .then((resp) => {
          this.quoteRows = this.quoteInterface.getQuotesSearch()
        })
        .catch((err) => {
          console.log(err)
        })
    },
    triggerSearch: function(data) {
      /* suppress search if data is the same as last search */
      if (data === this.prevData) return
      this.prevData = data
      /* skip search if no data or same search as last time */
      if (data !== '') {
        this.prevData = data
        console.log('triggerSearch for: ' + data + ': ' + data.length)
        this.quoteInterface.searchAuthors(data)
          .then((resp) => {
            this.authorRows = this.quoteInterface.getAuthorsSearch()
            console.log('DS: got authors: ' + this.authorRows.length)
          })
          .catch((err) => {
            console.log(err)
          })
        this.quoteInterface.searchQuotes(data)
          .then((resp) => {
            this.quoteRows = this.quoteInterface.getQuotesSearch()
            console.log('DS: got quotes: ' + this.quoteRows.length)
          })
          .catch((err) => {
            console.log(err)
          })
      } else {
        this.quoteRows = []
        this.authorRows = []
      }
    },
    triggerSearchAuthor: function(data) {
      /* suppress search if data is the same as last search */
      if (data === this.prevData) return
      this.prevData = data
      /* skip search if no data or same search as last time */
      if (data !== '') {
        this.prevData = data
        console.log('triggerSearch for: ' + data + ': ' + data.length)
        this.quoteInterface.searchAuthors(data)
          .then((resp) => {
            this.authorRows = this.quoteInterface.getAuthorsSearch()
            console.log('SA got authors: ' + this.authorRows.length)
          })
          .catch((err) => {
            console.log(err)
          })
        this.quoteInterface.searchQuotesByAuthor(data)
          .then((resp) => {
            this.quoteRows = this.quoteInterface.getQuotesSearch()
            console.log('SA got quotes: ' + this.quoteRows.length)
          })
          .catch((err) => {
            console.log(err)
          })
      } else {
        this.quoteRows = []
        this.authorRows = []
      }
    }
  }
}

</script>
<style scoped>
.qjtable {
  /* this does not work */
  overflow-x: hidden;
}

.qjquotecontainer {
  margin-left: 68px;
  margin-right: 68px;
}

.qjquotes-box {
  height: 360px;
  margin-top: 20px;
  overflow-y: auto;
}

.qjauthors-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  margin-top: 40px;
  overflow-y: auto;
}

.qjad-box {
  margin-top: 40px;
  display: block;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.qjrow {
  top-margin: 10px;
}

.qjcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
