<!DOCTYPE html>
<html>

<head>
    <title>My titlebar</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="main">
        <!-- The navigation menu will get the value of the "active" variable as a class. -->
        <!-- To stops the page from jumping when a link is clicked
        we use the "prevent" modifier (short for preventDefault). -->
        <nav v-bind:class="active" v-on:click.prevent>
            <!-- When a link in the menu is clicked, we call the makeActive method,
        defined in the JavaScript Vue instance. It will change the value of "active". -->
            <a href="#" class="home" v-on:click="makeActive('home')">Home</a>
            <a href="#" class="projects" v-on:click="makeActive('projects')">Projects</a>
            <a href="#" class="services" v-on:click="makeActive('services')">Services</a>
            <a href="#" class="contact" v-on:click="makeActive('contact')">Contact</a>
            <a href="#" class="contact2" v-on:click="makeActive('contact2')">Contact2</a>
        </nav>
        <!-- The mustache expression will be replaced with the value of "active".
         It will automatically update to reflect any changes. -->
        <p>You chose <b>{{active}}</b></p>
    </div>
    <script>
    // Creating a new Vue instance and pass in an options object.
    var demo = new Vue({

        // A DOM element to mount our view model.
        el: '#main',

        // This is the model.
        // Define properties and give them initial values.
        data: {
            active: 'home'
        },

        // Functions we will be using.
        methods: {
            makeActive: function(item) {
                // When a model is changed, the view will be automatically updated.
                this.active = item;
            }
        }
    });
    </script>
    <style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font: 15px/1.3 'Open Sans', sans-serif;
        color: #5e5b64;
        text-align: center;
    }

    a,
    a:visited {
        outline: none;
        color: #389dc1;
    }

    a:hover {
        text-decoration: none;
    }

    section,
    footer,
    header,
    aside,
    nav {
        display: block;
    }

    nav {
        display: inline-block;
        margin: 60px auto 45px;
        background-color: #5597b4;
        box-shadow: 0 1px 1px #ccc;
        border-radius: 2px;
    }

    nav a {
        display: inline-block;
        padding: 18px 30px;
        color: #fff !important;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none !important;
        line-height: 1;
        text-transform: uppercase;
        background-color: transparent;
        -webkit-transition: background-color 0.25s;
        -moz-transition: background-color 0.25s;
        transition: background-color 0.25s;
    }

    nav a:first-child {
        border-radius: 2px 0 0 2px;
    }

    nav a:last-child {
        border-radius: 0 2px 2px 0;
    }

    nav.home .home,
    nav.projects .projects,
    nav.services .services,
    nav.contact .contact,
    nav.contact2 .contact2 {
        background-color: #e35885;
    }

    p {
        font-size: 22px;
        font-weight: bold;
        color: #7d9098;
    }

    p b {
        color: #ffffff;
        display: inline-block;
        padding: 5px 10px;
        background-color: #c4d7e0;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 18px;
    }
    </style>
</body>

</html>