<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

  <title>Vue Transitions</title>
</head>

<body>
  <div id="app">
    <button @click="show = !show">
      Toggle
    </button>
    <transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave"
      v-bind:css="false">
      <p v-if="show">
        Demo
      </p>
    </transition>
  </div>

  <script>
  new Vue({
    el: '#app',
    data: {
      show: false
    },
    methods: {
      beforeEnter: function (el) {
        el.style.opacity = 0
      },
      enter: function (el, done) {
        Velocity(el, { opacity: 1, fontSize: '1.4em' }, { duration: 300 })
        Velocity(el, { fontSize: '1em' }, { complete: done })
      },
      leave: function (el, done) {
        Velocity(el, { translateX: '15px', rotateZ: '50deg' }, { duration: 600 })
        Velocity(el, { rotateZ: '100deg' }, { loop: 2 })
        Velocity(el, {
          rotateZ: '45deg',
          translateY: '30px',
          translateX: '30px',
          opacity: 0
        }, { complete: done })
      }
    }
  })

  </script>
  <style>

  </style>
</body>
