html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

body {
    background-image: url(https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    max-width: 940px;
}


/* Header */

.header {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, .5);
}

.logo {
    float: left;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px;
}

.nav li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
}


/* Jumbotron */

.jumbotron {
    position: relative;
    top: 10px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    text-align: center;
}

.jumbotron img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbotron p {
    font-size: 18px;
}

.btn-default {
    background: rgba(0, 255, 188, 0.5);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 10px 60px;
    margin-bottom: 100px;
  }

.btn-default:hover {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
  }

/* Supporting */

.supporting {
    margin-top: 40px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}



