<!--
  NAME
    CustomTextAnalysis.vue

  DESCRIPTION
    Analyze Custom Text
 -->
<template>
  <SmecknLogoCard title="Text Analysis" class="text-left">

    <!-- Input Text -->
    <SmecknContentSection v-if="inputTextSectionLoaded" title="Input Text">
      <b-form>
        <b-form-group class="mb-2">
          <b-form-textarea v-bind:placeholder="textPlaceHolder" v-model="text" rows="4" size="lg"
            data-cy="inputTextArea"></b-form-textarea>
          <div class="w-100 my-1 clearfix">
            <p class="float-sm-left mb-0" data-cy="charactersRemainingPara">{{ remainingTextLength }}
              Characters Remaining</p>
            <p class="float-sm-right mb-0" v-if="remainingTextAnalysisUnits" data-cy="analysisUnitsRemainingPara">{{ remainingTextAnalysisUnits }}
              Text Analysis Units Available</p>
          </div>
          <p class="d-block text-danger my-1" data-cy="errorMessagePara">{{ errorMessage }}</p>
        </b-form-group>
      </b-form>
      <b-form class="d-flex justify-content-end mb-2" v-on:submit.prevent>
        <b-button class="btn-info mx-1" data-cy="analyzeSentimentButton" v-on:click="onAnalyzeSentiment">Analyze
          Sentiment</b-button>
      </b-form>
    </SmecknContentSection>

    <!-- Loading -->
    <SmecknSpinner v-if="analyzing || !inputTextSectionLoaded"></SmecknSpinner>

    <!-- Language Detection -->
    <SmecknContentSection v-if="showLanguageResults" title="Language">
      <p data-cy="dominantLanguagePara" class="mb-1">Dominant Language: {{ waText.compLangAnalysisModel.dominantBLanguageType }}
      </p>
      <p data-cy="dominantLanguageScorePara">Confidence: {{ dominantLanguageScorePercent }}%
      </p>
    </SmecknContentSection>

    <!-- Sentiment Detection -->
    <SmecknContentSection v-if="showSentimentResults" title="Sentiment">
      <div>
        <b-row>
          <b-col sm="12">
            <b-row class="pt-3" v-for="sentimentData in sentimentDataList" v-bind:key="sentimentData.label"
              data-cy="sentimentDataRow">
              <b-col sm="3" class="text-sm-center">
                <p>{{ sentimentData.label }}</p>
              </b-col>
              <b-col sm="9">
                <b-progress show-progress v-bind:variant="sentimentData.variant"
                  v-bind:value="sentimentData.value" v-bind:max="100" class="w-100">
                </b-progress>
              </b-col>
            </b-row>
          </b-col>
          <!-- <b-col sm="6"> Stub in for showing pie chart 9/27/19 (change above to 6 to split area)
          </b-col> -->
        </b-row>
        <p v-if="showSentimentNotSupported" data-cy="sentimentNotSupportedPara" class="text-left">
          {{ messages.LANGUAGE_NOT_SUPPORTED }}</p>
      </div>
    </SmecknContentSection>
  </SmecknLogoCard>
</template>
<script>
import _ from 'lodash';
import Vuex from 'vuex';

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      text: '',
      errorMessage: '',
      waText: null,
      analyzing: false
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages']),
    ...Vuex.mapState('constant', ['waConstants']),
    ...Vuex.mapState('unit', ['waUnitBalanceList']),
    ...Vuex.mapGetters('unit', ['getWAUnitBalanceByType']),

    /* -------------------- USER FEEDBACK ---------------------------------- */
    textPlaceHolder() {
      return `Text to be analyzed (max ${this.waConstants.TEXT_MAX_LENGTH} characters)`;
    },
    remainingTextLength() {
      return this.waConstants.TEXT_MAX_LENGTH - this.text.length;
    },
    remainingTextAnalysisUnits() {
      let waUnitBalance = this.getWAUnitBalanceByType('TEXT_ANALYSIS');
      let rval = 0;
      try { rval = waUnitBalance.nAvailable; } catch (err) { /* PASS */ }
      return rval;
    },
    inputTextSectionLoaded() {
      return this.getWAUnitBalanceByType('TEXT_ANALYSIS') !== null;
    },

    /* -------------------- VALIDATION ------------------------------------- */
    noText() {
      return this.text.length === 0;
    },
    tooMuchText() {
      return this.text.length > this.waConstants.TEXT_MAX_LENGTH;
    },
    noAnalysisUnits() {
      return this.remainingTextAnalysisUnits === 0;
    },

    /* -------------------- LANGUAGE ANALYSIS RESULTS ---------------------- */
    showLanguageResults() {
      return this.waText &&
        this.waText.compLangAnalysisModel &&
        this.waText.compLangAnalysisModel.status === 'SUCCESS';
    },
    dominantLanguageScorePercent() {
      try {
        return _.round(this.waText.compLangAnalysisModel.dominantBLanguageScore, 2) * 100;
      } catch (__) {
        return 0;
      }
    },

    /* -------------------- SENTIMENT ANALYSIS RESULTS --------------------- */
    showSentimentResults() {
      return this.waText !== null && this.waText.compSentAnalysisModel;
    },
    showSentimentNotSupported() {
      return this.showSentimentResults && this.waText.compSentAnalysisModel.status === 'UNSUPPORTED_LANGUAGE';
    },
    sentimentDataList() {
      let rval = [];
      if (this.showSentimentResults && this.waText.compSentAnalysisModel.status === 'SUCCESS') {
        rval = [{
            label: 'Positive',
            variant: 'success',
            value: _.round(100 * this.waText.compSentAnalysisModel.positiveScore),
          },
          {
            label: 'Negative',
            variant: 'danger',
            value: _.round(100 * this.waText.compSentAnalysisModel.negativeScore),
          }, {
            label: 'Neutral',
            variant: 'info',
            value: _.round(100 * this.waText.compSentAnalysisModel.neutralScore),
          }, {
            label: 'Mixed',
            variant: 'secondary',
            value: _.round(100 * this.waText.compSentAnalysisModel.mixedScore),
          }
        ];
      }
      return rval;
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted: function () {
    this.loadData();
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    loadData() {
      this.$g.store.dispatch('unit/getBalances');
    },

    /**
     * Ensure that text can be analyzed
     * @return {Boolean} true if text can be analyzed, false otherwise
     */
    validateText() {
      let rval = false;
      this.errorMessage = '';
      if (this.noText) {
        this.errorMessage = this.messages.SPECIFY_VALID_TEXT_TO_ANALYZE;
      } else if (this.tooMuchText) {
        this.errorMessage = this.messages.TOO_MUCH_TEXT_ADDED;
      } else if (this.noAnalysisUnits) {
        this.errorMessage = this.messages.NO_MORE_TEXT_ANALYSIS_UNITS_ARE_AVAILABLE;
      } else {
        rval = true;
      }
      return rval;
    },

    /**
     * Analyze the text sentiment and update unit balances
     */
    onAnalyzeSentiment() {
      if (this.validateText()) {
        this.analyzing = true;
        this.waText = null;
        this.$g.store.dispatch('text/createAnalyze', {
            text: this.text,
            analysisType: 'COMPREHEND_SENTIMENT'
          })
          .then((waText) => { this.waText = waText; })
          .catch((err) => {
            this.errorMessage = err.message;
            this.waText = null;
          })
          .finally(() => {
            this.analyzing = false;
            this.loadData();
          });
      }
    },

  } /* End methods*/

};

</script>
<style lang="scss">
// Progress bar text color
.progress-bar {
  color: $dark !important;
  font-weight: bold !important;
}

</style>
