/* SMAnalysis.vue - Horizontal Tabs Demo for Application, displayed when log in */
<template>
  <div class="b-container mytabs">
    <h2>Smeckn Dashboard for {{profileName}}</h2>
    <br>
    <b-card no-body>
      <b-tabs class="mytabs">
        <b-tab title="Overview" active>
          <SMDrilldown :account="overviewAccount"></SMDrilldown>
        </b-tab>
        <b-tab title="Facebook">
          <SMDrilldown :account="facebookAccount"></SMDrilldown>
        </b-tab>
        <b-tab title="Twitter">
          <SMDrilldown :account="twitterAccount"></SMDrilldown>
        </b-tab>
      </b-tabs>
    </b-card no-body>
  </div>
</template>
<script>
import SMDrilldown from './SMDrilldown.vue'
export default {
  name: 'SMAnalysis',
  components: {
    SMDrilldown: SMDrilldown
  },
   props: [
    'profileName'
  ],
  data() {
    return {
      overviewAccount: 'OverviewAccount',
      facebookAccount: 'FacebookAccount',
      twitterAccount: 'TwitterAccount'
    }
  }
}

</script>
<style scoped>
.mytabs {
  background-color: lightgray !important;
}

</style>
