/* VVCBar.vue - Bar Graph Demo Component */
<template>
  <div class="b-container">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
        <p class="text-center"><strong>Bar Chart of Social Media Activity</strong></p>
        <column-chart :data="getBarData()"></column-chart>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      barData: [
        ['Mon', 44],
        ['Tue', 23],
        ['Wed', 21],
        ['Thu', 15],
        ['Fri', 21]
      ]
    }
  },
  methods: {
    getBarData: function() {
      return this.barData
    }
  }
}

</script>
