.parent {
  display: flex;
  /* entire screen, 100% regardless of content size */
  height: 100vh;
  min-height: 100%;
  /* borders for testing only */
  border: 2px solid red;
  /* wrap content when too narrow */
  flex-flow: row wrap;
  justify-content: center;
  overflow: auto;
}

.sm-nav {
  /* less than handheld width */
  min-width: 250px;
  width: 20%;
  height: 100%;
  text-align: center;
  margin: auto;
  border: 2px solid blue;
}

.sm-content {
  /* handheld width */
  min-width: 320px;
  width: 60%;
  height: 100%;
  text-align: center;
  margin: auto;
  background-color: gainsboro;
  border: 2px solid green;
}

.sm-ad {
  /* less than handheld width */
  min-width: 250px;
  width: 20%;
  height: 100%;
  text-align: center;
  margin: auto;
  border: 2px solid purple;
}
