<!DOCTYPE html>
<html lang="en">
<!-- https://bootstrap-vue.js.org/docs/reference/starter-templates -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>flexbox</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link href="https://fonts.googleapis.com/css?family=Questrial|Shadows+Into+Light" rel="stylesheet">
  <link rel="stylesheet" href="flexbox.css">
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <div class="parent">
      <div class="sm-nav">
        <template>
          <div role="tablist">
            <b-card no-body class="mb-1">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle.accordion1 variant="info">Accordion 1</b-btn>
              </b-card-header>
              <b-collapse id="accordion1" visible accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <p class="card-text">
                    I start opened because visible is set to true
                  </p>
                  <p class="card-text">
                    {{ text }}
                  </p>
                </b-card-body>
              </b-collapse>
            </b-card>
            <b-card no-body class="mb-1">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle.accordion2 variant="info">Accordion 2</b-btn>
              </b-card-header>
              <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <p class="card-text">
                    {{ text }}
                  </p>
                </b-card-body>
              </b-collapse>
            </b-card>
            <b-card no-body class="mb-1">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle.accordion3 variant="info">Accordion 3</b-btn>
              </b-card-header>
              <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <p class="card-text">
                    {{ text }}
                  </p>
                </b-card-body>
              </b-collapse>
            </b-card>
          </div>
        </template>
      </div>
      <div class="sm-content">
         <img src="adult-communication-connecting-1080846Cropped.png" width="600px" height="650px" style="display: block; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: auto"
          alt="Ad">
      </div>
      <div class="sm-ad">
        <img src="120x600_sk.jpg" width="200px" height="650px" style="display: block; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: auto"
          alt="Ad">
      </div>
    </div>
  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      text: 'Some useless text'
    }
  })

  </script>
</body>

</html>
