.mj-splash {
    background: url("/assets/Mojourney/img/camel.jpg") no-repeat center;
    background-size: 100%;
    height: 700px;
    text-align: center;
    margin-bottom: 20px;
}

.mj-logo {
    margin-top: 0px;
    padding-top: 200px;
    font-size: 64px;
    font-weight: bold;
    color: #fed189;
    text-transform: uppercase;
}

.mj-tagline {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
}

.mj-button-pad {
    margin-top: 150px;
    margin-left: 40px;
}

.mj-thumbnail {
    padding: 1px;
}

.mj-thumbnail img {
    width: 100%;
    display: block;
}

.mj-footer {
    background: rgba(54, 66, 74, 1);
    padding: 40px 0;
}

.mj-footer ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mj-footer ul li {
    color: #fff;
    display: inline;
    margin: 0 40px 0 0;
}

.mj-footer p {
    color: #fff;
    float: right;
}
