<body>
    <div class="mj-splash">
        <h1 class="mj-logo">MO <span class="lite">Journey</span></h1>
        <h2 class="mj-tagline">Use MoJourney today to change your life in a positive way!</h2>
        <a class="button-pad" routerLink="../account/sign-up" class="btn btn-success btn-lg mj-button-pad">Sign Up Now!</a>
        <a class="button-pad" routerLink="../account/log-in" class="btn btn-primary btn-lg mj-button-pad">Login</a>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h1>Group Exercise</h1>
            <a href="#" class="mj-thumbnail"> <img src="/assets/Mojourney/img/groupExercise.jpg"> </a>
        </div>
        <div class="col-md-4">
            <h1>Custom Mashups</h1>
            <a href="#" class="mj-thumbnail"> <img src="/assets/Mojourney/img/mashup.jpg"> </a>
        </div>
        <div class="col-md-4">
            <h1>Inspirational Thought</h1>
            <a href="#" class="mj-thumbnail"> <img src="/assets/Mojourney/img/neverGiveUp.png"> </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h1>Testimonial 1</h1>
            <a href="#" class="mj-thumbnail"> <img src="/assets/Mojourney/img/wordForIt.jpg"> </a>
        </div>
        <div class="col-md-4">
            <h1>Testimonial 2</h1>
            <a href="#" class="mj-thumbnail"> <img src="/assets/Mojourney/img/thumbsUpWomen.jpg"> </a>
        </div>
        <div class="col-md-4">
            <h1>Testimonial 3</h1>
            <a href="#" class="mj-thumbnail"> <img src="/assets/Mojourney/img/awesome.jpg"> </a>
        </div>
    </div>
    <div class="mj-footer">
        <div class="container">
            <ul>
                <li>About</li>
                <li>Terms</li>
                <li>Send Feedback</li>
            </ul>
            <p>&copy; 2017 Beblsoft</p>
        </div>
    </div>
</body>
