<!--
  NAME
    SmecknDropRightTransitionTest.vue

  DESCRIPTION
    Test Smeckn Drop Right Transition
 -->
<template>
  <b-container fluid>
    <b-button class="btn-info my-2" data-cy="toggleDropRight" v-on:click="onToggleDropRight()">
      Toggle Drop Right
    </b-button>
    <SmecknDropRightTransition>
      <div v-if="show">
        <p class="text-left border border-info" data-cy="dropRightParagraph">
          Heeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeellllllllllllllllllllloooooooooooooooooooooo!
        </p>
      </div>
    </SmecknDropRightTransition>
  </b-container>
</template>
<script>
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      show: true,
    };
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onToggleDropRight() {
      this.show = !this.show;
    }
  }
};

</script>
