<!--
  NAME
    SmecknDropRightTransition.vue

  DESCRIPTION
    Smeckn Drop Right Transition Component

  USAGE
    See SmecknDropRightTransitionTest.vue
-->

<template>
  <transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:after-enter="afterEnter"
    v-on:before-leave="beforeLeave" v-on:leave="leave" v-on:after-leave="afterLeave"
    v-bind:css="false">
    <slot></slot>
  </transition>
</template>

<script>
import anime from 'animejs/lib/anime.es.js';

export default {

  /* -------------------- PROPS -------------------------------------------- */
  props: {
    // Transition duration in milliseconds
    duration: {
      type: Number,
      default: 300
    },
    // animejs easing to use for the transition
    easing: {
      type: String,
      default: 'easeInSine'
    }
  },

  /* -------------------- DATA --------------------------------------------- */
  data() {
    return {
      // Width before transition
      oldWidth: null,

      // Transform origin before transition
      oldTransformOrigin: null,

      // Overflow before transition
      oldOverflow: null
    };
  },


  /* -------------------- METHODS ------------------------------------------ */
  methods: {

    /**
     * Entering transitions
     * @param {Object} el Object entering
     */
    beforeEnter: function (el) {
      this.oldTransformOrigin = el.style['transform-origin'];
      this.oldWidth = el.style.width;
      el.style['transform-origin'] = 'left';
    },
    enter: function (el, done) {
      anime({
        targets: el,
        scaleX: [0, 1],
        width: [0, el.clientWidth],
        duration: this.duration,
        easing: this.easing,
        complete: done,
      });
    },
    afterEnter: function (el) {
      el.style.width = this.oldWidth;
      el.style['transform-origin'] = this.oldTransformOrigin;
    },

    /**
     * Leaving Transitions
     * @param {Object} el Object entering
     */
    beforeLeave: function (el) {
      this.oldTransformOrigin = el.style['transform-origin'];
      this.oldOverflow = el.style.overflow;
      el.style['transform-origin'] = 'left';
      el.style.overflow = 'hidden';
      el.style.width = `${el.clientWidth}px`;
    },
    leave: function (el, done) {
      anime({
        targets: el,
        width: [el.clientWidth, 0],
        scaleX: [1, 0],
        duration: this.duration,
        easing: this.easing,
        complete: done
      });
    },
    afterLeave: function (el) {
      el.style['transform-origin'] = this.oldTransformOrigin;
      el.style.overflow = this.oldOverflow;
    }
  }
};

</script>
<style>
</style>
