<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>Basic Vue Forms</h1>

    <h2>Text</h2>
    <input v-model="singleLineMessage" placeholder="edit me">
    <p>Message is: {{ singleLineMessage }}</p>

    <h2>Multiline Text</h2>
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ multiLineMessage }}</p>
    <textarea v-model="multiLineMessage" placeholder="add multiple lines"></textarea>

    <h2>Checkbox</h2>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>

    <h2>Radio</h2>
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>

    <h2>Select</h2>
    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span>

  </div>
  <script>
  let app = new Vue({
    el: '#app',
    data: {
      singleLineMessage: 'SampleMessage',
      multiLineMessage: 'Woohoo!',
      checked: true,
      picked: 'One',
      selected: 'A'
    }
  })

  </script>
</body>

</html>
