<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body>
  <div id="app">
    <form id="app" v-on:submit="checkForm" action="https://vuejs.org/" method="post">
      <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>

      <p>
        <label for="name">Name</label>
        <input id="name" v-model="name" type="text" name="name">
      </p>

      <p>
        <label for="age">Age</label>
        <input id="age" v-model="age" type="number" name="age" min="0">
      </p>

      <p>
        <label for="movie">Favorite Movie</label>
        <select id="movie" v-model="movie" name="movie">
          <option>Star Wars</option>
          <option>Vanilla Sky</option>
          <option>Atomic Blonde</option>
        </select>
      </p>

      <p>
        <input type="submit" value="Submit">
      </p>

    </form>

  </div>
  <script>
  const app = new Vue({
    el: '#app',
    data: {
      errors: [],
      name: null,
      age: null,
      movie: null
    },
    methods: {
      checkForm: function (e) {
        if (this.name && this.age) {
          return true;
        }

        this.errors = [];
        if (!this.name) {
          this.errors.push('Name required.');
        }
        if (!this.age) {
          this.errors.push('Age required.');
        }

       /* e.preventDefault();*/
      }
    },
    mounted() {
      let self = this
      window.addEventListener('keyup', function (event) {
        if (event.keyCode === 13) {
          self.checkForm()
        }
      })
    }
  })

  </script>
</body>

</html>
