<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Limit Text Area</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

  <style>
  </style>

</head>

<body>
  <!-- Our application root element -->
 <!--  use maxlength to limit characters, here set to 10 -->
  <div id="app">
    <b-container fluid>

      <b-row>
        <b-col></b-col>
        <b-col cols="6">
          <div>
            <br>
            <b-form-textarea id="textarea1" v-model="text" maxlength="10"
              :rows="3" :max-rows="8">
            </b-form-textarea>
            <pre class="mt-3">{{ text }}</pre>
          </div>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: '#app',
    data: {
      text: `1234567890`
    }
  })

  </script>
</body>

</html>
