<template>
  <b-container>
    <h1 class="title has-text-centered">Get SMecken and stay safe!</h1>
    <p>This is the banner page for the app, it is <strong>not secured</strong>.</p>
  </b-container>
</template>
