<template>
  <b-container>
    <b-row>
      <b-col></b-col>
      <b-col>
        <h1>Check Email</h1>
        <b-form v-on:submit.prevent>
          <b-button variant="primary" v-on:click="checkEmail">Simulate Check Email
          </b-button>
        </b-form>
      </b-col>
      <b-col></b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  methods: {
    checkEmail: function() {
      console.log('checkEmail called')
      this.$router.replace('confirmAccount')
    }
  }
}

</script>
