<template>
  <b-container>
    <b-row>
      <b-col></b-col>
      <b-col>
        <h1>Confirm Account</h1>
        <b-form v-on:submit.prevent>
          <b-button variant="primary" v-on:click="confirmAccount">Confirm
          </b-button>
        </b-form>
      </b-col>
      <b-col></b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  methods: {
    confirmAccount: function() {
      console.log('confirmAccount called')
      this.$router.replace('dashboard')
    }
  }
}

</script>
