<template>
  <b-container>
    <b-row>
      <b-col></b-col>
      <b-col sm="6">
        <h1>Reset Your Password</h1>
        <b-form v-on:submit.prevent>
          <b-form-group label="Email address:">
            <b-form-input type="email" v-model="email" required placeholder="Enter your email">
            </b-form-input>
          </b-form-group>
          <b-button variant="primary" v-on:click="resetPassword">Reset Password</b-button>
        </b-form>
      </b-col>
      <b-col></b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  data: function() {
    return {
      email: ''
    }
  },
  methods: {
    resetPassword: function() {
      this.$router.replace('resetPassword')
    }
  }
}

</script>
