<template>
  <b-container>
    <b-row>
      <b-col></b-col>
      <b-col sm="6">
        <h1>Sign-in</h1>
        <b-form v-on:submit.prevent>
          <b-form-group label="Enter your New Password:" description="We'll never share your password with anyone else.">
            <b-form-input type="password" v-model="password" required placeholder="Enter password">
            </b-form-input>
          </b-form-group>
          <b-form-group label="Confirm your New Password:">
            <b-form-input type="password" v-model="passwordVerify" required placeholder="Confirm password">
            </b-form-input>
          </b-form-group>
          <br>
          <b-button variant="primary" v-on:click="resetPassword">Reset Password</b-button>
        </b-form>
      </b-col>
      <b-col></b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  data: function() {
    return {
      password: '',
      passwordVerify: ''
    }
  },
  methods: {
    resetPassword: function() {
        this.$router.replace('Sign-in')
    }
  }
}

</script>
