<template>
  <b-container>
    <b-row>
      <b-col></b-col>
      <b-col sm="6">
        <h1>Sign-up</h1>
        <b-form v-on:submit.prevent>
          <b-form-group label="Email address of User:" description="We'll never share your email with anyone else.">
            <b-form-input type="email" v-model="email" required placeholder="Enter email">
            </b-form-input>
          </b-form-group>
          <b-form-group label="Password of User:" description="We'll never share your password with anyone else.">
            <b-form-input type="password" v-model="password" required placeholder="Enter password">
            </b-form-input>
          </b-form-group>
          <br>
          <b-button variant="primary" v-on:click="signUp">Sign-up</b-button>
        </b-form>
      </b-col>
      <b-col></b-col>
    </b-row>
  </b-container>
</template>
<script>
import server from '../../services/ServerInterface'
export default {
  data: function() {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    signUp: function() {
      server.createUserWithEmailAndPassword(this.email, this.password)
        .then((resp) => {
          this.user = server.getCurrentUser()
          console.log('account created if not null! ' + this.user + ' has logged in')
          if (this.user) this.$router.replace('checkEmail')
        })
        .catch((err) => {
          alert(err.message)
        })
    }
  }
}

</script>
