<template>
  <b-container>
    <b-row>
      <b-col></b-col>
      <b-col sm="6">
        <h1>Sign-in</h1>
        <b-form v-on:submit.prevent>
          <b-form-group label="Email address of User:" description="We'll never share your email with anyone else.">
            <b-form-input type="email" v-model="email" required placeholder="Enter email">
            </b-form-input>
          </b-form-group>
          <b-form-group label="Password of User:" description="We'll never share your password with anyone else.">
            <b-form-input type="password" v-model="password" required placeholder="Enter password">
            </b-form-input>
          </b-form-group>
          <br>
          <b-button variant="primary" v-on:click="signIn">Sign-in</b-button>
          <b-button variant="primary" v-on:click="forgotPassword">Forgot Password</b-button>
          <b-button variant="primary" v-on:click="somethingWentWrong">Simulate Something Went Wrong</b-button>
        </b-form>
      </b-col>
      <b-col></b-col>
    </b-row>
  </b-container>
</template>
<script>
import server from '../../services/ServerInterface'
export default {
  data: function() {
    return {
      user: null,
      email: 'beblsoftmgr@gmail.com',
      password: ''
    }
  },
  methods: {
    signIn: function() {
      server.signInWithEmailAndPassword(this.email, this.password)
        .then((resp) => {
          this.user = server.getCurrentUser()
          console.log(this.user + ' has logged in')
          this.$router.replace('Dashboard')
        })
        .catch((err) => {
          alert(err.message)
        })
    },
    forgotPassword: function() {
      this.$router.replace('forgotPassword')
    },
    somethingWentWrong: function() {
      this.$router.replace('somethingWentWrong')
    }
  }
}

</script>
