<mjml>
  <mj-body background-color="#d6dde5">
    <!-- This is a comment! -->
    <mj-section padding-bottom="20px" padding-top="20px">
      <mj-column width="66.66666666666666%" vertical-align="middle">
        <mj-text align="left" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px"
          padding-top="0"><span style="font-size: 11px">[[HEADLINE]]</span></mj-text>
      </mj-column>
      <mj-column width="33.33333333333333%" vertical-align="middle">
        <mj-text align="right" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px"
          padding-top="0"><span style="font-size: 11px"><a href="https://mjml.io" style="text-decoration: none; color: inherit;">[[PERMALINK_LABEL]]</a></span></mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20px">
      <mj-column width="100%" vertical-align="top">
        <mj-image href="https://mjml.io" src="http://191n.mj.am/img/191n/3s/xxr.png" alt="Amario logo"
          align="center" border="none" width="182px" padding-left="0px" padding-right="0px"
          padding-bottom="0px" padding-top="0"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" background-url="http://191n.mj.am/img/191n/3s/xm6.jpg"
      padding-bottom="27px" padding-top="0">
      <mj-column width="100%" vertical-align="top">
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="0px"
          padding-top="0">
          <p><span style="font-size: 16px;"><a href="https://mjml.io" style="text-decoration: none; color: inherit;"><span style="font-weight: bold;"><span style="color: rgb(255, 255, 255);">Home</span></span>
            </a><span style="font-weight: bold;"><span style="color: rgb(255, 255, 255);"> / </span></span><a href="https://mjml.io" style="text-decoration: none; color: inherit;"><span style="font-weight: bold;"><span style="color: rgb(255, 255, 255);">blog</span></span></a></span>
          </p>
          <p><span style="font-weight: bold;"><span style="color: rgb(255, 255, 255);"><span style="font-size: 16px;"><br></span></span>
            </span>
          </p>
          <p><span style="font-size: 27px;"><a href="https://mjml.io" style="text-decoration: none; color: inherit;"><span style="font-weight: bold;"><span style="color: rgb(255, 255, 255);">AMARIO.COM</span></span>
            </a>
            </span>
          </p>
          <p><span style="font-weight: bold;"><span style="color: rgb(255, 255, 255);"><span style="font-size: 27px;">YOUR CRUISES EXPERT</span></span>
            </span>
          </p>
          <p><span style="font-weight: bold;"><span style="color: rgb(255, 255, 255);"><span style="font-size: 27px;">FROM EUROPE TO ASIA</span></span>
            </span>
          </p>
        </mj-text>
        <mj-button background-color="#414141" color="#FFFFFF" font-size="15px" align="center"
          vertical-align="middle" border="none" padding="15px 30px" border-radius="3px"
          href="https://mjml.io" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="70px">CHECK
          OUT OUR PROMOTIONS !</mj-button>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20px">
      <mj-column width="25%" vertical-align="top"></mj-column>
      <mj-column width="50%" vertical-align="top">
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="0px"
          padding-top="0">
          <p><span style="color: rgb(106, 138, 162);"><span style="font-weight: bold;"><span style="font-size: 16px;">WHY SAILING WITH US ?</span></span>
            </span>
          </p>
        </mj-text>
        <mj-text align="justify" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="0px"
          padding-top="0">
          <p><span style="color: rgb(57, 63, 76);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum enim eget </span><span style="font-weight: bold;"><span style="color: rgb(57, 63, 76);">magna efficitur</span></span><span style="color: rgb(57, 63, 76);">, eu semper augue semper. Aliquam erat volutpat. Cras id dui lectus. Vestibulum sed finibus lectus, sit amet </span>
            <span style="font-weight: bold;"><span style="color: rgb(57, 63, 76);">suscipit nibh</span></span><span style="color: rgb(57, 63, 76);">. Proin nec commodo purus. Sed eget nulla elit. Nulla aliquet mollis faucibus.</span></p>
        </mj-text>
        <mj-button background-color="#c7896f" color="#FFFFFF" font-size="13px" align="center"
          vertical-align="middle" border="none" padding="15px 30px" border-radius="3px"
          href="https://mjml.io" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10px">LEARN
          MORE</mj-button>
      </mj-column>
      <mj-column width="25%" vertical-align="top"></mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20px">
      <mj-column width="50%" vertical-align="top">
        <mj-image href="https://mjml.io" src="http://191n.mj.am/img/191n/3s/xx9.png" alt="Step 1 - Choose a destination"
          align="center" border="none" width="250px" padding-left="0px" padding-right="0px"
          padding-bottom="0px" padding-top="0"></mj-image>
        <mj-image href="https://mjml.io" src="http://191n.mj.am/img/191n/3s/x0w.png" alt="Step 2 - Select a type of boat"
          align="center" border="none" width="250px" padding-left="0px" padding-right="0px"
          padding-bottom="0px" padding-top="0"></mj-image>
        <mj-image href="https://mjml.io" src="http://191n.mj.am/img/191n/3s/x0x.png" alt="Step 3 - Book and enjoy your trip"
          align="center" border="none" width="250px" padding-left="0px" padding-right="0px"
          padding-bottom="0px" padding-top="0"></mj-image>
      </mj-column>
      <mj-column width="50%" vertical-align="top">
        <mj-image src="http://191n.mj.am/img/191n/3s/xmh.jpg" alt="Boat" align="center"
          border="none" width="250px" padding-left="0px" padding-right="0px"
          padding-bottom="0px" padding-top="0"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20px">
      <mj-column width="33.33333333333333%" vertical-align="top">
        <mj-image src="http://191n.mj.am/img/191n/3s/x0s.png" alt="A wide range of cruises"
          align="center" border="none" width="125px" padding-left="25px" padding-right="25px"
          padding-bottom="10px" padding-top="10px"></mj-image>
      </mj-column>
      <mj-column width="33.33333333333333%" vertical-align="top">
        <mj-image src="http://191n.mj.am/img/191n/3s/x01.png" alt="Eco friendly sailing"
          align="center" border="none" width="125px" padding-left="25px" padding-right="25px"
          padding-bottom="10px" padding-top="10px"></mj-image>
      </mj-column>
      <mj-column width="33.33333333333333%" vertical-align="top">
        <mj-image src="http://191n.mj.am/img/191n/3s/x0l.png" alt="Insurances included"
          align="center" border="none" width="125px" padding-left="25px" padding-right="25px"
          padding-bottom="10px" padding-top="10px"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20px">
      <mj-column width="100%" vertical-align="top">
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="10px"
          padding-top="10px">
          <p><span style="color: rgb(59, 70, 82);"><span style="font-size: 24px;">Cruise of the month : Corse, preserved beauty</span></span>
          </p>
        </mj-text>
        <mj-image src="http://191n.mj.am/img/191n/3s/xmi.jpg" alt="Cruise of the month : Corse"
          align="center" border="none" width="500px" padding-left="0px" padding-right="0px"
          padding-bottom="0px" padding-top="0"></mj-image>
        <mj-button background-color="#464e5e" color="#FFFFFF" font-size="13px" align="center"
          vertical-align="middle" border="none" padding="15px 30px" border-radius="3px"
          href="https://mjml.io" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="10px">BOOK
          A CORSICAN TOUR NOW</mj-button>
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="13px" padding-left="0px" padding-right="0px" padding-bottom="0px"
          padding-top="0">
          <p><span style="color: rgb(59, 70, 82);"><span style="font-size: 18px;">22 places available</span></span>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20px">
      <mj-column width="50%" vertical-align="top">
        <mj-image src="http://191n.mj.am/img/191n/3s/xmj.jpg" alt="Sailing" align="center"
          border="none" width="250px" padding-left="25px" padding-right="25px"
          padding-bottom="10px" padding-top="10px"></mj-image>
      </mj-column>
      <mj-column width="50%" vertical-align="top">
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="10px"
          padding-top="10px">
          <p><span style="color: rgb(59, 70, 82);"><span style="font-size: 15px;"><span style="font-weight: bold;">RENT A SAILING</span></span>
            </span>
          </p>
          <p><span style="color: rgb(59, 70, 82);"><span style="font-size: 15px;"><span style="font-weight: bold;">BOAT</span></span>
            </span>
          </p>
          <p><span style="color: rgb(59, 70, 82);"><span style="font-size: 15px;"><span style="font-weight: bold;">AND ORGANIZE</span></span>
            </span>
          </p>
          <p><span style="color: rgb(59, 70, 82);"><span style="font-size: 15px;"><span style="font-weight: bold;">YOUR OWN</span></span>
            </span>
          </p>
          <p><span style="color: rgb(59, 70, 82);"><span style="font-size: 15px;"><span style="font-weight: bold;">CRUISE</span></span>
            </span>
          </p>
        </mj-text>
        <mj-button background-color="#c7896f" color="#FFFFFF" font-size="15px" align="center"
          vertical-align="middle" border="none" padding="15px 30px" border-radius="3px"
          href="https://mjml.io" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10px">SEE
          CONDITIONS</mj-button>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20px">
      <mj-column width="100%" vertical-align="top">
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="10px"
          padding-top="10px">
          <p>Any questions, comments, concerns?</p>
          <p>Contact our support staff at <a href="https://mjml.io" style="text-decoration: none; color: inherit;"><span style="font-weight: bold;">support@amario.com</span></a></p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#8bafad" padding-bottom="0px" padding-top="0">
      <mj-column width="33.33333333333333%" vertical-align="top">
        <mj-image href="https://mjml.io" src="http://191n.mj.am/img/191n/3s/x0p.png" alt="Amario logo"
          align="center" border="none" width="77px" padding-left="25px" padding-right="25px"
          padding-bottom="10px" padding-top="10px"></mj-image>
      </mj-column>
      <mj-column width="33.33333333333333%" vertical-align="top">
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="10px"
          padding-top="10px">
          <p><a href="https://mjml.io" style="text-decoration: none; color: inherit;"><span style="color: rgb(255, 255, 255);">Privacy policy</span></a></p>
        </mj-text>
      </mj-column>
      <mj-column width="33.33333333333333%" vertical-align="top">
        <mj-social padding-top="20px">
          <mj-social-element name="facebook" href="[[SHORT_PERMALINK]]">
          </mj-social-element>
          <mj-social-element name="twitter" href="[[SHORT_PERMALINK]]">
          </mj-social-element>
          <mj-social-element name="google" href="[[SHORT_PERMALINK]]">
          </mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="20px" padding-top="20px">
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px"
          padding-top="0">
          <p style="font-size:11px">[[DELIVERY_INFO]]</p>
        </mj-text>
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px"
          padding-top="0">
          <p style="font-size:11px">[[POSTAL_ADDRESS]]</p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
