/* You can add global styles to this file, and also import other style files */
.mj-top-title {
	margin: 100px;
	text-align: center;
}

.mj-login {
    background: url('/assets/Mojourney/img/camel.jpg') no-repeat center center fixed;
    background-size: cover;
}

