<!--
  NAME
    Banner.vue

  DESCRIPTION
     Main banner page of when going to smeckn.com
 -->
<template>
  <div>
    <!-- Splash Background --------------------------------------------------->
    <div class="sm-background-splash">
      <div class="py-4"></div>
      <div class="py-4"></div>
      <!-- Tagline -->
      <span class="sm-tagline text-center py-2 mx-auto" data-cy="tagline">Don't Let Your Social Media<br>Hold You Back.</span>
      <div class="py-4"></div>

      <!-- Login -->
      <b-button v-on:click="onLogin" class="btn-info btn-lg mx-1 mb-2" data-cy="loginButton">
        <img v-bind:src="lockImage" class="d-inline-block smg-img-3" alt="">
        Login
      </b-button>
      <br>
      <!-- Sign Up -->
      <b-button v-on:click="onCreateAccount" class="btn-info btn-lg mx-1 mb-3" data-cy="signUpForFreeButton">
        <img v-bind:src="contactImage" class="d-inline-block smg-img-3" alt="">
        Sign Up For Free
      </b-button>

      <!-- Loading -->
      <SmecknSpinner v-if="loading"></SmecknSpinner>
      <div class="py-4"></div>
    </div>

    <!-- Mission Paragraph --------------------------------------------------->
    <div class="bg-light py-4 px-5">
      <div class="sm-title-bar">
        Smeckn stands for <span class="font-italic">Social Media Checking</span>.
      </div>
      <br>
      <div class="text-left text-secondary">
        <h4>
          If you're anything like us, you are not the same person that you were 10 years ago.  We've all
          posted and tweeted things we regret.
          <br><br>
          Smeckn has the tools to help you clean things up. Let us help you refine your digital
          past so that it matches the authentic you.
          <br><br>
          We believe <span class="font-weight-bold">everyone wins</span> when people clean up their social media.
          Please join us in our mission to make our digital world shine.
        </h4>
      </div>
      <div class="py-2"></div>
    </div>

    <!-- It's as simple as 1,2,3 --------------------------------------------->
    <div class="sm-setup-steps py-4 px-5">
      <div class="sm-title-bar">
        How it Works
      </div>
      <br>
      <b-row>
        <b-col md="4">
          <b-card title="1. Create an Account" class="sm-step-card my-1" v-bind:img-src="signUpImage"></b-card>
        </b-col>
        <b-col md="4">
          <b-card title="2. Add Facebook Profile" class="sm-step-card my-1"
            v-bind:img-src="facebookLoginImage"></b-card>
        </b-col>
        <b-col md="4">
          <b-card title="3. Start Analyzing" class="sm-step-card my-1" v-bind:img-src="facebookNegativePostAnalysis"></b-card>
        </b-col>
      </b-row>
    </div>

    <!-- Privacy and Security ------------------------------------------------>
    <div class="bg-light py-4 px-5">
      <div class="sm-title-bar">
        Enterprise-Grade Privacy and Security
      </div>
      <br>
      <div class="text-left">
        <b-row>
          <!-- On Demand Deletion -->
          <b-col md="4">
            <BannerFeatureCard title="On Demand Deletion" class="bg-secondary">
              <template v-slot:images>
                <img v-bind:src="xButtonImage" class="smg-img-6" alt="">
              </template>
              <template v-slot:content>
                <p>Remove any synced profile from Smeckn at any time and Smeckn will
                  permanently delete all traces of the profile from its databases.</p>
                <br>
              </template>
            </BannerFeatureCard>
          </b-col>
          <!-- No Third Party Sharing -->
          <b-col md="4">
            <BannerFeatureCard title="No Third Party Sharing" class="bg-secondary">
              <template v-slot:images>
                <img v-bind:src="vaultImage" class="smg-img-6" alt="">
              </template>
              <template v-slot:content>
                <p>Smeckn does not share your data with any third party entities. Once
                  your data has been synced to our databases, it is placed safely inside
                  the Smeckn vault where only you can access it.</p>
              </template>
            </BannerFeatureCard>
          </b-col>
          <!-- Data Encryption -->
          <b-col md="4">
            <BannerFeatureCard title="Data Encryption" class="bg-secondary">
              <template v-slot:images>
                <img v-bind:src="encryptedFileImage" class="smg-img-6" alt="">
              </template>
              <template v-slot:content>
                <p>Smeckn encrypts all your data at rest and as it travels over the
                  internet to your browser.</p>
                <br>
              </template>
            </BannerFeatureCard>
          </b-col>
        </b-row>
      </div>
      <div class="py-2"></div>
    </div>

    <!-- Key Features -------------------------------------------------------->
    <div class="py-4 px-5 sm-key-features">
      <div class="sm-title-bar">
        Key Features
      </div>
      <br>
      <b-row>
        <!-- Review Usage -->
        <b-col md="4">
          <BannerFeatureCard title="Review Your Usage" class="bg-info">
            <template v-slot:images>
              <img v-bind:src="blueChartImage" class="smg-img-6" alt="">
            </template>
            <template v-slot:content>
              <p>Review your social media usage and see how it changes over time.</p>
            </template>
          </BannerFeatureCard>
        </b-col>
        <!-- Check Sentiment -->
        <b-col md="4">
          <BannerFeatureCard title="Check Your Sentiment" class="bg-info">
            <template v-slot:images>
              <img v-bind:src="coolEmojiImage" class="smg-img-6" alt="">
              <img v-bind:src="sleepyEmojiImage" class="smg-img-6" alt="">
              <img v-bind:src="angryEmojiImage" class="smg-img-6" alt="">
            </template>
            <template v-slot:content>
              <p>Use state of the art AI Algorithms
                to monitor your social media sentiment.</p>
            </template>
          </BannerFeatureCard>
        </b-col>
        <!-- Monitor Issues -->
        <b-col md="4">
          <BannerFeatureCard title="Monitor Potential Issues" class="bg-info">
            <template v-slot:images>
              <img v-bind:src="alertImage" class="smg-img-6" alt="">
            </template>
            <template v-slot:content>
              <p class="py-2">Scan for issues in your social media data.</p>
            </template>
          </BannerFeatureCard>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import BannerFeatureCard from './BannerFeatureCard';
import contactImage from '../../img/flaticon/contact.png';
import blueChartImage from '../../img/flaticon/chart-blue.png';
import angryEmojiImage from '../../img/flaticon/angryEmoji.png';
import sleepyEmojiImage from '../../img/flaticon/sleepyEmoji.png';
import coolEmojiImage from '../../img/flaticon/coolEmoji.png';
import alertImage from '../../img/flaticon/alert.png';
import footprintsImage from '../../img/flaticon/footprints.png';
import shieldImage from '../../img/flaticon/shield.png';
import fightImage from '../../img/flaticon/fight.png';
import lockImage from '../../img/flaticon/lock.png';
import xButtonImage from '../../img/flaticon/x-button.png';
import vaultImage from '../../img/flaticon/vault.png';
import encryptedFileImage from '../../img/flaticon/encrpyted-file.png';
import signUpImage from '../../img/screenshots/signUp-compressed.jpg';
import facebookLoginImage from '../../img/screenshots/facebookLogin-compressed.jpg';
import facebookNegativePostAnalysis from '../../img/screenshots/facebookNegativePostAnalysis.jpg';

export default {

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { BannerFeatureCard },

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Try Login on Mount?
    // If true, try to login on mount. If false, don't try to login.
    tryLoginOnMount: {
      type: Boolean,
      required: false,
      default: true
    }
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // true if loading, false otherwise
      loading: false,

      // Images
      contactImage,
      blueChartImage,
      angryEmojiImage,
      sleepyEmojiImage,
      coolEmojiImage,
      alertImage,
      footprintsImage,
      shieldImage,
      fightImage,
      lockImage,
      xButtonImage,
      vaultImage,
      encryptedFileImage,
      signUpImage,
      facebookLoginImage,
      facebookNegativePostAnalysis
    };
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    if (this.tryLoginOnMount) {
      this.tryLogin();
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Try to login
     */
    async tryLogin() {
      try {
        this.loading = true;
        await this.$g.store.dispatch('auth/tryLogin');
      } finally {
        this.loading = false;
      }
    },
    onLogin() {
      this.$g.router.push({ name: 'rnLogin' });
    },
    onCreateAccount() {
      this.$g.router.push({ name: 'rnCreateAccount' });
    },
  }
};

</script>
<style scoped lang="scss">
.sm-background-splash {
  background-image: url('../../img/misc/splash-compressed.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.0;
}

.sm-title-bar {
  margin: 0 auto;
  text-align: left;
  color: $dark;
  font-size: 2rem !important;
  font-weight: bolder;
}

.sm-tagline {
  font-size: 3.8rem;
  font-weight: bolder;
  color: rgba($light, .9);
  text-shadow: -8px 8px 8px rgba(0, 0, 0, 1);
}

.sm-setup-steps {
  background-color: rgba($info, .21);
}

.sm-step-card {
  background-color: rgba($info, .6);
}

.sm-key-features {
  background-color: rgba($info, .21);
}

</style>
