<!--
  NAME
    BannerFeatureCard.vue

  DESCRIPTION
    Card Used for banner features

  USAGE
    <BannerFeatureCard title="...">
      <template v-slot:images>
        ...
      </template>
      <template v-slot:content>
        ...
      </template>
    </BannerFeatureCard>
 -->
<template>
  <b-card class="text-black mb-3 text-center smg-hover">
    <div class="card-header bg-light mb-3">
      <slot name="images"></slot>
    </div>
    <h4 class="card-title">{{ title }}</h4>
    <div class="card-text">
      <slot name="content"></slot>
    </div>
  </b-card>
</template>
<script>
export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Title of the card
    title: {
      type: String,
      required: true
    },
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onCreateAccount: function () {
      this.$g.router.push({ name: 'rnCreateAccount' });
    },
  }
};

</script>
