<!--
  NAME
    Component404.vue

  DESCRIPTION
    Component accessed when going to invalid route
 -->
<template>
  <b-container fluid>
    <b-row>
      <SmecknLogoCard title="Whoops, well that's embarassing...">
        <div class="b-row mt-2">
          <p>The page you are navigating to does not exist.</p>
          <p>Let's get you back home.</p>
          <b-button v-on:click="onGoHome" class="btn-info" data-cy="goHomeButton">
            Go Home</b-button>
        </div>
      </SmecknLogoCard>
    </b-row>
  </b-container>
</template>
<script>
export default {

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onGoHome() {
      if (this.$g.store.getters['account/isWALoggedIn']) {
        this.$g.router.push({ name: 'rnProfileGroupsDashboard' });
      } else {
        this.$g.router.push({ name: 'rnBanner' });
      }
    }
  }
};

</script>
