<!--
  NAME
    Footer.vue

  DESCRIPTION
    Component Managing Footer of Application
 -->
<template>
  <div class="border-top border-info bg-info clearfix text-light">
    <div class="float-center text-center">
      <p class="m-0" data-cy="copyrightPara">
        Copyright &copy; {{ currentYear }} Smeckn, Inc. All rights reserved. (Beta Release)
        <br>
        <social-sharing url="smeckn.com" title="Check your social media at smeckn.com"
          description="Smeckn is an application to help users clean up their social media."
          quote="Don't let your social media hold you back." hashtags="smeckn, smeckninc"
          twitter-user="SmecknInc" media="http://smeckn.com/email/img/info-logo-title.png"
          inline-template>
          <div class="d-flex flex-row justify-content-center">
            <div class="mx-1" data-cy="facebookNetwork">
              <network network="facebook">
                <i class="fa fa-facebook" data-cy="facebookImage"></i> Facebook
              </network>
            </div>
            <div class="mx-1" data-cy="twitterNetwork">
              <network network="twitter">
                <i class="fa fa-twitter" data-cy="twitterImage"></i> Twitter
              </network>
            </div>
            <div class="mx-1" data-cy="linkedinNetwork">
              <network network="linkedin">
                <i class="fa fa-linkedin" data-cy="linkedinImage"></i> LinkedIn
              </network>
            </div>
            <div class="mx-1" data-cy="pinterestNetwork">
              <network network="pinterest">
                <i class="fa fa-pinterest" data-cy="pinterestImage"></i> Pinterest
              </network>
            </div>
            <div class="mx-1" data-cy="redditNetwork">
              <network network="reddit">
                <i class="fa fa-reddit" data-cy="redditImage"></i> Reddit
              </network>
            </div>
            <div class="mx-1" data-cy="whatsappNetwork">
              <network network="whatsapp">
                <i class="fa fa-whatsapp" data-cy="whatsappImage"></i> Whatsapp
              </network>
            </div>
            <div class="mx-1" data-cy="emailNetwork">
              <network network="email">
                <i class="fa fa-envelope" data-cy="emailImage"></i> Email
              </network>
            </div>
          </div>
        </social-sharing>
      </p>
    </div>
  </div>
</template>
<script>
import * as moment from 'moment';

export default {

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    release() {
      return process.env.VUE_APP_GIT_COMMIT_SHA;
    },
    currentYear() {
      return moment().format('YYYY');
    }
  },
};

</script>
