<!--
  NAME
    LoggedInHeader.vue

  DESCRIPTION
    Logged In navigation Panel at top of application
 -->
<template>
  <!--
    The navbar never collapses
  -->
  <b-navbar type="dark" class="bg-info py-0 px-1">
    <!-- Brand, left aligned ------------------------------------------------->
    <b-navbar-brand>
      <div class="d-float align-items-center">
        <b-link v-on:click="onHome" data-cy="homeLink" class="d-flex align-items-baseline text-light">
          <img v-bind:src="logoImage" class="d-sm-none smg-img-4" alt="">
          <img v-bind:src="logoImageTitle" class="d-none d-sm-inline-block smg-img-8" alt="">
        </b-link>
      </div>
    </b-navbar-brand>

    <div class="d-flex w-100 align-items-center text-center justify-content-end justify-content-sm-between">
      <!-- Left -->
      <b-navbar-nav class="d-none d-sm-inline-block">
      </b-navbar-nav>

      <!-- Center ------------------------------------------------------------>
      <b-navbar-nav>
        <!-- Text analysis -->
        <b-nav-item v-on:click="onTextAnalysis" data-cy="textAnalysisLink">Text
          Analysis</b-nav-item>
        <!-- Profile Group Dropdown -->
        <b-nav-form>
          <b-nav-item-dropdown v-if="showProfileGroupDropdown" v-bind:text="profileGroupDropdownText"
            data-cy="profileGroupDropdown">
            <b-dropdown-item-button v-for="waProfileGroup in waProfileGroupList" :key="waProfileGroup.id"
              v-on:click="onProfileGroupDrillDown(waProfileGroup)" data-cy="profileGroupDropdownProfileGroup">
              {{ waProfileGroup.name }}
            </b-dropdown-item-button>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item v-if="showAddProfileGroupLink" v-on:click="onAddProfileGroup"
              data-cy="addProfileGroupLink">Add</b-dropdown-item>
            <b-dropdown-item v-on:click="onManageProfileGroups" data-cy="manageProfileGroupsLink">Manage</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-nav-form>
      </b-navbar-nav>

      <!-- Right ------------------------------------------------------------->
      <b-navbar-nav>
        <!-- Account Dropdown -->
        <b-nav-form>
          <b-nav-item-dropdown data-cy="accountDropdown" text="Account" right>
            <b-dropdown-item v-on:click="onGoToUserGuide" data-cy="userGuideLink">User Guide</b-dropdown-item>
            <b-dropdown-item v-on:click="onManageAccount" data-cy="manageAccountLink">Manage Account</b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-header class="text-dark font-weight-bold">Analysis Units</b-dropdown-header>
            <b-dropdown-item v-on:click="onUnitBalance" data-cy="unitBalanceLink">
              Balance</b-dropdown-item>
            <b-dropdown-item v-on:click="onPurchaseUnits" data-cy="purchaseUnitsLink">Purchase</b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-header class="text-dark font-weight-bold">Payments</b-dropdown-header>
            <b-dropdown-item v-on:click="onCreditCards" data-cy="creditCardsLink">Credit
              Cards</b-dropdown-item>
            <b-dropdown-item v-on:click="onPaymentHistory" data-cy="paymentHistoryLink">History</b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item v-on:click="onLogout" data-cy="logoutLink">Log
              Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-nav-form>
      </b-navbar-nav>
    </div>
  </b-navbar>
</template>
<script>
import Vuex from 'vuex';
import logoImage from '../../img/logo/white-logo.png';
import logoImageTitle from '../../img/logo/white-logo-title.png';

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Images
      logoImage,
      logoImageTitle
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('profileGroup', ['waProfileGroupList', 'waProfileGroup']),
    ...Vuex.mapGetters('profileGroup', ['waProfileGroupsExist', 'waProfileGroupSet', 'canAddProfileGroup']),
    showProfileGroupDropdown() {
      return this.waProfileGroupsExist;
    },
    showAddProfileGroupLink() {
      return this.canAddProfileGroup;
    },
    profileGroupDropdownText() {
      if (this.waProfileGroupSet) {
        return this.waProfileGroup.name;
      }
      return 'Profile Group';
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onManageAccount() {
      this.$g.router.push({ name: 'rnAccountManage' });
    },
    onUnitBalance() {
      this.$g.router.push({ name: 'rnUnitBalance' });
    },
    onPurchaseUnits() {
      this.$g.router.push({ name: 'rnUnitCheckout' });
    },
    onCreditCards() {
      this.$g.router.push({ name: 'rnCreditCards' });
    },
    onPaymentHistory() {
      this.$g.router.push({ name: 'rnPaymentHistory' });
    },
    onTextAnalysis() {
      this.$g.router.push({ name: 'rnCustomTextAnalysis' });
    },
    onHome() {
      this.$g.router.push({ name: 'rnProfileGroupsDashboard' });
    },
    onAddProfileGroup: function (waProfileGroup) {
      this.$g.router.push({ name: 'rnProfileGroupAdd' });
    },
    onManageProfileGroups: function (waProfileGroup) {
      this.$g.router.push({ name: 'rnProfileGroupsManage' });
    },
    onProfileGroupDrillDown: function (waProfileGroup) {
      this.$g.store.dispatch('profileGroup/drillDown', { waProfileGroup });
    },
    onGoToUserGuide() {
      window.open(this.$g.userGuide.getHomeURL());
    },
    onLogout() {
      this.$g.store.dispatch('auth/logout');
    },
  }
};

</script>
<style lang="scss">

/* Boostrap nav-items */
.nav-link {
  color: $light !important;
}
</style>
