<!--
  NAME
    LoggedOutHeader.vue

  DESCRIPTION
    Logged out navigation Panel at top of application
 -->
<template>
  <!--
    The navbar has two sets of styling based on breakpoint
      - xs
        The navbar will collapse
      - >= sm
        The navbar will NOT collapse
  -->
  <b-navbar toggleable="sm" type="dark" class="bg-info py-0 px-1 border-bottom border-light">
    <!-- Brand, left aligned -->
    <b-navbar-brand>
      <b-link v-on:click="onHome" data-cy="homeLink" class="d-flex align-items-baseline text-light">
        <img v-bind:src="logoImage" class="smg-img-8" alt="">
      </b-link>
    </b-navbar-brand>
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <!-- Buttons -->
    <b-collapse is-nav id="nav_collapse">
      <div class="d-flex flex-column align-items-right text-center w-100
          flex-sm-row justify-content-sm-end text-sm-right">
        <b-navbar-nav>
          <!-- User Guide -->
          <b-nav-form>
            <b-button v-on:click="onGoToUserGuide" data-cy="goToUserGuideBtn"
              v-bind:class="btnClass">
              <img v-bind:src="infoImage" v-bind:class="btnImageClass" alt="">
              User Guide
            </b-button>
          </b-nav-form>
          <!-- Sign Up Button -->
          <b-nav-form>
            <b-button v-on:click="onCreateAccount" data-cy="createAccountBtn"
              v-bind:class="btnClass">
              <img v-bind:src="contactImage" v-bind:class="btnImageClass" alt="">
              Sign Up
            </b-button>
          </b-nav-form>
          <!-- Logged In Button -->
          <b-nav-form>
            <b-button v-on:click="onLogin" data-cy="loginBtn" v-bind:class="btnClass">
              <img v-bind:src="lockImage" v-bind:class="btnImageClass" alt="">
              Log In
            </b-button>
          </b-nav-form>
        </b-navbar-nav>
      </div>
    </b-collapse>
  </b-navbar>

</template>
<script>
import logoImage from '../../img/logo/white-logo-title.png';
import infoImage from '../../img/flaticon/information.png';
import contactImage from '../../img/flaticon/contact.png';
import lockImage from '../../img/flaticon/lock.png';

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data: function () {
    return {
      // Classes
      btnClass: 'btn-info mx-sm-1 my-1 w-100',
      btnImageClass: 'd-inline-block smg-img-2',

      // Images
      logoImage,
      infoImage,
      contactImage,
      lockImage,
    };
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onHome: function () {
      this.$g.router.push({ name: 'rnBanner' });
    },
    onCreateAccount: function () {
      this.$g.router.push({ name: 'rnCreateAccount' });
    },
    onGoToUserGuide: function () {
      window.open(this.$g.userGuide.getHomeURL());
    },
    onLogin: function () {
      this.$g.router.push({ name: 'rnLogin' });
    },
  }
};

</script>
