<!--
  NAME
    TestSiteWarning.vue

  DESCRIPTION
    Message Bar Showing that this is not a production site
 -->
<template>
  <div v-if="showWarning">
    <b-alert show :variant="alertSeverity" class="mb-0">
      {{ alertText }}
    </b-alert>
  </div>
</template>
<script>
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      alertText: 'Warning: This is a test website, all data entered here will be lost!',
      alertSeverity: 'danger'
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    showWarning() {
      let production = process.env.VUE_APP_ENVIRONMENT === 'Production';
      return !production;
    }
  },
};

</script>
