<!--
  NAME
    Home.vue

  DESCRIPTION
    Home Component
 -->
<template>
  <div>
    <h1>Open console [Ctrl + Shift + i] to view all messages</h1>
    <br>
    <div>
      Step 1:
      <b-button v-on:click="onDeleteServerState">Delete Server State</b-button>
    </div>
    <br>
    <br>
    <div>
      Step 2:
      <b-button v-on:click="onLoginWithTwitter">Login with Twitter</b-button>
    </div>
    <br>
    <br>
    <div>
      Step 3:
      <b-button v-on:click="onGetTwitterProfile">Get Twitter Profile</b-button>
      <b-button v-on:click="onClearTwitterProfile" class="ml-2">Clear Twitter Profile</b-button>
    </div>
    <br>
    <br>
    <div>
      Step 4:
      <b-button v-on:click="onGetTwitterTweets">Get Twitter Tweets</b-button>
      <b-button v-on:click="onClearTwitterTweets" class="ml-2">Clear Twitter Tweets</b-button>
    </div>
    <br>
    <!-- Display Profile -->
    <TwitterProfile v-if="twitterProfile" v-bind:twitter-profile="twitterProfile"></TwitterProfile>

    <!-- Display Tweets -->
    <div v-for="(twitterTweet, index) in twitterTweetList" v-bind:key="twitterTweet.id_str">
      <div class="border border-secondary py-2">
        <h1> Post # {{ index }} </h1>
        <TwitterEmbeddedTweet v-bind:twitter-tweet="twitterTweet"></TwitterEmbeddedTweet>
        <TwitterCustomTweet v-bind:twitter-tweet="twitterTweet"></TwitterCustomTweet>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import TwitterProfile from './TwitterProfile.vue'
import TwitterEmbeddedTweet from './TwitterEmbeddedTweet.vue'
import TwitterCustomTweet from './TwitterCustomTweet.vue'

export default {
  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { TwitterProfile, TwitterEmbeddedTweet, TwitterCustomTweet },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      baseURL: process.env.VUE_APP_SERVER_BASE_URL,
      twitterProfile: null,
      twitterTweetList: [],
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {},

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    resetState() {
      this.twitterProfile = null;
      this.twitterTweetList = [];
    },

    /**
     * Delete server state
     */
    async onDeleteServerState() {
      let url = `${this.baseURL}/serverState`;
      try {
        this.resetState();
        await axios.delete(url);
        console.log('Server State Deleted');
      } catch (err) {
        console.log(err);
      }
    },

    /**
     * Have server retrieve an OAuth Token from Twitter
     */
    async onLoginWithTwitter() {
      try {
        // Get Request OAuth Token from Server
        let url = `${this.baseURL}/oauthRequestToken`;
        let resp = await axios.get(url)
        let oauthRequestToken = resp.data.oauthRequestToken;
        console.log(`OAuthRequestToken='${oauthRequestToken}'`);

        // Redirect to Twitter for login
        let params = `location=0,status=0,width=800,height=600`;
        let win = window.open(`https://api.twitter.com/oauth/authenticate?oauth_token=${oauthRequestToken}`,
          'Twitter Login', params);
        console.log('Login Window Opened');

        // Set timer to determine when window is closed
        let timer = setInterval(function () {
          if (win.closed) {
            console.log('Login Window Closed')
            clearInterval(timer);
          }
        }, 200)
      } catch (err) {
        console.log(err);
      }
    },

    /**
     * Get twitter profile
     */
    async onGetTwitterProfile() {
      let url = `${this.baseURL}/twitterProfile`;
      try {
        let resp = await axios.get(url);
        this.twitterProfile = resp.data;
      } catch (err) {
        console.log(err);
      }
    },

    /**
     * Clear twitter profile
     */
    onClearTwitterProfile() {
      this.twitterProfile = null;
    },

    /**
     * Get twitter tweets
     */
    async onGetTwitterTweets() {
      let url = `${this.baseURL}/twitterTweet`;
      try {
        let resp = await axios.get(url);
        this.twitterTweetList = resp.data;
        // this.twitterTweetList = [this.twitterTweetList[6]];
      } catch (err) {
        console.log(err);
      }
    },

    /**
     * Clear twitter profile
     */
    onClearTwitterTweets() {
      this.twitterTweetList = [];
    },

  }

}

</script>
