<!--
  NAME
    OAuthCallback.vue

  DESCRIPTION
    Twitter OAuth Callback Component
 -->
<template>
  <div>
    <h1>This is the Twitter Callback</h1>
    <h1 v-if="statusMessage">{{ statusMessage }}</h1>
  </div>
</template>

<script>
import axios from 'axios';

export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // OAuth Verifier
    // Returned from twitter callback
    oauth_verifier: {
      type: String,
      required: false,
      default: null
    },
    // Denied
    // Returned if request for access was denied
    denied: {
      type: String,
      required: false,
      default: null
    },
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      baseURL: process.env.VUE_APP_SERVER_BASE_URL,
      statusMessage: ''
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {},

  /* ---------------------- LIFECYCLE -------------------------------------- */
  async mounted() {
    console.log(this.$route)
    /*
     * Cases
     * 1. Denied Access
     * 2. oauth_verifier not specified
     * 3. Success
     * 4. Server request to get access token failed
     */
    if (this.denied) {
      this.statusMessage = 'You denied us access :(';
    } else if (!this.oauth_verifier) {
      this.statusMessage = 'No oauth verifier specified';
    } else {
      let url = `${this.baseURL}/oauthAccessToken?oauth_verifier=${this.oauth_verifier}`;
      try {
        await axios.post(url);
        this.statusMessage = 'Success!'
        window.close();
      } catch (err) {
        console.log(err);
        this.statusMessage = 'Failed to generate access token. Please close window to continue';
      }
    }
  },
}

</script>
