<!--
  NAME
    TwitterEmbeddedTweet.vue

  DESCRIPTION
    Twitter Embedded Tweet Component

  NOTE
    This doesn't work if the Twitter Profile who posted the tweets has a protected.
 -->
<template>
  <div class="bg-light p-2">
    <Tweet v-bind:id="twitterTweet.id_str"></Tweet>
  </div>
</template>

<script>
import { Tweet } from 'vue-tweet-embed'

export default {

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { Tweet },

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Twitter Tweet Object
    // Reference: https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object
    twitterTweet: {
      type: Object,
      required: true
    },
  },
}

</script>
