<!--
  NAME
    TwitterCustomTweetSeparator.vue

  DESCRIPTION
    Twitter Custom Tweet Separator
 -->
<template>
  <div class="d-flex flex-row m-3">
    <img class="more-img" v-bind:src="moreImgSrc" />
  </div>
</template>

<script>
import moreImgSrc from './img/more.png';

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      moreImgSrc
    }
  },
}

</script>
<style scoped lang="scss">
.more-img {
  max-height: 3rem;
  max-width: 2rem;
}

</style>
