<!--
  NAME
    TwitterCustomTweetBody.vue

  DESCRIPTION
    Twitter Custom Tweet Body Component
 -->
<template>
  <div class="shadow rounded">
    <!-- Tweet Header -------------------------------------------------------->
    <div class="d-flex flex-row">
      <!-- Author Image -->
      <div v-if="tweetAuthorProfilePictureLink">
        <img class="profile-img mr-2" v-bind:src="tweetAuthorProfilePictureLink" />
      </div>

      <div class="d-flex flex-column">
        <!-- Author Link -->
        <b-link v-if="showTweetAuthorLink" class="d-flex flex-row" v-on:click="onTweetAuthorLinkClicked">
          <div class="text-dark font-weight-bold mr-1">{{ tweetAuthorName }}</div>
          <div class="text-secondary mx-1">@{{ tweetAuthorScreenName }}</div>
        </b-link>

        <div class="d-flex flex-row">
          <!-- View Link -->
          <div v-if="showTweetLink" class="mr-2">
            <b-link v-on:click="onTweetLinkClicked">{{ tweetLinkText }}</b-link>
          </div>
          <!-- Retweet Count -->
          <div v-if="showStatistics" class="mx-2">
            <img class="icon-img" v-bind:src="retweetImgSrc" />
            {{ tweetRetweetCount }}
          </div>
          <!-- Favorite Count -->
          <div v-if="showStatistics" class="mx-2">
            <img class="icon-img" v-bind:src="heartImgSrc" />
            {{ tweetFavoriteCount }}
          </div>
        </div>

        <!-- Create Date -->
        <div class="text-secondary">{{ tweetCreateDateString }}</div>
      </div>
    </div>

    <!-- Tweet Content ------------------------------------------------------->
    <div class="p-2">
      <!-- Text -->
      <div class="my-1">{{ tweetText }} </div>

      <!-- Photos -->
      <div class="my-1" v-for="photoMedia in tweetPhotoMediaList" v-bind:key="photoMedia.id_str">
        <img class="twitter-photo" v-bind:src="photoMedia.media_url_https" />
      </div>

      <!-- Videos -->
      <div class="my-1" v-for="videoMedia in tweetVideoMediaList" v-bind:key="videoMedia.id_str">
        <div class="twitter-video">
          <video width="100%" height="auto" controls>
            <source v-bind:src="videoMedia.video_info.variants[0].url" v-bind:type="videoMedia.video_info.variants[0].content_type">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>

      <!-- Animated Gifs -->
      <div class="my-1" v-for="animatedGifMedia in tweetAnimatedGifMediaList" v-bind:key="animatedGifMedia.id_str">
        <div class="twitter-animated-gif">
          <video width="100%" height="auto" controls>
            <source v-bind:src="animatedGifMedia.video_info.variants[0].url" v-bind:type="animatedGifMedia.video_info.variants[0].content_type">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>

    <!-- JSON Payloads ------------------------------------------------------->
    <!-- <pre>{{ twitterTweet }}</pre> -->
    <!-- <pre>{{ tweetEntities }}</pre> -->
  </div>
</template>

<script>
import commentImgSrc from './img/comment.png';
import heartImgSrc from './img/heart.png';
import retweetImgSrc from './img/retweet.png';
import twitterImgSrc from './img/twitter.png';
import TwitterCustomTweetMixin from './TwitterCustomTweetMixin.js'

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [TwitterCustomTweetMixin],

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // If True, display the tweet's body
    // If False, don't
    displayTweetBody: {
      type: Boolean,
      required: false,
      default: true,
    },
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      commentImgSrc,
      heartImgSrc,
      retweetImgSrc,
      twitterImgSrc,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    /**
     * @return {String} Tweet link text
     */
    tweetLinkText() {
      let rval = 'Tweeted'
      switch (this.tweetType) {
      case 'REGULAR':
        rval = 'Tweeted';
        break;
      case 'RETWEET':
        rval = 'Retweeted';
        break;
      case 'QUOTE':
        rval = 'Retweeted with Comment';
        break;
      case 'REPLY':
        rval = `Replied to @${this.tweetRepliedToUserScreenName}`;
        break;
      }
      return rval;
    },

    /**
     * @return {Boolean} True if we should display stats for this tweet
     */
    showStatistics() {
      return this.tweetType !== 'RETWEET';
    },
    showTweetLink() {
      return this.tweetID !== null;
    },
    showTweetAuthorLink() {
      return this.tweetAuthorScreenName !== null;
    },
  },
}

</script>
<style scoped lang="scss">
.profile-img {
  max-height: 4rem;
  max-width: 4rem;
}

.icon-img {
  max-height: 1rem;
  max-width: 1rem;
}

.twitter-photo {
  max-height: 10rem;
  max-width: 10rem;
}

.twitter-video {
  max-width: 20rem;
  height: auto;
}

.twitter-animated-gif {
  max-width: 20rem;
  height: auto;
}

</style>
