<!--
  NAME
    TwitterCustomTweet.vue

  DESCRIPTION
    Twitter Custom Tweet Component
 -->
<template>
  <div>
    <!-- Quoted Tweet: Recursive Call ---------------------------------------->
    <div v-if="tweetType === 'QUOTE'">
      <TwitterCustomTweet v-bind:twitter-tweet="quotedTweet"></TwitterCustomTweet>
      <TwitterCustomTweetSeparator></TwitterCustomTweetSeparator>
    </div>

    <!-- Retweeted Tweet: Recursive Call ------------------------------------->
    <div v-if="tweetType === 'RETWEET'">
      <TwitterCustomTweet v-bind:twitter-tweet="reTweetedTweet" v-bind:display-tweet-body="false"></TwitterCustomTweet>
      <TwitterCustomTweetSeparator></TwitterCustomTweetSeparator>
    </div>

    <!-- Current Tweet ------------------------------------------------------->
    <div class="p-2 p-md-2">
      <TwitterCustomTweetBody v-bind:twitter-tweet="twitterTweet"></TwitterCustomTweetBody>
    </div>
  </div>
</template>

<script>
import TwitterCustomTweetMixin from './TwitterCustomTweetMixin.js'
import TwitterCustomTweetBody from './TwitterCustomTweetBody.vue';
import TwitterCustomTweetSeparator from './TwitterCustomTweetSeparator.vue';

export default {

  /* ---------------------- NAME ------------------------------------------- */
  name: 'TwitterCustomTweet',

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [TwitterCustomTweetMixin],

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { TwitterCustomTweetBody, TwitterCustomTweetSeparator },
}

</script>
