<!--
  NAME
    TwitterProfile.vue

  DESCRIPTION
    Twitter Profile Component
 -->
<template>
  <b-container>
    <!-- Display Information -->
    <b-row v-for="infoItem in infoItems" v-bind:key="infoItem.title">
      <b-col cols="5">
        <p class="font-weight-bold">{{ infoItem.title }}</p>
      </b-col>
      <b-col cols="7">
        <img v-if="infoItem.img" v-bind:src="infoItem.img"/>
        <p v-if="infoItem.value !== undefined ">{{ infoItem.value }}</p>
      </b-col>
    </b-row>

    <!-- Actual JSON -->
    <pre>{{ twitterProfile }}</pre>
  </b-container>
</template>

<script>
export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Twitter Profile (User) Object
    // Reference: https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/user-object
    twitterProfile: {
      type: Object,
      required: true
    },
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    infoItems() {
      return [{
        title: 'ID',
        value: this.twitterProfile.id_str,
      }, {
        title: 'Name',
        value: this.twitterProfile.name,
      }, {
        title: 'Screen Name',
        value: this.twitterProfile.screen_name,
      }, {
        title: 'Location',
        value: this.twitterProfile.location,
      }, {
        title: 'Description',
        value: this.twitterProfile.description,
      }, {
        title: 'URL',
        value: this.twitterProfile.url,
      }, {
        title: 'Protected',
        value: this.twitterProfile.protected,
      }, {
        title: 'Followers Count',
        value: this.twitterProfile.followers_count,
      }, {
        title: 'Friends Count',
        value: this.twitterProfile.friends_count,
      }, {
        title: 'Listed Count',
        value: this.twitterProfile.listed_count,
      }, {
        title: 'Created At',
        value: this.twitterProfile.created_at,
      }, {
        title: 'Favorites Count',
        value: this.twitterProfile.favourites_count,
      }, {
        title: 'Statuses Count',
        value: this.twitterProfile.statuses_count,
      }, {
        title: 'Verified',
        value: this.twitterProfile.verified,
      }, {
        title: 'Profile Background Image',
        img: this.twitterProfile.profile_background_image_url_https,
      }, {
        title: 'Profile Image',
        img: this.twitterProfile.profile_image_url_https,
      }, {
        title: 'Profile Banner URL',
        img: this.twitterProfile.profile_banner_url,
      }, {
        title: 'Default Profile Image',
        img: this.twitterProfile.default_profile_image,
      }, {
        title: 'Default Profile',
        value: this.twitterProfile.default_profile,
      }, {
        title: 'Suspended',
        value: this.twitterProfile.suspended,
      }, {
        title: 'Needs Phone Verification',
        value: this.twitterProfile.needs_phone_verification,
      }];
    }
  },
}

</script>
