<!--
  NAME
    ProfileGroupsManage.vue

  DESCRIPTION
    Screen to edit profiles groups
 -->
<template>
  <SmecknLogoCard title="Manage Profile Groups">

    <!-- Loading -->
    <SmecknSpinner v-if="loading" loading></SmecknSpinner>

    <!-- List profile groups -->
    <SmecknContentSection v-else>
      <b-row class="d-flex justify-content-center">
        <b-col sm="4" class="my-2" v-for="(waProfileGroup, index) in waProfileGroupList"
          :key="waProfileGroup.id">
          <b-card class="text-center smg-hover" v-bind:class="getBackgroundClass(index)"
            data-cy="profileGroupCard" v-on:click="onManage(waProfileGroup)">
            <b-card-img class="smg-img-7" v-bind:src="editPhoto"> </b-card-img>
            <div slot="footer" class="text-light">
              {{waProfileGroup.name}}
            </div>
          </b-card>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-center mt-4">
          <b-button v-on:click="onDoneEdits" class="btn-info mb-2" data-cy="doneEditsButton">Done
            Edits</b-button>
        </b-col>
      </b-row>
    </SmecknContentSection>

  </SmecknLogoCard>
</template>
<script>
import Vuex from 'vuex';
import editPhoto from '../../img/flaticon/edit.png';

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data: function () {
    return {
      // Images
      editPhoto,
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('constant', ['waConstants']),
    ...Vuex.mapState('profileGroup', ['waProfileGroupList']),
    loading: function () {
      return this.waProfileGroupList.length === 0;
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted: function () {
    this.$g.store.dispatch('profileGroup/manageInit');
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onManage: function (waProfileGroup) {
      this.$g.router.push({ name: 'rnProfileGroupManage', params: { waProfileGroup: waProfileGroup } });
    },
    onDoneEdits: function () {
      this.$g.router.push({ name: 'rnProfileGroupsDashboard' });
    },
    getBackgroundClass: function (index) {
      let backgroundClassList = ['bg-info', 'bg-success', 'bg-warning', 'bg-danger', 'bg-primary'];
      return backgroundClassList[index % backgroundClassList.length];
    }
  }
};

</script>
