<!--
  NAME
    ProfileGroupAdd.vue

  DESCRIPTION
    Screen to add profile group
 -->
<template>
  <SmecknLogoCard title="Add Profile Group">

    <SmecknContentSection class="text-left">
      <b-form v-on:submit.prevent>
        <b-form-group label="Name:">
          <b-form-input v-model="name" v-on:keyup.enter="onAdd" required data-cy="profileGroupNameInput"></b-form-input>
        </b-form-group>
        <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
        <b-form class="d-flex justify-content-end">
          <b-button class="btn-info mx-2" v-on:click="onCancel" data-cy="cancelButton">Cancel</b-button>
          <b-button class="btn-info mx-2" v-on:click="onAdd" data-cy="addProfileGroupButton">Add
            Profile Group</b-button>
        </b-form>
      </b-form>
    </SmecknContentSection>
  </SmecknLogoCard>
</template>
<script>
import Vuex from 'vuex';
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Profile Group Name
      name: '',

      // Error Message
      errorMessage: '',
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages']),
    nameExists() {
      return this.name.length > 0;
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onCancel() {
      this.$g.router.replace({ name: 'rnProfileGroupsDashboard' });
    },
    onAdd() {
      if (!this.nameExists) {
        this.errorMessage = this.messages.SPECIFY_VALID_PROFILEGROUP_NAME;
      } else {
        this.$g.store.dispatch('profileGroup/create', { name: this.name })
          .catch((err) => { this.errorMessage = err.message; });
      }
    }
  }
};

</script>
