<!--
  NAME
    ProfileGroupDrillDown.vue

  DESCRIPTION
    Drill down into a profile group
 -->
<template>
  <SmecknSidebarContainer v-bind:item-list="itemList">
    <!-- Loading -->
    <SmecknSpinner v-if="loading"></SmecknSpinner>

    <!-- Child Routes -->
    <router-view v-else></router-view>
  </SmecknSidebarContainer>
</template>
<script>
import Vuex from 'vuex';
import _ from 'lodash';
import homeIcon from '../../img/flaticon/home.png';
import plusIcon from '../../img/flaticon/plus-2.png';
import ProfileListMixin from '../profile/ProfileListMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [ProfileListMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // If true, we are loading data
      loading: false
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('profileGroup', ['waProfileGroup']),
    ...Vuex.mapState('profile', ['waProfileList']),
    ...Vuex.mapGetters('profile', ['supportedWAProfileTypeList', 'waProfileTypesNotYetAddedList']),

    /**
     * @return {Array[Object]} List of SmecknSidebarContainer Items
     */
    itemList() {
      return [{
          title: 'Select Profile',
          onClick: () => { this.$g.router.push({ /* eslint-disable-line */ name: 'rnProfileSelect' }); },
          activeRouteName: 'rnProfileSelect',
          icon: { src: homeIcon, attributeObj: { 'data-cy': 'selectProfileIcon' } },
          disabled: this.waProfileList.length === 0
        },
        {
          title: 'Add Profile',
          onClick: () => { this.$g.router.push({ /* eslint-disable-line */ name: 'rnProfileAdd' }); },
          activeRouteName: 'rnProfileAdd',
          icon: { src: plusIcon, attributeObj: { 'data-cy': 'addProfileIcon' } },
          disabled: this.waProfileTypesNotYetAddedList.length === 0
        },
        ...this.profileAddedList.map((profile) => { return profile.sidebarItem; }),
      ];
    },
  },

  /* ---------------------- WATCH ------------------------------------------ */
  watch: {

    /**
     * This watcher has two purposes:
     *
     * 1. It protects all routes depending on the global waProfileGroup being set.
     *    If the global profile group disappears, we navigate back to safety.
     *
     * 2. If the user navigates to a different ProfileGroup, Vue may reuse the
     *    underlying ProfileGroupDrillDown component. We detect this here, and
     *    reinitializing the relevant state whenever it changes.
     */
    waProfileGroup(val) {
      if (!val) {
        this.$g.router.push({ name: 'rnProfileGroupsDashboard' });
      } else {
        this.init();
      }
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    this.init();
  },
  destroyed() {
    this.$g.store.dispatch('profileGroup/clearCurrent');
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Initialze Profile Group State and Route to Child Appropriately
     */
    async init() {
      try {
        this.loading = true;
        await this.$g.store.dispatch('profile/list', { waProfileGroup: this.waProfileGroup });
      } finally { this.loading = false; }

      // 2 Cases:
      // 1: We have profiles in our group => Go to selection page
      // 2: We have no profiles yet in group => Go to add page
      if (this.waProfileList.length > 0) {
        this.$g.router.push({ name: 'rnProfileSelect' });
      } else {
        this.$g.router.push({ name: 'rnProfileAdd' });
      }
    }
  },
};

</script>
