<!--
  NAME
    ProfileGroupManage.vue

  DESCRIPTION
    Edit existing Profile Group, e.g. change name
 -->
<template>
  <SmecknLogoCard v-bind:title="logoCardTitle">

    <!-- Basic Information -->
    <SmecknContentSection title="Basic Information">
      <b-form class="text-left" v-on:submit.prevent v-on:keyup.enter="onSave">
        <b-form-group label="Name:">
          <b-form-input v-model="newName" required data-cy="profileGroupNameInput">
          </b-form-input>
        </b-form-group>
        <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
        <b-form class="d-flex justify-content-end" v-on:submit.prevent>
          <b-button class="btn-info mx-1" v-on:click="onSave" data-cy="saveButton">Save</b-button>
        </b-form>
      </b-form>
    </SmecknContentSection>

    <!-- Delete -->
    <SmecknContentSection title="Delete Profile Group">
      <b-form class="d-flex justify-content-end" v-on:submit.prevent>
        <b-button class="btn-danger mx-1" v-on:click="onShowDeletionModal" data-cy="deleteModalButton">Delete</b-button>
      </b-form>
    </SmecknContentSection>

    <!-- Deletion Modal -->
    <SmecknModal ref="sm-deletion-modal" v-bind:title="deleteProfileGroupModalTitle">
      <!-- Body -->
      <template v-slot:default>
        <p>All profile group data, including all profiles, will be <strong>permanently lost</strong>
          if the profile group is deleted. Do you still want to delete the profile group?
        </p>
      </template>
      <!-- Footer -->
      <template v-slot:footer>
        <b-form class="d-flex justify-content-end" v-on:submit.prevent>
          <b-button class="btn-secondary mx-1" v-on:click="onHideDeletionModal" data-cy="cancelDeleteButton">Cancel</b-button>
          <b-button class="btn-danger mx-1" v-on:click="onDelete" data-cy="deleteButton">Delete</b-button>
        </b-form>
      </template>
    </SmecknModal>

  </SmecknLogoCard>
</template>
<script>
import Vuex from 'vuex';

export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Web API Profile Group object that we are currently managing
    waProfileGroup: {
      type: Object,
      default: null
    },
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // New Name for Profile Group
      newName: '',

      // Error Message
      errorMessage: '',
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages']),
    nameExists() {
      return this.newName.length > 0;
    },
    logoCardTitle() {
      return `Manage Profile Group: ${this.waProfileGroup.name}`;
    },
    deleteProfileGroupModalTitle() {
      return `Delete Profile Group: ${this.waProfileGroup.name}?`;
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    this.$g.utils.softAssert({
      condition: this.waProfileGroup !== null,
      message: 'waProfileGroup must be defined!',
      callback: () => { this.$g.router.replace({ name: 'rnProfileGroupsManage' }); }
    });
    this.newName = this.waProfileGroup.name;
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onSave() {
      if (!this.nameExists) {
        this.errorMessage = this.messages.SPECIFY_VALID_PROFILEGROUP_NAME;
      } else {
        this.$g.store.dispatch('profileGroup/update', {
            waProfileGroup: this.waProfileGroup,
            name: this.newName
          })
          .catch((err) => { this.errorMessage = err.message; });
      }
    },
    onShowDeletionModal() {
      this.$refs['sm-deletion-modal'].show();
    },
    onHideDeletionModal() {
      this.$refs['sm-deletion-modal'].hide();
    },
    onDelete() {
      this.$g.store.dispatch('profileGroup/delete', { waProfileGroup: this.waProfileGroup })
        .catch((err) => { this.errorMessage = err.message; });
    }
  }
};

</script>
