<!--
  NAME
    ProfileGroupsDashboard.vue

  DESCRIPTION
    Home View for Application showing all Profile Groups
 -->
<template>
  <SmecknLogoCard title="Select a Profile Group">

    <!-- Loading -->
    <SmecknSpinner v-if="loading" loading></SmecknSpinner>

    <!-- List profile groups -->
    <SmecknContentSection v-else>
      <b-row class="d-flex justify-content-center">
        <!-- List profile groups -->
        <b-col sm="4" class="my-2" v-for="(waProfileGroup, index) in waProfileGroupList"
          :key="waProfileGroup.id">
          <b-card class="text-center smg-hover" v-bind:class="getBackgroundClass(index)"
            v-on:click="onDrillDown(waProfileGroup)" data-cy="profileGroupCard">
            <b-card-img class="smg-img-7" v-bind:src="checkPhoto"> </b-card-img>
            <div slot="footer" class="text-light">
              {{waProfileGroup.name}}
            </div>
          </b-card>
        </b-col>

        <!-- Add a profile group -->
        <b-col sm="4" class="my-2" v-if="showAddBox">
          <b-card class="text-light bg-secondary smg-hover" data-cy="addProfileGroupCard"
            v-on:click="onAdd">
            <b-card-img class="smg-img-7" v-bind:src="addPhoto"> </b-card-img>
            <div slot="footer" class="text-light">
              Add Profile Group
            </div>
          </b-card>
        </b-col>
      </b-row>
      <b-row>
        <!-- Manage profile groups -->
        <b-col class="text-center mt-5">
          <b-button v-on:click="onManage" class="btn-info my-2" data-cy="manageProfileGroupsButton">Manage
            Profile Groups</b-button>
        </b-col>
      </b-row>
    </SmecknContentSection>
  </SmecknLogoCard>
</template>
<script>
import Vuex from 'vuex';
import checkPhoto from '../../img/flaticon/tick.png';
import addPhoto from '../../img/flaticon/plus.png';

export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Images
      checkPhoto,
      addPhoto
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('profileGroup', ['waProfileGroupList', ]),
    ...Vuex.mapGetters('profileGroup', ['canAddProfileGroup']),
    showAddBox() {
      return this.canAddProfileGroup;
    },
    loading() {
      return this.waProfileGroupList.length === 0;
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  mounted() {
    this.$g.store.dispatch('profileGroup/dashInit');
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onAdd() {
      this.$g.router.push({ name: 'rnProfileGroupAdd' });
    },
    onManage() {
      this.$g.router.push({ name: 'rnProfileGroupsManage' });
    },
    onDrillDown(waProfileGroup) {
      this.$g.store.dispatch('profileGroup/drillDown', { waProfileGroup });
    },
    getBackgroundClass(index) {
      let backgroundClassList = ['bg-info', 'bg-success', 'bg-warning', 'bg-danger', 'bg-primary'];
      return backgroundClassList[index % backgroundClassList.length];
    }
  }
};

</script>
