.qjboxCentral {
  border: solid #a9bec3;
  border-width: 1px;
  border-radius: 5px;
}

.qjAdCentral {
  border: solid darkslategray;
  border-width: 1px;
  color: black;
  background: #d3d3d3;
  text-align: center;
}

.qjTableCentral {
  border: solid #a9bec3;
  border-width: 1px;
  border-radius: 5px;
  background-color: silver;
  color: black;
  opacity: 0.7;
}

/* custom format for the links */

a {
  font-size: large;
}

a:hover {
  text-decoration: none;
  font-weight:bold;
}

