<template>
  <div id="app">
    <img src="./logo.png">
    <br>
    <router-link to="/comp1">Comp 1</router-link>
    <router-link to="/comp2">Comp 2</router-link>
    <router-link to="/comp3">Comp 3</router-link>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
