<header class="header dark-bg">
    <!--logo start-->
    <a href="index.html" class="logo">Mo <span class="lite">Journey</span></a>
    <!--logo end-->
    <div class="top-nav notification-row mj-navpadding">
        <button routerLink="../account/sign-up" class="btn btn-success" type="submit">Sign-Up</button>
        <button routerLink="../account/log-in" class="btn btn-primary mj-button-padding" type="submit">Login</button>
    </div>
</header>
<router-outlet></router-outlet>
