//
// FILE
//  override.styl
//
// DESCRIPTION
//  Extra Styles

/* ------------------------- BOOSTRAP COLORS ------------------------------- */
// boostrap colors
$primary=#428bca; // Blue
$secondary=#989898; // Gray
$success=#5cb85c; // Green
$info=#17a2b8; // Teal
$warning=#ffc107; // Yellow
$danger=#d9534f; // Red
$light=#f9f9f9; // Whitish
$dark=#343a40; // Dark Gray


/* ------------------------- GENERIC STYLES -------------------------------- */
#my-style {}

body {
  background-color: $light;
  font-family: 'Questrial', arial;
}

.logo {
  margin: 0px !important;
}

.site-name {
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
  color: $light !important;
}

.sidebar {
  background-color: $light;
}

/* ------------------------- NAVBAR STYLES --------------------------------- */
.navbar {
  background-color: $info !important;
  border: none !important;
}

.nav-links, .links {
  background-color: $info !important;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  color: $light !important;
  border: none !important;

  &.router-link-exact-active {
    font-size: 1.05rem;
    text-decoration: underline solid $light !important;
  }

  &:hover {
    font-size: 1.05rem;
    text-decoration: underline solid $light !important;
  }
}

/* ------------------------- SIDEBAR STYLES -------------------------------- */
.sidebar-link {
  font-size: 1rem;
  padding-bottom: .3rem !important;
}

