<!--
  NAME
    App.vue

  DESCRIPTION
    Main Application Layout
-->
<template>
  <div id="app" class="text-center bg-light overflow-auto">

    <!-- Header -->
    <LoggedInHeader class="sm-header" v-if="isWALoggedIn"></LoggedInHeader>
    <LoggedOutHeader class="sm-header" v-else></LoggedOutHeader>

    <!-- Alert -->
    <Alert></Alert>

    <!-- Warning -->
    <TestSiteWarning></TestSiteWarning>

    <!-- Content, Footer
        ---
        ^
        |Content: We stretch the <router-view> vertically
        |         and horizontally to fit its allotted space
        v
        ---
        Footer
        ---
      -->
    <div class="d-flex flex-column bg-white sm-content">
      <div class="flex-grow-1 d-flex align-items-stretch">
        <router-view class="w-100"></router-view>
      </div>
      <Footer class="sm-footer"></Footer>
    </div>
  </div>
</template>
<script>
import Vuex from 'vuex';
import LoggedInHeader from './appComponents/base/LoggedInHeader.vue';
import LoggedOutHeader from './appComponents/base/LoggedOutHeader.vue';
import Alert from './appComponents/alert/Alert.vue';
import TestSiteWarning from './appComponents/base/TestSiteWarning.vue';
import Footer from './appComponents/base/Footer.vue';

export default {
  name: 'app',
  components: { LoggedInHeader, LoggedOutHeader, Alert, TestSiteWarning, Footer },
  computed: { ...Vuex.mapGetters('account', ['isWALoggedIn']) },
};

</script>
<style scoped lang="scss">

$header-min-height: 5vh;
$content-min-height: 95vh;
$footer-min-height: 5vh;

.sm-header {
  min-height: $header-min-height;
}

.sm-content {
  min-height: $content-min-height;
  overflow-x: hidden;
}

.sm-footer {
  min-height: $footer-min-height;
}

</style>
