<!--header start-->
<header class="header dark-bg">
    <!--logo start-->
    <a href="index.html" class="logo">Mo <span class="lite">Journey</span></a>
    <div class="nav search-row" id="top_menu">
        <!--  search form start -->
        <ul class="nav top-menu">
            <li>
                <form class="navbar-form">
                    <input class="form-control" placeholder="Search" type="text">
                </form>
            </li>
        </ul>
        <!--  search form end -->
    </div>
    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
            <!-- alert notification start-->
            <li id="alert_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="icon-bell-l"></i>
                    <span class="badge bg-important">3</span>
                </a>
                <ul class="dropdown-menu extended notification">
                    <div class="notify-arrow notify-arrow-blue"></div>
                    <li>
                        <p class="blue">You have 3 new notifications</p>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label label-warning"><i class="icon_pin"></i></span> John location.
                            <span class="small italic pull-right">50 mins</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">z
                            <span class="label label-danger"><i class="icon_book_alt"></i></span> Project 3 Completed.
                            <span class="small italic pull-right">1 hr</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label label-success"><i class="icon_like"></i></span> Mick appreciated your work.
                            <span class="small italic pull-right"> Today</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">See all notifications</a>
                    </li>
                </ul>
            </li>
            <!-- alert notification end-->
            <!-- inbox notificatoin start-->
            <li id="mail_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="icon-task-l"></i>
                </a>
                <ul class="dropdown-menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">Create New Exercise</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">View My Exercises</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Create New Workout</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">View My Workouts</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Create New Plan</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">View My Plans</a></li>
                </ul>
            </li>
            <!-- inbox notificatoin end -->
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="profile-ava">
                                <img alt="" src="/assets/Mojourney/img/avatar1_small.jpg">
                            </span>
                    <span class="username">Jamester Bensson</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="icon_profile"></i> My Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_key_alt"></i> Log Out</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon_question"></i> Documentation</a>
                    </li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
    </div>
</header>
