<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Post Frequency</title>

  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />

  <!-- Greyson from:  https://themestr.app/ -->
  <link rel="stylesheet" href="theme-greyson.css">

  <!-- Smeckn styles -->
  <link rel="stylesheet" href="smeckn2.css">

  <link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'>

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="https://unpkg.com/v-calendar"></script>
  <script src="https://unpkg.com/dateformat@3.0.3/lib/dateformat.js"></script>

  <style>
  </style>

</head>

<body>
  <!-- Our application root element -->
  <div id="app">

    <b-container fluid style="margin: auto; width: 40%;">
      <b-card header="Post Frequency Over Time" class="card bg-default text-black" style="font-weight: bold;">
        <b-row style="font-weight: normal">
          <b-col>
            <div class="smecknBorder">
              <b-form-group>
                <b-row>
                  <b-col cols="4">Totals Posts:</b-col>
                  <b-col cols="2">210</b-col>
                  <b-col cols="6" style="text-align: right">
                    <b-dropdown text="  During  ">
                      <b-dropdown-item-button href="#" v-b-modal.pick-a-date-modal>Custom</b-dropdown-item-button>
                      <b-dropdown-item-button href="#">Year To Date</b-dropdown-item-button>
                      <b-dropdown-item-button href="#">Last Year</b-dropdown-item-button>
                      <b-dropdown-item-button href="#">Last 5 Years</b-dropdown-item-button>
                    </b-dropdown>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">Start Date:</b-col>
                  <b-col cols="8">{{ startDate }}</b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">End Date:</b-col>
                  <b-col cols="8">{{ endDate }}</b-col>
                </b-row>
              </b-form-group>
            </div>
            <br>
            <div class="smecknBorder">
              <graph-bar :labels="labels" :values="totalPosts" type="bar"> </graph-bar>
            </div>
          </b-col>
        </b-row>
      </b-card>

      <!-- Modal Component -->
      <b-modal id="pick-a-date-modal" title="Pick a date range:">
        <v-date-picker mode='range' v-model='selectedDate' show-caps style="display:inline-block;"></v-date-picker>
      </b-modal>


    </b-container>
  </div>

  <!-- Start running your app -->
  <script>
  Vue.component("graphBar", {
    props: ["labels", "values", "type"],
    template: '<canvas width="400" height="200"></canvas>',
    mounted: function () {
      new Chart(this.$el, {
        type: this.type,
        data: {
          labels: this.labels,
          datasets: [{
            label: "# of Posts",
            data: this.values,
            backgroundColor: "rgba(92, 143, 148, .6)",
            borderColor: "rgba(92, 143, 148, 1)",
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          onClick: function (evt) {
            let activePoints = this.getElementAtEvent(evt);
            if (activePoints.length > 0) {
              console.log(activePoints)
              let theBarValue = this.config.data.datasets[activePoints[0]._datasetIndex].data[activePoints[0]._index];
              let theBarLabel = this.config.data.labels[activePoints[0]._index];
              console.log("got event. theBarLabel: " + theBarLabel + ", theBarValue: " + theBarValue);
            }

          }
        }
      });
    }
  });

  window.app = new Vue({
    el: '#app',
    methods: {},
    data: {
      labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      totalPosts: [12, 19, 3, 5, 2, 15, 12, 19, 3, 5, 2, 15],
      selectedDate: {
        start: new Date(2019, 0, 1),
        end: new Date(2019, 11, 31)
      }
    },
    computed: {
      startDate: function () {
        return dateFormat(this.selectedDate.start, "dddd, mmmm dS, yyyy")
      },
      endDate: function () {
        return dateFormat(this.selectedDate.end, "dddd, mmmm dS, yyyy")
      }
    }
  })

  </script>
</body>

</html>
