<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Post Message Sentiment</title>

  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

  <!-- Greyson from:  https://themestr.app/ -->
  <link rel="stylesheet" href="theme-greyson.css">

  <!-- Smeckn styles -->
  <link rel="stylesheet" href="smeckn2.css">

  <!-- Required style sheet for calendar -->
  <link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'>

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="https://unpkg.com/v-calendar"></script>
  <script src="https://unpkg.com/dateformat@3.0.3/lib/dateformat.js"></script>

  <style>
  </style>

</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <b-container fluid style="margin: auto; width: 60%;">
      <b-card header="Post Message Sentiment" class="card bg-default text-black" style="font-weight: bold;">
        <b-row style="font-weight: normal">
          <b-col>

            <div class="smecknBorder">
              <b-form-group>
                <b-row>
                  <b-col cols="4">Total Posts:</b-col>
                  <b-col cols="2">210</b-col>
                  <b-col cols="6" style="text-align: right">
                    <b-dropdown variant="info" size="sm" text="  During  ">
                      <b-dropdown-item-button href="#" v-b-modal.pick-a-date-modal>Custom</b-dropdown-item-button>
                      <b-dropdown-item-button href="#">Year To Date</b-dropdown-item-button>
                      <b-dropdown-item-button href="#">Last Year</b-dropdown-item-button>
                      <b-dropdown-item-button href="#">Last 5 Years</b-dropdown-item-button>
                    </b-dropdown>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">Start Date:</b-col>
                  <b-col cols="8">{{ startDate }}</b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">End Date:</b-col>
                  <b-col cols="8">{{ endDate }}</b-col>
                </b-row>
              </b-form-group>
            </div>

            <br>
            <div class="smecknBorder">
              <br>
              <b-tabs content-class="mt-3">
                <b-tab title="Analyzed" active>
                  <b-table striped hover bordered :items="analyzedItems" :fields="analyzedFields">
                    <template slot="details" slot-scope="row">
                      <!-- we use @click.stop here to prevent emitting of a 'row-clicked' event  -->
                      <b-button size="sm" variant="info" @click.stop="row.toggleDetails"
                        class="mr-2">
                        {{ row.detailsShowing ? '-' : '+'}}
                      </b-button>
                    </template>
                    <template slot="row-details" slot-scope="row">
                      <drilldown :target="row"></drilldown>
                    </template>
                  </b-table>
                </b-tab>
                <b-tab title="Not Analyzed">
                  <b-table striped hover :items="notAnalyzedItems" :fields="notAnalyzedFields"
                    bordered>
                    <template slot="Analyze?" slot-scope="row">
                      <b-button variant="info" :disabled="row.item.alreadyAnalyzed">Analyze</b-button>
                    </template>
                  </b-table>
                </b-tab>
              </b-tabs>
            </div>

            <br>
            <div class="smecknBorder">
              <b-table hover small :items="items" :fields="fields" bordered>
                <span slot="Statistic" slot-scope="data" v-html="data.value" />
              </b-table>
            </div>

            <br>
            <div class="smecknBorder">
               <graph-bar :labels="labels" :datasets="datasets" type="bar" :options="options"></graph-bar>
            </div>
            <br>
            <div class="smecknBorder">
              <pie :labels="pieLabels" :values="pieSentiment" type="pie"> </pie>
            </div>
          </b-col>
        </b-row>
      </b-card>

      <!-- Modal Component -->
      <b-modal id="pick-a-date-modal" title="Pick a date range:">
        <v-date-picker mode='range' v-model='selectedDate' show-caps style="display:inline-block;"></v-date-picker>
      </b-modal>

    </b-container>
  </div>

<!-- This template definition is part of the drilldown component, specified here for ease in formatting -->
<script type="text/x-template" id="drilldown-template">
  <b-card>
    <b-row class="mb-2">
      <b-col sm="3" class="text-sm-right"><b>Number of Likes:</b></b-col>
      <b-col>15</b-col>
    </b-row>
    <b-row class="mb-2">
      <b-col sm="3" class="text-sm-right"><b>Number of Comments:</b></b-col>
      <b-col>21</b-col>
    </b-row>
    <b-row class="mb-2">
      <b-col sm="3" class="text-sm-right"><b>Number of Reactions:</b></b-col>
      <b-col>42</b-col>
    </b-row>
    <b-row class="mb-2">
      <b-col sm="3" class="text-sm-right"><b>Create Date:</b></b-col>
      <b-col>{{ target.item.Date }}</b-col>
    </b-row>
    <b-row class="mb-2">
      <b-col sm="3" class="text-sm-right"><b>Update Date:</b></b-col>
      <b-col>{{ target.item.Date }}</b-col>
    </b-row>
</b-card>
</script>

<script>

/* see drilldown template above! */
 Vue.component("drilldown", {
    props: ["target"],
    template: '#drilldown-template',
    data: function () {
      return {
        xyz: null
      }
    }
  });

/* graph globals */
Chart.defaults.global.defaultFontFamily = "Arial";
Chart.defaults.global.defaultFontSize = 14;

/* graph component */
Vue.component("graphBar", {
    props: ["labels", "datasets", "type", "options"],
    template: '<canvas width="400" height="150"></canvas>',
    data: function () {
      return {
        theChart: null
      }
    },
    mounted: function () {

      // extend options with function to register for click on bar events
      //this.options.onClick = this.onClick
      this.theChart = new Chart(this.$el, {
        type: this.type,
        data: {
          labels: this.labels,
          datasets: this.datasets
        },
        options: this.options,
      });
    }
  });

/* pie component */
Vue.component("pie", {
    props: ["labels", "values", "type"],
    template: '<canvas width="400" height="150"></canvas>',
    mounted: function () {
      new Chart(this.$el, {
        type: this.type,
        data: {
          labels: this.labels,
          datasets: [{
            label: "# of Posts",
            data: this.values,
            backgroundColor: [
                  "rgba( 17, 222, 188, 0.6)",
                  "rgba(246, 114, 128, 0.6)",
                  "rgba(111, 127, 140, 0.6)",
                  "rgba(162, 213, 242, 0.6)"
                ],
                borderColor: [
                  "rgba( 17, 222, 188, 1.0)",
                  "rgba(246, 114, 128, 1.0)",
                  "rgba(111, 127, 140, 1.0)",
                  "rgba(162, 213, 242, 1.0)"
                ],
            borderWidth: 1
          }]
        },
        options: {
          onClick: function (evt) {
            let activePoints = this.getElementAtEvent(evt);
            if (activePoints.length > 0) {
              console.log(activePoints)
              let theBarValue = this.config.data.datasets[activePoints[0]._datasetIndex].data[activePoints[0]._index];
              let theBarLabel = this.config.data.labels[activePoints[0]._index];
              console.log("got event. theBarLabel: " + theBarLabel + ", theBarValue: " + theBarValue);
            }

          }
        }
      });
    }
  });

/* Main application */
let chartOptions = {
    onClick: function (evt) {
      let activePoints = this.getElementAtEvent(evt);
      if (activePoints.length > 0) {
        console.log(activePoints)
        let theBarValue = this.config.data.datasets[activePoints[0]._datasetIndex].data[activePoints[0]._index];
        let theBarDataset = this.config.data.datasets[activePoints[0]._datasetIndex].label;
        let theBarXLabel = this.config.data.labels[activePoints[0]._index];
        console.log("got event. theBarXLabel: " + theBarXLabel + ", theBarValue: " + theBarValue + ", theBarDataset: " + theBarDataset);
      }
    }
  };

let positive = {
    label: 'Positive',
    data: [.217, .89, .98, .37, .231, .90, .87, .6],
    backgroundColor: 'rgba(17, 222, 188, 0.6)',
  };
let negative = {
    label: 'Negative',
    data: [.17, .19, .18, .17, .11, .20, .17, .3],
    backgroundColor: 'rgba(246, 114, 128, 0.6)',
  };
let neutral = {
    label: 'Neutral',
    data: [.37, .59, .58, .57, .51, .50, .57, .5],
    backgroundColor: 'rgba(111, 127, 140, 1.0)',
  };
let mixed = {
    label: 'Mixed',
    data: [.47, .49, .48, .47, .41, .40, .47, .4],
    backgroundColor: 'rgba(162, 213, 242, 0.6)',
  };


window.app =
new Vue({
    el: '#app',
    computed: {
      startDate: function () { return dateFormat(this.selectedDate.start, "dddd, mmmm dS, yyyy")},
      endDate: function () { return dateFormat(this.selectedDate.end, "dddd, mmmm dS, yyyy")}
    },
    data: {

      /* bar chart data */
      labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug"],
      datasets: [positive, negative, neutral, mixed],
      options: chartOptions,

      /* pie chart data */
      pieLabels: ["Positive", "Negative", "Neutral", "Mixed"],
      pieSentiment: [21, 3, 10, 5],

      selectedDate: {
        start: new Date(2019, 0, 1),
        end: new Date(2019, 7, 31)
      },
      fields: [ {key: 'Statistic', label: ''}, {key: 'Positive'}, {key: 'Negative'}, {key: 'Neutral'}, {key: 'Mixed'}],

      analyzedFields: ['Date', 'Message', 'Language', 'Positive', 'Negative',
                'Neutral', 'Mixed', 'details'],

      analyzedItems: [{
          Date: '02/21/19',
          Message: 'James Bensson is moving to NY State!',
          Language: 'English',
          Positive: 21,
          Negative: 0,
          Neutral: 2,
          Mixed: 1,
          _showDetails: false
        },
        {
          Date: '03/21/19',
          Message: 'James Bensson is moving to NY State!',
          Language: 'English',
          Positive: 21,
          Negative: 0,
          Neutral: 2,
          Mixed: 1,
          _showDetails: false
        },
        {
          Date: '04/21/19',
          Message: 'James Bensson is moving to NY State!',
          Language: 'English',
          Positive: 21,
          Negative: 0,
          Neutral: 2,
          Mixed: 1,
          _showDetails: false
        }],

      notAnalyzedFields: ['Date', 'Message', 'Language', 'Positive',
                'Negative', 'Neutral', 'Mixed', 'Analyze?'],

      notAnalyzedItems: [{
          Date: '02/21/19',
          Message: 'James Bensson is getting married!',
          Language: 'English',
          Positive: '',
          Negative: '',
          Neutral: '',
          Mixed: '',
          alreadyAnalyzed: false
        },
        {
          Date: '03/21/19',
          Message: 'James Bensson is getting married!',
          Language: 'English',
          Positive: '21',
          Negative: '0',
          Neutral: '2',
          Mixed: '1',
          alreadyAnalyzed: true
        },
        {
          Date: '04/21/19',
          Message: 'James Bensson is getting married!',
          Language: 'English',
          Positive: '',
          Negative: '',
          Neutral: '',
          Mixed: '',
          alreadyAnalyzed: false
        }
      ],

      items: [{
          Statistic: '<span class="smecknRowHeader">Average</span>',
                Positive: '.34',
                Negative: '.21',
                Neutral: '.11',
                Mixed: '.88'
                },
                {
                Statistic: '<span class="smecknRowHeader">Minimum</span>',
                Positive: '.34',
                Negative: '.21',
                Neutral: '.11',
                Mixed: '.88'
                },
                {
                Statistic: '<span class="smecknRowHeader">Maximum</span>',
                Positive: '.34',
                Negative: '.21',
                Neutral: '.11',
                Mixed: '.88'
                },
                {
                Statistic: '<span class="smecknRowHeader">Std. Dev.</span>',
                Positive: '.34',
                Negative: '.21',
                Neutral: '.11',
                Mixed: '.88'
                }
                ]
                } /* end of data, not sure why not formatted properly */

                }) /* end of Vue, not sure why not formatted properly */

                </script>
</body>

</html>
