<!DOCTYPE html>
<html lang="en">

<!-- https://binarcode.github.io/vue-form-wizard/#/ -->
<!-- https://themify.me/themify-icons -->
<!-- https://themestr.app/ -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Purchase Workflow</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />


  <link rel="stylesheet" href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">

  <!-- Greyson from:  https://themestr.app/ -->
  <link rel="stylesheet" href="theme-greyson.css">

  <!-- Smeckn styles -->
  <link rel="stylesheet" href="smeckn2.css">

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.js"></script>

  <!--  local number spinner widget -->
  <script src="../widgets/numberSpinner/v-minusplusfield.js" type="text/javascript"></script>
  <link href="../widgets/numberSpinner/v-minusplusfield.css" rel="stylesheet" />

  <style>
  </style>

</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <b-container fluid>

      <b-row>
        <b-col></b-col>
        <b-col cols="6">
          <form-wizard @on-complete="onComplete" color="#5C8F94" finish-button-text="Complete"
            step-size="md" title="Purchase Analysis Units" subtitle="Step-By-Step Analysis Unit Purchase">
            <tab-content title="Select Units" icon="ti-check-box">
              <b-container fluid style="margin: 10px;">

                <b-card header="Select the number of analysis units you wish to purchase:"
                  class="card bg-default text-black" style="font-weight: bold;">
                  <b-row style="font-weight: normal">
                    <b-col cols="3">Current Text Units:</b-col>
                    <b-col cols="2" class="text-center">{{currentTextUnits}}</b-col>
                    <b-col cols="1"></b-col>
                    <b-col cols="3" style="padding-top: 3px">Purchase Text Units (10
                      cents each):</b-col>
                    <b-col cols="3" class="text-center">
                      <v-minusplusfield :value="0" :min="100" :max="10000"></v-minusplusfield>
                    </b-col>
                  </b-row>
                  <br>
                  <b-row style="font-weight: normal">
                    <b-col cols="3">Current Photo Units:</b-col>
                    <b-col cols="2" class="text-center">{{currentTextUnits}}</b-col>
                    <b-col cols="1"></b-col>
                    <b-col cols="3" style="padding-top: 3px">Purchase Photo Units (10
                      cents each):</b-col>
                    <b-col cols="3" class="text-center">
                      <v-minusplusfield :value="0" :min="100" :max="10000"></v-minusplusfield>
                    </b-col>
                  </b-row>
                  <b-row style="font-weight: bold">
                    <b-col cols="6"></b-col>
                    <b-col cols="3" style="padding-top: 50px;">Total Cost:</b-col>
                    <b-col cols="3" class="text-center" style="padding-top: 50px">${{totalCost}}</b-col>
                  </b-row>
                </b-card>

              </b-container>
            </tab-content>

            <tab-content title="Confirm Cost" icon="ti-check-box">
              <b-container fluid style="margin: 10px;">

                <b-card header="Confirm the cost of units you wish to purchase:" class="card bg-default text-black"
                  style="font-weight: bold;">
                  <b-row style="font-weight: normal">
                    <b-col cols="3">Text Units:</b-col>
                    <b-col cols="2">{{purchaseTextUnits}}</b-col>
                    <b-col cols="6"></b-col>
                  </b-row>
                  <b-row style="font-weight: normal">
                    <b-col cols="3">Photo Units:</b-col>
                    <b-col cols="2">{{purchaseTextUnits}}</b-col>
                    <b-col cols="6"></b-col>
                  </b-row>
                  <b-row style="padding-top: 10px; font-weight: bold">
                    <b-col cols="3">Total Cost:</b-col>
                    <b-col cols="3">${{totalCost}}</b-col>
                  </b-row>
                </b-card>

              </b-container>
            </tab-content>

            <tab-content title="Select Payment Method" icon="ti-credit-card">
              <b-container fluid style="margin: 10px;">

                <b-card header="Select your payment method:" class="card bg-default text-black"
                  style="font-weight: bold;">
                  <b-row style="font-weight: normal">
                    <b-col>
                      <b-form-group label="Use this card:">
                        <!-- <b-form-radio-group v-model="selected" :options="options" stacked
                          name="radiosStacked">
                        </b-form-radio-group> -->

                        <b-form-radio-group v-model="selected" stacked name="radiosStacked">
                          <b-form-radio v-for="(item, index) in items" :value="index">
                            <img class='smecknPaymentIcon' :src='item.img'> {{ item.text }}
                          </b-form-radio>
                        </b-form-radio-group>
                      </b-form-group>
                      <b-button variant="primary" style="font-weight: bolder; padding: 5px 50px 5px 50px;"
                        v-b-modal.modal1>Add
                        New Card</b-button>
                    </b-col>
                  </b-row>
                </b-card>

                <!-- Modal Component -->
                <b-modal id="modal1" title="Add New Card">
                  <p>"Insert Add Card from Stripe Dialog"</p>
                </b-modal>

              </b-container>
            </tab-content>
            <!-- <tab-content title="Review Order" icon="ti-check-box" :before-change="beforeTabSwitch">-->
            <tab-content title="Review Order" icon="ti-check-box">
              <b-container fluid style="margin: 10px;">

                <b-card header="Review your order:" class="card bg-default text-black"
                  style="font-weight: bold;">
                  <div style="font-weight: normal">
                    <b-row>
                      <b-col cols="3">Text Units:</b-col>
                      <b-col cols="2">{{purchaseTextUnits}}</b-col>
                      <b-col cols="6"></b-col>
                    </b-row>
                    <b-row>
                      <b-col cols="3">Photo Units:</b-col>
                      <b-col cols="2">{{purchaseTextUnits}}</b-col>
                      <b-col cols="6"></b-col>
                    </b-row>
                    <b-row style="padding-top: 10px; font-weight: bold">
                      <b-col cols="3">Total Cost:</b-col>
                      <b-col cols="3">${{totalCost}}</b-col>
                    </b-row>
                    <b-row style="padding-top: 10px; font-weight: bold">
                      <b-col cols="3">Charged To:</b-col>
                      <b-col cols="6"> <span> <img class='smecknPaymentIcon' :src='items[2].img'> {{ items[2].text }}</span>
                    </b-row>
                  </div>
                </b-card>

              </b-container>
            </tab-content>
            <tab-content title="All Done!" icon="ti-check-box">

              <b-card header="Thank you for your order. Happy Analyzing!" class="card bg-default text-black"
                style="font-weight: bold;">
                <b-row style="font-weight: normal;">
                  <b-col cols="4">Current Text Unit Balance:</b-col>
                  <b-col cols="2" class="text-center">{{currentTextUnits}}</b-col>
                  <b-col cols="6"></b-col>
                </b-row>
              </b-card>

            </tab-content>
          </form-wizard>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
  </div>
  <!-- Start running your app -->
  <script>
  Vue.use(VueFormWizard)
  window.app = new Vue({
    el: '#app',
    methods: {
      onComplete: function () {
        alert('Yay. Done!');
      },
      beforeTabSwitch: function () {
        alert("Add something to Review Purchase Agreement.")
        return true;
      }
    },
    data: {
      currentTextUnits: 10,
      purchaseTextUnits: 21,
      totalCost: 42,
      selected: 1,
      items: [{
          text: "American Express Ending in 2121",
          img: "images/american-express.png"
        },
        {
          text: "Mastercard Ending in 1234 (default)",
          img: "images/mastercard.png"
        },
        {
          text: "Visa Ending in 4242",
          img: "images/visa.png"
        },
        {
          text: "JCB Ending in 2121",
          img: "images/jcb.png"
        },
        {
          text: "Union Pay Ending in 1234",
          img: "images/unionpay.png"
        },
        {
          text: "Diners Club Ending in 4242",
          img: "images/diners-club.png"
        }
      ]
    }
  })

  </script>
</body>

</html>
