
.body {
  font-family: 'Questrial', arial;
}

.smeckn-navbar {
  color: white !important;
  font-size: 22px;
  font-family: 'Shadows Into Light', cursive;
}

.smeckn-nav-bold {
  font-weight: bold;

}

.smecknBorder {
    border-style: solid;
    border-radius: 5px;
    border-color: #eceeec;
    border-width: 1px;
    padding: 10px 10px 0px 10px;
    background-color: #f8f8ff;
  }

  .smecknRowHeader {
    font-weight: bold;
    color: #5c8f94;
  }

  .smecknFormPadding {
    margin-bottom: 10px;
  }

  .smecknButtonWide {
    display: block;
    width: 100%;
  }

  .smecknPaymentIcon {
    height: 30px;
    width: 30px;
  }

  .smecknIndent {
    margin-left: 24px;
    font-weight: normal;
  }

  .smecknNumberAlign {
    text-align: right;
  }


  .smecknPaymentIcon {
    height: 24px;
    width: 24px;
  }

 /* IMPORTANT COLOR INFO, DO NOT DELETE */
  /*grayson
--primary: #2f3c48; rgba(47, 60, 72, 1) dark gray
--secondary: #6f7f8c; rgba(111, 127, 140, 1) light gray
--success: #3e4d59;  rgba(62, 77, 89, 1) medium gray
--* info: #5c8f94; rgba(92, 143, 148, 1) light teal
--light: #eceeec; rgba(236, 238, 236, 1) off white
--dark: #1e2b37; rgba(30, 43, 55, 1) gray blue
--warning: #6e9fa5; rgba(110, 159, 165, 1) teal;
--danger:  #cc330d rgba(204, 51, 13, 1) redish orange;
*/

  /* fresca
--* primary: #07689f rgba(7, 104, 159, 1) cornflower blue
--* secondary:#c9d6df rgba(201, 214, 223, 1) bluish gray
--success: #11debc rgba(17, 222, 188, 1) bright teal
--* info: #a2d5f2 rgba(162, 213, 242, 1) nice light blue
--light: #fafafa rgba(250, 250, 250, 1) white
--dark: #4e4e4e rgba(78, 78, 78, 1) dark gray
--warning: #ff7e67 rgba(255, 126, 103, 1) orange
--* danger: #f67280 rgba(246, 114, 128, 1) pinkish coral
*/

  /* fresca (graph colors)
--* fresca secondary:#c9d6df rgba(201, 214, 223, 1) bluish gray NEUTRAL
--* fresca success: #11debc rgba(17, 222, 188, 1) bright teal  POSITIVE
--* grayson secondary: #6f7f8c; rgba(111, 127, 140, 1) light gray MIXED
--* fresca danger: #f67280 rgba(246, 114, 128, 1) pinkish coral NEGATIVE
*/
