<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Sync Profile</title>


  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

  <!-- Greyson from:  https://themestr.app/ -->
  <link rel="stylesheet" href="theme-greyson.css">

  <!-- Smeckn styles -->
  <link rel="stylesheet" href="smeckn2.css">

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <br>
    <b-container fluid style="margin: auto; width: 70%;">
      <b-card header="Sync Profile" class="card bg-default text-black" style="font-weight: bold;">
        <b-row style="font-weight: normal">
          <b-col cols="5">Syncing Profile:</b-col>
          <b-col cols="2" style="text-align: right">{{counter}}</b-col>
          <b-col cols="5" style="text-align: left">Posts Synced</b-col>
        </b-row>
        <b-row style="font-weight: normal">
          <b-col>
            <div class="text-center">
              <!-- TB are test buttons only -->
              <b-btn class="mt-4" variant="info" @click="clicked">TB: Simulate
                Progress</b-btn>
              <b-btn class="mt-4" variant="info" @click="resetState">TB: Reset</b-btn>
              <b-btn class="mt-4" variant="info" @click="refreshCredentials">Refresh
                Credentials</b-btn>
            </div>
          </b-col>
        </b-row>
        <template v-if="checkValue">
          <br>
          <p>{{result}}</p>
        </template>
      </b-card>
    </b-container>

  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      counter: 0,
      max: 100,
      result: 'Syncing Completed with Success!'
    },
    methods: {
      clicked() {
        if (this.counter < 100) this.counter += 25
      },
      resetState() {
        this.counter = 0
        this.result = 'Syncing Completed with Success'
      },
      refreshCredentials() {
        console.log("TODO:  link to refreshCredentials")
      }
    },
    computed: {
      checkValue: function () {

        /* randomly fail */
        if (Math.floor(Math.random() * 10) === 7) {
          this.result = 'Syncing failed due to an API failure, see JB'
        }
        if (this.counter < 100) {
          return false
        } else {
          return true
        }
      }
    }
  })

  </script>
</body>

</html>
