<!DOCTYPE html>
<html lang="en">

<!-- https://binarcode.github.io/vue-form-wizard/#/ -->
<!-- https://themify.me/themify-icons -->
<!-- https://themestr.app/ -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Unit Balance</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

  <!-- Greyson from:  https://themestr.app/ -->
  <link rel="stylesheet" href="theme-greyson.css">

  <!-- Smeckn styles -->
  <link rel="stylesheet" href="smeckn2.css">

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

  <style>
  </style>

</head>

<body style="min-width:300px;">
  <!-- Our application root element -->
  <div id="app">

    <b-container-fluid style="margin: auto; width: 40%; text-align: center">
      <div class="d-flex p-4 justify-content-center">


        <b-card header="Current Analysis Unit Balances" class="card bg-default text-black text-center shadow"
          style="font-weight: bold;">
          <b-row>
            <b-col cols="6">Text Units:</b-col>
          </b-row>
          <div class="smecknIndent">
            <b-row>
              <b-col cols="6">Total</b-col>
              <b-col cols="4" class="smecknNumberAlign">{{currentUnits}}</b-col>
            </b-row>
            <b-row>
              <b-col cols="6">Held</b-col>
              <b-col cols="4" class="smecknNumberAlign">{{heldUnits}}</b-col>
            </b-row>
            <b-row>
              <b-col cols="6">Available</b-col>
              <b-col cols="4" class="smecknNumberAlign">{{availableUnits}}</b-col>
            </b-row>
          </div>
          <br>
          <b-row>
            <b-col cols="6">Picture Units:</b-col>
          </b-row>
          <div class="smecknIndent">
            <b-row>
              <b-col cols="6">Total</b-col>
              <b-col cols="4" class="smecknNumberAlign">{{currentUnits}}</b-col>
            </b-row>
            <b-row>
              <b-col cols="6">Held</b-col>
              <b-col cols="4" class="smecknNumberAlign">{{heldUnits}}</b-col>
            </b-row>
            <b-row>
              <b-col cols="6">Available</b-col>
              <b-col cols="4" class="smecknNumberAlign">{{availableUnits}}</b-col>
            </b-row>
          </div>
        </b-card>
      </div>
      </b-container>
  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: '#app',
    methods: {},
    data: {
      currentUnits: 3200,
      heldUnits: 200,
      availableUnits: 3000
    }
  })

  </script>
</body>

</html>
