<template>
  <div>
    <div class="mj-splash">
      <h1 class="mj-logo lite">MO <span>Journey</span></h1>
      <h2 class="mj-tagline">Use MoJourney today to change your life in a positive way!</h2>
      <router-link to="/not-logged-in/signup"><a class="button-pad btn btn-success btn-lg mj-button-pad">Sign Up Now!</a>
      </router-link>
      <router-link to="/login"><a class="button-pad btn btn-primary btn-lg mj-button-pad">Login</a>
      </router-link>
    </div>
    <div class="mj-testimonials">
      <div class="row text-center">
        <div class="col-md-4">
          <h1>Group Exercise</h1>
          <a href="#" class="mj-thumbnail"> <img src="../../../static/Mojourney/img/groupExercise.jpg"> </a>
        </div>
        <div class="col-md-4">
          <h1>Custom Mashups</h1>
          <a href="#" class="mj-thumbnail"> <img src="../../../static/Mojourney/img/mashup.jpg"> </a>
        </div>
        <div class="col-md-4">
          <h1>Inspirational Thought</h1>
          <a href="#" class="mj-thumbnail"> <img src="../../../static/Mojourney/img/neverGiveUp.png"> </a>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <h1>Testimonial 1</h1>
          <a href="#" class="mj-thumbnail"> <img src="../../../static/Mojourney/img/wordForIt.jpg"> </a>
        </div>
        <div class="col-md-4">
          <h1>Testimonial 2</h1>
          <a href="#" class="mj-thumbnail"> <img src="../../../static/Mojourney/img/thumbsUpWomen.jpg"> </a>
        </div>
        <div class="col-md-4">
          <h1>Testimonial 3</h1>
          <a href="#" class="mj-thumbnail"> <img src="../../../static/Mojourney/img/awesome.jpg"> </a>
        </div>
      </div>
    </div>
    <div class="mj-footer">
      <div class="container">
        <ul>
          <li>About</li>
          <li>Terms</li>
          <li>Send Feedback</li>
        </ul>
        <p>&copy; 2017 Beblsoft</p>
      </div>
    </div>
  </div>
</template>
<script>

</script>
<style>
.mj-splash {
  background: url("../../../static/Mojourney/img/camel.jpg") no-repeat center;
  background-size: 100%;
  height: 700px;
  text-align: center;
  /* margin-bottom: 20px; */
}

.mj-testimonials {
  background: #c3ccd5;
}

.mj-logo {
  margin-top: 0px;
  padding-top: 200px;
  font-size: 64px;
  font-weight: bold;
  color: #fed189;
  text-transform: uppercase;
}

.mj-tagline {
  font-size: 40px;
  font-weight: 300;
  color: #fff;
}

.mj-button-pad {
  margin-top: 150px;
  margin-left: 40px;
}

.mj-thumbnail {
  padding: 1px;
}

.mj-thumbnail img {
  width: 100%;
  display: block;
  height: 235px;
}

.mj-footer {
  background: #697b9f;
}

.mj-footer ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mj-footer ul li {
  color: #000;
  display: inline;
  margin: 0 40px 0 0;
}

.mj-footer p {
  color: #000;
  float: right;
}

</style>
