<template>
  <div class="mj-login">
    <div class="container">
      <form class="login-form">
        <p class="login-img"><i class="fa fa-lock"></i></p>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="email" class="form-control" placeholder="Enter Email">
        </div>
        <div class="form-group" formGroupName="passwords">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Enter Password">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Confirm Password">
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
        <button class="btn btn-info btn-lg btn-block">Cancel</button>
      </form>
    </div>
  </div>
</template>
</script>
<style>
.mj-logo {
  margin-top: 0px;
  padding-top: 200px;
  font-size: 64px;
  font-weight: bold;
  color: #fed189;
  text-transform: uppercase;
}

.login-form {
  max-width: 350px;
  margin: 200px auto 0;
  background: #d5d7de;
}

.login-form .login-img {
  font-size: 50px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}


.login-form .input-group {
  padding-bottom: 15px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  border: none;
  box-shadow: none;
  font-size: 16px;
  border-radius: 0;
}

.login-form .input-group-addon {
  padding: 6px 12px;
  font-size: 16px;
  color: #8b9199;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
}

</style>
