html,
body {
    background-color: #161718;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    max-width: 1000px;
}

/* Header */

.jumbotron {
    background: url("https://s3.amazonaws.com/codecademy-content/projects/bass/bg.jpg") no-repeat center center;
    background-size: cover;
    background-color: transparent;
    height: 560px;
}

.header li {
    display: inline-block;
    margin-left: 13px;
    margin-top: 40px;
}

.header a {
    padding: 15px;
    font-weight: bold;
}

.header .btn-default {
    border: 0px;
    border-radius: 0;
    padding: 8px 30px;
    background-color: #ff003d;
}


/* Supporting  */

.supporting-1,
.supporting-2,
.supporting-3,
.supporting-4 {
    padding: 70px 30px;
}

.supporting-2 {
    background-color: #000;
}

.supporting-4 {
    background: url(https://s3.amazonaws.com/codecademy-content/projects/bass/feature.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 400px;
}

.supporting-4 h2 {
    margin-top: 80px;
}


/* Footer */

.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0 35px 0;
}

.footer h3 {
    text-transform: uppercase;
    font-size: 15px;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer a {
    color: #aaa;
    font-size: 13px;
    display: inline-block;
    padding: 5px 0;
}


.footer2 {
    background-color: #000;
    height: 100px;
    padding: 40px 0px 100px;
    margin-top: 80px;
    font-size: 14px;
 }

.footer2 p {
    float: left;
    width: 33%;
    
}

.footer2 a {
    color: #d8192f;
}

.a-center {
    text-align: center;
    font-size: 14px;
}

.a-right {
    text-align: right;
}

