<template>
  <div style="text-align: center">
    <!--   <img style="display: block; margin-left: auto; margin-right: auto; width: 40%;" src="/assets/img/adult-communication-connecting-1080846Cropped.png" alt="">
      <br> -->
      <h1> Get it Done! </h1>
  </div>
</template>
<script>
    
</script>
<style scoped>

</style>
