/* Component404.vue - Component accessed when going to invalid route */
<template>
  <div class="b-container text-center">
    <div class="b-row">
        <br>
        <h1>You are lost!</h1>
        <h4>This page doesn't exist.</h4>
        <router-link to="/">Take me home.</router-link>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Component404'
}

</script>
