/* Footer.vue - Component Managing Footer of Application */
<template>
  <div>
    <p class="copyright beblsoft-footer-copyright"><strong>Copyright &copy; 2018 Beblsoft LLC, </strong> All rights reserved.</p>
    <div class="beblsoft-footer-list">
      <router-link :to="{ name: 'PrivacyPolicy' }">
        <a>Privacy</a>
      </router-link>
      <router-link :to="{ name: 'About' }">
        <a>About</a>
      </router-link>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Footer'
}

</script>
<style scoped type="text/css">
.beblsoft-footer-copyright {
  float: left;
  margin-left: 30px;
  color: black;
}

.beblsoft-footer-list a {
  float: right;
  margin-right: 30px;
  word-spacing: 20px;
  color: black;
  font-size: medium;
}

</style>
