/* Header.vue - Navigation Panel at top of application */
<template>
  <b-navbar toggleable="md" type="dark" variant="info">
    <b-navbar-brand href="#">SMeckn</b-navbar-brand>
    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto sm-custom">
      <b-nav-item>
        <router-link to="/dashboard" v-if="user">Home</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="/addUser" v-if="signedInAndAdmin()">Add User (Admin Only)</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="sign-in" v-if="!user">Sign-in</router-link>
      </b-nav-item>
      <b-nav-item>
        <router-link to="sign-up" v-if="!user">Sign-up</router-link>
      </b-nav-item>
      <b-nav-item>
        <a class="button" v-on:click="signOut" v-if="user">Sign-out</a>
      </b-nav-item>
    </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
import server from '../../services/ServerInterface'

export default {
  name: 'Header',
  computed: {
    user() {
      return this.$store.getters.getUser
    }
  },
  methods: {
    signOut: function() {
      server.signOut()
        .then((resp) => {
          this.$router.replace('sign-in')
        })
    },
    signedInAndAdmin: function() {
      var userNotNull = this.$store.getters.getUser
      if (userNotNull && server.isAdmin()) return true
      else return false
    }

  }
}

</script>
<style scoped>
a {
  color: white;
}

</style>
