<body class="mj-login">
    <div class="container">
        <form class="login-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()" method="get" novalidate>
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
                </div>
                <div class="form-group" formGroupName="passwords">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                        <input type="password" class="form-control" formControlName="first" placeholder="Enter Password">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                        <input type="password" class="form-control" formControlName="second" placeholder="Confirm Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
                <button class="btn btn-info btn-lg btn-block" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</body>

<!-- Debugging -->
<!-- <p>Form value: {{signUpForm.value | json }} </p>
<p>Form status: {{signUpForm.status | json }} </p> -->
