<!--
  NAME
    SyncBar.vue

  DESCRIPTION
    Display sync operation
 -->
<template>
  <div data-cy="syncBar">
    <SmecknDropDownTransition>

      <!-- In Progress
      < sm: Flex Column

      >= sm: Flex Row
      -->
      <b-alert v-if="showProgress" show variant="info" class="d-flex flex-column flex-sm-row justify-content-between my-0"
        data-cy="syncBarProgress">
        <div class="w-100 d-flex justify-content-start alignt-items-center">
          <b-spinner class="d-inline-block text-info smg-img-4 mr-2"></b-spinner>
          Syncing Profile Data
        </div>
        <div class="w-100 d-flex justify-content-end align-items-center">
          <p v-for="waContentProgressString in contentProgressStringList" v-bind:key="waContentProgressString"
            class="my-0 mx-1">{{ waContentProgressString }}</p>
        </div>
      </b-alert>

      <!-- Successful -->
      <b-alert v-if="showSuccess" variant="success" show class="my-0 text-left" data-cy="syncBarSuccess">
        Profile sync succeeded!
      </b-alert>

      <!-- Failure Occurred -->
      <b-alert v-if="showFailure" variant="danger" show class="clearfix my-0" data-cy="syncBarFailure">
        <b-button-close v-on:click="onCloseFailedSync" class="float-right" data-cy="syncErrorCloseButton"></b-button-close>
        <p class="float-left text-left my-0" data-cy="syncErrorMessagePara">{{this.errorMessage}}</p>
      </b-alert>

    </SmecknDropDownTransition>
  </div>
</template>
<script>
import Vuex from 'vuex';

export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Active Profile Object
    waProfile: {
      type: Object,
      required: true
    },
    // Time (Milliseconds) to wait in between progress checks
    progressCheckIntervalMS: {
      type: Number,
      default: 2000
    },
    // Time (Milliseconds) to display a successful sync before closing sync bar
    displaySuccessMS: {
      type: Number,
      default: 3000
    }
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Active Sync Object
      waSync: null,

      // Active Sync Progress Object
      waSyncProgress: null,

      // Something went wrong
      errorMessage: '',

      // Timeout to refresh
      refreshTimeout: null,

      // Timeout to display progress
      displayProgressTimeout: null
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('message', ['messages']),
    ...Vuex.mapGetters('sync', ['isSyncRestartable', 'getSyncErrorMessage']),
    ...Vuex.mapGetters('contentType', ['contentTypeToString']),
    showProgress() {
      return this.waSyncProgress && this.waSyncProgress.status === 'IN_PROGRESS';
    },
    showSuccess() {
      return this.waSyncProgress && this.waSyncProgress.status === 'SUCCESS';
    },
    showFailure() {
      return this.waSync && this.errorMessage !== '';
    },

    /**
     * Return list of content strings that describe the synced content.
     * Ex. [ '1 Profile', '335 Posts']
     * Note: 0's will not be displayed
     *
     * @return {Array<string>}
     */
    contentProgressStringList() {
      let list = [];
      if (this.waSyncProgress) {
        let waContentProgressList = this.waSyncProgress.contentProgressList;
        for (let i = 0; i < waContentProgressList.length; i++) {
          let waContentProgress = waContentProgressList[i];
          let waContentCount = waContentProgress.count;
          let waContentType = waContentProgress.contentType;
          let waContentTypeString = '';
          if (waContentCount > 0) {
            waContentTypeString = this.contentTypeToString(waContentType, waContentCount !== 1);
            list.push(`${waContentCount} ${waContentTypeString}`);
          }
        }
      }
      return list;
    }
  },

  /* ---------------------- LICECYCLE -------------------------------------- */
  created() {
    this.$g.syncBus.bus.$on('refresh', this.refresh);
  },
  mounted() {
    this.refresh();
  },
  destroyed() {
    this.$g.syncBus.bus.$off('refresh', this.refresh);
    if (this.refreshTimeout) {
      clearTimeout(this.refreshTimeout);
      this.refreshTimeout = null;
    }
    if (this.displayProgressTimeout) {
      clearTimeout(this.displayProgressTimeout);
      this.displayProgressTimeout = null;
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Refresh the sync state
     * Function does the following:
     *  - Gets the latest sync
     *  - If no sync or it is restartable: create a new sync and display progress
     *  - If the sync is already in progress: display progress
     *  - If the sync is a success: don't show anything
     *  - If the sync failed and error has not been seen: show the user
     */
    async refresh() {
      this.waSync = null;
      this.waSyncProgress = null;
      this.errorMessage = '';

      if (this.waProfile) {
        this.waSync = await this.$g.store.dispatch('sync/getLatest', { waProfile: this.waProfile });

        if (!this.waSync || this.isSyncRestartable(this.waSync)) {
          /* CREATE SYNC, DISPLAY PROGRESS */
          this.waSync = await this.$g.store.dispatch('sync/create', { waProfile: this.waProfile });
          await this.displayProgress();
        } else if (this.waSync.status === 'IN_PROGRESS') {
          /* DISPLAY PROGRESS */
          await this.displayProgress();
        } else if (this.waSync.status === 'SUCCESS') {
          /* ALREADY SUCCEEDED */
        } else if (!this.waSync.errorSeen) {
          /* FAILED */
          this.errorMessage = this.getSyncErrorMessage(this.$g, this.waSync);
        }
      }
    },

    /**
     * Display the sync progress
     * Function does the following:
     *   - Gets the progress of the latest sync
     *   - If IN_PRGRESS: recursively calls itself to update progress
     *   - If SUCCESS: refresh the sync after a few seconds of showing success
     *   - If failure: refresh the sync immediately to show the error message
     */
    async displayProgress() {
      this.waSyncProgress = await this.$g.store.dispatch('sync/getProgress', { waSync: this.waSync });

      /* Sentry: SMECKN-WEBCLIENT-2W: getProgress can return null. If so, refresh the sync */
      if (this.waSyncProgress === null) {
        this.refreshTimeout = setTimeout(this.refresh, this.progressCheckIntervalMS);
      } else {
        switch (this.waSyncProgress.status) {
        case 'IN_PROGRESS':
          this.displayProgressTimeout = setTimeout(this.displayProgress, this.progressCheckIntervalMS);
          break;
        case 'SUCCESS':
          this.$g.syncBus.complete();
          this.refreshTimeout = setTimeout(this.refresh, this.displaySuccessMS);
          break;
        default:
          this.refreshTimeout = setTimeout(this.refresh, 0);
          break;
        }
      }
    },

    /**
     * Handle user closing out the failed sync message
     * Do the following:
     *   - Update server sync state setting errorSeen: true
     *   - Refresh sync
     */
    async onCloseFailedSync() {
      this.errorMessage = '';
      await this.$g.store.dispatch('sync/update', { waSync: this.waSync, errorSeen: true });
      await this.refresh();
    }
  }
};

</script>
