<template>
  <aside class="main-sidebar">
    <ul class="sidebar-menu">
      <li class="active pageLink" v-on:click="toggleMenu">
        <router-link to="/"><i class="fa fa-home"></i>
          <span class="page">Home</span>
        </router-link>
      </li>
      <li class="pageLink" v-on:click="toggleMenu">
        <router-link to="/daily"><i class="fa fa-bolt"></i>
          <span class="page">Daily</span>
        </router-link>
      </li>
      <li class="pageLink" v-on:click="toggleMenu">
        <router-link to="/browse">
          <i class="fa fa-binoculars"></i>
          <span class="page">Browse</span>
          <small class="label pull-right bg-green">AJAX</small>
        </router-link>
      </li>
      <li class="pageLink" v-on:click="toggleMenu">
        <router-link to="/instructor">
          <i class="fa fa-graduation-cap"></i>
          <span class="page">Instructors</span>
        </router-link>
      </li>
      <li class="pageLink" v-on:click="toggleMenu">
        <router-link to="/exercises"><i class="fa fa-cogs"></i>
          <span class="page">Exercises</span>
        </router-link>
      </li>
      <li class="pageLink" v-on:click="toggleMenu">
        <router-link to="/workouts"><i class="fa fa-heart"></i>
          <span class="page">Workouts</span>
        </router-link>
      </li>
      <li class="pageLink" v-on:click="toggleMenu">
        <router-link to="/plans"><i class="fa fa-tasks"></i>
          <span class="page">Plans</span>
        </router-link>
      </li>
      <li class="pageLink" v-on:click="toggleMenu">
        <router-link to="/not-logged-in/login">
          <i class="fa fa-circle-o text-yellow"></i>
          <span class="page"> Login</span>
        </router-link>
      </li>
      <li class="pageLink" v-on:click="toggleMenu">
        <router-link to="/404"><i class="fa fa-circle-o text-red"></i>
          <span class="page"> 404</span>
        </router-link>
      </li>
    </ul>
  </aside>
</template>
<script>
export default {
  name: 'SidebarName',
  methods: {
    toggleMenu(event) {
      // remove active from li
      var active = document.querySelector('li.pageLink.active')

      if (active) {
        active.classList.remove('active')
      }
      // window.$('li.pageLink.active').removeClass('active')
      // Add it to the item that was clicked
      event.toElement.parentElement.className = 'pageLink active'
    }
  }
}

</script>
<style>
/* override default */
.sidebar-menu>li>a {
  padding: 12px 15px 12px 15px;
}

.sidebar-menu li.active>a>.fa-angle-left,
.sidebar-menu li.active>a>.pull-right-container>.fa-angle-left {
  animation-name: rotate;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}

</style>
