html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url(https://s3.amazonaws.com/codecademy-content/projects/armando-perez/brand.jpg) no-repeat fixed;
    background-size: 100%;
}

.header,
.footer {
    padding: 30px 0;
    color: #444;
}

.header h1 {
    color: #fff;
    margin: 0 0 30px;
    font-size: 30px;
    text-transform: uppercase;
}

.header ul,
.footer ul {
    padding: 0 20px;
    margin: 0;
    list-style: none;
}

.header li {
    display: inline;
    width: 100px;
    text-align: center;
    margin: 6px;
}

.header li a {
    color: #f01251;
}

.header li.active a {
    background-color: #f01251;
}


/* Main */

.main {
    margin-bottom: 30px;
}

.thumbnail {
    padding: 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    border: 0px;
}

.thumbnail img {
    width: 100%;
    display: block;
}


/* Footer */

.footer li {
    display: inline;
    margin-right: 40px;
}

.footer p {
    margin: 0 30px 0 0;
}
