<!DOCTYPE html>
<html lang="en">
<!-- https://bootstrap-vue.js.org/docs/reference/starter-templates -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Auto Dismissing Alert Box</title>
    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
    <!-- Our application root element -->
    <div id="app">
        <b-navbar toggleable="md" type="dark" variant="info" style="border-bottom: 2px solid indianred;">
            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
            <b-navbar-brand href="#">Beblsoft</b-navbar-brand>
            <b-collapse is-nav id="nav_collapse">
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown right>
                        <!-- Using button-content slot -->
                        <template slot="button-content">
                            <em>User</em>
                        </template>
                        <b-dropdown-item href="#">Profile</b-dropdown-item>
                        <b-dropdown-item href="#">Signout</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <b-alert style="height: 20px; display: flex; font-weight: bold; align-items: center;  position: absolute; 
    left: 100px; top: 30px; width: 100%" :show="dismissCountDown" :variant="alertSeverity" @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">
            {{alertText}} &emsp;
            <p1 style="font-weight: normal; display: inline-block;"> [{{dismissCountDown}} seconds]</p1>
        </b-alert>
        <br />
        <b-btn style="font-weight: bold; display: block; width: 25%" @click="showAlert" variant="info" class="m-1">
            Show alert coming in from bus
        </b-btn>
    </div>
    <!-- Start running your app -->
    <script>
    window.app = new Vue({
        el: "#app",
        data: {
            dismissCountDown: 0,

            /* Set defaults */
            alertDismissSecs: 5,
            alertText: "Houston, we have a problem!",
            alertSeverity: "danger"
        },
        methods: {
            countDownChanged(dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
            showAlert() {
                // Passed in from bus
                this.alertDismissSecs = 6
                this.alertText = "Unable to reach server; have patience, Jamester is working on it!"
                
                // primary, secondary, success, danger, warning, info 
                this.alertSeverity = "warning"

                // activate alert
                this.dismissCountDown = this.alertDismissSecs
            }
        }
    })
    </script>
</body>

</html>
