<!DOCTYPE html>
<html lang="en">
<!-- https://bootstrap-vue.js.org/docs/reference/starter-templates -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>My first Bootstrap-Vue app</title>
    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
    <!-- Our application root element -->
    <div id="app">
        <b-container>
            <b-jumbotron header="Bootstrap Vue" lead="Bootstrap 4 Components for Vue.js 2">
                <p>For more information visit our website</p>
                <b-btn variant="primary" href="https://bootstrap-vue.js.org/">More Info</b-btn>
            </b-jumbotron>
            <b-form-group horizontal :label-cols="4" description="Let us know your name." label="Enter your name">
                <b-form-input v-model.trim="name"></b-form-input>
            </b-form-group>
            <b-alert variant="success" :show="showAlert">
                Hello {{ name }}
            </b-alert>
            <p>Vertical Tabs</p>
            <b-card no-body>
                <b-tabs pills card vertical>
                    <b-tab title="Tab 1" active>
                        Tab Contents 1
                    </b-tab>
                    <b-tab title="Tab 2">
                        Tab Contents 2
                    </b-tab>
                    <b-tab title="Tab 3">
                        Tab Contents 3
                    </b-tab>
                </b-tabs>
            </b-card>
            <p>Vertical Tabs with Pills</p>
            <b-card no-body>
                <b-tabs pills card vertical nav-wrapper-class="w-50">
                    <b-tab title="Tab 1">
                        Tab Contents 1
                    </b-tab>
                    <b-tab title="Tab 2">
                        Tab Contents 2
                    </b-tab>
                    <b-tab title="Tab 3" active>
                        Tab Contents 3
                    </b-tab>
                </b-tabs>
            </b-card>
            <p>Horizontal Tabs with cards</p>
            <b-card no-body>
                <b-tabs card>
                    <b-tab title="Tab 1">
                        Tab Contents 1
                    </b-tab>
                    <b-tab title="Tab 2" active>
                        Tab Contents 2
                    </b-tab>
                    <b-tab title="Tab 3">
                        Tab Contents 3
                    </b-tab>
                </b-tabs>
            </b-card>
            <p>Navbar</p>
            <b-navbar toggleable="md" type="dark" variant="info">
                <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
                <b-navbar-brand href="#">NavBar</b-navbar-brand>
                <b-collapse is-nav id="nav_collapse">
                    <b-navbar-nav>
                        <b-nav-item href="#">Link</b-nav-item>
                        <b-nav-item href="#" disabled>Disabled</b-nav-item>
                    </b-navbar-nav>
                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-nav-form>
                            <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search" />
                            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                        </b-nav-form>
                        <b-nav-item-dropdown text="Lang" right>
                            <b-dropdown-item href="#">EN</b-dropdown-item>
                            <b-dropdown-item href="#">ES</b-dropdown-item>
                            <b-dropdown-item href="#">RU</b-dropdown-item>
                            <b-dropdown-item href="#">FA</b-dropdown-item>
                        </b-nav-item-dropdown>
                        <b-nav-item-dropdown right>
                            <!-- Using button-content slot -->
                            <template slot="button-content">
                                <em>User</em>
                            </template>
                            <b-dropdown-item href="#">Profile</b-dropdown-item>
                            <b-dropdown-item href="#">Signout</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
            <p>Grid System </p>
            <b-container class="bv-example-row">
                <b-row>
                    <b-col>1 of 3</b-col>
                    <b-col>2 of 3</b-col>
                    <b-col>3 of 3</b-col>
                </b-row>
            </b-container>
            <!-- navbar-1.vue -->
        </b-container>
    </div>
    <!-- Start running your app -->
    <script>
    window.app = new Vue({
        el: "#app",
        data: {
            name: ''
        },
        computed: {
            showAlert() {
                return this.name.length > 4 ? true : false;
            }
        }
    })
    </script>
</body>

</html>