<!DOCTYPE html>
<html lang="en">
<!-- https://bootstrap-vue.js.org/docs/reference/starter-templates -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Render Alert BoxComponent</title>
    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
    <!-- Our application root element -->
    <div id="app">
        <Alert-box v-if="showAlertComponent" countdown="5" alert-text="Unfortunately Jamester's server went down." type-of-warning="danger"></Alert-box>
        <b-btn id="showAlert" @click="showAlert" variant="info" class="m-1">
            Show Alert
        </b-btn>
        <b-btn id="resetAlert" @click="resetAlert" variant="info" class="m-1">
            Reset Alert
        </b-btn>
    </div>
    <!-- Start running your app -->
    <script>
    const AlertBox = {
        props: ['countdown', 'alertText', 'typeOfWarning'],
        template: '<div><b-alert style="height: 24px; display: flex; align-items: center; font-weight: bold;" :show="dismissCountDown" :variant=alertType @dismissed="dismissCountDown=0" @dismiss-count-down="countDownChanged">{{alertText}} &emsp; [{{dismissCountDown}} seconds]</b-alert></div>',
        methods: {
            countDownChanged(dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
            showAlert() {
                this.dismissCountDown = this.dismissSecs
            }
        },
        data() {
            return {
                alertType: this.typeOfWarning,
                dismissCountDown: this.countdown
            }
        }
    }
    window.app = new Vue({
        el: "#app",
        components: {
            'AlertBox': AlertBox
        },
        data: {
            showAlertComponent: false
        },
        methods: {
            showAlert() {
                this.showAlertComponent = true
                document.getElementById("resetAlert").disabled = false;
                document.getElementById("showAlert").disabled = true;
            },
            resetAlert() {
                this.showAlertComponent = false
                document.getElementById("resetAlert").disabled = true;
                document.getElementById("showAlert").disabled = false;
            }


        }
    })
    </script>
</body>

</html>