<!--
  NAME
    vue.vue

  DESCRIPTION
    <Description>
-->
<template>

  <h1>Vue Template</h1>
</template>
<script>
export default {

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: {},

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [],

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Prop 1
    prop1: {
      type: Object,
      required: false,
      default () {
        return { foo: 'bar' };
      }
    },
  },

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // Field 1
      field1: '',

      // Field 2
      field2: '',
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {},

  /* ---------------------- WATCH ------------------------------------------ */
  watch: {},

  /* ---------------------- FILTERS ---------------------------------------- */
  filters: {},

  /* ---------------------- LIFECYCLE -------------------------------------- */
  beforeCreate() {
    console.log('beforeCreate');
  },
  created() {
    console.log('created');
  },
  beforeMount() {
    console.log('beforeMount');
  },
  mounted() {
    console.log('mounted');
  },
  beforeUpdate() {
    console.log('beforeUpdate');
  },
  updated() {
    console.log('updated');
  },
  beforeDestroy() {
    console.log('beforeDestroy');
  },
  destroyed() {
    console.log('destroyed');
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    fooMethod() {
      console.log('Foo Method');
    },
  }

};

</script>
