<aside>
    <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" routerLink="home" href="index.html">
                    <i class="icon_house_alt"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a class="" routerLink="daily" href="widgets.html">
                    <i class="icon_genius"></i>
                    <span>Daily</span>
                </a>
            </li>
            <li>
                <a class="" routerLink="browse" href="chart-chartjs.html">
                    <i class="icon_piechart"></i>
                    <span>Browse</span>
                </a>
            </li>
            <li>
                <a class="" routerLink="instructors" href="widgets.html">
                    <i class="icon_lightbulb"></i>
                    <span>Instructors</span>
                </a>
            </li>
            <li>
                <a class="" routerLink="exercises" ref="chart-chartjs.html">
                    <i class="icon_gift"></i>
                    <span>Exercises</span>
                </a>
            </li>
            <li>
                <a class="" routerLink="workouts" href="widgets.html">
                    <i class="icon_cloud"></i>
                    <span>Workouts</span>
                </a>
            </li>
            <li>
                <a class="" routerLink="plans" href="chart-chartjs.html">
                    <i class="icon_piechart"></i>
                    <span>Plans</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
