html,
body {
    background-color: #cccdce;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    height: 140 px;
    text-align: center;
    padding: 50px 0 50px 0;
}

.header h1 {
    color: #31363d;
    font-size: 32px;
    /*font-weight: bold;*/
    margin: 30px 0 25px 0;
}

.nav ul {
    margin: 20px 0 20px 0;
    text-align: center;
}

.nav li {
    display: inline;
    padding: 0 10px;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.nav li:hover {
    color: #31363d;
    cursor: pointer;
    -webkit-transition: color git1s;
    transition: color 1s;
}

.row {
    margin-top: 30px;
}

.footer {
    margin-top: 30px;
}

.footer p {
    text-align: right;
}

@media(max - width: 500 px) {
    .row {
        margin-top: 0;
    }
    .img-responsive {
        margin-bottom: 20px;
    }
}
