<!--
  NAME
    SmecknContentSectionTest.vue

  DESCRIPTION
    Test Smeckn Content Section
 -->
<template>
  <b-container fluid>
    <b-button class="btn-info my-2" data-cy="toggleTitleButton" v-on:click="onToggleTitle()">
      Toggle Title
    </b-button>
    <SmecknContentSection v-bind:title="title">Content Section Content!</SmecknContentSection>
  </b-container>
</template>
<script>
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      title: 'A Very Nice Title',
    };
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {
    onToggleTitle() {
      if (this.title) {
        this.title = null;
      } else {
        this.title = 'A Very Very Nice Title';
      }
    }
  }
};

</script>
