<!--
  NAME
    SmecknContentSection.vue

  DESCRIPTION
    Section of Smeckn Content

  USAGE
    See SmecknContentSectionTest.vue
-->
<template>
  <b-container fluid class="rounded shadow-sm bg-light p-2 my-3" data-cy="smecknContentSection">
    <template v-if="title">
      <h5 class="text-left text-dark smg-text-logo my-0" data-cy="smecknContentSectionHeader">
        {{ title }}
      </h5>
      <hr class="my-2">
    </template>
    <slot></slot>
  </b-container>
</template>
<script>
export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Content Section Title
    title: {
      type: String,
      required: false,
      default: null
    },
  },
};

</script>
