html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: url(https://s3.amazonaws.com/codecademy-content/projects/2/milford-school/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

.header h1 {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 0 0 0 5px
}

.dropdown {
    position: relative;
    display: inline;
    cursor: pointer;
}

.dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
    border: none;
    min-width: 200px;
    top: 32px;
    background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-menu li a {
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
}

.main .container {
    position: relative;
    top: 200px;
    width: 400px;
}

.form-control,
.btn-default {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0;
}

.form-control {
    font-size: 18px;
}

.email-error,
.password-error {
    color: #dd4b39;
    font-size: 16px;
    font-weight: 600;
    text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 2px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    line-height: 10px;
    padding: 10px;
}
