<!--
  NAME
    SmecknScrollMixinTest.vue

  DESCRIPTION
    Smeckn Scroll Mixin Test
-->
<template>
  <div data-cy="scrollMixinTest">
    <div v-for="index in itemCount" v-bind:key="index">
      <p data-cy="randomIndex">{{ index }}</p>
    </div>
    <p v-if="nearBottom" data-cy="nearBottomParagraph">Near the bottom!</p>
    <p data-cy="atBottomParagraph">I'm at the bottom!</p>
    <b-button v-on:click="onScrollToTop" class="my-2" data-cy="goToTopButton">Go to top!</b-button>
  </div>
</template>

<script>
import SmecknScrollMixin from './SmecknScrollMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [SmecknScrollMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      itemCount: 100,
      nearBottom: false
    };
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Invoked when scrollbar is near the end of the screen
     */
    onScrollNearEnd() {
      this.nearBottom = true;
    },

    onScrollToTop() {
      this.scrollToTop();
    }
  }
};

</script>
