<div *ngIf="msgObj" class="container-fluid">
    <div class="row">
        <div class="mj-div" [ngClass]="{ 'alert': msgObj, 'alert-success': msgObj.type === 'success', 'alert-danger': msgObj.type === 'error' }" role="alert">
            <p class="text-center">{{msgObj.text}}</p>
        </div>
    </div>
</div>
