/* VVCDoughnutTabs.vue - Doughnut Tabs  Demo. */
<template>
  <div>
    <h2>Demo Graphs and Grid Layout Use</h2>
    <b-tabs>
      <b-tab title="Overview" active>
        <b-container class="bv-example-row">
          <b-row>
            <b-col>
              <p><strong>Big Fattening Donut</strong></p>
              <pie-chart :data="getPieData()" :donut="true" width="800px" height="200px"></pie-chart>
            </b-col>
          </b-row>
        </b-container>
      </b-tab>
      <b-tab title="Facebook">
        <b-container class="bv-example-row">
          <b-row>
            <b-col>1 of 3</b-col>
            <b-col>
              <p><strong>Big Fattening Donut Two (2 of 3)</strong></p>
              <pie-chart :data="getPieData()" :donut="true"></pie-chart>
            </b-col>
            <b-col>3 of 3</b-col>
          </b-row>
        </b-container>
      </b-tab>
      <b-tab title="Twitter">
        <vertTabsDrilldown :account="overviewAccount"></vertTabsDrilldown>
      </b-tab>
    </b-tabs>
  </div>
</template>
<script>
import VertTabsDrilldown from './VertTabsDrilldown.vue'

export default {
  name: 'VVCDoughnutTabs',
  components: {
    vertTabsDrilldown: VertTabsDrilldown
  },
  data() {
    return {
      overviewAccount: 'FakeOverviewAccount',
      pieData: [
        ['Blueberry', 44],
        ['Strawberry', 23],
        ['Banana', 21]
      ]
    }
  },
  methods: {
    getPieData: function() {
      return this.pieData
    }
  }

}

</script>
<style scoped>
a {
  color: darkgray;
}

</style>
