/* VVCDoubleLine.vue - Double Line Graph Demo. */
<template>
  <div class="container">
    <p class="text-center"><strong>Line Chart of Social Media Activity</strong></p>
    <line-chart :data="getLineData()"></line-chart>
  </div>
</template>
<script>
export default {
  data() {
    return {
      lineData: [
        { name: 'Facebook', data: { '2017-01-01': 3, '2017-01-10': 4, '2017-01-15': 13 } },
        { name: 'LinkedIn', data: { '2017-01-01': 5, '2017-01-10': 3, '2017-01-15': 7 } }
      ]

    }
  },
  methods: {
    getLineData: function() {
      return this.lineData
    }
  }
}

</script>
