/* VVCPies.vue - Demo of Page of Pies */
<template>
  <div class="container">
    <p class="text-center"><strong>Social Media Activity</strong></p>
    <div class="row">
      <div class="col-sm-4">
        <pie-chart :data="getPieData()" width="200px" height="200px"></pie-chart>
      </div>
      <div class="col-sm-4">
        <pie-chart :data="getPieData()" width="200px" height="200px"></pie-chart>
      </div>
      <div class="col-sm-4">
        <pie-chart :data="getPieData()" width="200px" height="200px"></pie-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <pie-chart :data="getPieData()" width="200px" height="200px"></pie-chart>
      </div>
      <div class="col-sm-4">
        <pie-chart :data="getPieData()" width="200px" height="200px"></pie-chart>
      </div>
      <div class="col-sm-4">
        <pie-chart :data="getPieData()" width="200px" height="200px"></pie-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <pie-chart :data="getPieData()" width="200px" height="200px"></pie-chart>
      </div>
      <div class="col-sm-4">
        <pie-chart :data="getPieData()" width="200px" height="200px"></pie-chart>
      </div>
      <div class="col-sm-4">
        <pie-chart :data="getPieData()" width="200px" height="200px"></pie-chart>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      pieData: [
        ['Facebook', 44],
        ['Twitter', 23],
        ['LinkedIn', 21]
      ]
    }
  },
  methods: {
    getPieData: function() {
      return this.pieData
    }
  }
}

</script>
