<body class="mj-login">
    <div class="container">
        <form class="login-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()" method="get" novalidate>
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="form-group" formGroupName="passwords">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                        <input type="password" class="form-control" formControlName="first" placeholder="Enter New Password">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                        <input type="password" class="form-control" formControlName="second" placeholder="Confirm New Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block">Reset Password</button>
                <button class="btn btn-info btn-lg btn-block" (click)="onCancel()">Cancel</button>
            </div>
        </form>>
    </div>
</body>

<!-- Debugging -->
<!--
<p>Form value: {{signUpForm.value | json }} </p>
<p>Form status: {{signUpForm.status | json }} </p>
<p>Email valid: {{signUpForm.get('email').valid | json }} </p>
<p>pass1 valid: {{signUpForm.get('passwords').get('first').valid | json }} </p>
<p>pass2 valid: {{signUpForm.get('passwords').get('second').valid | json }} </p>
<p>passs valid: {{signUpForm.get('passwords').valid | json }} </p>
 -->