<template>
  <section class="content">
    <div class="row center-block">
      <h1 class="text-center">Daily Video</h1>
      <ul class="timeline">
        <!-- timeline time label -->
        <li class="time-label">
          <span class="bg-green">{{today}}</span>
        </li>
        <!-- timeline item -->
        <li v-for="line in timeline">
          <!-- timeline icon -->
          <i v-bind:class="'fa ' + line.icon + ' bg-' + line.color"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{line.time}}</span>
            <h3 class="timeline-header">{{line.title}}</h3>
            <div class="timeline-body" v-if="line.body" v-html="line.body">
            </div>
            <div class="timeline-footer" v-if="line.buttons">
              <a v-for="btn in line.buttons" v-bind:class="'btn btn-' + btn.type + ' btn-xs'">{{btn.message}}</a>
            </div>
          </div>
        </li>
        <!-- END timeline item -->
      </ul>
    </div>
  </section>
</template>
<script>
import moment from 'moment'

const timeline = [{
  icon: 'fa-camera',
  color: 'purple',
  title: 'Watch Mojourney Daily Video',
  time: moment('20170620', 'YYYYMMDD').fromNow(),
  body: '<div class="embed-responsive embed-responsive-16by9"><iframe width="360" height="205" src="https://www.youtube.com/embed/qGodKEIoxU0" frameborder="0" allowfullscreen></iframe></div>'
}]

export default {
  name: 'Tasks',
  computed: {
    today() {
      return moment().format('MMM Do YY')
    },
    timeline() {
      return timeline
    }
  }
}

</script>
<style>
.timeline-footer a.btn {
  margin-right: 10px;
}

</style>
