<template>
  <div>
    <h1 class="text-center">Our Instructors</h1>
    <section class="content">
      <div class="row" v-if="instructors">
        <div class="col-md-4" v-for="instructor in instructors">
          <div v-bind:class="'box box-' + instructor.status">
            <div class="box-header with-border">
              <i v-bind:class="'fa fa-' + instructor.icon + ' fa-2x'"></i>
              <h3 class="box-title">{{instructor.name}}</h3>
            </div>
            <div class="box-body">
              <span>{{instructor.description}}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
const instructors = [{
  name: 'Jamester Bensson',
  status: 'success',
  icon: 'globe',
  description: 'Awesome Dude'
}, {
  name: 'DBlack',
  status: 'danger',
  icon: 'database',
  description: 'Wow'
}, {
  name: 'Scott Hermann',
  status: 'info',
  icon: 'file-code-o',
  description: 'Local NH Trainer'
}, {
  name: 'Joe Fitness',
  status: 'success',
  icon: 'key',
  description: 'Fitness is my mantra'
}, {
  name: 'Josey Greenwald',
  status: 'success',
  icon: 'home',
  description: '5% Bodyfat'
}, {
  name: 'Joe Sixpack',
  status: 'warning',
  icon: 'backward',
  description: 'Abs of Steel'
}]

export default {
  name: 'Instructors',
  data() {
    return {
      instructors
    }
  }
}

</script>
