<!DOCTYPE html>
<html>

<head>
  <title>Security</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <h1> {{ msg }} </h1>
    <button v-on:click="onLogin">Login</button>
    <button v-on:click="onLogout">Logout</button>
    <button v-on:click="onGetAuthStatus">Get Auth Status</button>
    <button v-on:click="onGetAccount">Get Account</button>
    <p style="white-space: pre-wrap">{{ output }}</p>
  </div>
  <script>
  let api = axios.create({ withCredentials: true })
  let app = new Vue({
    el: '#app',
    data() {
      return {
        msg: 'Security Cookie Demo',
        domain: "https://localhost:5001",
        loginData: {
          email: "foo@bar.com",
          password: "1234"
        },
        output: "",
      }
    },
    methods: {
      logResponse: function (resp) {
        this.output = JSON.stringify(resp, null, 2)
        console.log(JSON.stringify(resp, null, 2))
      },
      onLogin: function () {
        api.post(this.domain + "/auth/login", this.loginData)
          .then(resp => {
            this.logResponse(`Logged In with email: ${resp.data.email}!`)
          })
          .catch(err => {
            this.logResponse(err.response)
          })
      },
      onLogout: function () {
        api.post(this.domain + "/auth/logout")
          .then(resp => {
            this.logResponse('Logged out!')
          })
          .catch(err => {
            this.logResponse(err.response)
          })
      },
      onGetAuthStatus: function () {
        api.post(this.domain + "/auth/status")
          .then(resp => {
            this.logResponse(resp.data)
          })
          .catch(err => {
            this.logResponse(err.response)
          })
      },
      onGetAccount: function () {
        api.get(this.domain + "/account")
          .then(resp => {
            this.logResponse(resp.data)
          })
          .catch(err => {
            this.logResponse(err.response)
          })
      },
    }
  })

  </script>
</body>

</html>
