<!--
  NAME
    SmecknLogoCardTest.vue

  DESCRIPTION
    Test Smeckn Logo Card
 -->
<template>
  <SmecknLogoCard v-bind:title="title">Logo Card Content!</SmecknLogoCard>
</template>
<script>
export default {

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      title: 'A Very Nice Title',
    };
  },
};

</script>
