<!--
  NAME
    SmecknLogoCard.vue

  DESCRIPTION
    Used to display content with a Smeckn Logo on top

  NOTE
    It is the responsibility of the caller to set the height, width, and margin
    of the card.

  USAGE
    See SmecknLogoCartTest.vue
-->
<template>
  <b-card class="bg-white border border-info shadow-lg mx-auto p-0" ref="smecknLogoCard"
    data-cy="smecknLogoCard">
    <b-card-header class="text-center bg-transparent border-0 py-0 my-0">
      <div class="d-flex justify-content-center align-items-baseline">
        <img v-bind:src="logoImage" class="d-inline-block smg-img-4 mr-1" alt="">
        <h2 class="d-inline-block text-info smg-text-logo" data-cy="smecknCardTitle">
          {{ title }}
        </h2>
      </div>
    </b-card-header>
    <b-card-body class="pt-0 px-0">
      <slot></slot>
    </b-card-body>
  </b-card>
</template>
<script>
import logoImage from '../../img/logo/info-logo.png';

export default {

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    // Card Title
    title: {
      type: String,
      required: true
    }
  },

  /* ---------------------- DATA ------------------------------------------- */
  data: function () {
    return {
      // Images
      logoImage
    };
  }
};

</script>
