<!DOCTYPE html>
<html>

<head>
    <title>03lists</title>
</head>

<body>
    <div id="root">
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
        <input id="input" type="text">
        <button id="button">Add Name</button>
    </div>
    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <script>
    var app = new Vue({
        el: '#root',
        data: {
            names: ['joe', 'darryl', 'james']
        },

        mounted() {
            document.querySelector('#button').addEventListener('click', () => {
                let name = document.querySelector('#input');
                app.names.push(name.value);
                name.value = '';
            })
        }
    })
    </script>
</body>