<!DOCTYPE html>
<html>

<head>
    <title>04listsImproved</title>
</head>

<body>
    <div id="root">
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
        <input id="input" type="text" v-model="newName">
        <button @click="addName">Add Name</button>
    </div>
    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <script>
    var app = new Vue({
        el: '#root',
        data: {
            newName: '',
            names: ['joe', 'darryl', 'james']
        },

        methods: {
            addName() {
                this.names.push(this.newName);
                this.newName = '';

            }
        }
    })
    </script>
    </body