<!DOCTYPE html>
<html>

<head>
    <title>06ComputedProperties</title>
</head>

<body>
    <div id="example">
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ reversedMessage }}"</p>
        <h2>All Tasks</h2>
        <ul>
            <li v-for="task in tasks">
                {{ task.description }}
                <button @click="markAsDone(task)">Done</button>
            </li>
        </ul>
        <h2>Completed Tasks</h2>
        <ul>
            <li v-for="task in completeTasks" v-text="task.description"></li>
        </ul>
        <h2>Incomplete Tasks</h2>
        <ul>
            <li v-for="task in inCompleteTasks" v-text="task.description"></li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#example',
        data: {
            message: 'Hello',

            tasks: [

                { description: 'Go to the store', completed: true },
                { description: 'Go to bed', completed: false },
                { description: 'Go to church', completed: false },
                { description: 'Go to gym', completed: false },
                { description: 'Go to school', completed: false },
                { description: 'Eat lunch', completed: true }
            ]
        },

        methods: {
            markAsDone(task) {
                task.completed = true;
            }
        },

        computed: {
            // a computed getter
            reversedMessage() {
                // `this` points to the vm instance
                return this.message.split('').reverse().join('');
            },

            completeTasks() {
                return this.tasks.filter(task => task.completed);
            },

            inCompleteTasks() {
                return this.tasks.filter(task => !task.completed);
            }
        }
    })
    </script>
</body>

</html>