<!DOCTYPE html>
<html>

<head>
    <title>ComponentsExample2Modal</title>
    <!-- component library like twitter's bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.css">
    <style type="text/css">
    body {
        padding-top: 40px;
    }
    </style>
</head>

<body>
    <div id="root" class="container">
        <!-- <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <p>
                        Some text Whatever!!!!!!
                    </p>
                </div>
            </div>
            <button class="modal-close is-large"></button>
        </div>
        -->
        <!-- notice custom event, close, to tell component to close itself-->
        <modal v-if="showModal" @close="showModal = false">
            <p>We insert any text here!</p>
        </modal>
        <button @click="showModal = true">Show Modal</button>
    </div>
</body>
<script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
<script src="10ComponentsExample2Modal.js"></script>
</body>