<!DOCTYPE html>
<html>

<head>
    <title>12ComponentComm1</title>
    <!-- component library like twitter's bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.css">
    <style type="text/css">
    body {
        padding-top: 40px;
    }
    </style>
</head>

<body>
    <div id="root" class="container">
        <!-- v-on is equal to @, onCouponApplied called at Vue parent (root Vue instance) when blurred -->
        <coupon @applied="onCouponAppliedParent"></coupon>

        
        <h1 v-if="couponApplied">You used a coupon</h1>
    
    </div>
</body>
<script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
<script src="12ComponentComm1.js"></script>
</body>