<!DOCTYPE html>
<html>

<head>
    <title>15SingleUseComponent</title>
    <!-- component library like twitter's bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.css">
    <style type="text/css">
    body {
        padding-top: 40px;
    }
    </style>
</head>

<body>
    <div id="root" class="container">
        <progress-view inline-template>
            <div>
                <h1>Your Progress Through This Course Is {{ completionRate }}%</h1>
                <p>
                    <button @click="completionRate +=10">Upate Completion Rate</button>
                </p>
            </div>
        </progress-view>
</body>
<script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
<script src="15SingleUseComponent.js"></script>
</body>