<!DOCTYPE html>
<html>

<head>
    <title>xyz</title>
</head>

<body>
    <div id="root">
        <input type="text" id="input" v-model="message">
        <p> The value of input is: {{ message }} </p>
    
    </div>  
    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <script>
    var app = new Vue({
        el: '#root',
        data: {
            message: 'Hello Darryl!'
        },

        methods: {
        },

        computed: {

        }
    })
    </script>
</body