<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Talkback Hello World</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link href="https://fonts.googleapis.com/css?family=Questrial|Shadows+Into+Light" rel="stylesheet">
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <div class="center">
      <div style="margin: auto">
        <b-button v-on:click="get" variant="info">GET</b-button>
        <b-button v-on:click="post" variant="info">POST</b-button>
        <b-button v-on:click="put" variant="info">PUT</b-button>
        <b-button v-on:click="_delete" variant="info">DELETE</b-button>
        <p>Message From Server: {{ msgFromServer }}</p>
      </div>
    </div>
  </div>
</body>

<!-- Start running your app -->
<script>
window.app = new Vue({
  el: "#app",
  data: {
    msgFromServer: null,
    api: 'http://localhost:5544'
  },
  methods: {
    get() {
      axios.get(`${this.api}/get`)
        .then((response) => {
          this.msgFromServer = JSON.stringify(response.data);
        })
        .catch((error) => {
          this.msgFromServer = JSON.stringify(error);
        });
    },
    put() {
      axios.put(`${this.api}/put`)
        .then((response) => {
          this.msgFromServer = JSON.stringify(response.data);
        })
        .catch((error) => {
          this.msgFromServer = JSON.stringify(error);
        });
    },
    post() {
      axios.post(`${this.api}/post`)
        .then((response) => {
          this.msgFromServer = JSON.stringify(response.data);
        })
        .catch((error) => {
          this.msgFromServer = JSON.stringify(error);
        });
    },
    _delete() {
      axios.delete(`${this.api}/delete`)
        .then((response) => {
          this.msgFromServer = JSON.stringify(response.data);
        })
        .catch((error) => {
          this.msgFromServer = JSON.stringify(error);
        });
    }
  }
})

</script>

<style>
.center {
  display: flex;
  height: 400px;
}

</style>

</html>
