<!--
  NAME
    ProfileAdd.vue

  DESCRIPTION
    Add a new profile
 -->
<template>
  <SmecknLogoCard title="Add Profile" class="text-left" data-cy="profileAddCard">

    <!-- Loading -->
    <SmecknSpinner v-if="loading"></SmecknSpinner>

    <!-- No more profiles to add -->
    <SmecknContentSection v-else-if="noProfilesToAdd">
      <p data-cy="noProfilesToAddPara">All profile types have been already added</p>
    </SmecknContentSection>

    <!-- List Profile Types to Add -->
    <SmecknContentSection v-else data-cy="profileTypeListSection">
      <b-row class="d-flex justify-content-center">

        <!-- Profile Loop -->
        <b-col sm="6" class="my-2" v-for="(profile, index) in profileNotAddedList" :key="profile.waProfileType">
          <b-card class="text-center smg-hover" v-bind="profile.attributeObj ? profile.attributeObj : {}"
            v-on:click="addProfile(index)">
            <b-card-img class="smg-img-7" v-bind:src="profile.iconSrc"> </b-card-img>
            <div slot="footer">
              <span v-bind:style="getCardTextStyle(index)">{{profile.title}}</span>
            </div>
          </b-card>
        </b-col>
      </b-row>
      <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
    </SmecknContentSection>

  </SmecknLogoCard>
</template>
<script>
import Vuex from 'vuex';
import _ from 'lodash';
import ProfileListMixin from './ProfileListMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [ProfileListMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // If true, we are loading data
      loading: false,

      // Error message to display to user
      errorMessage: '',
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('profileGroup', ['waProfileGroup']),

    /**
     * @return {Array[Promise]} List of onAddProfileMounted functions to execute
     */
    onAddProfileMountedFuncList() {
      return this.profileList.map((profile) => {
        return new Promise(async (resolve, reject) => {
          await profile.onAddProfileMounted();
          resolve();
        });
      });
    },

    /**
     * @return {Boolean} True if all profiles have been added
     */
    noProfilesToAdd() {
      return this.profileNotAddedList.length === 0;
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  async mounted() {
    try {
      this.loading = true;
      await this.$g.store.dispatch('profile/list', { waProfileGroup: this.waProfileGroup });
      await Promise.all(this.onAddProfileMountedFuncList);
    } finally {
      this.loading = false;
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Invoke the profile add for a given profile type
     */
    async addProfile(index) {
      let profile = this.profileNotAddedList[index];
      try {
        this.errorMessage = '';
        this.loading = true;
        await profile.onAdd({ waProfileGroup: this.waProfileGroup });
      } catch (err) {
        this.errorMessage = err.message;
      } finally {
        this.loading = false;
      }
    },

    /**
     * @return {Object} Style object of text
     */
    getCardTextStyle(index) {
      let profile = this.profileNotAddedList[index];
      return { color: profile.textColor };
    }
  }
};

</script>
