<!--
  NAME
    ProfileSelect.vue

  DESCRIPTION
    Select a profile
 -->
<template>
  <SmecknLogoCard title="Select a Profile" class="text-left" data-cy="profileSelectCard">

    <!-- Loading -->
    <SmecknSpinner v-if="loading"></SmecknSpinner>

    <!-- No profiles added -->
    <SmecknContentSection v-else-if="noProfilesAdded">
      <p data-cy="noProfilesAvailablePara">No profiles have been added</p>
    </SmecknContentSection>

    <!-- List Profile Types to Add -->
    <SmecknContentSection v-else data-cy="profileTypeListSection">
      <b-row class="d-flex justify-content-center">

        <!-- Profile Loop -->
        <b-col sm="6" class="my-2" v-for="(profile, index) in profileAddedList" :key="profile.waProfileType">
          <b-card class="text-center smg-hover" v-bind="profile.attributeObj ? profile.attributeObj : {}"
            v-on:click="selectProfile(index)">
            <b-card-img class="smg-img-7" v-bind:src="profile.iconSrc"> </b-card-img>
            <div slot="footer">
              <span v-bind:style="getCardTextStyle(index)">{{profile.title}}</span>
            </div>
          </b-card>
        </b-col>
      </b-row>
      <p class="text-danger my-2" data-cy="errorMessagePara">{{ errorMessage }}</p>
    </SmecknContentSection>

  </SmecknLogoCard>
</template>
<script>
import Vuex from 'vuex';
import _ from 'lodash';
import ProfileListMixin from './ProfileListMixin.js';

export default {

  /* ---------------------- MIXINS ----------------------------------------- */
  mixins: [ProfileListMixin],

  /* ---------------------- DATA ------------------------------------------- */
  data() {
    return {
      // If true, we are loading data
      loading: false,

      // Error message to display to user
      errorMessage: '',
    };
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapState('profileGroup', ['waProfileGroup']),
    ...Vuex.mapState('profile', ['waProfileList']),

    /**
     * @return {Boolean} True if no profiles exist
     */
    noProfilesAdded() {
      return this.waProfileList.length === 0;
    }
  },

  /* ---------------------- LIFECYCLE -------------------------------------- */
  async mounted() {
    try {
      this.loading = true;
      await this.$g.store.dispatch('profile/list', { waProfileGroup: this.waProfileGroup });
    } finally {
      this.loading = false;
    }
  },

  /* ---------------------- METHODS ---------------------------------------- */
  methods: {

    /**
     * Invoke the profile add for a given profile type
     */
    async selectProfile(index) {
      this.errorMessage = '';
      let profile = this.profileAddedList[index];
      try {
        await profile.onSelect();
      } catch (err) {
        this.errorMessage = err.message;
      }
    },

    /**
     * @return {Object} Style object of text
     */
    getCardTextStyle(index) {
      let profile = this.profileAddedList[index];
      return { color: profile.textColor };
    }
  }
};

</script>
