<!--
  NAME
    ProfileWrapper.vue

  DESCRIPTION
    Profile Content Wrapper
    Setup and teardown for Sync and Analysis Bars
    Ensures that active profile type exists while visiting relevant routes
 -->
<template>
  <div data-cy="profileWrapper">
    <!-- SyncBar -->
    <SyncBar v-if="showSyncBar" v-bind:wa-profile="waProfile" v-bind:key="syncBarKey"></SyncBar>

    <!-- AnalysisBarList -->
    <AnalysisBarList v-if="showAnalysisBarList" v-bind:wa-profile="waProfile" v-bind:key="analysisBarListKey"></AnalysisBarList>

    <!-- Profile Information -->
    <router-view></router-view>
  </div>
</template>
<script>
import Vuex from 'vuex';
import SyncBar from '../sync/SyncBar.vue';
import AnalysisBarList from '../analysis/AnalysisBarList.vue';

export default {

  /* ---------------------- COMPONENTS ------------------------------------- */
  components: { SyncBar, AnalysisBarList },

  /* ---------------------- PROPS ------------------------------------------ */
  props: {
    waProfileType: {
      // Type of profile that is being wrapped. Ex. 'FACEBOOK'
      type: String,
      required: true
    }
  },

  /* ---------------------- COMPUTED --------------------------------------- */
  computed: {
    ...Vuex.mapGetters('profile', ['getWAProfileByType']),
    waProfile() {
      return this.getWAProfileByType(this.waProfileType);
    },

    /**
     * Forces Vue to rerender the SyncBar anytime the waProfile changes
     */
    syncBarKey() {
      let smID = -1;
      try { smID = this.waProfile.smID; } catch (err) { /* PASS */ }
      return `SyncBar-${smID}`;
    },
    showSyncBar() {
      return Boolean(this.waProfile);
    },

    /**
     * Forces Vue to rerender the AnalysisBarList anytime the waProfile changes
     */
    analysisBarListKey() {
      let smID = -1;
      try { smID = this.waProfile.smID; } catch (err) { /* PASS */ }
      return `AnalysisBarList-${smID}`;
    },
    showAnalysisBarList() {
      return Boolean(this.waProfile);
    },
  },

  /* ---------------------- WATCH ------------------------------------------- */
  watch: {

    /**
     * Ensure that relevant profile always exists while visiting its routes
     */
    waProfile(val) {
      if (val === undefined) { this.$g.router.push({ name: 'rnProfileAdd' }); }
    }
  },

};

</script>
