<template>
    <section class="section">
        <h1 class="title has-text-centered">Check Email</h1>
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-header is-centered">
                        <h2 class="card-header-title is-centered">Check Your Email!</h2>
                    </div>
                    <div class="card-content">
                        <form v-on:submit.prevent>
                            <button type="submit" class="button is-primary" v-on:click="checkEmail">Simulate Check Email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import server from "../services/ServerInterface"
export default {
    methods: {
        checkEmail: function() {
            console.log("checkEmail called")
            this.$router.replace('confirmAccount');
        }
    }
}
</script>