<template>
    <section class="section">
        <h1 class="title has-text-centered">Confirm Account</h1>
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-header is-centered">
                        <h2 class="card-header-title is-centered">Confirm Your Accuont!</h2>
                    </div>
                    <div class="card-content">
                        <form v-on:submit.prevent>
                            <button type="submit" class="button is-primary" v-on:click="confirmAccount">Confirm Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import server from "../services/ServerInterface"
export default {
    methods: {
        confirmAccount: function() {
            console.log("confirmAccount called")
            this.$router.replace('dashboard');
        }
    }
}
</script>