<template>
    <section class="section">
        <h1 class="title has-text-centered">Reset Password</h1>
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-header is-centered">
                        <h2 class="card-header-title is-centered">Reset Your Password</h2>
                    </div>
                    <div class="card-content">
                        <form v-on:submit.prevent>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                    <input class="input" type="email" placeholder="joe@bloggs.com" v-model="email">
                                </div>
                            </div>
                            <button type="submit" class="button is-primary" v-on:click="resetPassword">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import server from "../services/ServerInterface"
export default {
    data: function() {
        return {
            email: ""
        };
    },
    methods: {
        resetPassword: function() {
            this.$router.replace('resetPassword')
        }
    }
}
</script>