<template>
    <section class="section">
        <h1 class="title has-text-centered">Home</h1>
        <article class="notification is-primary">
            <p>This is the home page for the app, it is <strong>not secured</strong>.</p>
        </article>
    </section>
</template>