<template>
    <section class="section">
        <h1 class="title has-text-centered">Reset Password</h1>
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-header is-centered">
                        <h2 class="card-header-title is-centered">Set Your New Password</h2>
                    </div>
                    <div class="card-content">
                        <form v-on:submit.prevent>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control">
                                    <input class="input" type="password" v-model="password">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Confirm Password</label>
                                <div class="control">
                                    <input class="input" type="password" v-model="passwordVerify">
                                </div>
                            </div>
                            <button type="submit" class="button is-primary" v-on:click="resetPassword">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import server from "../services/ServerInterface"
export default {
    data: function() {
        return {
            password: "",
            passwordVerify: ""
        };
    },
    methods: {
        resetPassword: function() {
        }
    }
}
</script>