<template>
    <section class="section">
        <h1 class="title has-text-centered">Sign-in</h1>
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-header is-centered">
                        <h2 class="card-header-title is-centered">Sign in to Your Account</h2>
                    </div>
                    <div class="card-content">
                        <form v-on:submit.prevent>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                    <input class="input" type="email" placeholder="joe@bloggs.com" v-model="email">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control">
                                    <input class="input" type="password" v-model="password">
                                </div>
                            </div>
                            <button type="submit" class="button is-primary" v-on:click="signIn">Sign-in</button>
                            <button type="submit" class="button is-primary" v-on:click="forgotPassword">Forgot Password</button>
                            <button type="submit" class="button is-primary" v-on:click="somethingWentWrong">Simulate Something Went Wrong</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import server from "../services/ServerInterface"
export default {
    data: function() {
        return {
            user: null,
            email: "",
            password: ""
        };
    },
    methods: {
        signIn: function() {

            server.signInWithEmailAndPassword(this.email, this.password)
                .then((resp) => {
                    this.user = server.getCurrentUser()
                    console.log(this.user + " has logged in")
                    this.$router.replace('dashboard');
                })
                .catch((err) => {
                    alert(error.message);
                })
        },
        forgotPassword: function() {
            this.$router.replace('forgotPassword');
        },
        somethingWentWrong: function() {
            this.$router.replace('somethingWentWrong');
        }
    }
}
</script>