<template>
    <section class="section">
        <h1 class="title has-text-centered">Something Went Wrong</h1>
        <article class="notification is-primary">
            <p>This is the something went wrong page, it is <strong>not secured</strong>.</p>
        </article>
    </section>
</template>