<template>
  <div id='app'>
    <img alt='Vue logo' src='./assets/logo.png'>
    <h1>Welcome to Your Vue.js App</h1>
  </div>
</template>

<script>

console.log('App.vue!');
console.log(window);
export default {
  name: 'app',
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
