
<template>
  <div class="darrylTest">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
  export default {
    name: 'DarrylTest',
    data () {
      return {
        msg: 'Extend with new DarrylTest route'
      }
    }
  }
</script>
