/*
 NAME
   _bootstrapOverrides.scss

 DESCRIPTION
   Bootstrap Override Definitions

   The idea is to use and extend the existing Bootstrap methodologies
   Bootstrap Theming Guide: https://getbootstrap.com/docs/4.0/getting-started/theming/
*/


/* ------------------------- GRID OVERRIDES -------------------------------- */
$grid-breakpoints: (xs: 0,
sm: 456px,
md: 789px,
lg: 999px,
xl: 1234px);


/* ------------------------- FONT OVERRIDES -------------------------------- */
$font-family-base: 'Roboto', 'Questrial', arial;
$font-size-base: .8rem;


/* ------------------------- COLOR OVERRIDES ------------------------------- */
/*
  Color Pallete Reference: https://www.color-hex.com/color-palette/5452
  Keep these colors the same as those in ui.js!
*/
$primary: #428bca; // Blue
$secondary: #989898; // Gray
$success: #5cb85c; // Green
$info: #17a2b8; // Teal
$warning: #ffc107; // Yellow
$danger: #d9534f; // Red
$light: #f9f9f9; // Whitish
$dark: #343a40; // Dark Gray


/* ------------------------- Z-INDEX OVERRIDES ----------------------------- */
$zindex-navbar:            1000;
$zindex-dropdown:          1000;
$zindex-popover:           1060;
$zindex-tooltip:           1070;
$zindex-navbar-fixed:      1030;
$zindex-modal-background:  1040;
$zindex-modal:             1050;


/* ------------------------- MISC OVERRIDES -------------------------------- */
// $enable-shadows: true;
$enable-gradients: true;
