/*
 NAME
   _smeckn.scss

 DESCRIPTION
   Smeckn Definitions

 NOTE
   All definitions in this module should have prefix '.smg-'
*/

/* ------------------------- TYPOGRAPHY ------------------------------------ */
$smg-font-family-logo:  'Nunito';
$smg-font-family: $font-family-base;

.smg-text-logo {
  font-family: $smg-font-family-logo;
  font-style: oblique;
  font-weight: bold;
}

/*
  Responsive Fonts
  Do all font sizing in rem to base off of the root html font size.
  When the screen grows/shrinks, the font will be resized appropriately
  References
    - Bootstrap   : https://getbootstrap.com/docs/4.0/content/typography/#responsive-typography
    - Size with % : https://snook.ca/archives/html_and_css/font-size-with-rem
*/
html {
  font-size: 90%;
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 100%;
  }
}
@include media-breakpoint-up(md) {
  html {
    font-size: 110%;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 120%;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 130%;
  }
}

/*
  Font Sizing
   - Create h0-h6 font sizes
   - Create smg-text-* font sizes
*/
$smg-text-sz-map: (
  0: 4rem,
  1: 3rem,
  2: 2rem,
  3: 1.75rem,
  4: 1.5rem,
  5: 1.25rem,
  6: 1rem,
  );

@each $size, $fontSize in $smg-text-sz-map {
  h#{$size} {
    font-size: $fontSize !important;
  }
  .smg-text-#{$size} {
    font-size: $fontSize !important;
  }
}


/* ------------------------- SCROLLBAR ------------------------------------- */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $light;
}

::-webkit-scrollbar {
  width: .5rem;
  background-color: rgba($info, .5);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba($info, .5);
}


/* ------------------------- IMAGES ---------------------------------------- */
/*
  Image Sizing
   - Create smg-img-* sizes
*/
$smg-img-sz-list: (
  (0  .25rem  .25rem),
  (1  .5rem   .5rem),
  (2  .75rem  .75rem),
  (3  1rem    1rem),
  (4  1.5rem  1.5rem),
  (5  2rem    2rem),
  (6  3rem    3rem),
  (7  4rem    4rem),
  (8  8rem    8rem),
  (9  12rem   12rem),
  (10 16rem   16rem),
  (11 20rem   20rem),
  (12 24rem   24rem),
  (13 28rem   28rem),
  (14 32rem   32rem),
);

@each $size, $maxWidth, $maxHeight in $smg-img-sz-list {
  .smg-img-#{$size} {
    max-width: $maxWidth;
    max-height: $maxHeight;
  }
}


/* ------------------------- BORDERS --------------------------------------- */
$smg-border-widths: (
  0: 0,
  1: .05rem,
  2: .1rem,
  3: .2rem,
  4: .4rem,
  5: .6rem,
);
@each $size, $width in $smg-border-widths {
  .smg-border-#{$size} {
    border-width: $width !important;
  }
}


/* ------------------------- HOVER ----------------------------------------- */
.smg-hover {
  @extend .shadow;

  &:hover {
    @extend .shadow-lg;
    transform: scale(1.02);
  }
}


/* ------------------------- WIDTH ----------------------------------------- */
/*
  The goal of setting min widths is to prevent items from becoming too small
 */
$smg-min-widths: (
  0: 0rem,
  1: 1rem,
  2: 2rem,
  3: 4rem,
  4: 6rem,
  5: 8rem,
  6: 10rem,
  7: 12rem,
  /*After 12rem, too wide for small screens*/
);

@each $size, $width in $smg-min-widths {
  .smg-mw-#{$size} {
    min-width: $width !important;
  }
}

/* ------------------------- HEIGHT ---------------------------------------- */
$smg-min-heights: (
  0: 0rem,
  1: 1rem,
  2: 2rem,
  3: 4rem,
  4: 6rem,
  5: 8rem,
  6: 12rem,
  7: 16rem,
  8: 20rem,
  9: 24rem,
  10: 28rem,
  11: 32rem,
  12: 32rem,
  13: 40rem,
  14: 48rem,
  15: 56rem,
  16: 64rem,
);

@each $size, $height in $smg-min-heights {
  .smg-mh-#{$size} {
    min-height: $height !important;
  }
}