<!DOCTYPE html>
<html>

<head>
  <title>Plugin Hello World</title>
  <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
</head>

<body>
  <div id='app'>
    {{ message }}
  </div>
  <script>
  //
  // HelloWorld Plugin
  //
  let HelloWorldPlugin = {};
  HelloWorldPlugin.install = function (Vue, options) {
    Vue.prototype.$helloWorld = function (methodOptions) {
      let message = 'Hello World from Plugin!';
      console.log(message);
      return message;
    }
  }

  Vue.use(HelloWorldPlugin);
  var app = new Vue({
    el: '#app',
    computed: {
      message: function() {
        return this.$helloWorld();
      }
    }
  })

  </script>
</body>

</html>
