<!DOCTYPE html>
<html>

<head>
  <title>reCAPTCHA Demo</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-recaptcha@latest/dist/vue-recaptcha.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer>


  </script>
</head>

<body>
  <!--
    Processing works as follows:
     1. User clicks button
     2. onSubmit is executed
        onSubmit executes the invisible recaptcha
     3. After google executes the recaptcha it calls onVerify
     4. onVerify is executed
        onVerify posts to the server, sending the recaptcha token
        Server calls to google to verify the token
        Server returns validation result
        onVerify fills out valid parameter, shown in the UI
        onVerify then calls resetRecaptcha
     5. resetRecaptcha
        Resets the recaptcha widget one second later
     -->
  <div id="app">
    <h1>This is example to use vue-recaptcha</h1>
    <input v-model="email" />
    <form @submit.prevent="onSubmit">
      <vue-recaptcha ref="invisibleRecaptcha" v-on:verify="onVerify" size="invisible" v-bind:sitekey="siteKey">
      </vue-recaptcha>
      <br>
      <button type="submit">Submit</button>
    </form>
    <p>Valid: {{ valid }}</p>
  </div>
  </div>

  <script>
  let app = new Vue({
    el: '#app',
    data: {
      // siteKey: '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI', // Always passes
      siteKey: '6Lc3f3IUAAAAAECDcuzo0_tkC75BylTThlIo8D_f',
      valid: 'Unknown',
      email: 'bensson.james@gmail.com'
    },
    components: {
      'vue-recaptcha': VueRecaptcha
    },
    methods: {
      onSubmit: function () {
        this.$refs.invisibleRecaptcha.execute()
      },
      onVerify: function (token) {
        axios.post("http://localhost:5000/validate", { "recaptchaToken": token, "email": this.email })
          .then((resp) => {
            console.log(resp);
            this.valid = resp.data.valid;
            this.resetRecaptcha();
          })
          .catch((err) => {
            console.log(err);
            this.valid = "Error!"
            this.resetRecaptcha()
          });
      },
      resetRecaptcha: function () {
        setTimeout(() => {
          this.$refs.invisibleRecaptcha.reset() // Direct call reset method
        }, 1000);
      },
    }
  })

  </script>
</body>

</html>
