<!--
  NAME
    SmecknPlaceHolderComponent.vue

  DESCRIPTION
    Smeckn Place Holder Component for Tests
    Useful for testing sidebar (like in SmecknSidebarContainerTest.vue)

  USAGE
    See SmecknPlaceHolderComponentTest.vue
-->
<template>
  <div class="text-left m-2" data-cy="placeHolderComponent">
    <h4>Route Metadata</h4>
    <p>
      <span class="font-weight-bold">Route Path</span>:
      <span data-cy="placeHolderRoutePathSpan">{{ $route.path }}</span>
    </p>
    <p>
      <span class="font-weight-bold">Route Params</span>:
      <span data-cy="placeHolderRouteParamsSpan">{{ $route.params }}</span>
    </p>
    <p>
      <span class="font-weight-bold">Route Query</span>:
      <span data-cy="placeHolderRouteQuerySpan">{{ $route.query }}</span>
    </p>
    <p>
      <span class="font-weight-bold">Route Hash</span>:
      <span data-cy="placeHolderRouteHashSpan">{{ $route.hash }}</span>
    </p>
    <p>
      <span class="font-weight-bold">Route Full Path</span>:
      <span data-cy="placeHolderRouteFullPathSpan">{{ $route.fullPath }}</span>
    </p>
    <p>
      <span class="font-weight-bold">Route Name</span>:
      <span data-cy="placeHolderRouteNameSpan">{{ $route.name }}</span>
    </p>
  </div>

</template>
<script>
export default {};

</script>
