<!--
  NAME
    SmecknPlaceHolderComponent.vue

  DESCRIPTION
    Test Smeckn Place Holder Container
 -->
<template>
  <SmecknPlaceHolderComponent></SmecknPlaceHolderComponent>
</template>
<script>
export default {};

</script>
