<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Various Progress Bars</title>
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">
    <b-container fluid>

      <b-row>
        <b-col>
          <div>
            <h2>Progress Bars</h2>
            <b-progress :value="counter" :max="max" show-progress animated></b-progress>
            <b-progress class="mt-1" :max="max" show-value>
              <b-progress-bar :value="counter*(6/10)" variant="success"></b-progress-bar>
              <b-progress-bar :value="counter*(2.5/10)" variant="warning"></b-progress-bar>
              <b-progress-bar :value="counter*(1.5/10)" variant="danger"></b-progress-bar>
            </b-progress>
            <b-btn class="mt-4" @click="clicked">Click me</b-btn>
          </div>
        </b-col>
        <b-col>
          <div>
            <h5>Default height</h5>
            <b-progress :value="value" show-progress class="mb-3"></b-progress>
            <h5>Custom heights</h5>
            <b-progress height="2rem" :value="value" show-progress class="mb-2"></b-progress>
            <b-progress height="20px" :value="value" show-progress class="mb-2"></b-progress>
            <b-progress height="2px" :value="value"></b-progress>
          </div>
        </b-col>
        <b-col>
          <div>
            <h5>Default width</h5>
            <b-progress :value="value" class="mb-3"></b-progress>
            <h5>Custom widths</h5>
            <b-progress :value="value" class="w-75 mb-2"></b-progress>
            <b-progress :value="value" class="w-50 mb-2"></b-progress>
            <b-progress :value="value" class="w-25"></b-progress>
          </div>
        </b-col>
      </b-row>
      <br>
      <b-row>
        <b-col>
          <div>
            <h2>Striped Backgrounds</h2>
            <b-progress :value="25" variant="success" :striped="striped" class="mb-2"></b-progress>
            <b-progress :value="50" variant="info" :striped="striped" class="mb-2"></b-progress>
            <b-progress :value="75" variant="warning" :striped="striped" class="mb-2"></b-progress>
            <b-progress :value="100" variant="danger" :striped="striped" class="mb-2"></b-progress>
            <b-button variant="secondary" @click="striped = !striped">
              {{ striped ? 'Remove' : 'Add'}} Striped
            </b-button>
          </div>
        </b-col>
        <b-col>
          <div>
            <h2>Solid Background Variants</h2>
            <div v-for="bar in bars" class="row mb-1">
              <div class="col-sm-2">{{ bar.variant }}:</div>
              <div class="col-sm-10 pt-1">
                <b-progress :value="bar.value" :variant="bar.variant" :key="bar.variant"></b-progress>
              </div>
            </div>
          </div>
        </b-col>
        <b-col>
          <div>
            <h2>Animated Backgrounds</h2>
            <b-progress :value="25" variant="success" striped :animated="animate" class="mb-2"></b-progress>
            <b-progress :value="50" variant="info" striped :animated="animate" class="mb-2"></b-progress>
            <b-progress :value="75" variant="warning" striped :animated="animate" class="mb-2"></b-progress>
            <b-progress :value="100" variant="danger" :animated="animate" class="mb-3"></b-progress>
            <b-button variant="secondary" @click="animate = !animate">
              {{ animate ? 'Stop' : 'Start'}} Animation
            </b-button>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <div>
             <h2>Multiple Bars</h2>
            <b-progress :max="max" class="mb-3">
              <b-progress-bar variant="primary" :value="values[0]"></b-progress-bar>
              <b-progress-bar variant="success" :value="values[1]"></b-progress-bar>
              <b-progress-bar variant="info" :value="values[2]"></b-progress-bar>
            </b-progress>
            <b-progress show-progress :max="max" class="mb-3">
              </b-progress-bar>
              <b-progress-bar variant="primary" :value="values[0]"></b-progress-bar>
              <b-progress-bar variant="success" :value="values[1]"></b-progress-bar>
              <b-progress-bar variant="info" :value="values[2]"></b-progress-bar>
            </b-progress>
            <b-progress show-value striped :max="max" class="mb-3">
              </b-progress-bar>
              <b-progress-bar variant="primary" :value="values[0]"></b-progress-bar>
              <b-progress-bar variant="success" :value="values[1]"></b-progress-bar>
              <b-progress-bar variant="info" :value="values[2]"></b-progress-bar>
            </b-progress>
            <b-progress :max="max" class="mb-3">
              <b-progress-bar variant="primary" :value="values[0]" show-progress></b-progress-bar>
              <b-progress-bar variant="success" :value="values[1]" animated show-progress></b-progress-bar>
              <b-progress-bar variant="info" :value="values[2]" striped show-progress></b-progress-bar>
            </b-progress>
          </div>
        </b-col>
      </b-row>
    </b-container>

  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      counter: 45,
      max: 100,
      value: 75,

      bars: [
        { variant: 'success', value: 75 },
        { variant: 'info', value: 75 },
        { variant: 'warning', value: 75 },
        { variant: 'danger', value: 75 },
        { variant: 'primary', value: 75 },
        { variant: 'secondary', value: 75 },
        { variant: 'dark', value: 75 }
      ],
      timer: null,
      striped: true,
      animate: true,
      values: [ 15, 30, 20 ]

    },
    methods: {
      clicked() {
        this.counter = Math.random() * this.max
        console.log('Change progress to ' +
          Math.round(this.counter * 100) / 100)
      }
    },
    /* ---------------------- LIFECYCLE -------------------------------------- */
    mounted: function () {
      this.timer = setInterval(() => {
        this.bars.forEach(bar => bar.value = 25 + (Math.random() * 75))
      }, 2000)
    },
    beforeDestroy: function () {
      clearInterval(this.timer);
      this.timer = null;
    }
  })

  </script>
</body>

</html>
