<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Sync Bar</title>


  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

  <!-- Greyson from:  https://themestr.app/ -->
  <link rel="stylesheet" href="theme-greyson.css">

  <!-- Smeckn styles -->
  <link rel="stylesheet" href="smeckn2.css">

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <!-- Our application root element -->
  <div id="app">

    <br>
    <b-container fluid style="margin: auto; width: 40%;">
      <b-card header="Syncing" class="card bg-default text-black" style="font-weight: bold;">
        <b-row style="font-weight: normal">
          <b-col>
            <div v-for="bar in bars" class="row mb-1">
              <div class="col-sm-3">{{ bar.text }}</div>
              <div class="col-sm-9 pt-1">
                <b-progress :value="bar.value" :variant="bar.variant" :key="bar.variant"></b-progress>
              </div>
            </div>
          </b-col>
        </b-row>
        <template v-if="checkValue">
          <br>
          <p>{{result}}</p>
        </template>
      </b-card>


      <template v-if="themax === 100">
        <br>
        <p>Analysis Complete with Success!</p>
      </template>

    </b-container>

  </div>
  <!-- Start running your app -->
  <script>
  window.app = new Vue({
    el: "#app",
    data: {
      counter: 10,
      max: 100,
      bars: [
        { text: 'Progress', variant: 'info', value: 10 },
      ],
      timer: null
    },
    methods: {
      clicked() {
        if (this.counter < 100) this.counter += 10
      }
    },
    computed: {
      /*themax: function () { if (this.counter === 100) { return true } else { return false } }*/
      /* themax: function () { if (this.counter >90) { return true } else { return false } }*/
      themax: function () { return this.counter }


    },
    /* ---------------------- LIFECYCLE -------------------------------------- */
    mounted: function () {
      this.timer = setInterval(() => {
        this.bars.forEach(bar => bar.value += 10)
      }, 500)
    },
    beforeDestroy: function () {
      clearInterval(this.timer);
      this.timer = null;
    }
  })

  </script>
</body>

</html>
