<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Vue</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>Static Post</h1>
    <blog-post title="Static"></blog-post>
    <h1>Dynamic Post</h1>
    <blog-post v-bind:title="post.title" v-bind:likes="post.likes"></blog-post>
    <h1>Pass a boolean</h1>
    <pass-boolean v-bind:bool="boolTrue"></pass-boolean>
    <pass-boolean v-bind:bool="boolFalse"></pass-boolean>
    <h1>Pass an array</h1>
    <pass-array v-bind:arr="array"></pass-array>
    <h1>Pass an object</h1>
    <pass-object v-bind:obj="object"></pass-object>
    <h1>Pass properties of an object</h1>
    <pass-properties v-bind="properties"></pass-properties>
    <h1>Prop Validation</h1>
    <prop-validation prop-c="5"></prop-validation>
  </div>
  <script>
  Vue.component('BlogPost', {
    props: [
      'title',
      'likes',
    ],
    template: `<div class="post">
        <h3>Title='{{ title }}'</h3>
        <h3>Likes={{ likes }}</h3>
        </div>
        `
  })
  Vue.component('PassBoolean', {
    props: ['bool'],
    template: `<h3 v-if="bool">True</h3><h3 v-else>False</h3>`
  })
  Vue.component('PassArray', {
    props: [
      'arr',
    ],
    template: `<div><p v-for="item in arr"> {{ item }} </p></div>`
  })
  Vue.component('PassObject', {
    props: [
      'obj',
    ],
    template: `<div><p v-for="(key, value) in obj"> Key='{{ key }}' Value='{{ value }}' </p></div>`
  })
  Vue.component('PassProperties', {
    props: [
      'a', 'b'
    ],
    template: `<div><p>a={{ a }}    b={{ b }}</p></div>`
  })
  Vue.component('PropValidation', {
    props: {
      // Basic type check (`null` matches any type)
      propA: Number,
      // Multiple possible types
      propB: [String, Number],
      // Required string
      propC: {
        type: String,
        required: true
      },
      // Number with a default value
      propD: {
        type: Number,
        default: 100
      },
      // Object with a default value
      propE: {
        type: Object,
        // Object or array defaults must be returned from
        // a factory function
        default: function () {
          return { message: 'hello' }
        }
      },
      // Custom validator function
      propF: {
        validator: function (value) {
          // The value must match one of these strings
          return ['success', 'warning', 'danger'].indexOf(value) !== -1
        }
      }
    },
    template: `<p>propC={{ propC }}</p>`
  })
  localComp = { template: '<p>Local Component: Note: not available in subcomponents</p>' }
  var vm = new Vue({
    el: '#app',
    data: {
      post: {
        title: "Dynamic title",
        likes: 40,
      },
      boolTrue: true,
      boolFalse: true,
      array: [1, 2, 3, 4],
      object: {
        foo: 'bar',
        foo2: 'bar2',
      },
      properties: {
        a: '1234',
        b: '5678'
      }
    },
    methods: {}
  })

  </script>
</body>

</html>
