<auction-navbar></auction-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <auction-search></auction-search>
    </div>

    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<auction-footer></auction-footer>
